.info_user {
  .block_photo {
    border: 1px solid $high_contrast_border_color;
  }
}
.border {
  border-top: 1px solid $high_contrast_border_color;
}

.added-permission {
  color: $added_permission_color !important;
}

.removed-permission {
  color: $removed_permission_color !important;
}

.permission {
  color: #00FF00;
}

.edition-enabled {
  background-color: $high_contrast_background_color;
}

.allocation_requested_list{
  .form_requirement {
    color: $high_contrast_link_color;
  }
}

.title-warning {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
}
.comment-blue {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
}
.comment-red {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
}
.comment-green {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
}
