body {
  background-color: $high_contrast_background_color;
}

h1 {
  font-weight: 300;
  &.page_title {
    color: $high_contrast_font_color;
    border-bottom-color: $high_contrast_border_color;
  }
}

#body_wrapper {
  background-color: $high_contrast_background_color;
}

a, a.menor, a.link_content {
  color: $high_contrast_font_color;
}

a.link_content, .forum_post_attachment_list a {
  color: $high_contrast_link_color;
}

a.link_content:visited, .forum_post_attachment_list a:visited {
  color: $high_contrast_link_color;
}

a.link_content_gray {
  color: $high_contrast_link_color;
}

select {
  color: $high_contrast_background_color;
  background-color: $high_contrast_font_color;
  border-color: $high_contrast_border_color;
}

input {
  color: $high_contrast_background_color;
  border-color: $high_contrast_border_color;
}

textarea {
  color: $high_contrast_background_color;
  background-color: $high_contrast_font_color;
  border-color: $high_contrast_border_color;
}

#footer {
  background-color: $high_contrast_background_color;
  color: $high_contrast_link_color;

  &, & a {
    color: $high_contrast_link_color;
    font-size: 9pt;
  }
}

.lines.period_ended, .period_ended {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
  a {
    color: $high_contrast_link_color;
  }
}

.current {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
}

.disabled {
  color: #966;
}

.link_navigation {
  color: $high_contrast_link_color;
}

#breadcrumb {
  a {
    color: $high_contrast_link_color;
  }
}

.choice-language {
  ul {
    border: 1px solid $high_contrast_border_color;
    background-color: $high_contrast_border_color;

    li {
      a {
        color: $high_contrast_link_color;
      }
    }

    li:hover {
      background-color: $high_contrast_font_color;
      color: $high_contrast_background_color;
    }
  }
}
