.description, .description p{
  color: $high_contrast_font_color;
}

.complete{
  border-left: 2px solid $high_contrast_border_color;
}

.box, #tab label{
  border: 1px solid $high_contrast_border_color;
  background-color: $high_contrast_background_color;
}

#tab label{
  color: $high_contrast_font_color;
}

#define_participants label{
  color: $high_contrast_font_color;
}

.chat_messages{
  table{
    td.profile{
      color: $high_contrast_font_color;
    }
  }
}
