.exam_pre{
  #name{
    color: $high_contrast_font_color;
  }
}

.exam_open {

  #title {
    color: $high_contrast_font_color;
  }

  .block_content {
    border-bottom-color: $high_contrast_border_color;
    border-top-color: $high_contrast_border_color;
  }

  .questions{
    .question {
      .number {
        color: $high_contrast_font_color;
      }
    }

    .question_images {
      .image {
        #question_image {
          border: solid 2px $high_contrast_border_color;
        }
      }
      td.image.legend{
        background-color: $high_contrast_background_color;
      }
    }
  }

  .question_items{
    #item_image{
      border: solid 2px $high_contrast_border_color;
    }

    label{
      color: $high_contrast_font_color;
    }

    .incorrect{
      color: $high_contrast_font_color;
    }

    .hit{
      color:$high_contrast_font_color;
    }
  }

  .message_div_navigation {
    color: $high_contrast_background_color;

    .active{
      color: $high_contrast_font_color;
    }
  }
}

#exam_form{
  .description, .description p{
    color: $high_contrast_font_color;
  }

  #new-exam{
    border: 1px dashed $high_contrast_border_color;
  }
}

.list_exams{
  .corrected {
    color: $high_contrast_font_color;
  }

  .finished, .not_corrected {
    color: $high_contrast_font_color;
  }

  .not_answered {
    color: $high_contrast_font_color;
  }

  .not_started {
    color: $high_contrast_font_color;
  }

  .to_answer, .not_finished, .retake {
    color: $high_contrast_font_color;
  }
}

.show_exam{
  .attempts{
    a.active{
      color: $high_contrast_font_color;
    }
  }
}
