.form_label {
  color: $high_contrast_font_color;
}

.form-inputs .input input, .form-inputs > .input > textarea {
  color: $high_contrast_background_color;
  background-color: $high_contrast_font_color;
}

.form_error, .error, span.field_with_errors {
  color: $form_error_color;
}

.field_with_errors input, .field_with_errors textarea {
  border-color: $form_error_color;
}

.form_requirement, .filter_counter {
  color: $high_contrast_font_color;
}

.form_requirement.blue_warning{
  color: $high_contrast_font_color;
}

.label_color {
  color: $high_contrast_font_color;
}

select[disabled] {
  color: $form_error_color;
  border: 1px solid $high_contrast_border_color;
  background-color: $high_contrast_background_color;
}

.checkbox_label label{
  color: $high_contrast_font_color;
}
