#forum_closed {
  color: $color_red;
}

.forum_post {
  .forum_post_wrapper {
    background-color: $high_contrast_background_color;
  }
}

.forum_post_icon {
  border-right-color: $high_contrast_font_color;
  background-color: $high_contrast_background_color;
}

.forum_post_content {
  color: $high_contrast_font_color;
}

.forum_post_head {
  border-bottom-color: $high_contrast_font_color;
}

.forum_post_head.new, .forum_post_icon.new{
  background-color: $high_contrast_background_color;
}

.forum_post_wrapper.new, .forum_post_attachment.new{
  background-color: $high_contrast_background_color;
}

.forum_post_author {
  color: $high_contrast_font_color;
}

.forum_post_date {
  color: $high_contrast_font_color;
}

.forum_post_attachment {
  background-color: $high_contrast_background_color;
}

#back {
  color: $high_contrast_font_color;
}
