.ui-effects-transfer {
  border: 1px dotted $high_contrast_border_color;
  z-index: 9999999;
}

#lesson_area {
  background-color: $high_contrast_background_color;
}

#lesson_header {
  background-color: $high_contrast_background_color;
  color: $high_contrast_font_color;
  .lesson_status{
    color: $high_contrast_font_color;
    .draft{
      background-color: $high_contrast_background_color;
    }
    .released{
      background-color: $high_contrast_background_color;
    }
  }
}

.select_end_date {
  color: $high_contrast_font_color;
}

.lesson_dates{
  color: $high_contrast_font_color;
}

.test_lesson{
  color: $high_contrast_font_color;
}

.lesson_portlet .module{
  background-color: $high_contrast_background_color;
  border-bottom: 1px solid $high_contrast_border_color;
  color: $high_contrast_font_color;
}

.title_link{
  border: 1px dashed $high_contrast_border_color;
}
