// LIGHTBOX

#lightBoxDialog {
  border-width: 1px;
  border-style: solid;
  display: none;
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  padding: 10px;
  overflow: auto;
  border-color: $high_contrast_border_color;
  background-color: $high_contrast_background_color;
}

#lightBoxDialogTitle {
  @extend %page-title;

  h1 {
    // color: $high_contrast_font_color;
    color: #fff;
  }
  i{
    padding-left: 10px;
  }
}

#lightBoxBackground {  
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #000;
}

#lightBoxDialogCloseBt {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
}

#lightBoxDialogCloseBt:Hover {
  cursor: pointer;
  opacity: 1.0;
}

/* ajustando aviso de campos obrigatorios dentro do lightbox de criacao de unidade curricular */
#lightBoxDialogContent .form_requirement {
  margin-top: -16px;
}

.fancybox-wrap {
  .fancybox-skin {
    background-color: $high_contrast_background_color;
  }

  .fancybox-inner{
    max-height: 1000px;
    overflow-y: auto;
  }

  // fixme andrei
  // limitando altura do select do filtro para evitar scroll no fancybox
  .ui-combobox .ui-menu {
    max-height: 150px;
    overflow-x: auto;
  }
}
