// Meu Solar

/**
* Barra superior geral
*/
#mysolar_topbar_wide_background {
  height: 38px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: $high_contrast_background_color;
}

#mysolar_topbar {
  width: 100%;
  height: 74px;
  z-index: 2;
  /*
  position: absolute;
  top: 0px;
  left: 0px;
  */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  /*background-color: $high_contrast_font_color;*/
  overflow: hidden;
  color: $high_contrast_font_color;
}
/**
/* Barra secundária
*/
#mysolar_identity {
  width: 100%;
  height: $mysolar_topbar_height;
  background-color: $high_contrast_background_color;
}

#mysolar_logo {
  //width: 185px;
  height: $mysolar_topbar_height;
  float: left;
  background-color: $high_contrast_background_color;
}

#mysolar_top_help {
  background-color: $high_contrast_background_color;
}

#solar_logo {
  margin-top: 4px;
  margin-left: 5px;
}

#mysolar_top_options {
  height: $mysolar_topbar_height;
  line-height: $mysolar_topbar_height;
  float: right;
  font-size: 10pt;
  list-style-type: none;
  padding: 0 10px 0 0;
  margin: 0;

  li {
    line-height: $mysolar_topbar_height - 3px;
    display: inline-block;
    padding: 3px 6px 0 6px;
    vertical-align: middle;
    float: left;
    /* necessario para funcionar ok no IE7 */
    /*    zoom: 1;
    *display: inline;*/
  }
}

#mysolar_top_options #mysolar_top_submenu_label:hover,
#mysolar_top_options #mysolar_top_logout:hover,
#mysolar_top_options #mysolar_top_help:hover {
  height: $mysolar_topbar_height - 3px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $high_contrast_font_color;
  background-color: $high_contrast_background_color !important;
  color: $high_contrast_font_color;
}

#mysolar_top_options li:hover a {
  color: $high_contrast_font_color;
}

#mysolar_top_img_user {
  float: right;
  padding-left: 4px;
  margin-top: 4px;
  vertical-align:middle;
}

/**
/* Foto do usuário
*/
#mysolar_top_submenu, #mysolar_submenu_help{
  font-size: 10pt;
  position: absolute;
  top: $mysolar_topbar_height;
  z-index: 100;
  display: none;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: none;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  box-shadow: 3px 3px 15px 0px #bbb;
  color: $high_contrast_font_color;;
  background-color: $high_contrast_background_color;
  border-bottom-color: $high_contrast_border_color;
  border-left-color: $high_contrast_border_color;
  border-right-color: $high_contrast_border_color;
}

#mysolar_top_submenu{
  width: 170px;
  margin-left: -40px;
  ul {
    border-top-color: $high_contrast_border_color;
  }
  & > div {
    overflow: hidden;
  }
}

#mysolar_submenu_help{
  width: 80px;
  margin-left: -7px;
  border-top-color: $high_contrast_border_color;
}

#mysolar_top_submenu a:hover, #mysolar_submenu_help a:hover {
  text-decoration: underline;
}

#mysolar_top_submenu ul {
  width: 100%;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 12px;
  padding-top: 5px;
  font-size: 9pt;
}

#mysolar_top_submenu ul li, #mysolar_submenu_help ul li {
  padding: 7px 7px 7px 0;
}

#mysolar_top_submenu_username {
  font-size: 10pt;
  margin-top: 4px;
  font-weight: bold;
}

#mysolar_top_submenu_useremail {
  font-size: 8pt;
  margin-top: 4px;
}

#mysolar_top_submenu_label {
  background-color: $high_contrast_background_color;
}

.mysolar_top_submenu_label_selected {
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  background-color: $high_contrast_background_color !important;
}

.mysolar_top_submenu_label_regular {
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  background-color: transparent;
}

.mysolar_top_submenu_label_selected a.mysolar_top_link {
  vertical-align: top;
  color: $high_contrast_font_color;
}

a.mysolar_top_link {
  color: $high_contrast_link_color;
}

.mysolar_top_submenu_label_regular a {
  vertical-align: top;
}

#image_user {
  /*    vertical-align: text-bottom;*/
  height: 30px;
  width: 30px;
  cursor: pointer;
  float: left;
  margin-right: 7px;
}

/**
/* Relogio
*/
#server_clock_wrapper:hover {
  border-bottom: 2px solid !important;
  border-bottom-color: transparent !important;
}

#mysolar_top_user_nick {
  margin-top: 10px;
}

/**
/* Barra de Abas dos Cursos
*/
#mysolar_tabs {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid;
  border-bottom-color: $high_contrast_border_color;
}

#mysolar_tabs_wrapper {
  float: left;
  line-height: 28px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14pt;
}

.mysolar_unit_tab, .mysolar_unit_active_tab {
  list-style-type: none;
  display: inline-block;
  margin: 6px 0px 0px 0px;
  padding: 0 7px;
  height: 26px;
  font-variant: small-caps;
  /* codigo necessario para exibir corretamente no IE 7 */
  zoom: 1;
  *display: inline;
}

.mysolar_unit_tab a {
  color: $high_contrast_link_color;
}

.mysolar_unit_active_tab {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $high_contrast_border_color;
  
  a {
    color: $high_contrast_link_color;
  }
}

.tabs_close {
  display: inline-block;
  width: 11px;
  height: 11px;
  position: relative;
  left: 5px;
  /*    top: -2px;*/
  margin-right: 5px;
  background: url('/assets/tabs_close.png') no-repeat right bottom;
}

/**
/* Itens adicionais (busca, acessibilidade, etc)
*/
#mysolar_extras {
  line-height: 28px;
  height: 36px;
  float: right;
  font-size: 11pt;
  list-style-type: none;
  padding: 0 10px 0 0;
  margin: 0;
}

#mysolar_extras li {
  display: inline-block;
  /* codigo necessario para exibir corretamente no IE 7 */
  zoom: 1;
  *display: inline;
  text-align: center;
  margin-top: 2px;
}

#mysolar_extras li span {
  padding: 0 5px;
}

.search_keyword {
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 130px;
  padding: 0 20px 0 2px;
  margin-right: 4px;
  border-color: $high_contrast_border_color;
  background: url('/assets/images/search.png') no-repeat right bottom $high_contrast_background_color;
}

.search_keyword_inactive {
  font-style: italic;
  color: $high_contrast_font_color;
}

/* acessibilidade */
.acessibility_icons {
  vertical-align: middle;
  margin: 0 2px;
}

/**
/* Barra Lateral de Menu (sidebar)
*/
#mysolar_sidebar {
  width: 175px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  z-index: 1;
  /*    float: left;*/
  /*    position: absolute;*/
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 10px;
  padding-top: 0;
}

#mysolar_menu_accordion {
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
}

.mysolar_menu_group > ul {
  padding: 0 10px 0 10px;
  margin: 5px 0;
}

.mysolar_menu_group > ul:first-child {
  padding-top: 0;
  margin-top: 0;
}

.mysolar_menu_title_single_active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $high_contrast_link_color;
  a {
    color: $high_contrast_link_color;
  }
}

.menu_icon_arrow, .menu_icon_circle {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-right: 5px;
  font-size: 14pt;
  display: inline-block;
  /* codigo necessario para exibir corretamente no IE 7 */
  zoom: 1;
  *display: inline;
}

.menu_icon_arrow{
  font-size: 10pt;
  vertical-align: top;
  padding-left: 3px;
  margin-right: 0;
}

/* BUG: icone rotacionado está com problemas no IE 7-8, não testado no 9 */
.menu_icon_animate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /*    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand');*/
  /*    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
  transform: rotate(90deg);
}

.mysolar_menu_title, .mysolar_menu_title_multiple{
  width: 100%;
  margin: 2px;
  margin-top: 10px;
  font-weight: normal;
  font-variant: small-caps;
  font-size: 12pt;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: $high_contrast_font_color;
}

.mysolar_menu_title{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}


.mysolar_menu_title_active > a {
  color: $high_contrast_link_color;
}

.submenu {

  border-top: 2px solid;
  border-top-color: $high_contrast_border_color;
  background-color: $high_contrast_background_color;

  > li {
    padding: 8px 0 8px 10px;
  }
  a {
    font-size: 10pt;
    color: $high_contrast_font_color;
    font-variant: initial;
    font-family: 'PT Sans', sans-serif;
  }
}

.mysolar_menu_title_single.mysolar_menu_active > a{
  color: $high_contrast_font_color;
}

.mysolar_menu_active{
  background-color: $high_contrast_background_color;
  border-right-color: $high_contrast_border_color;
  border-right-width: 2px;
  border-right-style: solid;
}