/*Páginas dos paineis do rodapé*/

$high_contrast_background_color: #000000;
$high_contrast_font_color: #ffffff;

.panel{
  background-color: $high_contrast_background_color;
  -webkit-box-shadow:0px -5px 19px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:0px -5px 19px rgba(50, 50, 50, 0.75);
  box-shadow:0px -5px 19px rgba(50, 50, 50, 0.75);
}

#team, #license-terms, #faq {
  background: $high_contrast_background_color image-url('ufc-virtual.png') 10% 16% no-repeat;
}

.panel .content {
  background-color: $high_contrast_background_color;
}

#faq .search, .tutorials .search{
  color: #363636;
}

#faq .title{
  border: 1px solid #d3d3d3;
  background: $high_contrast_background_color;
  color: $high_contrast_font_color;
}

.panel h1{
  color: $high_contrast_font_color;
}

.panel h4, .panel p{
  color: $high_contrast_font_color;
}

.panel .menu_footer ul li a{
  color: $high_contrast_font_color;
}
