.block_content
  - @exam_questions.each do |question|
    %table.questions
      %thead
        %tr.question
          %td.number
          %td.enunciation
            = question.enunciation
      = render 'exams/open/question', { question: question, preview: preview }

.message_div_navigation
  = will_paginate @exam_questions


:javascript

  jQuery(function($) {

    /**
     * clock
     */
    new updateTime("clock", ["00", "00", "00"]);

  });