- item = item.object.question_item rescue item

- if @pdf != 1
  - if item.item_image.exists?
    .zoom
      %p= t('exams.open.image_zoom')
      = image_tag(item.item_image.url(:medium), class: 'item_image', alt: item.img_alt, :'aria-label' => t('exams.open.image_item', alt: item.img_alt, item: arr_alf[num_question]), :"data-zoom-url" => item.item_image.url(:original))
  - else
    - img_url = item.item_image.url
    - img_url.gsub!('_original.', '.')
    = image_tag img_url,  alt: item.img_alt, :'aria-label' => t('exams.open.image', alt: item.img_alt), size: "150x150"
- else
  - t('exams.open.image_item', alt: item.img_alt, item: arr_alf[num_question])
