<script type="text/javascript" src="./jquery-1.4.4.js"></script>
<%= stylesheet_link_tag "allocation_tag_picker.css" %>
<%= javascript_include_tag "allocation_tag_picker.js" %>
<div class="allocationTagPicker">
	<div id="curricularUnitPanel" 
		class="allocationTagPickerColumn">
	</div><div id="offerPanel" class="allocationTagPickerColumn">
	</div><div 
		id="groupPanel" class="allocationTagPickerColumn">
	</div>
</div>
<input type="hidden" id="PickedAllocationTagId" name="PickedAllocationTagId" value=""/>