<ul>
	<% unless @offers.nil? or @offers.empty? %>
      <% @offers.each do |offer| %>
      <li id="offerItem_<%=offer.id%>#<%=offer.allocation_tag_id%>">
      	<%=offer.course.code%>
      	-
      	<%=offer.semester%>
      </li>
      <%end%>
	<%end%>
</ul>