!!!
%html
  %head
    %meta{charset: 'utf-8'}
  %body
    %canvas{id: 'viewer', width: '1024px', height: '600px'}
      %p= "This is fallback content for users of assistive technologies or of browsers that don't have full support for the Canvas API."
