<!-- Portlet da Unidade Curricular que exibe a agenda da mesma -->

<div id="agenda_portlet" class="curriculum_unit_portlets_small">
  <div class="curriculum_unit_portlet_small_header">
    <%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda) %>
    <%= t(:curriculum_access_agenda)%>
  </div>
  <div class="calendar" id="agenda"></div>
  <div class="calendar_events">
    <!-- Classe que carrega o Ajax -->
  </div>

  <script type="text/javascript">

    function changeDate(dateText){

      var valor_recuperado = dateText; //$(this).val();

      $.get('/schedules/show', {
        date: valor_recuperado,
        id: <%= @curriculum_unit.id %>
      },
      function(response) {
        $('.calendar_events').html(response);
      });
    }

    $(function() {

      // carregando eventos de hoje
      var today = new Date();
      changeDate(today.toGMTString());

      var local = '<%=I18n.locale%>';
      var locale = $.datepicker.regional[local];
      if (local=='en') {
        locale = $.datepicker.regional['en-GB']
      }

      $("#agenda").datepicker({
        option: locale,
        onSelect: function(dateText, inst) {
          changeDate(dateText);
        }
      });
    });

  </script>

</div>
