<div id="block_schedule" class="block_small">
	<div class="block_title">
		<h2><%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda), :class=>(:block_title_icon) %><%= t(:curriculum_access_agenda)%></h2>
	</div>
	<div class="calendar" id="agenda" url_for="<%= url_for :schedules %>"></div>
	<div class="calendar_events"></div>
</div>

<script type="text/javascript">

  //--------------------------------------------
  // Todas as datas que possuem eventos
  //--------------------------------------------
  var dates_with_events = eval(<%=raw @scheduled_events %>);

  $(function() {

    //--------------------------------------------
    // Exibe a agenda ao terminar o load da pagina
    //--------------------------------------------

    showAgenda(dates_with_events);
  });

</script>
