- @messages.each do |message|
  .block_content_line
    %span.block_content_gray
      = l message.created_at, format: ((message.created_at.to_date == Date.today) ? :today : :not_today)
    = link_to message.sent_by_name.truncate(13), message_path(id: message.id, bread: :menu_messages, box: :inbox), {class: 'link_content can-update-menu', 'data-menu-bread' => 'menu_messages'}
    = raw message.subject.truncate(63)