%h1#lightBoxDialogTitle= "Redirecionamento:SolarEdx"

%h3= "Você foi redirecionado ao SolarEdx"

= button_to_function t("courses.form.cancel"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"