.block_wrapper
  = link_to t(:back), academic_editions_path(type_id: @type.id), {class: 'btn'}

:javascript

  $(function(){
    $("#back").click(function(){
      erase_flash_messages();
    });
  });
  