= javascript_include_tag "edition.js"

.edition_div

  .block_title.edition
    %h2=t(".edition")

  %fieldset#allocation_tag_selection
    %legend=t(".filter")
    .block_content.block_content_alt

  #curriculum_unit_items
    = render "items"
