*~
tmp/*
log/*
*.pid
*.log
*.swp
*-min.js
.DS_Store
.project
.bundle/
.idea/
.dotest/
.config
.settings/
.sass-cache/
init.conf
converage.data
rerun.txt
InstalledFiles
nbproject/
coverage/
media/
public/assets
db/schema.rb
db/structure.sql
config/global.yml
config/global.deploy.yml
config/database.yml
config/database.deploy.yml
config/mailer.yml
config/mailer.deploy.yml
config/deploy.rb
config/facebook.yml
config/facebook.deploy.yml
config/unicorn.rb
config/im.yml
config/im.deploy.yml
config/chat.yml
config/chat.deploy.yml
config/edx.yml
config/edx.deploy.yml
config/webserver.yml
config/webserver.deploy.yml
config/webconference.yml
config/webconference.deploy.yml
config/modulo_academico.yml
config/modulo_academico.deploy.yml
config/sav.yml
config/sav.deploy.yml
config/newrelic.yml
