*~
tmp/*
*.pid
*.log
*.swp
*-min.js
.DS_Store
converage.data
rerun.txt
.project
.idea/
.dotest/
.config
.settings/
InstalledFiles
nbproject/
coverage/
media/
public/assets
Gemfile.lock
db/schema.rb
config/database.yml
config/mailer.yml
config/deploy.rb
config/facebook.rb
