- if students.any?
  - students.each do |student|
    %tr.lines{:"data-user-id" => student.id }
      %td= student.name
      %td.icon
        %a{href: "#", :'aria-label' => t("group_assignments.index.add"), onclick: "add_participant(this)", onkeydown: "add_participant(this, event)", :"data-tooltip" => t("group_assignments.index.add")}
          = content_tag(:i, nil, class: "icon-plus-square")
