= form_for @group_assignment do |f|
  = f.text_field :group_name
  .buttons
    %a{href: "#", onclick: "rename_group(this)", onkeydown: "rename_group(this, event)", :"data-tooltip" => t(:save), :"aria-label" => t(:save)}
      = content_tag(:i, nil, class: "icon-checkmark save")
    %a{href: "#", onclick: "cancel_group(this)", onkeydown: "cancel_group(this, event)", :"data-tooltip" => t(:cancel), :"aria-label" => t(:cancel)}
      = content_tag(:i, nil, class: "icon-cross cancel")

:javascript
  $(function(){
    $("form").keypress(function(e){
      if (e.keyCode == 13){
        e.preventDefault();
        // rename_group($(this).children(".buttons").first().children("i.save").first());
        select_group($(this).closest(".label"));
      }
    });
  });
