= form_for @group_assignment do |f|
  = f.text_field :group_name
  .buttons
    = content_tag(:i, nil, class: "icon-checkmark save", onclick: "rename_group(this)", :"data-tooltip" => t(:save))
    = content_tag(:i, nil, class: "icon-cross cancel", onclick: "cancel_group(this)", :"data-tooltip" => t(:cancel))

