- evaluated = @group_assignment.evaluated?
.label.fix-display{class: (evaluated ? "disabled" : ""), :"data-group-id" => @group_assignment.id, :"data-message" => (evaluated ? t(".already_evaluated") : ""), :"data-url" => participants_group_assignment_path(@group_assignment.id)}
  = render partial: "group", locals: {group: @group_assignment}
