<%#
# Renderiza um post de um fórum na tela.
%>
<div>
  <div style="background-color:#bbb;">[barra superior]</div>
  <div style="float:left">
    [foto]
  </div>
<div class="forum_post">
  <%=@post[:content]%>
</div>
</div>
