<div class="dialog-score">
  <div id="phead" class="dialog-score-title">
    <span class="dialog-score-title-text"><%= @discussion.name %></span>
  </div>
  <div class="dialog-content">
    <table width="100%" cellspacing="1" cellpadding="0" border="0">
      <tbody>
        <% @posts.each_with_index do |post, idx| %>
          <tr class="<%= (idx % 2 == 0) ? 'post_content' : 'noclass' %>">
            <td style="width: 30px;" align="center"><%= idx + 1 %></td>
            <td><%=raw post["content"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="dialog-buttons"></div>
</div>

<script type="text/javascript">
  $(function(){
    $('#lightBoxDialog').height($('div.dialog-score').height());
  });
</script>

<style type="text/css">

  .dialog-score {
    background-color: white;
    border: 5px solid #1D4786;
  }

  .dialog-score-title {
    background-color: #E3E9FF;
    height: 50px;
  }

  tr.post_content {
    background-color: #F5F8FB;
  }
</style>