
<div class="dialog">
  <div id="phead" class="dialog-title dialog-title-draggable">
    <span class="dialog-title-text"><%= t(:discussion) %>:&nbsp;<%= @discussion.name %></span>
    <span class="dialog-title-close"></span>
  </div>
  <div class="dialog-content">
    <table width="100%">
      <tbody>
        <% @posts.each_with_index do |post, idx| %>
          <tr class="<%= (idx % 2 == 0) ? 'post_content' : 'noclass' %>">
            <td>
              <%=raw post["content"] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="dialog-buttons"></div>
</div>


<script type="text/javascript">
  $(function(){
    // fechar a janela de exibicao
    $('span.dialog-title-close').click(function(){
      $('#all_posts').css('display', 'none');
    });
  });
</script>

<style type="text/css">

  .dialog-title {
    background-color: #E3E9FF;
  }

  .dialog-title-close {
    position: absolute;
    right: 359px;
    /*right: 15px;*/
    /*top: 10px;*/
    width: 16px;
    height: 16px;
    background: url(//calendar.google.com/googlecalendar/images/combined_v21.png);
    background-position: -212px -48px;
    overflow: hidden;
    cursor: pointer;
  }




  /*
    div#phead {
      overflow: auto;
      background-color: #f1f0f2;
    }

    div#window_close {
      float: right;
      cursor: pointer;
    }

  */

  tr.post_content {
    background-color: #F5F8FB;
  }
</style>