- unless note.nil?
  %h3.title
    .visuallyhidden=t('.name')
    = note.name
  %h4.description
    .visuallyhidden=t('.description')
    = sanitize note.description
  .bottom
    %ul
      /= link_to content_tag(:i, nil, class: 'icon-printer'), download_lnotes_path(id: note.id, lesson_id: note.lesson_id), :"data-tooltip" => t('.download')
      %li= link_to_function content_tag(:i, nil, class: 'icon-edit', :'aria-hidden' => 'true'), 'edit_note(this)', class: 'edit_note ', :"data-link" => edit_lnote_path(note), :"data-tooltip" => t('.edit'), :'aria-label' => t('.edit_alt', note: note.name)
      %li= link_to_function content_tag(:i, nil, class: 'icon-trash', :'aria-hidden' => 'true'), 'remove_note(this)', class: 'remove_note ', :"data-link-delete" => lnote_path(note), :"data-tooltip" => t('.remove'), :'aria-label' => t('.remove_alt', note: note.name)