= render 'form'

:javascript
  function save_assignment_awebconference(){
    $('form#awebconference_form').serialize_and_submit({
      prepend_to_list: $(".student_webconferences tbody"),
      complement_success: function(data){
        $('#tb_lw').show();
        setTimeout(function() {
          flash_message("#{I18n.t('assignment_webconferences.success.created')}", "notice", 'block_wrapper:first');
        }, 100);
        update_tables_with_no_data();
        setTimeout(function() {
          $('#flash_message').prop('tabindex', 0);
          $('#flash_message').focus(); 
        }, 100); 
      }
    });
  }
