html {
  height: 100%;
}

body {
  background: #e5e8ec; /* Old browsers */
  background: -moz-radial-gradient(center, circle cover,  #ffffff 0%, #e5e8ec 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e8ec)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, circle cover,  #ffffff 0%,#F2F3F5 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(center, circle cover,  #ffffff 0%,#e5e8ec 100%); /* IE10+ */
  background: radial-gradient(circle at center,  #ffffff 0%,#e5e8ec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e8ec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: right;
  cursor: default;
}

#all{
  position: relative;
  margin:0 auto;
  width: 100%;
}


/*Logo*/
header {
  margin-bottom: 40px;
  margin-top: 5%;
  background-color: red;
  text-align: center;
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
  background: url('../images/logo.png') no-repeat center;
  height: 128px;
}

/*caixa de erro*/
#error{
  text-align: center;
  margin:0 auto;
  margin-top: 90px;
}

#fail{
  margin:0 auto;
  width: 350px;
  height: 240px;
  border:1px solid #D5D5D5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e8ec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e8ec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e6e8ec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e6e8ec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e6e8ec 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e6e8ec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8ec',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:0px 3px 6px rgba(50, 50, 50, 0.64);
  -moz-box-shadow:0px 3px 6px rgba(50, 50, 50, 0.64);
  box-shadow:0px 3px 6px rgba(50, 50, 50, 0.64);
}

#fail h1{
  padding-top: 10px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #8c8c8c;
}

#fail h2{
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  width: 210px;
  padding-top: 20px;
  text-align: center;
  margin:0 auto;
}

#fail p{
  font-family: 'PT Sans';
  font-size: 13px;
  color: #8B8B8B;
  margin-top:0;
}

/* Botão de voltar para o início */
#beginning{
  background-color: #f1cf65;
  width: 195px;
  height: 45px;
  font-family: 'Ubuntu Condensed';
  font-size: 25px;
  color:#a38322;
  border:1px solid #AE8711;
  text-decoration: none;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px; 
  margin-top: 25px;
  padding-bottom: 5px;
  -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .4), inset 0px 4px 2px 0px rgba(255, 255, 255, .4), inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
  box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .4), inset 0px 4px 2px 0px rgba(255, 255, 255, .4), inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
}

#beginning:hover{
  background-color: #FFD242;
  cursor: pointer;
  border:1px solid #AE8711;
}

#beginning:active{
  background-color: #f1cf65;
  cursor: pointer;
  border:1px solid #AE8711;
  -webkit-box-shadow:  inset 0px 1px 2px 0px rgba(0, 0, 0, .4), inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
  box-shadow:  inset 0px 1px 2px 0px rgba(0, 0, 0, .4), inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
}


/*barra do governo federal*/
#bar-brazil { 
  position:relative;
  overflow:hidden;
  max-width:100%;
  height:28px;
  background: #004b82 url('../images/bar-brazil-v3-bgx.png') center bottom no-repeat;
}

#bar-brazil .bar {
  display: block;
  max-width:90%;
  height:28px;
  margin: 0 auto;
  background: url('../images/bar-brazil-v3-bgx.gif') 0 bottom repeat-x;
}

#bar-brazil .bar ul {
  float:right;
  width: 319px;
}

#bar-brazil .bar ul li {
  float: left;
  padding-left: 25px;
  position: relative;
  bottom: 2px;
}

#bar-brazil .ai {
  display: block;
  width: 161px;
  height: 28px;
  text-indent: -1000px;
  background: #004b82 url('../images/ai.png') no-repeat 0 4px;
  position: relative;
  bottom: 14px;
}

#bar-brazil .brazil-gov {
    display: block;
    width: 108px;
    height: 28px;
    text-indent: -1000px;
    background: #004b82 url('../images/brazil.png') no-repeat 0 4px;
    position: relative;
    bottom: 14px;
}