- @users.each_with_index do |student, idx|
  - af = AcademicAllocationUser.getAFUser(student.id, @allocation_tag_id) ? t('scores.info.t') : t('scores.info.f')
  %tr.lines
    %th.td_student{:'data-tooltip' => student.name}= link_to student.name, user_info_scores_path(student.id)
    %td=student.u_logs
    - unless @wh.nil?
      %td=student.working_hours
      %td=@wh.to_i - student.working_hours.to_i
    %td=student.u_grade
    %td= af
    %td=student.u_public_files
    %td=[student.assignments, t(:of), @tools.assignments_count].join(' ')
    %td=[student.exams, t(:of), @tools.exams_count]. join(' ')
    %td=[student.discussions, t(:of), @tools.discussions_count]. join(' ')
    %td=[student.chat_rooms, t(:of), @tools.chat_rooms_count]. join(' ')
    %td=[student.webconferences, t(:of), @tools.webconferences_count]. join(' ')
    %td=[student.schedule_events, t(:of), @tools.events_count]. join(' ')


= javascript_include_tag 'tableHeadFixer','tooltip', 'tablesorter', 'scores'

:javascript
  $(function () {
    $("#list_of_students").tableHeadFixer({'left' : 1}); 
  });
