$('.users').append('#{escape_javascript(render partial: "pending_general", locals: { users: @users })}');
$('a.load-more-users').attr('href', '#{general_scores_path page: @users.next_page}');
$(".tb_list").trigger("update");

- if @users.next_page.blank?
  $('a.load-more-users').remove();
