$('.users').append('#{escape_javascript(render partial: "pending_summary", locals: { users: @users, merged_group: @merged_group, username: @username })}');
$('a.load-more-users').attr('href', '#{summary_scores_path page: @users.next_page, user_name: @username}');
$('a.load-more-users').attr("aria-label", "#{t(:load_items)}");
$(".tb_list").trigger("update");

- if @users.next_page.blank?
  $('a.load-more-users').remove();
