
img{
    border: none;
}

div.field_with_errors
{
    display: inline;
    padding:0px;
    margin:0px;
}
body{
    background-color    : #fff;
    cursor              : default;
    margin              : 0px;
    padding             : 0px;
}
/* coloquei esse aqui pra sobreescrever esse label aqui de baixo (Rafael) */
.form_usuario_label {

    text-align		: right;
    width		: 15px;
    padding-right       : 10px;
    padding-left        : 10px;
    margin-top          : 2px;
    font-size           : 14px;
    white-space         : pre-wrap;
}
label{
    display: inline-block;
    width: 82px;
    white-space: nowrap;
}
label.menor{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-family:'Verdana', Arial;
    font-size: 9pt;
    font-weight: normal;
    position:relative;
    bottom: 3px;
}

a{
    color           : #EEE;
    font-family     :'Myriad Pro','Trebuchet', Arial;
    font-size       : 11pt;
    text-decoration : none;
}


a.menor{
    color           : #000;
    font-family     :'Myriad Pro','Trebuchet', Arial;
    font-size       : 9pt;
    text-decoration : none;
    text-decoration : underline;
}

a:hover{
    color           : #DDD;
    font-family     :'Myriad Pro','Trebuchet', Arial;
    font-size       : 11pt;
    text-decoration : none;
}

p{
    font-family     :'Myriad Pro','Trebuchet', Arial;
    padding-left    : 25px;
    padding-right   : 25px;
    padding-top     : 15px;
}

input{
    color           : #222;
    border:none;
}
/******************************** Página de login: *******/
#login_right_col{
    display: table-cell;
    padding: 35px;
    background-color        :#FFF;
}

#login_left_col{
    vertical-align          : top;
    background-color        :#e8e8e8;
    display: table-cell;
    padding:0px;
    margin:0px;
}

#login_footer{
    text-align          : center;
    background-color    : #e8e8e8;
    display             : table-row;
    padding             : 0px;
    margin              : 0px;
    height              : 20px;
    font-family         : 'Myriad Pro','Trebuchet', Arial;
    font-size           : 9pt;
    color               : #BBB;
}

#login_top{
    background-color	: #003e7a;
    background-image	: url('/images/logintopo.png');
    background-repeat   : no-repeat;
    width		: 100%;
    height              : 95px;
    z-index             : 1;
    display             : table-cell;
}
#login_top_blank{
    background-color	: #003e7a;
    display             : table-cell;
    width		: 100%;
    height              : 95px;
}

#login_menu{
    background-color        : #999;
    line-height             :32px;
    border: none;
}

#login_form_enter{
    position            : relative;
    bottom              : 28px;
    left                : 208px;
    width               : 77px;
    height              : 27px;
    background-color    : #fff;
    font-weight         : bold;
    vertical-align      : middle;
}


#login_form_tab_blank{
    background          : none;

    display             :table-cell;
    height              : 25px;
    width               : 131px;

}

#login_form_tab_entrar{
    background-color    : #F9C153;
    color               : #fff;

    display             :table-cell;
    height              : 25px;
    width               : 80px;

    font-family         :'Myriad Pro','Trebuchet', Arial;
    font-size           : 12pt;
    text-align          : center;
    line-height         : 25px;
    font-weight		: bold;
}

#login_form_tab_cadastrar{
    background-color    : #436bae;
    color               : #fff;

    display             : table-cell;
    height              : 25px;
    width               : 109px;

    font-family         :'Myriad Pro','Trebuchet', Arial;
    font-size           : 12pt;
    text-align          : center;
    line-height         : 25px;
    font-weight		: bold;
}


#login_form{
    width               : 305px;
    height              : 170px;

    padding-left        : 15px;
    padding-top         : 15px;

    background-color    : #F9C153;
    color               : #FFF;
    font-family         :'Myriad Pro','Trebuchet', Arial;
    font-size           : 15pt;
    line-height         : 30pt;
}

.login_form_text_field{
    border          : 1px #D9A123 solid;
    font-size       : 14pt;
    font-family     :'Verdana', Arial;
    width           : 198px;
    height          : 24px;
}


/******** cadastro de novo usuario com layout do login **********/

#login_form_new_user{
     margin-left	: 65px;
     margin-top		: 45px;
     width		: 525px;
     background-color	: #a2b5c7;

}
.login_form_link_return{
    position		: relative;
    top			: 10px;
    background-color	: #fff;
    color           	: #222;
    font-family         :'Myriad Pro','Trebuchet', Arial;
    text-align          : center;
    line-height         : 25px;
}
.login_form_link_return:hover{
    color           	: #222;
    text-decoration 	: none;
}
.form_usuario_h2{
    text-align		: center;
    color		: #003e7a;
    font-size		: 18px;
    font-weight		: bold;
    padding-top		: 15px;
}
.form_usuario_table{
    margin-left		: auto;
    margin-right	: auto;
    color		: #fff;
    width		: 480px;
    line-height         : 15px;
    margin-bottom       : 25px;

}
.form_usuario_label {
    text-align		: right;
    width		: 15px;
    padding-right       : 20px;
    padding-left        : 10px; 
    margin-top          : 2px;
    font-size           : 14px;
    vertical-align: middle;
    
}
.form_usuario_tr{
    height: 30px;
}
.label_usuario{
    white-space         : pre-wrap;
}
#actions{
    margin-top          : 20px;
    height              : 40px;
    width		: 495px;
    margin-left         : 65px;
   vertical-align: bottom;
   margin-bottom        : 40px;
}
#voltar{
    height              : 40px;
    width               : 80px;
    float               :right;
    margin-right        : 10px;
}