

.pwd_recovery_all{
    margin-left             : 36px;
}

.pwd_recovery_title{
    font-family             : 'Myriad Pro','Trebuchet', Arial;
    padding                 : 0px;
    font-size               : 14pt;
    color					: #000;
    font-weight				: bold;
}
.pwd_recovery_subtitle{
    font-family             : 'Myriad Pro','Trebuchet', Arial;
    padding                 : 0px;
    font-size               : 13pt;
    color					: #003e7a;
    font-weight				: bold;
}
.pwd_recovery_text{
    padding                 : 0px;
    font-size               : 12pt;
}
.pwd_recovery_label{
    text-align				: right;
    margin-right			: 15px;
    color					: #000;
    font-size               : 13pt;
}

#pwdbox{
    margin-left             : 136px;
    width                   : 400px;
}
.pwd_recovery_table{
    border-spacing:10px;
}
