/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* carregando fontes externas */

@font-face
{
    font-family: 'Trebuchet';
    src: url(/fonts/trebuc.eot);
}
@font-face
{
    font-family: 'Trebuchet';
    src: url(/fonts/trebuc.ttf);
}
/*@font-face
{
    font-family: 'Myriad Pro';
    src: url(/fonts/myriad.otf);
}*/

img{
    border: none;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    cursor: default;
/*    font-family: 'Trebuchet', Arial;*/
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
/*    font-family: 'Trebuchet', Arial;*/
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

h1 {
    font-weight: 300;
}

h2 {
/*    font-family: 'Trebuchet', Arial;*/
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
}

#body_wrapper {
    width: 980px;
    margin: 0 auto;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    background-color: #ffffff;
    min-height: 100%;
}

/*Classes de mensagens flash*/
.error{
    font-weight: bold;
    color: #660000;
}

.notice{
    font-weight: bold;
    color: #e9ba00;
}

.success{
    font-weight: bold;
    color: #2F4F2F;
}

#flash_message {
    border: 1px solid #d0d0d0;
    padding: 5px 10px 4px 10px;
    margin: 10px 0;
    font-size: 10pt;
}

#flash_message span {
    margin-left: 15px;
}

#flash_message.success {
    background: url('../images/success.gif') no-repeat 5px center #f5ffec;
}

#flash_message.error {
    background: url('../images/error.gif') no-repeat 5px center #fff6f6;
}

#flash_message.notice {
    background: url('../images/warning.png') no-repeat 5px center #fff6f6;
    background-color: #ffffe2;
}

/*Classes de erros*/
.error_explanation{
    font-size: 11pt;
    font-style: italic;
    color: #e03838;
    line-height: 25px;
    margin-left: 10px;
}

.field_with_errors{
    display:inline-block;
    border: 1px solid #e03838;
}

label
{
    color: #003e7a;
    display: inline-block;
    width: 140px;
    font-family:'Verdana', Arial;
    white-space: nowrap;
}

label.menor{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-family:'Verdana', Arial;
    font-size: 8pt;
    font-weight: normal;
}

/**
* Tratando links
*/
a, a.menor, a.link_content {
    color: #222;
    text-decoration: none;
}

a.link_content_del {
    color: #EA4F52;
    text-decoration: underline;
}

a.link_content {
    color: #204783;
    text-decoration: underline;
}

a.link_content_gray {
    font-size: 9pt;
    color: #999;
    text-decoration: underline;
}

a.menor {
    font-size       : 8pt;
    text-decoration : underline;
}

.more_or_less {
    text-align: right;
    display: block;
}

.btn-decoration {
    font-family: 'Trebuchet', Arial;
    text-decoration: underline;
    font-size: 10pt;
    background-color: #F5F8FB;
    color: #222;
    cursor: pointer;
    border: 0px;
}

select{
    color: #222;
    background-color: #fff;
    border: 1px solid #dedede;
/*    min-width: 180px;*/
}

input{
    color: #222;
    border: 1px solid #dedede;
    padding: 5px;
    font-size: 13px;
}


input[type="file"] {
    border          : 0px;
    padding         : 0px;
}

textarea{
    color           : #222;
    background-color: #fff;
    border          : 1px solid #dedede;
    font-size	    : 13px;
    padding         : 5px;
}

h1.page_title{
    font-size  : 12pt;
    color      : #000;
/*    font-weight: bold;*/
/*    font-variant: small-caps;*/
    border-bottom: 3px solid #003E7A;
    padding-bottom: 2px !important;
    /*text-transform: capitalize;*/
}

.text_alert, .text_alert_message {
    font-family: Trebuchet;
    font-size: 11px;
    color: #e64d4d;
    width: auto;
}
.text_alert_message {
    vertical-align: super;
}
.text_none {
    font-family: Trebuchet;
    font-size: 11px;
    color: #003e7a;
    padding: 5px;
}

.link_button {
    background-color: #eeeeed;
    color           : #222;
    float: right;
    font-weight:bold;
    padding: 4px;
    margin:  2px;
    cursor: pointer;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    -moz-border-radius: 4px;
}
/****LightBox genérico****/
#lightBoxDialog{
    border:1px solid #000;
    display:none;
    background-color:#FFF;
    position:absolute;
    z-index:1001;
    top:50%;
    left:50%;
    padding:10px;
    overflow: auto;
}
#lightBoxBackground{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:#000;
    z-index:1000;
}
#lightBoxDialogTitle{
    text-align: right;
    border-bottom: 3px dotted #EEE;
    margin: 5px;
    letter-spacing: 2px;
}

#lightBoxDialogCloseBt
{
    position : absolute;
    top : 3px;
    right : 3px;

    width : 11px;
    height : 11px;

    border : 0px;
    cursor : pointer;
    background-image: url('/images/closeLightBox.png');
    background-position:0px 0px;
    font-size : 3px;
}
#lightBoxDialogCloseBt:Hover
{
    cursor : pointer;
    background-position: 11px 0px;
}

/****tela de matricula****/

.headtable_blue{
    font-size: 14px;
    font-family:'Trebuchet',Arial;
    color: #000;
    background-color: #E7EDEE;
    line-height: 25px;
    border: 0px;
}
.table_blue{
    border: 0px;
    width: 745px;
}
.td_head_blue{
    padding-left: 8px;
}
.td_blue_first{
    padding-left: 8px;
}
.td_blue, .td_blue_center {
    border-left: solid #dbe5e8 1px;
    padding-left: 8px;
    white-space: normal;
    width: auto;
}
.td_blue_center {
    border-left: none;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
}
.rowtable_odd, .rowtable_even{
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-align: justify;
    color: #000;
    background-color: #f1f0f2;
}
.rowtable_even{
    color: #000;
    background-color: #eaeaea;
}
.enrollment_search{
    height:12px;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
}
.enrollment_search_icon{
    vertical-align: middle;
    border: 0px;
    cursor: pointer;
}
.select_category{
    height:19px;
    font-size: 10px;
    font-family:'Trebuchet',Arial;
}
.enrollment_label {
    color: #000;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    width: auto;
}
.enrollment_link {
    color: #214684;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.enrollment_left{
    float: left;
    width: 545px;
    left: 0px;
    position: relative;
    top: 10px;
}
.enrollment_right{
    position: relative;
    margin-right: 0px;
    text-align: right;
}
.link_gray {
    background-color: #eeeeed;
    color           : #222;
    font-weight:bold;
    padding:6px 4px 6px 4px;
    cursor: pointer;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
}

/********meu solar**********/
/* barra superior geral */
#mysolar_topbar {
    width: 100%;
    height: 72px;
    z-index: 2;
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: #003e7a;
    color: #fff;
    overflow: hidden;
}

/* barra identity */
#mysolar_identity {
    width: 100%;
    height: 36px;
    /*    border-bottom: 1px solid #fff;*/
}

#mysolar_logo {
    width: 185px;
    height: 36px;
    float: left;
}

#mysolar_top_options {
    height: 36px;
    line-height: 36px;
    float: right;
    font-size: 10pt;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}

#mysolar_top_options li {
    line-height: 36px;
    height: 33px;
    display: inline-block;
    padding: 3px 6px 0 6px;
    vertical-align: middle;
    float: left;
    /* necessario para funcionar ok no IE7 */
    /*    zoom: 1;
    *display: inline;*/
}

#mysolar_top_options li:hover {
    height: 31px;
    border-bottom: 2px solid #fff;
}

/* foto do usuário */
#mysolar_id {
}

#image_user {
    /*    vertical-align: text-bottom;*/
    height: 30px;
}

/* relogio */
#server_clock_wrapper:hover {
    border-bottom: 2px solid transparent !important;
}

a.mysolar_top_link{
    color: #FFF;
}

/* barra tabs */
#mysolar_tabs {
    width: 100%;
    height: 34px;
    /*    background-color: #e8e8e8;*/
    background:url('../images/topbar_gradient.png') repeat-x left center #4170b6;
    border-bottom:2px solid #003e7a;
}

#mysolar_tabs_wrapper {
    float:left;
    line-height: 28px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mysolar_unit_tab, .mysolar_unit_active_tab{
    list-style-type: none;
    display: inline-block;
    margin: 6px 4px 0 4px;
    padding:0 5px;
    height:26px;
    border-top:2px solid;
    border-right:2px solid;
    border-left:2px solid;
    border-bottom:2px solid;
    font-variant: small-caps;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

.mysolar_unit_tab {
    background-color: #e3eaf4;
    border-top-color: #4d6d9c;
    border-right-color: #4d6d9c;
    border-left-color: #4d6d9c;
    border-bottom-color: #003e7a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

.mysolar_unit_tab a {
    color: #4d6d9c;
}

.mysolar_unit_active_tab{
    background-color: #fff;
    border-top-color: #003e7a;
    border-right-color: #003e7a;
    border-left-color: #003e7a;
    border-bottom-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

.mysolar_unit_active_tab a {
    color: #003e7a;
}

/* fechar das abas */
.tabs_close {
    background: url('../images/tabs_close.png') no-repeat right bottom;
    display: inline-block;
    width: 11px;
    height: 11px;
    position: relative;
    left: 5px;
    /*    top: -2px;*/
    margin-right: 5px;
}

/* itens adicionais: busca e acessibilidade */
/* busca */
#mysolar_extras {
    line-height: 36px;
    height: 36px;
    float: right;
    font-size: 11pt;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}

#mysolar_extras li {
    display: inline-block;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

.search_keyword{
    border: 1px solid #b0b0b0;
    height: 20px;
    width: 130px;
    padding: 0 20px 0 2px;
    background: url('../images/search.png') no-repeat right bottom #fff;
    margin-right: 4px;
}

.search_keyword_inactive {
    font-style: italic;
    color: #b0b0b0;
}

/* acessibilidade */
.acessibility_icons {
    vertical-align: middle;
    margin: 0 2px;
}

/* sidebar */
#mysolar_sidebar{
    width: 175px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 1;
/*    float: left;*/
/*    position: absolute;*/
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-top: 10px;
    padding-top: 0;

    /*
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    padding-left: 10px;
    */
    border-right: 1px solid #d0d0d0;
}

/********Menu do meuSolar*****************/
#mysolar_menu_accordion{
    display: inline-block;
/*    position: absolute;
    top: 250px;
    left: 0px;
*/
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}

.mysolar_menu_group > ul {
    padding: 0 10px 0 10px;
    margin: 5px 0;
}

.mysolar_menu_group > ul:first-child {
    padding-top: 0;
    margin-top: 0;
}

/*.mysolar_menu_group > ul > li {
    background: url('../images/icon_arrow_right.png') no-repeat left 10px;
}*/

/*.mysolar_menu_title_single {
    background: url('../images/icon_circle.png') no-repeat left 10px !important;
}*/

.mysolar_menu_title_single_active {
    border-bottom: 3px solid #ff7418;
/*    background: url('../images/icon_circle.png') no-repeat left 10px !important;*/
}

.mysolar_menu_title_single_active a {
    color: #ff7418;
}

/*.mysolar_menu_title_active {
    background: url('../images/icon_arrow_down.png') no-repeat left 10px !important;
}*/

.mysolar_menu_title_active > a {
    color: #ff7418;
}

.menu_icon_arrow, .menu_icon_circle {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-right: 5px;
    font-size: 14pt;
    display: inline-block;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

/* BUG: icone rotacionado está com problemas no IE 7-8, não testado no 9 */
.menu_icon_animate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
/*    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand');*/
/*    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    transform: rotate(90deg);
}

.mysolar_menu_title {
    width: 100%;
    margin: 2px;
/*    padding-left: 12px;*/
    cursor: pointer;
    font-weight: normal;
/*    font-family: 'Trebuchet', Arial;*/
    height: 30px;
    line-height: 30px;
    color: #003e7a;
    font-variant: small-caps;
    font-size: 12pt;
    /*    padding-left: 15px;*/
}

.submenu {
    display: none;
    padding: 5px 0 5px 10px;
    margin: 0;
    border-top: 2px solid #ff7418;
    background-color: #fff5ed; /* alternativa: f5f8fb */
    font-size: 10pt;
}

.submenu > li {
    padding: 5px 0;
}

.submenu > li:hover {

}

.mysolar_menu_list{
    /*    padding-left: 25px;*/
}






















/******************************************************************************/
/* conteudo em si */
/******************************************************************************/


#mysolar_content{
    /*z-index: 0;*/
    /*
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    */
/*    padding-left: 185px;*/
/*    padding-bottom: 50px;*/
    padding-left: 5px;
/*    float: left;*/
/*    position: absolute;*/
    background-color: #fff;
    width: 785px;
    padding-right: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* rodapé - escolha de idioma */
#block_locale{
    margin-top: 10px;
    text-align: center;
    font-size: 9pt;

    /*
    width: 20%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 357px;
    */
}

#block_locale a {
    color: #666;
}

#block_locale > ul {
    list-style-type: none;
    padding: 0;
}

#block_locale > ul > li {
    display: inline-block;
    margin-right: 5px;
}


/*********Abas dos Meus Dados**************/

#mydata_tab{
    height: 30px;
    background-color: transparent;
    color: #003E7A;
}

#mysolar_panel_data{
    margin-left: 30px;
}

.my_data_tab_generic{
    border-right    : 1px solid #DEDEDE;
    border-left     : 1px solid #DEDEDE;
    border-top      : 1px solid #DEDEDE;
    border-bottom   : none;
    background-color:  #F7F7F7;

    z-index         : 2;

    float           : left;
    width           : 110px;
    height          : 30px;
    margin-left     : 5px;

    cursor          : pointer;
    font-weight     : bold;
    line-height     : 28px;
    text-align      : center;
    vertical-align  : middle;

}
#my_personal_data_tab{
    margin-left: 0px;
}

#my_professional_data_tab{
    background-color:  #DEDEDE;
}
#my_cadastral_data_tab{
    background-color:  #DEDEDE;
}
.background_data{

    height: 400px;
    width: 600px;
}

.my_form_data
{
    background-color: #F7F7F7;
    width: 755px;
    border: 1px solid #DEDEDE;
    z-index: 1;
}

#my_personal_data{

}

#my_professional_data{
    display:none;
    margin-left: 30px;
}

#my_cadastral_data{
    display:none;
    margin-left: 30px;
}

#my_cadastral_data_button{
    margin-top: 40px;
    width: 220px;
    float: right;
}

#my_personal_data_button{
    margin-top: 40px;
    width: 220px;
    float: right;
}
.my_cadastral_data_label{
    font-size       :larger;
    font-weight     : bold;
    text-align      : left;
    padding-top     : 10px;
    border-bottom   : 1px solid #dedede;
    padding-bottom  : 0px;
    width           :540px;
}
.my_cadastral_data_label_short{
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    width:67px;
    white-space: normal;
}
.my_personal_data_label{
    font-size       :larger;
    font-weight     : bold;
    text-align      : left;
    padding-top     : 10px;
    width           :540px;

}

/********Chat do meuSolar*****************/
#mysolar_chat_area{
    font-size   : 11pt;
    position    :fixed;
    bottom      : 0px;
    right       : 15px;
}

#mysolar_chat_barra{
    font-size           : 11pt;
    background-color    : #fbb03b;
    padding-left        :5px;
    padding-right       :5px;
    cursor: pointer;
}

#mysolar_chat_contatos{
    width       :150px;
}

#mysolar_chat_list{
    border: 1px solid #bbb;
    background-color: #fff;
    display:none;
}

#mysolar_chat_list_internal{
    padding-left: 5px;
    overflow: auto;
    height:145px;
}

.mysolar_chat_hr{
    width:87%;
    border:none;
    background-color: #bbb;
    height:1px;
}

/********Portlets do meuSolar*****************/

.mysolar_portlets_limit{
    margin-right: 38px;
    max-width: 1700px;
}

.mysolar_portlets_wrapper {
    padding-right: 250px;
}

.mysolar_portlets_portlet {
    margin: 0 1em 1em 0;
    background-color: #fff;
    min-height: 183px; /* modificação comportar agenda */
    min-width: 262px; /* modificação comportar agenda */
    max-width: 1164px;
    white-space: normal;
    float: left;
}

.mysolar_portlets_main {
    float: left;
    width: 100%;
    min-width: 540px;
}

.mysolar_portlets_side {
    float: left;
    width: 220px;
    margin-right: -100%;
}

/**
 * Tratando dos titulos dos conteudos
*/

.mysolar_header {
    font-variant: small-caps;
    height: 26px;
    border-bottom: 4px solid #204783;
}

.mysolar_header img {
    float: left;
    margin-right: 4px;
}

.mysolar_header h1 {
    padding-top: 8px;
}

/**
 * Portlets
*/

.mysolar_portlets_content {
    background-color: #F5F8FB;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 162px;
}

#mysolar_curriculum_unit_wrapper {
    margin: 0;
    padding: 5px 10px;
}

.mysolar_portlets_agenda {
    float: right;
    margin-right: -220px;
    margin-top: 6px;
    font-variant: small-caps;
    text-transform: capitalize;
}
.mysolar_portlets_agenda_events {
    min-width: 262px;
    max-width: 262px;
    font-size: 12px;
}


/**
* Legendas
*/

div.legend {
    font-size: 12px;
    padding-top: 10px;
    position: relative;
}

div.legend_score_footer {
    font-family: Arial;
    font-style: italic;
    font-size: 9pt;
}

div.legend ul {
    padding: 5px 0px;
}

div.legend li {
    text-align: left;
}

div.legend h1 {
    font-size: 14px;
    font-weight: bold;
}




hr.curriculum_unit_division, hr.curriculum_unit_division_mysolar {
    border: none;
    background-color: #204783;
    height: 4px;
    left: 0px;
    position: relative;
    top:-18px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 700px;
}

hr.curriculum_unit_division_mysolar {
    width: 464px;
}

.mysolar_title{
    color: #000;
    vertical-align: middle;
    font-variant: small-caps;
    padding: 2px 0 0 0;
    margin: 0;
    font-size: 12pt;
    font-weight: normal;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 183px !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}

/***** Portlet de Unidades curriculares *********/

.curriculum_unit_display {
    /*display:inline-block;*/
    width: 100%;
    /*    color: #8AF;*/
    font-family: trebuchet, verdana, courier, arial, sans-serif;
    font-size: 13pt;
    line-height: 20px;
}

.curriculum_unit_display:hover{
    background-color: #F6F6FF;
}

/******botões de confirmação de cadastro ********/

.confirmacao{
    height: 20px;
    width: 100px;
    margin-left: 647px;
    margin-top: -6px;
}
.cancelar{
    height: 7px;
    width: 100px;
    margin-left: 557px;
    margin-top: 8px;
}

.limpar{
    height: 20px;
    width: 100px;
    margin-left: 455px;
    margin-top: -20px;

}

/************ Layout do botões com seta ****************/

/* Layout do botões com seta */
.solar_button {
    color           : #222;
    background-color: #fff;
    vertical-align: baseline;
    margin-top:0;
    font-weight:bold;
    padding:8px;
    cursor: pointer;
}
.solar_button_gray {
    background-color: #e7edee;
    /*margin-top:0;
    font-weight:bold;
    padding:8px;*/
    color           : #222;
    vertical-align: baseline;
    margin-top:0;
    font-weight:bold;
    padding:4px;
    cursor: pointer;
}
.solar_button_arrow {
    height:10px;
    background:url('../images/solar_button_arrow.png') no-repeat right bottom;
    display:inline-block;
    width:22px;
    height:10px;
    position:relative;
    left:-25px;
    top:-16px;
}

.solar_button_arrow_gray {
    height:10px;
    background:url('/images/solar_button_arrow_gray.png') no-repeat right bottom;
    display:inline-block;
    width:22px;
    height:10px;
    position:relative;
    left:-25px;
    top:-16px;
}
.solar_button_blue {
    color           : #fff;
    background-color: #003e7a;
    vertical-align: baseline;
    margin-top:0;
    font-weight:bold;
    padding:8px;
    cursor: pointer;
}
.solar_button_arrow_blue {
    height:10px;
    background:url('../images/solar_button_arrow_blue.png') no-repeat right bottom;
    display:inline-block;
    width:22px;
    height:10px;
    position:relative;
    left:-25px;
    top:-16px;
}

/**********alterar foto*************/

/*.alter_photo_text {
    font-family: Trebuchet;
    font-size: 14px;
}

div.alter_photo_text {
    font-size: 12px;
    width: 90%;
}*/

/**
 * manipulacao da window/modal
*/
#mask {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9000;
    background-color: #000;
    display: none;
    width: 100%;
    height: 100%;
}

.boxes .window {
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
}

.boxes #dialog {
    border-color: #ffd;
    width:434px;
    height:230px;
    left:50%;
    top: 50%;
    padding:10px;
    background-color: #DBD5D5;
}

/**
 * manipulacao do link na foto
*/
.div_link_decoration {
    display: none;
}

.div_link {
    /*border: 1px solid #0658B5;*/
    cursor: pointer;
    margin: 0;
}

.div_link .div_link_decoration {
    background-color: #FFFFFF;
    display: block;
    color: #0658B5;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 1px 0;
    text-align: center;
    text-decoration: underline;
    width: 72px;
    z-index: 99;
}


/** Unidade Curricular - tela inicial de acesso **/

/* div que engloba tudo */
.block_wrapper {
    width: 785px;
    margin-bottom: 15px;
}

.block_wrapper_small {
    height: 195px;
}

/* id do titulo geral da página */
#page_title {
    border-bottom: 1px solid #d0d0d0;
}

#page_title h1 {
    font-size: 14pt;
/*    font-weight: bold;*/
/*    font-variant: small-caps;*/
    display: inline;
/*    border-bottom: 1px solid #fff;*/
}

#page_title > .block_content_text {
    border: none;
    color: #666666;
    font-size: 9pt;
    padding: 4px 0 0 4px;
    float: right;
}

/*#page_title > .block_content_text:hover {
    border: 1px solid #666666;
}*/

#page_title > .block_content_text:hover, #page_title > .block_content_text:hover select {
    color: #000000;
}

#page_title select {
    color: #666666;
    font-size: 9pt;
    border: none;
}

/* titulo do bloco */

.block_title {
    border-bottom: 2px solid #003E7A;
    padding-bottom: 2px !important;
}

.block_title h2 {
    display: inline;
/*    font-variant: small-caps;*/
}

/* icone que fica ao lado do titulo do bloco */
.block_title_icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

#page_title_icon {
    vertical-align: top;
}

/* zerando o espaçamento do titulo do bloco */
.block_title, .block_title > .block_left, .block_title > .block_right {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

/* definindo as divs de conteudo como inline-table */
.block_title > div, .block_content > .block_left, .block_content > .block_right {
    display: inline-table;
    border-spacing: 0;
}

/* garantindo que o titulo do bloco fique proximo a linha inferior */
.block_title {
    vertical-align: bottom;
}

.block_title > .block_right {
    padding-left: 6px;
}

/* largura dos blocos internos */
.block_left, .block_right {
    width: 370px;
    padding: 6px 10px;
}

/* garantindo que o conteudo do bloco fique proximo a linha superior */
.block_content > .block_left, .block_content > .block_right {
    vertical-align: top;
}

/* definindo cor de background do conteudo e tamanho da fonte */
.block_content {
    font-size: 10pt;
    background-color: #F5F8FB;
}

/* ajustando a largura do bloco esquerdo e adicionando a borda divisoria*/
.block_content > .block_left {
    width: 369px;
    border-right: 1px solid #d0d0d0;
}

/* ajustando o espaçamento do bloco direito */
.block_content > .block_right {
    padding: 6px 10px 6px 8px;
}

.block_content_spacing {
    padding: 6px 10px;
}

.block_content_line {
    border-bottom: 1px solid #CCCCCC;
/*    font-size: 10pt;*/
    padding: 6px 10px;
}

.block_content_line:last-child {
    border-bottom: none;
}

.block_content_gray {
    font-size: 8pt;
    color: #999;
    padding-right: 5px;
}

.block_content_text {
    color: #000;
/*    font-size: 10pt;*/
    padding: 6px 10px;
}

h2, table tr.block_title th {
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.block_small {
    height: 195px;
    width: 255px;
    float: left;
    margin-right: 10px;
}

#block_group_selection {
    background-color: transparent;
}

#block_lessons {
    min-height: 135px;
    max-height: 160px;
    overflow: auto;
}

#block_schedule {
    margin-right: 0 !important;
}

#block_messages_content {
    width: 100%;
    height: 134px;
    overflow: auto;
}

.block_messages_opt {
    font-size: 8pt;
    color: #d0d0d0;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #F5F8FB;
}

#block_forum {
    width: 100%;
    height: 161px;
    overflow: auto;
}

/* calendario da tela de acesso a curso */
.calendar {
    background: #F2F0F2;
    font-family: Trebuchet;
    font-size: 11px;
    width: 100%;
    height: 117px;
    padding-bottom: 2px;
}
.calendar_events {
    background: #ccc7cc;
    height: 40px;
    padding-left: 2px;
    padding-top: 2px;
}

/* tela de participantes */
.participants_list {
    border:0;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    float:left;
    margin:5px 5px 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
    position:relative;
    width:150px;
    min-height:155px;
    text-align:center;
    background-color: #f2f6f6;
    font-family: Trebuchet;
    font-size: 11px;
}
.participants_list_none {
    border:0;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    float:left;
    margin:5px 5px 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 4px;
    position:relative;
    width:301px;
    background-color: #f2f6f6;
    font-family: Trebuchet;
    font-size: 11px;
}
.portlet_participants_header {
    cursor: default;
    padding: 5px;
    background-color: #e6eced;
    height:20px;
    min-width: 140px;
    margin-right: 5px;
}
.participants_icons {
    position: absolute;
    bottom: 1px;
    left: 23%;
}
.portlet_participants {
    margin: 0px;
    padding: 0px;
    border:0px;
    background-color: #fff;
    white-space: normal;
    margin-bottom: 12px;
    display: table;
    max-width: 775px;
}

/* div e navegacao de aulas */
#lesson_area {
    background-color: #eee;
    border: none;
    padding: 0;
    margin:  0;
    width:  100%;
    height: 100%;
    top:  0;
    left: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-Y: hidden;
}
#lesson_content_header {
    background-color: #dee8ec;
    font-size: 11px;
    color: #000;
    width:  100%;
    height: 25px;
    margin:  0px;
    padding: 0px 3px 0px 8px;
}
#lesson_header {
    background-color: #1d4786;
    font-size: 12px;
    color: #fff;
    width:  100%;
    height: 22px;
    margin:  0px;
    padding: 6px 0px 0px 8px;
}
#lesson_frame_address {
    position: relative;
    width:  100%;
    border:   0px;
    margin:   0px;
    padding:  0px;
    top: 0px;
}
#lesson_goto {
    display: inline;
    float: right;
    height: 20px;
    margin-right: 50px;
    margin-top: 4px;
    text-align: center;
    vertical-align: top;
    width: auto;
}
#lesson_click_area {
    display: inline-block;
    width: 50%;
    height: 22px;
}
.lesson_back, .lesson_next {
    width: 9px;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    vertical-align: bottom;
}
.lesson_link {
    background-color: #b8cbcf;
    width:17px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 1px;
    margin-bottom: 3px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    line-height: 19px;
}
.lesson_img_nav {
    cursor: pointer;
    vertical-align: middle;
}
#lesson_text_goto {
    height: 16px;
    width:  22px;
    font-size: 11px;
    font-family:'Trebuchet',Arial;
    padding: 0px;
}
/* rolagem da lista de aulas */
#content-scroll {
    width: 270px;
    height: 22px;
    overflow: hidden;
    padding-top: 2px;
    display: inline-block;
}
#content-holder {
    width: 360px;
    height: 25px;
}

/* estilo para item invisivel */
.invisible {
    display: none;
}

/*Tela de fórum*/
#forum_description{
    white-space: normal;
    margin-bottom: 30px;
}

.forum_button, .forum_button_attachment{
    color: #1c4785;
    text-decoration: underline;
    font-family:  'Trebuchet', 'Arial', sans;
    font-size: 15px;
    cursor: pointer;
}

.forum_button_attachment{
    font-size: 11px;
    float: right;
    margin-right: 15px;
}

.forum_button_remove{
    color: #922;
}

.forum_button_view_mode{
    color: #222;
    font-size: 13px;
}

.forum_navigation_bar{
    border-bottom: 3px solid #1d4786;
    font-size: 10pt;
    width: 100%;
    max-width: 785px;
}

.forum_post_wrapper {
    max-width: 785px;
}

.forum_post{
    background-color: #f9f9fa;
    min-height: 140px;
    white-space: normal;
    max-width: 785px;
}
.forum_post_attachment_line{
    display:block;
    height:13px;
    width:96%;
    margin:0px;
    border-bottom:1px solid #CCC;
    border-top:0px;
    border-left:0px;
    border-right:0px;
}

.forum_post_attachment_empty{
    color: #666;
    font-size: 11px;
    padding-left: 7px;
}

.forum_post_link_disabled{
    color: #5C6D85;
    font-family:  'Trebuchet', 'Arial', sans;
    font-size: 15px;
    text-decoration: underline line-through;
}

.forum_post_link_remove_disabled{
    color: #996262;
}

.forum_post_child_ident{
    padding-left: 70px;
}

.forum_post_head_left, .forum_post_head_right{
    background-color:#ecf3f8;
    height: 35px;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    white-space: normal;
    border-top: 2px solid #fff;
}

.forum_post_head_left {
    width:120px;
    display: block;
    text-align:center;
    font-weight: bold;
    border-right: 1px solid #fff;
}
.forum_post_head_right{
    width:100%;
    text-align:justify;
    font-weight: normal;
}

.forum_post_content_left, .forum_post_content_right{
    background-color:#f9f9fa;
    height: 35px;
    width: 106px;
    min-width: 106px;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    border-bottom: 3px solid #fff;
    vertical-align: top;
    padding-top: 10px;
}
.forum_post_content_left{
    border-right: 1px solid #ecf3f8;
    text-align: center;
}
.forum_post_content_right{
    text-align: left;
}

.forum_participant_profile {
    font-size: 11px;
    font-style: italic;
}

.forum_participants {
    border:0;
    float:left;
    margin:5px 5px 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
    width:106px;
    min-height:90px;
    text-align:center;
    font-family: Trebuchet;
    font-size: 11px;
}
.forum_participants_icons {
    bottom: 1px;
    left: 23%;
    padding-top:5px;
}
.forum_post_date{
    font-size: 9px;
    text-align: right;
    font-style: italic;
    color: #888;
    margin-right: 10px;
}
.forum_post_buttons{
    text-align: right;
    margin-right: 10px;
}

.forum_post_attachment{
    -webkit-padding-start:7px;
    padding-left:7px;
}

#new_post_dialog{
    text-align:left;
    background-color: #F4F4F4;
    border: 1px solid #EEE;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* tela de mensagens */
.label_text {
    font-size: 10pt;
    padding: 6px;
    color: #000;
}

.message_external_div {
    width: 780px;
}
.message_search_div,.message_div{
    color: #000;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: none;
}
.message_div {
    padding-top: 15px;
    border-bottom: 2px solid #B4B3B7
}
.message_general_div_option, .message_general_div_option_active {
    display: inline-block;
    margin-right: 25px;
    z-index: 10;
}
.message_general_div_option_active {
    border-bottom: 3px solid #214684;
    z-index: 20;
}
.message_main_menu{
    color: #214684;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
}
.message_div_options, .message_div_options_new, .message_div_show, .message_header_new {
    width: auto;
}
.message_div_options, .message_div_options_new {
    background-color: #E7EDED;
    height: 25px;
    padding: 3px;
    margin: 0;
    margin-top: -5px;
    vertical-align: middle;
}
.message_div_options {
    border-top: 3px solid #CCCCCC;
}
.message_div_options_new {
    margin: 0;
}
.message_div_navigation{
    background-color: #E7EDED;
    height: 25px;
    text-align: right;
    padding: 3px;
}
.message_link, .message_link_menu{
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: none;
    margin-right: 10px;
    color: #214684;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.message_link_menu{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    vertical-align: super;
}
.message_link_nav{
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: underline;
    margin-right: 10px;
    color: #214684;
    cursor: pointer;
}
.message_div_list{
    background-color: #F7F7F7;
    width: 100%;
}
.message_div_show {
    background-color: #F7F7F7;
    padding-right: 100px;
    min-height: 100px;
    white-space: normal;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    padding: 20px;
}
.message_line{
    background-color: #f9f9f9;
    height: 25px;
}
.message_nav_text {
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    text-decoration: none;
    color: #000;
    width: auto;
}
.message_search_textbox{
    height: 18px;
    width: 500px;
    padding: 0px;
    font-size: 11px;
    font-family:'Trebuchet',Arial;
}
.message_read, .message_unread{
    color: #666;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    font-weight: normal;
    white-space: normal;
}
.message_unread{
    color: #000;
    font-weight: bold;
}
.message_label {
    font-size: 10px;
    font-family:'Trebuchet',Arial;
    color: #000;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #F9C153;
    border: 1px solid #F9C153;
    -moz-border-radius: 4px;
}
.message_read:hover, .message_unread:hover {
    text-decoration: underline;
}
.message_header_new {
    background-color: #ececf0;
}
.message_div_text_read {
    background-color: #F7F7F7;
    width: 100%;
}
.message_text_to, .message_text_body {
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    color: #000;
}
.message_text_body {
    padding: 20px;
    padding-right: 100px;
}
.message_recipient_box {
    border: 1px solid #eee;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    color: #214684;
    cursor: pointer;
}
#recipients_selected {
    border: 1px solid #ccc;
    width: 435px;
    height: 50px;
    background-color: #fff;
    white-space: normal;
    overflow: auto;
}
#div_contacts{
    font-size: 11px;
    font-family:'Trebuchet',Arial;
    text-decoration: none;
    padding: 5px;
    color: #214684;
    position: absolute;
    border: 2px solid #F2F2F2;
    background-color: #fafafa;
    line-height: 15px;
    z-index: 100;
}
.div_contacts_buttons{
    width:440px;
    padding-top:4px;
}
#div_contacts_list {
    overflow: auto;
    background-color: #fff;
    padding: 5px;
    margin-right: 3px;
    margin-top: 1px;
    border: 1px solid #ddd;
    height: 150px;
}

/* dropdown de mensagens (selecionar, mover para) */
ul{
    list-style-type:none;
}
ul.message_menu_listbox{
    width:  80px;
    margin:  0px;
    padding: 0px;
    display: inline-block;}
ul.message_menu_listbox li{
    position: relative;
}
ul.message_menu_listbox li:hover{
    position: relative;
}
ul.message_menu_listbox li a{  /* menu nivel 1 */
                               font-size: 12px;
                               font-family:'Trebuchet',Arial;
                               text-decoration: none;
                               color: #214684;
                               cursor: pointer;
                               display:block;
}
ul.message_menu_listbox li ul{
    display:none;
    border: 1px solid #ccc;
    position: absolute;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    top:14px;
    left:0;
    margin-right: 0px;
    background:#fff;
}
ul.message_menu_listbox li:hover ul{
    display:block;
}
ul.message_menu_listbox li ul a{  /* menu nivel 2 - opcoes */
                                  width: 80px;
                                  display: block;
                                  background: #fff;
                                  padding: 0px;
                                  margin:  2px;
                                  font-size: 11px;
                                  font-family: 'Trebuchet',Arial;
                                  text-decoration: none;
}
ul.message_menu_listbox li ul a:hover{
    background:#eee;}

/* paginacao */
.next_page, .prev_page, .current, .link_navigation {
    font-size: 12px;
    font-family: 'Trebuchet',Arial;
    text-decoration: underline;
    color: #214684;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.link_navigation {
    text-decoration: none;
}
.disabled, .message_div_navigation {
    font-size: 12px;
    font-family: 'Trebuchet',Arial;
    text-decoration: none;
    color: #B4B3B7;
    padding-left: 5px;
    padding-right: 5px;
}
.current {
    background-color: #E7EDED;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.pagination {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.pagination a {
    padding-left: 5px;
    padding-right: 5px;
    color: #214684;
}

/*BIBLIOGRAFIA*/

#biliography{
    width: 730px;
    font-size: 12px;
    font-family:'Trebuchet',Arial;
    color: #000;
    background-color: #F5F8FB;
    /*line-height: 25px;*/
    white-space: normal;
    word-wrap: break-word;
    margin-top: -11px;
}
#bibliography_line{
    color: #1C4785;
    border: solid 2px;
    font-weight: bold;
    width: 730px;
    margin-top: 0px;
}
#biliography_title{
    font-family: "Trebuchet";
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -22px;
    margin-left: 31px;
    background-color: #FFF;
    /*text-transform: capitalize;*/

}
#biliography_photo{
    margin-bottom: 13px;
    background-color: #FFF;
}
#biliography_header_content{
    margin-top: 15px;
}

/**
 * Tabelas - geral e files
*/
table.tb_list, table.tb_list_files {
    width: 100%;
    font-size: 10pt;
}

table.tb_list tr.block_title th {
    padding-bottom: 2px;
}

/*table.tb_list, table.tb_list_files {

    background-color: #F7F7F8;
    border-right: solid #B4B2B1 1px;
}*/

table.tb_list th {
    white-space: nowrap;
    background-color: white;
/*    font-weight: bold;*/
}

table.tb_list h4 {
    margin-bottom: 4px;
    overflow: hidden;
    word-wrap:break-word;
    max-width:410px;
}

table.tb_list tbody {
    background-color: #F5F8FB;
}

table.tb_list td {
    white-space: normal;
    word-wrap: break-word;
/*    border-right: 1px solid #d0d0d0;*/
}

table.tb_list td:last-child {
    border-right: none;
}

table.tb_list tbody tr:last-child {
    border-bottom: none;
}

table.tb_list_files {
    border-right: 0px;
}

table.tb_list_files th {
    height: 30px;
    border: 0;
}

table.tb_list_files td {
    border-top: 1px solid #B4B2B1;
}

.enunciation_complete, .enunciation_less {
    display:none;
}
/**
* Icones de arquivos em tabelas
*/
table .file_data_icon {
    text-align: center;
}

/**
* Datas de arquivos em tabelas
*/

table.tb_list_files td.file_data_info, table.tb_list td.file_data_info {
    color: #787878;
}

/**
* Tratando datas de arquivos up/down
*/

.date_info, table.tb_list_files th.date_info {
    font-size: 10pt;
    font-style: italic;
    color: #787878;
}

table.tb_list_files th.date_info {
    font-size: 12pt;
    float: right;
    padding-right: 2px;
}

/**
* Tratando linhas das tabelas
*/
th {
    border-bottom: solid #B4B2B1 1px;
}

tbody tr.lines {
    border-bottom: solid #B4B2B1 1px;
}

tr.lines td, th {
/*    border-bottom: solid #B4B2B1 1px;*/
/*    border-left: solid #B4B2B1 1px;*/
/*    padding: 7px 5px 6px 5px;*/
    padding: 6px 10px;
}

tr.post_content {
    background-color: #F5F8FB;
}

tbody tr.lines:hover, table.tb_list_files td:hover {
    background-color: #eef3fb; /* #FFF5ED*/
}

tbody tr.lines:hover a, table.tb_list_files td:hover a {

}

td.td_student a {
    color: #204783;
    text-decoration: underline;
}

/**
* Portfolio
*/

div.send_files {
    font-size: 10pt;
    background-color: #F7F7F8;
}

.portfolio_activity {
    width: 500px;
}

.portfolio_activity_mright {
    margin-right: 20px;
}

.presentation_area {
    width: 700px;
}

div.label_score {
    font-size: 11px;
    font-family:'Trebuchet',Arial;
    padding-top: 10px;
}

td.td_student a {color: #2a538d;}

.portfolio_history_access {
    font-size: 10pt;
    background-color: #F7F7F8;
    padding-top: 10px;
}

/**
* AGENDA
*/
.schedule_link_more {
    font-size: 11px;
    color: #4b6380;
    margin-right: 2px;
    float: right;
}

.agenda_block {
    overflow: auto;
    padding-bottom: 20px;
}

.agenda_left {
    float: left;
    background-color: #F5F8FB;
    border-top: 4px solid #003E7A;
    min-height: 71px;
    width: 160px;
    font-size: 11pt;
}

.agenda_right {
    float: right;
    white-space: normal;
    min-height: 75px;
    width: 538px;
    overflow: hidden;
    font-weight: normal;
    background-color: #F7F7F8;
}

.agenda_right p {
    padding: 5px;
}

.agenda_right .title {
    padding-left: 5px;
    font-weight: bold;
    font-size: 11pt;
}

.agenda_left_title {
    overflow: auto;
    padding-top: 5px;
    padding-left: 5px;
}

.agenda_left_title_img {
    float: left;
    height: 16px;
    width: 16px;
}

.agenda_left_title_text {
    padding-left: 21px; /*5px a direita da img*/
    color: #204783;
}

.block_title_icon.discussions, .block_title_icon.lessons, .block_title_icon.assignments, .block_title_icon.schedule_events {
    background: url('../images/agenda/assignments_16x16.png') no-repeat;
    display: inline-block;
}

.block_title_icon.chat {
    background: url('../images/agenda/chat_16x16.png') no-repeat;
    display: inline-block;
}

/*encontro presencial*/
.block_title_icon.meeting_attendance {
    background: url('../images/agenda/meeting_attendance_16x16.png') no-repeat;
    display: inline-block;
}

.agenda_left_content {
    text-align: center;
}

.agenda_ajax {
    color: #4B6380;
    font-size: 8pt;
    font-family: Trebuchet;
}

/**
* Situacao das tarefas
*/
.assignment_corrected, .assignment_sent, td.assignment_as a, .assignment_not_sent, .assignment_not_started, .assignment_send, .assignment_pending, td.assignment_an a {
    text-decoration: underline;
}

.assignment_corrected {
    white-space: nowrap;
    color: #378941;
}

.assignment_sent, td.assignment_as a  {
    white-space: nowrap;
    color: #1CA093;
}

.assignment_not_sent {
    white-space: nowrap;
    color: #EA4F52;
}

.assignment_not_started {
    white-space: nowrap;
    color: #787878;
}

.assignment_send, .assignment_pending, td.assignment_an a {
    white-space: nowrap;
    color: #204783;
}

.activity_grade {
    font-weight: bold;
}

#breadcrumb {
    white-space: nowrap;
    font-size: 10pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

/**
* Botoes
*/

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .3em .5em .3em;
    margin: 2px;
    ltext-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-size: 8pt;
}
.btn:hover {
    text-decoration: none;
}
.btn:active {
    position: relative;
    top: 1px;
}

.btn_disable,.btn_disable:hover,.btn_disable:active {
    color:#f3f3f3;
    border: solid 1px #9d9d9d;
    background: #9d9d9d;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#9d9d9d));
    background: -moz-linear-gradient(top,  #c9c9c9,  #9d9d9d);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#9d9d9d');
    top: 0px;
}
.btn_orange {
    color: #ffffff;
    border: solid 1px #eeae2c;
    background: #eeae2c;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4ca75), to(#eeae2c));
    background: -moz-linear-gradient(top,  #f4ca75,  #eeae2c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4ca75', endColorstr='#eeae2c');
}
.btn_orange:hover {
    background: #f0a717;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8c359), to(#f9a706));
    background: -moz-linear-gradient(top,  #f8c359,  #f9a706);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8c359', endColorstr='#f9a706');
}
.btn_orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa900), to(#ef9f00));
    background: -moz-linear-gradient(top,  #ffa900,  #ef9f00);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa900', endColorstr='#ef9f00');
}

.btn_blue{
    color: #ffffff;
    border: solid 1px #003e7a;
    background: -webkit-gradient(linear, left top, left bottom, from(#5f8db7), to(#2f6393));
    background: -moz-linear-gradient(top,  #5f8db7,  #003e7a);
    background: -o-linear-gradient(#5f8db7,#003e7a);
    background-color: #003e7a;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8db7', endColorstr='#003e7a');
}
.btn_blue:hover {
    background: #79b1c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ca0c1), to(#5d82a4));
    background: -moz-linear-gradient(top,  #D1DCDF,  #79b1c7);
    background: -o-linear-gradient(#D1DCDF,#79b1c7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1DCDF', endColorstr='#79b1c7');
}
.btn_blue:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#003e7a), to(#79b1c7));
    background: -moz-linear-gradient(top,  #003e7a,  #79b1c7);
    background: -o-linear-gradient(#003e7a,#79b1c7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#003e7a', endColorstr='#79b1c7');
}

.btn_red {
    color: #ffffff;
    border: solid 1px #e96d6f;
    background: #f55254;
    background: -webkit-gradient(linear, left top, left bottom, from(#f59d9e), to(#f55254));
    background: -moz-linear-gradient(top,  #f59d9e,  #f55254);
    background: -o-linear-gradient(#f59d9e,#f55254);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f59d9e', endColorstr='#f55254');
}
.btn_red:hover {
    background: #e96d6f;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcb3b4), to(#e96d6f));
    background: -moz-linear-gradient(top,  #fcb3b4,  #e96d6f);
    background: -o-linear-gradient(#fcb3b4,#e96d6f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb3b4', endColorstr='#e96d6f');
}
.btn_red:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f54c4f), to(#f55052));
    background: -moz-linear-gradient(top,  #f54c4f,  #f55052);
    background: -o-linear-gradient(#f54c4f,#f55052);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f54c4f', endColorstr='#f55052');
}

/* MATERIAL DE APOIO */

.support_material_folder_top{
    font-family: Trebuchet;
    font-variant: normal;
    text-transform: capitalize;
}

.support_material_folder_top_line{
    color: #1C4785;
    border: solid 2px;
    font-weight: lighter;
    margin-top: 0px;
}
.support_material_content{

}

.support_material_content_links{
    background-color: #f7f7f8;
    font-size: 12px;
    color: #4B6380;
    padding-left: 10px;
}
.support_material_files_informations{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-style: italic;
    color: #787878;
}
