<div class="mysolar_portlets_portlet mysolar_portlets_side"  id="my_solar_portlet_4" style="top: -200px">
  <div class="mysolar_header" style="top: -10px;">
    <%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda) %>
    <h1 class="mysolar_title"><%= t(:mysolar_agenda) %></h1>
  </div>

  <div class="mysolar_portlets_content" style="height: auto; min-height: 110px;">
    <div class="mysolar_portlets_agenda_events">
      <div id="agenda"></div>
      <div class="calendar_events" style="height: 46px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

  //--------------------------------------------
  // Todas as datas que possuem eventos
  //--------------------------------------------
  var dates_with_events = eval(<%=raw @scheduled_events %>);

  $(function() {

    //--------------------------------------------
    // Exibe a agenda ao terminar o load da pagina
    //--------------------------------------------

    showAgenda(dates_with_events);
  });

</script>