<%#
#Portlet do MySolar que exibe as Atividades Recentes
%>

<div class="mysolar_portlets_portlet mysolar_portlets_side"  id="my_solar_portlet_4" style="top: -200px">
  <div class="mysolar_portlets_header" style="top: -10px;">
    <%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda) %>
    <%= t(:mysolar_agenda) %>
  </div>
  <!-- 
    <hr style="border: none; background-color: #204683; height: 4px; left: 0px; position: relative; top:-18px; margin-left:0px; margin-bottom: 0px;width: 262px;"/>
  -->
  <div class="mysolar_portlets_content">
    <div class="mysolar_portlets_agenda_events">
      <script>
        $(function() {
          $( "#datepicker" ).datepicker();
        });
      </script>

      <div id="datepicker">

      </div>
      <!-- Classe que carrega o Ajax -->
      <div class="calendar_events"></div>
    </div>

  </div>
</div>
<br/>