<div class="block_small"  id="block_schedule">
    <div class="block_title">
      <h1><%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda), :class=>(:block_title_icon) %><%= t(:mysolar_agenda) %></h1>
    </div>
    <div class="calendar" id="agenda"></div>
    <div class="calendar_events"></div>
</div>
<script type="text/javascript">

  //--------------------------------------------
  // Todas as datas que possuem eventos
  //--------------------------------------------
  var dates_with_events = eval(<%=raw @scheduled_events %>);

  $(function() {

    //--------------------------------------------
    // Exibe a agenda ao terminar o load da pagina
    //--------------------------------------------

    showAgenda(dates_with_events);
  });

</script>