<div id="block_schedule" class="block_small">
  <div class="block_title">
    <h2><%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda), :class=>(:block_title_icon) %><%= t(:mysolar_agenda) %></h2>
  </div>
  <div class="calendar" id="agenda" url_for="<%= url_for :schedules_show %>"></div>
  <div class="calendar_events"></div>
</div>

<script type="text/javascript">
  //--------------------------------------------
  // Todas as datas que possuem eventos
  //--------------------------------------------
  var dates_with_events = eval(<%=raw @scheduled_events %>);
  $(function() {
    showAgenda(dates_with_events);
  });
</script>
