<%
#Portlet do MySolar que exibe as unidades curriculares nas quais o usuário possui perfil.
%>

<%
ucs = load_curriculum_unit_data() || []
%>

<div class="mysolar_portlets_portlet"  id="my_solar_portlet_1">
  <div class="mysolar_portlets_header">
    <img src="/images/unidade_curricular.png"/>
    <%= t(:my_solar_curriculum_units)%>
    <img src="/images/unidade_curricular.png" style="float:right;"/>
  </div>
  <div class="mysolar_portlets_content">
    <%
      ucs.each {|c|
      #Adiciona um curso na tela
      %>
      <div class="classeNomeCurso">
        <% if (session[:opened_tabs].length >= Max_Tabs_Open.to_i) && ( !session[:opened_tabs].has_key?(c["name"]) ) %>
          <%= button_to c["name"],{}, { :onclick => "javascript:alert('"+t(:curriculum_access_alert)+"')", :class=>'enrollment_link' } %>
        <% else %>
          <%= button_to c["name"], {:controller=>"application", :action=>"add_tab", :name => c["name"], :type => Tab_Type_Curriculum_Unit,
            :id => c["id"], :offers_id => c["offer_id"], :groups_id => c["group_id"]},
          {:class=>'enrollment_link'} %>
        <% end %>
      </div>
    <%
    }
  %>
  </div>
</div>