<%
#Portlet do MySolar que exibe as unidades curriculares nas quais o usuário possui perfil.
%>

<%
ucs = load_curriculum_unit_data() || []
%>

<div class="mysolar_portlets_portlet"  id="my_solar_portlet_1">
  <div class="mysolar_portlets_header">
    <img src="/images/unidade_curricular.png"/>
    <%=t(:my_solar_curriculum_units)%>
    <img src="/images/unidade_curricular.png" style="float:right;"/>
  </div>
  <div class="mysolar_portlets_content">
    <%
      ucs.each {|c|
      #Adiciona um curso na tela
      %>
      <div class="classeNomeCurso">
        <%= c["name"]%>
        <%= button_to c["name"],{:controller=>"application", :action=>"add_tab", :name => c["name"], :link => 'google.com'}%>
      </div>
    <%
    }
  %>
  </div>
</div>