<% curriculum_units = load_curriculum_unit_data() || [] %>

<div class="block_large">
  <div class="block_title">
    <h2><%= image_tag "icon_curriculum_unit.png", :alt=>t(:icon_curriculum_unit), :class=>(:block_title_icon) %><%= t(:my_solar_curriculum_units) %></h2>
  </div>

  <div class="mysolar_portlets_content">

    <ul id="mysolar_curriculum_unit_wrapper">
      <% if curriculum_units.length > 0%>
        <% curriculum_units.each { |curriculum_unit| %>
          <li>
            <% if ((user_session[:tabs][:opened].length >= Max_Tabs_Open.to_i) and (!user_session[:tabs][:opened].has_key?(curriculum_unit["name"]))) %>
              <% options = {} %>
              <% html_options = {:onclick => "javascript:alert('"+t(:curriculum_access_alert)+"');return false;", :class=>'link_content' } %>
            <% else %>
              <% options = {:controller => :application, :action => :add_tab,
                :context => Context_Curriculum_Unit,
                :name => curriculum_unit["name"],
                :id => curriculum_unit["id"],
                :allocation_tag_id => curriculum_unit["allocation_tag_id"]
              } %>
              <% html_options = {:class=>'link_content'} %>
            <% end %>

            <%= link_to curriculum_unit["name"], options, html_options %>

          </li>
        <% } %>
      <% else %>
        <%= t(:my_solar_curriculum_without) %>
      <% end %>
    </ul>

  </div>
</div>
