<%#
#Portlet do MySolar que exibe informações de Forum
%>

<div class="mysolar_portlets_portlet"  id="my_solar_portlet_5">
  <div class="mysolar_portlets_header">Fórum</div>
  <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>