<%#
#Portlet do MySolar que exibe as aulas
%>

<div class="mysolar_portlets_portlet"  id="my_solar_portlet_2">
  <div class="mysolar_portlets_header">Aulas</div>
  <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>