.block_large#mysolar_notification_portlet
  .block_title
    %h2
      %i.icon-warning
      = t(:notifications, scope: [:notifications, :list])

  .mysolar_portlets_content
    %ul#mysolar_notification_wrapper.notifications{ "data-link-list" => notifications_path }

:javascript
  $(function(){
    $(".notifications").load($(".notifications").data("link-list"));
  });