<%#
#Portlet do MySolar que exibe as Atividades Recentes
%>

<div class="mysolar_portlets_portlet" id="my_solar_portlet_3">
  <div class="mysolar_portlets_header">Atividades Recentes</div>
  <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>