= form_for :group do |f|
  %span
    = check_box_tag :all, :all, false, {:"data-children-names" => "group[group_id][]"}
    = label_tag :all, t(".select_all")
  %div
    = f.collection_check_boxes :group_id, @groups, :id, :code

:javascript

  $(function(){
    $("#all").nice_checkbox();
  });
