<!-- Portlets -------------------------->
  <table id="mysolar_panel_home">
	<tr>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header">Novidades</div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			  	  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header">Aulas</div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
			 	 </div>
			</div>
		</td>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header">Atividades Recentes</div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			</div>
		</td>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header">Agenda</div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>

				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header">Fórum</div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			</div>
		</td>
	</tr>
  </table>

<script>
	//Configurando Portlets
	$(function() {
		$( ".mysolar_portlets_coluna" ).sortable({
			connectWith: ".mysolar_portlets_coluna"
		});
		$( ".mysolar_portlets_coluna" ).disableSelection();
	});

</script>

