<div class="mysolar_portlets_limit">
  <div class="mysolar_portlets_wrapper" >
    <%=render '/portlets/curricular_unit'%>
    <!--
    <div class="mysolar_portlets_portlet mysolar_portlets_side">
      <div class="mysolar_header">
        <img alt="" src="/images/unidade_curricular.png" />
        <h1 class="mysolar_title">Teste</h1>
      </div>
      <div class="mysolar_portlets_content">
        <br />
      </div>
      -->
    </div>
    <%= render '/portlets/calendar' %>
</div>
  <!--<div class="mysolar_portlets_side">
  </div>-->
<div class="mysolar_portlets_limit">
  <div class="mysolar_portlets_wrapper">
    <div class="mysolar_portlets_portlet mysolar_portlets_main">
      <div class="mysolar_header">
        <img alt="" src="/images/unidade_curricular.png" />
        <h1 class="mysolar_title">Teste</h1>
      </div>
      <div class="mysolar_portlets_content">
        <br />
      </div>
    </div>
    <div class="mysolar_portlets_portlet mysolar_portlets_side">
      <div class="mysolar_header">
        <img alt="" src="/images/unidade_curricular.png" />
        <h1 class="mysolar_title">Teste</h1>
      </div>
      <div class="mysolar_portlets_content">
        <br />
      </div>
    </div>
  </div>
</div>