%h1#lightBoxDialogTitle= t(".title", name: @user.name)
.block_content
  .block_title
    %h2= t(".url")
  .block_right
    %div= ( @user.integrated? ? "https://www.moduloacademico.ufc.br/moduloacademico/guest/recuperarSenhaForm.do" : (  @token.nil? ? t(".reset_password_not_required") : edit_password_url(@user, reset_password_token: @token ) ) )
  