/*
 *= require fonts
 */

/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* layout geral */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

#page_title {
    border-bottom: 1px solid #D0D0D0;
}

#page_title h1{
    font-size  : 14pt;
    font-weight: 300;
}

/* amarelo: #F9DB43 */
/* azul:    #1F4782 (comparar com o que estamos utilizando -#003E7A) */

img{
    border: none;
}

body{
    background-color    : #fff;
    cursor              : default;
    margin              : 0px;
    padding             : 0px;
    font-family: 'PT Sans', sans-serif;
}

html, body {
    height: 100%;
}

label {
    color: #003e7a;
    white-space: nowrap;
    width: 90px;
    white-space: nowrap;
    text-align: right;
}

label.menor {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-size: 9pt;
    font-weight: normal;
    position:relative;
    bottom: 3px;
}

a {
    text-decoration : none;
    font-size       : 10pt;
}

a.black {
    color           : #333;
}
a.black:hover {
    color           : #444;
}

a.menor {
    color           : #222;
    font-size       : 9pt;
    text-decoration : underline;
    text-decoration : none;
}

a:hover{
    color           : #EEE;
}

select{
    color           : #222;
    background-color: #fff;
    border          : 1px solid #dedede;
}

p{
    padding-top: 15px;
    text-align: justify;
}

input{
    color: #222;
    border: none;
    border: 1px solid #dedede;
    font-family: 'PT Sans', sans-serif;
}

textarea{
    color           : #222;
    background-color: #fff;
    border          : 1px solid #dedede;
}

/*################################################################################*/

/* blocos */
/* div que engloba tudo */
.block_wrapper {
    width: 45em;
    margin: 0 auto 15px auto;
    overflow: hidden;
}

/* titulo do bloco */

.block_title {
    border-bottom: 2px solid #003E7A;
    padding-bottom: 2px !important;
}

.block_title h2 {
    display: inline;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 12pt;
}

/* definindo cor de background do conteudo e tamanho da fonte */
.block_content {
    font-size: 10pt;
    background-color: #F5F8FB;
    padding: 2px 0 7px 30px;
}

/************ Layout dos botões ****************/
.solar_button {
    color: #FFFFFF;
    background-color: #003E7A;
/*    background-image: -moz-linear-gradient(center top,#00519d,#003e7a);
    background-image: -webkit-linear-gradient(top,#00519d,#003e7a);*/
    background-image: -moz-linear-gradient(center top , #005CC0, #004898);
    background-image: -webkit-linear-gradient(top,#005CC0,#004898);
    vertical-align: baseline;
    font-weight:bold;
    padding:5px 8px;
    cursor: pointer;
}

.solar_button:hover {
    background-image: -moz-linear-gradient(center top , #016ee5, #005CC0);
    background-image: -webkit-linear-gradient(top,#016ee5,#005CC0);
}
.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 2px 4px;
    font-size: 8pt;
    margin:0 2px;
    border: 1px solid #DEDEDE;
    /*min-width: 60px;*/
    height: 26px;
}
.btn:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
}
.btn_default{
    color: #111;
    background-image: -moz-linear-gradient(center top , rgba(255,255,255,1), rgba(232,232,232,1));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,1),rgba(232,232,232,1));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
}
.btn_default:hover {
    border: solid 1px #d9d9d9;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0');
}

/******************************** Página de login: *******/
#login_wrapper {
    min-height: 100%;
    position: relative;
}
#login_header {
    background: #003e7a;
    height: 165px;
    text-align: center;
    border-bottom: 5px solid #F9DB43;
}

#login_header h1 {
    padding: 30px 0 0 0;
    margin: 0;
}

#login_header h2 {
    color: #ffffff;
    font-size: 14pt;
    font-variant: small-caps;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#login_content {
    width: 960px;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    font-size: 10pt;
    overflow: hidden;
}

#login_left_col{
    float: left;
    width: 650px;
    vertical-align: top;
    /*    border-right: 1px solid #A5B5CD;*/
    margin-right: 30px;
    padding-right: 10px;
}

#login_left_col p {

}

#login_right_col{
    /*    padding: 35px;*/
    float: left;
}

#login_footer_push, #login_footer {
    height: 60px;
}

#login_footer {
    text-align: center;
/*    height: 20px;*/
    margin: 0 auto;
    width: 100%;
/*    margin-top: 20px;*/
    bottom: 0;
    position: absolute;
}

#login_footer, #login_footer a {
    color: #bbb;
    font-size: 9pt;
}

#login_footer a:hover {
    text-decoration: underline;
}

#login_footer img:first-child {
    margin-right:20px;
}

#login_menu{
    border: none;
    font-variant: small-caps;
    border-bottom: 1px solid #A5B5CD;
    margin-top:3px;
    padding-bottom:5px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#login_menu a {
    font-size: 12pt;
    color: #A5B5CD;
    margin: 5px 10px 0 0;
}

#login_menu_active {
    color: #003e7a !important;
    padding-bottom: 3px;
    border-bottom: 2px solid #003e7a;
}

#login_menu a:hover {
    color: #003e7a !important;
}

#login_form_enter{
    position: relative;
    bottom: 28px;
    left: 208px;
    width: 77px;
    height: 27px;
    background-color: #fff;
    font-weight: bold;
    vertical-align: middle;
}

#login_form{
    width: 270px;
    height: 155px;

    padding-top: 5px;

    background-color: #E8EBEF;
    color: #003e7a;
    font-size: 11pt;
    line-height: 30pt;
}

#login_form label {
    width: 75px;
    margin-right: 5px;
    display: inline-block;
}

#login_form_header {
    width: 270px;
    border-bottom:1px solid #A5B5CD;
}

#login_form_tab_login, #login_form_tab_register {
    font-variant: small-caps;
    font-size: 12pt;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#login_form_tab_login{
    border-bottom:2px solid #003e7a;

    color: #003e7a;

    display: table-cell;
    height: 25px;

    line-height: 25px;
    
}

#login_form_tab_register{
    display: table-cell;
    height: 25px;
    width: 109px;

    line-height: 25px;

    padding-left: 10px;
    
}

#login_form_tab_register a{
    color: #A5B5CD;
    font-size: 12pt;
}

#login_form_tab_register a:hover {
    color: #003e7a;
}

.login_form_text_field{
    font-size: 11pt;
    width: 150px;
    height: 24px;
}

.login_form_text_field:focus {
    border: 1px solid #F9DB43;
}

#login_form_remember {
    margin-left: 85px;
    line-height: 20px;
    text-decoration: underline;
}

#login_form_submit {
    margin-top: 10px;
}

#login_form_submit input {
    float: right;
    margin-right: 35px;
}

#login_locale {
    margin-top: 5px;
}

#login_locale a {
    color: #bbbbbb;
    margin-right: 5px;
}

.form_buttons {
    text-align: center;
}

#flash_message {
    border: 1px solid #d0d0d0;
    padding: 5px 10px 4px 25px;
    margin: 10px 0;
    font-size: 10pt;
}

/*Classes de mensagens flash*/
.alert {
    font-weight: bold;
    color: #660000;
}

.notice {
    font-weight: bold;
    color: #2F4F2F;
}

#flash_message.alert {
    background: url('../alert.gif') no-repeat 5px center #fff6f6;
}

#flash_message.notice {
    background: url('../notice.gif') no-repeat 5px center #f5ffec;
}

/******** cadastro de novo usuario com layout do login **********/
.form_user_table {
    margin-top: 5px;
}

.form_user_table td {
    padding:2px 0;
}

.form_label {
/*    background-color:red;*/
/*    width: 170px;*/
    text-align: right;
    padding-right: 10px;
}

.form_label:first-child {
    width: 160px;
}

.form_label label {
    padding-left: 10px;
    padding-right: 10px;
}

.form_inner_label {
    padding: 0 10px 0 0;
}

.form_field {
/*    background-color: blue;*/
}

.form_field input{
    font-size: 10pt;
    line-height: 18pt;
    height: 20px;
}
.form_field input[type='password'] {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 311px;
}

td.form_error {
    color: #E03838;
    padding-left: 10px;
}

.special_needs_lines {
    display: none;
}

.form_usuario_label {
    text-align: right;
    width: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    white-space: pre-wrap;
    vertical-align: middle;
}

.login_form_link_return{
    position		: relative;
    top			: 10px;
    background-color	: #fff;
    color           	: #222;
    text-align          : center;
    line-height         : 25px;
}
.login_form_link_return:hover{
    color           	: #222;
    text-decoration 	: none;
}
.form_title{
    font-variant: small-caps;
    font-size: 12pt;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #003e7a;
    border-bottom: 2px solid #003e7a;
}
.form_requirement {
    font-style: italic;
    font-size: 9pt;
    color: #E03838;
    display: block;
    margin-right: 2px;
    margin-top: 2px;
    float: right;
}
.form_usuario_table{
    color: #fff;
    
    line-height: 15px;
    margin-bottom: 25px;

}
.form_usuario_tr{
    height: 30px;
}
.label_usuario{
    white-space         : pre-wrap;
}

#user_gender {
    width: 50px;
}

#address_number, #address_neighborhood, #country, #telephone {
    width: 105px;
}

#address_complement, #zipcode, #cell_phone {
    width: 97%;
}

#actions{
    margin-top          : 20px;
    height              : 40px;
    width		: 495px;
    margin-left         : 65px;
    vertical-align: bottom;
    margin-bottom        : 40px;
}
#voltar{
    height              : 40px;
    width               : 80px;
    float               :right;
    margin-right        : 10px;
}



/****** security ******/

#pwd_recovery p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.pwd_recovery_label{
    text-align: right;
    margin-right: 10px;
    color: #003E7A;
    font-size: 11pt;
    float: right;
}
#pwd_box{
    margin-left: 10px;
    padding: 5px 5px 5px 0;
}

#pwd_box table {
    margin-bottom: 5px;
}

#pwd_box td {
    padding: 5px 0;
}
#pwd_box td label {
    width: 70px;
}
.pwd_recovery_table{
    border-spacing:10px;
}

#pwd_box_buttons {
    margin-left: 165px;
}

/* Página da equipe */

.team .sector {
    color: #003e7a;
    margin-top: 5px;
}
