&nbsp;
&nbsp;
<div id="agenda_body" style="background-color: #FFF">
  <span class="page_title"><%= t(:agenda_title)%></span> <span class="page_title"><%=@curriculum_unit.name%></span>  <!-- TROCAR POR UMA PRÓPRIA -->
  <br/>

  <div id="agenda_new_activity">
   &nbsp;+&nbsp;<%= t(:new_activity)%>
  </div>
</div>
<br/>
&nbsp;

<!-- Conteudo da agenda -->

<div id="agenda_content">
  <div class="agenda_menu_left">
    <div>
      <div class="agenda_menu_left_title">
        <div style="float: left;"><%= image_tag "agenda/encontro presencial.png" %> </div>
        <div class="agenda_menu_left_title">Encontro</div>
      </div>
      &nbsp;
      <p class="agenda_menu_left_date">25/fev 30/mar</p>
      <p style="margin-top: -10px; padding-left: 38px; font-size: 11px;font-family: 'Trebuchet';"> 2011 </p>
    </div>
  </div>

  <div class="agenda_menu_ritgh">
    <div class="agenda_menu_ritgh_title">
      <%#=@agendas.title%>
    </div>
    <div class="agenda_menu_ritgh_text">
        aldsmbfhdsaklbfhskfbdkhsbsdkhbgsdhgbdskçabguadobgdabguosd sfgçbsduf ghpsdgu hsfilug herçgh r9e
        aldsmbfhdsaklbfhskfbdkhsbsdkhbgsdhgbdskçabguadobgdabguosd sfgçbsduf ghpsdgu hsfilug herçgh r9e
        aldsmbfhdsaklbfhskfbdkhsbsdkhbgsdhgbdskçabguadobgdabguosd sfgçbsduf ghpsdgu hsfilug herçgh r9e
        aldsmbfhdsaklbfhskfbdkhsbsdkhbgsdhgbdskçabguadobgdabguosd sfgçbsduf ghpsdgu hsfilug herçgh r9e
    </div>
  </div>

</div>
