<div>

    <%= image_tag "icon_lesson.png", :alt=>t(:icon_lesson) %>
    <span class="page_title"><%= t(:lesson_title) %></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:794px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <div>
      
      <% if @lessons %>
        tem aula...
      <% else %>
        tem aula não...
      <% end %>

      <br/><br/><span><%= link_to 'clique aqui pra testar...' %></span>
    </div>

</div>