<div style="margin:10px 0 40px 20px;">
  <% form_for :link, :url => {:controller => "support_material_file_editor", :action => "upload_link"} do |flink| %>
      <%= flink.text_field :link, :class => "search_keyword_inactive", :id => "link", :value => t(:support_text_field_link) %>
      <%= flink.submit t(:send), :id=>"confirm", :class=>"solar_button", :alt=> t(:send) %>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.search_keyword_inactive').click(function(){
        if(document.getElementById("link").value == '<%= t(:support_text_field_link) %>'){
     /*
     * se o conteúdo encontrado no elemento for iqual ao texto predeterminado e internacionalizado
     * então o campo de texto será limpado
     **/
        document.getElementById("link").value = "";
        }
      });
    });
</script>