&nbsp;
&nbsp;
<div id="agenda_body" style="background-color: #FFF">
  <span class="page_title"><%= t(:agenda_title)%></span>  <span class="page_title"><%=@curriculum_unit.name%></span>  <!-- TROCAR POR UMA PRÓPRIA -->
  <br/>

  <div id="agenda_new_activity">
    +<%= t(:new_activity)%>
  </div>
</div>
<br/>
&nbsp;
<!-- Conteudo da agenda -->
<div id="agenda_content">
  <div class="agenda_menu_left">
    <hr id="agenda_line"></hr>
    <div>
      <div class="agenda_menu_left_title"> 
        <div style="float: left;"><%= image_tag "chat_offline.png" %> </div>
        <div style="float: right; font-size: 12px; padding-top: 3px; padding-right: 8px;">Alguma coisa </div>
      </div>
      &nbsp;
      <p style="font-size: small;padding-left: 3px; font-weight: bold">25/FEV 30/MAR</p>
      <p style="margin-top: -10px; padding-left: 35px; font-size: small"> 2011 </p>
    </div>
  </div>

  <div class="agenda_menu_ritgh">

  </div>

</div>
