= render partial: 'editions/content_filter', locals: { list_class: 'list_lessons_import', url: import_list_lessons_path, optionals: nil, types: @types, back: false, type_id: nil, without_required_message: true, filter_number: 2, ignore_tab: true }
