@mixin item_button { // utilizado em _editions.scss
  position: relative;
  float: left;
  margin: 10px 5px 20px 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 9pt;
  width: 100px;
  a {
    width: auto;
    color: $color_main;
  }
  .btn {
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    margin: 0 auto 5px auto;
    display: block;
    width: 50px;
  }
}

@mixin dropdown_with_form_alert {
  span {
    display: block;
    font-size: 10pt;
    width: 100%;
    white-space: normal;
    text-align: center;
  }
}

@mixin ckeditor_content {
  word-wrap: break-word;
  min-height: 30px;
  p {
    margin-bottom: 0px;
    padding-bottom: 7px;
  }
  ul {
    list-style-type: disc;
  }
  a {
    text-decoration: underline;
    color: $color_main_text;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-left: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: arial, sans serif;
    font-weight: lighter;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 11px;
  }
  h6 {
    font-size: 8px;
  }
  address {
    font-style: italic;
  }
  .marker {
    background-color: yellow;
  }
}

/**
* TODO: código aparentemente inutilizado, verificar
*
#assignment_allocation_tag_id_9 {
  margin-top: 6px;
}
*/