// PLACEHOLDERS

/**
* Titulo principal da página/lightbox
*/
%page-title {
  border-bottom: 1px solid;
  border-bottom-color: #d0d0d0;
  overflow: hidden;
  padding-bottom: 5px;

  h1 {
    font-size: 14pt;
    zoom: 1;
    display: inline-block;
    *display: inline;
    float: left;
  }
}