$gutter: 20px;

$margin-top: 5px;

/* Portlet */
$portlet_width: 255px;
$portlet_height: 166px;
$portlet_main_padding: 5px;

$portlet_settings_width: 200px;
$portlet_settings_height: $portlet_height;
$portlet_settings_padding: $portlet_main_padding;