- unless @lessons.empty?
  = select_tag :lesson, options_from_collection_for_select(@lessons, "id", "name", (@lesson.nil? ? @lessons.first.id : @lesson.id))
- else
  = t(".no_lessons")

:javascript
  $(function(){
    // set lessons info
    $("#lessons").data("info", '#{@lessons_info}');

    $("select#lesson").change(function(){
      // get lessons info
      var lessons         = jQuery.parseJSON($("#lessons").data("info"));
      var selected_lesson = $(this).find("option:selected").index();
      var lesson_info     = lessons[selected_lesson];
      open_lesson(lesson_info.path, lesson_info.url);
    });
  });