<div>

    <%= image_tag "icon_lesson.png", :alt=>t(:icon_lesson) %>
    <span class="page_title"><%= t(:lesson_title) %></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:794px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <div>
      
      <% if @lessons %>
        <% @lessons.each do |lesson| %>
          <%= label "lb_lesson", lesson.name, :onclick => "javascript:show_lesson('#{lesson.address}')", :class=>'enrollment_link' %><br/>
        <% end %>
      <% else %>
        tem aula não... 
      <% end %>

    </div>

</div>