%frameset{rows: "52,*", frameborder: 0, framespacing: 0}
  %frame{name: "frame_lesson_header", src: "#{header_lesson_path(@lesson.id)}", target: "_self", scrolling: "no", noresize: true}
  %frame{name: "frame_lesson_content", src: "#{content_lesson_path(@lesson.id)}", target:"_self"}
