<div id="lesson_area">
  <div id="lesson_header">
    <%=@curriculum_unit.name%> > <span id="lesson_name"></span>
  </div>
    <div id="lesson_content_header">
      <% lessons = session[:lessons].nil? ? nil : session[:lessons] %>

      <% if !lessons.nil? %>

        <% count=1 %>
        <% lessons.each do |l| %>
            <%= link_to count.to_s, onclick="javascript:reload_frame('#{l.address}','#{l.name}')", :class => 'enrollment_link' %>
            <% count=count+1 %>
        <% end %>

      <% end %>
      Ir para aula ...
    </div>

  <% atual_lesson = session[:opened_lesson].nil? ? nil : Lesson.find(session[:opened_lesson])%>
</div>

<script type="text/javascript">  
  window.parent.frame_lesson_content.location.href = "<%=atual_lesson.address%>";
  $("#lesson_name").html("<%=atual_lesson.name%>");
</script>