<!-- meu Solar -->

<div id="mysolar_content">
	
	<div class="widget">
		<div class="widget_head">Novidades</div>...
	</div>

	<div class="widget">
		<div class="widget_head">Aulas</div>...
	</div>

	<div class="widget">
		<div class="widget_head">Atividades Recentes</div>...
	</div>

	<div class="widget">
		<div class="widget_head">Agenda</div>...
	</div>

	<div class="widget">
		<div class="widget_head">Fórum</div>...
	</div>

	<div class="widget">
		<div class="widget_head">Tweets</div>...
	</div>
</div>

<div id="mysolar_sidebar">
	<%#= render :partial => "sidebar" %>

	<div id="mysolar_boxid">
		<div id="mysolar_id">
			<%= image_tag @user.photo.url(:small), :alt => "Imagem do usuário #{@user.nick}" %><br/>
			<%= @user.nick%>
		</div>
		<div id="mysolar_options">
			Perfil <br />
			Portfolio <br />
			Blog <br />
			Personalizar <br />
		</div>
	</div>
</div>

<div id="mysolar_topbar">
	<%#= render :partial => "topbar" %>

	<div id="mysolar_logo">
		<%= image_tag 'solar.png', :alt => "Logo do Solar" %><br/>
	</div>
	<div id="mysolar_top_options">	
		ajuda - 

		<% if current_user %>
			<%= link_to "Sair", logout_path %>
		<% end %>
	</div>
</div>

