#dimmed_div{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:15;
    background-color:#000;
}

#lesson_content, #lessonf {
	display: none;
	position: absolute;
	margin:  0;
	width: 96%;
	height: 94%;
	left: 1%;
	top: 3%;
	border: 1px solid #555;
	background-color: #FFF;
	z-index: 20;
}

#lessonf {
  position: relative;
  display: block;
  left: 0px;        
  width: 100%;
  border: none;
  height: 100% !important;
  top: 0px;
}

#lesson_external_div {
	z-index:  -10;
}

#close_button {
    position : absolute;
    top : 3%;
    left : 97%;
    margin-left : -15px;
    margin-top  :   7px;
    width  : 15px;
    height : 15px;
    border : 0px;
    cursor : pointer;
    background-image: url('/assets/lesson_close.png');
    background-repeat: no-repeat;
    background-position:0px 0px;
    font-size : 3px;
    z-index   : 45;
}
#close_button:Hover {
	cursor      : pointer;
	/*background-position: 1px 1px;*/
}

#min_button {
    position : absolute;
    top : 3%;
    left : 97%;
    margin-left : -32px;
    margin-top  :   7px;
    width  : 15px;
    height : 15px;
    border : 0px;
    cursor : pointer;
    background-image: url('/assets/lesson_minimize.png');
    background-repeat: no-repeat;
    font-size : 3px;
    z-index : 25;
}

#min_button:Hover {
	cursor      : pointer;
	/*background-position: 1px 1px;*/
}

#close_tab_button {
  position    : absolute;
	top         : 3px;
	right       : 2px;
	width       : 15px;
	height      : 15px;
	border      : 0px;
	cursor      : pointer;
	background-image: url('/assets/lesson_close.png');
  background-repeat: no-repeat;
	background-position:0px 0px;
	font-size   : xx-small;
	z-index     :  30;
}
#close_tab_button:Hover {
	cursor      : pointer;
	/*background-position: 1px 0px;*/
}

#min_tab {
	display:none;
	position:absolute;
	bottom:0px;
	right: 190px;
        /*33px;*/
	height:19px;
	width:200px;
	z-index:25;
	background-color:#1D4786;
	color: #fff;
	font-family: 'Myriad Pro','Trebuchet',Arial;
        font-weight: lighter;
        font-size: 11pt;
	padding-top: 1px;
	cursor:pointer;
}

#frame_content {
	position: absolute;
	margin:   0;
	width:    100%;
	height:   100%;
	border:   0px;
	left:     0;
	top:      0;
	z-index:  10;
}

.frame_navegation {
	position: absolute;
	margin:   0;
	width:    100%;
	height:   100%;
	border:   0px;
	left:     0;
	top:      0;
	z-index:  10;
}
.ui-effects-transfer {
  	border: 1px dotted black;
}