body {
  margin: 36px 0 0 0;
  padding: 0;
}

body, a {
  font-family: 'PT Sans', sans-serif;
}

.slide-settings li.settings {
  background: url("portlet-facebook-icon_settings.png") no-repeat 5px center;
}

.slide-settings li.newsfeed {
  background: url("portlet-facebook-icon_newsfeed.png") no-repeat 5px center;
}

.slide-settings li.events {
  background: url("portlet-facebook-icon_events.png") no-repeat 5px center;
}

.slide-settings li.group01 {
  background: url("portlet-facebook-icon_group_01.png") no-repeat 5px center;
}

.slide-settings li.group02 {
  background: url("portlet-facebook-icon_group_02.png") no-repeat 5px center;
}

.slide-settings li.group03 {
  background: url("portlet-facebook-icon_group_03.png") no-repeat 5px center;
}

.post {
  font-size: 10pt;
  background-color: white;
  margin: 6px;
}

.head {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 255px;
  padding: 4px;
  margin: 0px;
  background-color: #f6f7f8; 
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CFCFCF;
}

.head a {
  text-decoration: none;
  border-bottom: none;
  margin-right: 8px;
}

.head a:hover i {
  color: #000000;
}

.head .feed{
  position: relative;
  font-size: 10pt;
  color:#1E90FF
}

.head .common{
  color:#999
}

.head .commondark{
  color:#666
}

form{
  border: 1px solid #bdc7d8;
}

.bar_input{
  height: 28px;
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
}

.new_post input{
  height: 22px;
  width: 61px;
  border:1px solid #29447e;
  background-color: #5b74a8;
  color:  #fff;
  font-family: Ubuntu;
  padding-top: 1px;
  font-size: 9pt;
  font-weight: bold;
  float:right;
  margin-top:3px;
  margin-right: 2px;
}

.new_post input:hover{
  cursor: pointer;
}

.new_post{
  display:none;
  overflow: hidden;
  padding-left: 4px;
  padding-top: 10px;
  padding-right: 25px;
}

.new_post textarea {
  height: 50px;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 10pt;
  padding: 2px;
  border: none;
  overflow: hidden;
}

.new_post textarea.active {
  height: 70px;
  overflow: auto;
}

.user_avatar {
  width: 24px;
  float: left;
}

.post_content {
  margin-top: 4px;
  margin-left: 4px;
  padding-bottom: 4px;
}

.post_image {
  display: block;
}

.post_image img {
  width: 200px;
  height: auto;
  margin-top: 3px;
}

.post_url {
  display: block;
  margin-top: 4px;
}

.post_url a {
  color: #204783;
}

.post_header {
  padding-left: 4px;
  padding-top: 5px;
  overflow: hidden;
}

.post .user_info {
  float: left;
  margin-left: 7px;
  margin-top: -2px;
}

.post .username {
  //color: $facebook_main_color;
  color: #3b5c9a;
  font-weight: bold;
  display: block;
}

.post .post_actions {
  background-color: white;
  margin-top: 2px;
  padding: 5px 4px 2px 4px;
}
.post .post_actions a {
  //color: $facebook_main_color;
  color: #3b5c9a;
  margin-left: 3px;
}

.post .date {
  //color: $color_disabled;
  color: #777777;
  position: relative;
  font-size: 11px;
}

.post .img {
  width:  200px;
  height: auto;
}

.new_feed{
  color: #ffffff;
  background-color: #3F6488;;
  padding: 2px;
}

.star{
  position: relative;
  left: -22px;
  color: #FFAE03;
  font-size: 16px;
  top: -7px;
  display: none;
}