button.btn {
	padding: 2px 3px !important;
}
.empty {
	color:#d9d9d9 !important;
}

/* TELA DE LOGIN */
#bar-brazil .bar ul {
    float:right;
    width: 319px;
    margin-top: 16px;
}

#screen-login {
    top: 0;
}

#login-form, #login-register {
    height: 235px;
}

#link{
    margin-top: 6px;
    text-align: center;
}

#login-bt, #register-bt {
    height: 26px;
}

#register-bt {
    width: 139px;
}

#submit-cpf {
    margin-top: 98px;
}

.flash_message_wrapper {
    margin-top: 10px;
    line-height: 0;
}

#flash_message {
    line-height: 12pt;
}

.menu_footer ul li {
    display: inline;
}

#login_footer_push {
    height: 15px;
}

.fb-like {
    margin-bottom: 15px;
}