button.btn {
	padding: 2px 3px !important;
}
.empty {
	color:#d9d9d9 !important;
}

.block_title {
    z-index: 0;
}

.block_title h2 i {
    margin-right: 4px;
}

/* TELA DE LOGIN */
#bar-brazil .bar ul {
    float:right;
    width: 319px;
    margin-top: 16px;
}

#screen-login {
    top: 0;
}

#login-form, #login-register {
    height: 235px;
}

#link{
    margin-top: 6px;
    text-align: center;
}

#login-bt, #register-bt {
    height: 26px;
}

#register-bt {
    width: 139px;
}

#submit-cpf {
    margin-top: 98px;
}

.flash_message_wrapper {
    margin-top: 10px;
    line-height: 0;
}

#flash_message {
    line-height: 12pt;
}

.menu_footer ul li {
    display: inline;
}

#login_footer_push {
    height: 15px;
}

.fb-like {
    margin-bottom: 15px;
}

/* TELA DE CADASTRO */
#register-steps ul li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.form_label{
    vertical-align: top;
    padding-top: 15px;
}

#special_needs .form_label,
#gender .form_label,
#birthdate .form_label{
    padding-top: 0;
}

/* BARRA MEUSOLAR */
.tabs_close {
    top: -5px;
}

/* TELA DE MENSAGENS */
ul.message_menu_listbox {
    margin: -20px 0 0 -12px;
    padding: 0;
}

/* TELA DE MATRÍCULA */
.filter_enrollment .btn {
    margin-top: -12px;
}

.enrollment_label, .enrollment_label_search {
    margin-top: 11px;
    margin-right: 2px;
    vertical-align: top;
}
.ui-combobox {
    z-index: 90;
}