.content{ :"data-url" => open_support_material_files_path(file) }
  %iframe#content_support_material_file{ title: file.title, src: file.path, width: '100%', height: '100%', name: 'content_support_material_file', target: '_self', frameborder: 0, framespacing: 0 }