
<form id="frm1">
	<div class="block_wrapper">
		<div class="block_title">
		  <h2>[Cadastro de material de apoio]</h2>
		</div>
		<div class="block_content block_content_text">
			<%= places_nav_panel_helper %>
		</div>
	</div>
</form>
















