<!-- Portfolio -->
<div class="block_wrapper">
  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group) %>&nbsp;<%= @group.code %></h2>
  </div>

  <!-- lista de alunos -->
  <div id="individual_activity" class="block_content">

    <table class="tb_list">
      <tbody>
        <% @students.each_with_index do |student, idx| %>
          <tr class="lines">
            <td><%=link_to student["name"], {:controller => :scores, :action => :show, :student_id => student["id"]}, {:class => 'link_content'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>