// = require jquery
// = require jquery_ujs
// = require jquery.qtip.min
// = require jquery.sticky

// = require jquery-ui
// = require jquery.ui.datepicker-en-US
// = require jquery.ui.datepicker-pt-BR
// = require jquery.tablesorter
// = require jquery.tablesorter.widgets

// = require jquery.mask.min
// = require jquery.cookie
// = require jquery.dropdown

// = require intro

// = require mysolar
// = require lightbox
// = require menus
// = require facebook

// = require messages
// = require lessons

// = require fancybox
// = require helpers
// = require nice

// = require tooltip
// = require tablesorter

// = require loading_items

/**
 * Retira o menu de usuário na barra superior ao clicar em outro canto da tela
 */

mysolar_cookie_id = "_mysolar_menu_opened";

 $(function() {
  $("#change_picture").fancybox({
    maxWidth  : 500
  });
});

 $(function(){
  $("body").click(function(e) {
    if((e.target.id !== 'mysolar_top_submenu') && (e.target.id !== 'mysolar_top_user_nick') && (e.target.id !== 'image_user')){
      $("#mysolar_top_submenu").slideUp(150);
      $('#mysolar_top_submenu_label').removeClass('mysolar_top_submenu_label_selected');
      $('#mysolar_top_submenu_label').addClass('mysolar_top_submenu_label_regular');
    }
  });
});

 $(function(){
  $("body").click(function(e) {
    if((e.target.id !== 'mysolar_submenu_help') && (e.target.id !== 'help_top')){
      $("#mysolar_submenu_help").slideUp(150);
      $('#mysolar_top_help').removeClass('mysolar_top_submenu_label_selected');
      $('#mysolar_top_help').addClass('mysolar_top_submenu_label_regular');
    }
  });
});

/**
 * Menu Lateral
 */

 $(function() {
  var menu_id, li;

  //Highlight dos menus
  $('.mysolar_menu_list a, .mysolar_menu_title').click(function () {
    li = $(this).closest('li');
    // o li tem um data menu, que somado ao id da oferta, deve corresponder ao cookie
    menu_div_id  = li.data('menu');
    cookie_value = menu_div_id+$(".mysolar_menu").data("offer");

    //se for menu interno à uc
    if (cookie_value == li.prop("id")) 
      setCookieMenu(cookie_value);
    else // se for menu geral
      setCookieMenu(menu_div_id, "");

    $(".mysolar_menu_active").removeClass("mysolar_menu_active")
    li.addClass('mysolar_menu_active');
  });

  // clicar para abrir aba
  $("tbody.offers td a").click(function(){
    id = $(this).prop("href").split("&")[2].split("=")[1];
    setCookieMenu("menu-parent_0-"+id, id);
    $('li#parent_0').addClass('mysolar_menu_active'); // seta o Inicio
    $.removeCookie(mysolar_cookie_id); // remove cookie de home
  });

  $("#breadcrumb a").click(function(){
    // links que possuem id são referentes a aba de UC
    id = $(this).prop("href").split("&")[2].split("=")[1];
    // links que possuem mid são referentes a algo no menu;
    mid = getURLParameter($(this).prop("href"), "mid");
    if (id!=null && mid==null) // se for um link para o início da uc
      setCookieMenu("menu-parent_0-"+id);
  });

  // NÃO TÁ FUNCIONANDO
  // ao clicar na aba "home"
  $(".general_context a").click(function(){
    $.removeCookie(mysolar_cookie_id);
  });

  function getURLParameter(url, name) {
    return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
  };

  //Função de criação do cookie
  function setCookieMenu(cookie_value, tab) {
    console.log("setando cookie "+cookie_value+" - "+ tab);
    if (tab == undefined)
      tab = $(".mysolar_menu").data("offer");

    $.cookie(mysolar_cookie_id+tab, cookie_value, { path: '/' });
  };

  //Adição das classes de menu ativo enquanto o cookie existir
  li_id = $.cookie(mysolar_cookie_id+$(".mysolar_menu").data("offer"));
  // $(".mysolar_menu_active").removeClass("mysolar_menu_active");
  $('li#'+li_id).addClass('mysolar_menu_active').addClass('mysolar_title_menu_active');

  // NÃO TÁ FUNCIONANDO QD TÁ NO INÍCIO
  // remover o cookie ao fechar aba
  $(".tabs_close").click(function(){
    console.log("oi");
    console.log($(this).prop("id"));
    console.log(mysolar_cookie_id);
    console.log(mysolar_cookie_id+$(this).prop("id"))

    // oi application.js:33430
    // 119 application.js:33431
    // _mysolar_menu_opened application.js:33432
    // _mysolar_menu_opened119

    // _mysolar_menu_opened119

    var cookie_value = mysolar_cookie_id+$(this).prop("id");
    $.removeCookie(cookie_value);
  });

  if($('.mysolar_menu_title_single > a').children("div.menu_icon_circle").length == 0)
    $('.mysolar_menu_title_single > a').prepend('<div class="menu_icon_circle">&bull;</div>');

  if($('.mysolar_menu_title_multiple').children("div.menu_icon_arrow").length == 0)
    $('.mysolar_menu_title_multiple').prepend('<div class="menu_icon_arrow">&#9662;</div>');

  // abre menu corrente
  $('.open_menu').click();
});

/**
* Alertas
*/
$(window).load(function(){
  $(".flash_message_wrapper").sticky({
    topSpacing: 0,
    center:true,
    className:"sticky-float"
  })
})

function showLocalTime(container, server_time) {
  if (!$('#'+container).length) return;
  updateTime(container, server_time);
}

function updateTime(el, server_time) {
  var localtime = new Date(new Date().setHours(server_time[0], server_time[1], server_time[2]))
  localtime.setSeconds(localtime.getSeconds()+1);
  $("#"+el).html(formatNumber(localtime.getHours()) + ":" + formatNumber(localtime.getMinutes()) + ":" + formatNumber(localtime.getSeconds()));
  setTimeout(function(){updateTime(el, [localtime.getHours(), localtime.getMinutes(), localtime.getSeconds()]);}, 1000);
}

function formatNumber(num) { return (num < 10) ? "0" + num : num; }

function solar_help() {
  introJs()
  .setOptions({
    showStepNumbers: false,
    nextLabel: "<%= I18n.t(:tutorial_next) %>",
    prevLabel: "<%= I18n.t(:tutorial_previous) %>",
    skipLabel: "<%= I18n.t(:tutorial_skip) %>",
    doneLabel: "<%= I18n.t(:tutorial_done) %>",
    steps: [
    {
      element: '#mysolar_logo',
      intro: 'Bem-vindo ao Solar 2.0.'
    },
    {
      element: '#mysolar_identity',
      intro: 'Barra superior: Nesta barra você visualiza informações sobre o seu usuário, hora do sistema, ajuda e sair do Solar'
    },
    {
      element: '#mysolar_top_submenu_label',
      intro: 'Seu usuário atual. Clique para visualizar mais informações, editar seu perfil ou alterar sua foto'
    },
    {
      element: '#mysolar_tabs',
      intro: 'Abas onde você pode navegar entre o MeuSolar e os Cursos que tiver acessado na sessão'
    },
    {
      element: '#mysolar_suggestions',
      position: 'left',
      intro: 'Aqui você pode enviar suas críticas, sugestões e comentários para que possamos melhorar o Solar 2.0'
    },
    {
      element: '#mysolar_open_lesson',
      position: 'left',
      intro: "Aqui você pode acessar a aula que você tiver minimizado"
    },
    {
      element: '#mysolar_sidebar',
      intro: 'Menu de navegação'
    },
    {
      element: '#mysolar_content',
      intro: 'Área de conteúdo'
    },
    {
      element: '#mysolar_top_help',
      position: 'left',
      intro: 'Caso deseje ver este tutorial novamente, basta clicar em Ajuda e depois em Contextual.<br><br>Aproveite o novo <b>Solar 2.0!</b>'
    }
    ]
  })
.start();
}
