/*
Precisamos:
	- Tratar acentos;
	- Manter valores selecionados em caso de refresh
*/


$(document).ready(function(){

	var preselectedCourses = null;
	var preselectedCourseVal = $('#selectedCourseValue').val();
	var preselectedCourseName = $('#selectedCourseName').val();
	if ((preselectedCourseVal != '') && (preselectedCourseName != ''))
		preselectedCourses = [{allocation_tag: preselectedCourseVal, name: preselectedCourseName}];
	
	$( "#txtCourse").tokenInput(search_urls["course"], {
		hintText: hints["course"],
		searchingText: messages["searching"],
		queryParam : 'search',
		tokenLimit: 1,
		propertyToSearch: 'name',
		noResultsText: messages["noResults"],
		prePopulate: preselectedCourses,
		onAdd: function (item) {
            $('#txtSemester').tokenInput('clear');
            $('#txtCurriculumUnit').tokenInput('clear');
            $('#txtGroup').tokenInput('clear');
            $('#token-input-txtSemester').focus();
            $('#selectedCourseValue').val(item.allocation_tag_id);
            $('#selectedCourseName').val(item.name);
        },
        onDelete: function (item) {
            $('#txtSemester').tokenInput('clear');
            $('#txtCurriculumUnit').tokenInput('clear');
            $('#txtGroup').tokenInput('clear');
            $('#token-input-txtCourse').focus();
            $('#selectedCourseValue').val('');
            $('#selectedCourseName').val('');
        }
	});

	var preselectedSemesters = null;
	var selectedSemesterVal = $('#selectedSemesterValue').val();
	var selectedSemesterName = $('#selectedSemesterName').val();
	if ((selectedSemesterVal != '') && (selectedSemesterName != ''))
		preselectedSemesters = [{allocation_tag: selectedSemesterVal, semester: selectedSemesterName}];

	$( "#txtSemester").tokenInput(function() {
			if ($("#txtCourse").tokenInput("get").length > 0) 
				return search_urls["semester"]+"?chained_filter="+ $('#selectedCourseValue').val() + "&";
			return search_urls["semester"];
		}, {
		hintText: hints["semester"],
		searchingText: messages["searching"],
		noResultsText: messages["noResults"],
		queryParam : 'search_semester',
		tokenLimit: 1,
		propertyToSearch: 'semester',
		prePopulate: preselectedSemesters,
		onAdd: function (item) {
            $('#txtCurriculumUnit').tokenInput('clear');
            $('#txtGroup').tokenInput('clear');
            $('#token-input-txtCurriculumUnit').focus();
            $('#selectedSemesterValue').val(item.allocation_tag_id);
            $('#selectedSemesterName').val(item.semester);
        },
        onDelete: function (item) {
            $('#txtCurriculumUnit').tokenInput('clear');
            $('#txtGroup').tokenInput('clear');
            $('#token-input-txtSemester').focus();
            $('#selectedSemesterValue').val('');
            $('#selectedSemesterName').val('');            
        }
	});
	

	var preselectedCurriculumUnits = null;
	var selectedCurriculumUnitVal = $('#selectedCurriculumUnitValue').val();
	var selectedCurriculumUnitName = $('#selectedCurriculumUnitName').val();
	if ((selectedCurriculumUnitVal != '') && (selectedCurriculumUnitName != ''))
		preselectedCurriculumUnits = [{allocation_tag: selectedCurriculumUnitVal, name: selectedCurriculumUnitName}];
	
	$( "#txtCurriculumUnit").tokenInput(function() {
			if ($("#txtSemester").tokenInput("get").length > 0) 
				return search_urls["curriculumUnit"]+"?chained_filter="+  $('#selectedSemesterValue').val() + "&";
			if ($("#txtCourse").tokenInput("get").length > 0) 
				return search_urls["curriculumUnit"]+"?chained_filter="+  $('#selectedCourseValue').val() + "&";
			return search_urls["curriculumUnit"];
		}
		, {
		hintText: hints["curriculumUnit"],
		searchingText: messages["searching"],
		noResultsText: messages["noResults"],
		queryParam : 'search_curriculum_unit',
		tokenLimit: 1,
		propertyToSearch: 'name',
		prePopulate: preselectedCurriculumUnits,
		onAdd: function (item) {
		    $('#txtGroup').tokenInput('clear');
            $('#token-input-txtGroup').focus();
            $('#selectedCurriculumUnitValue').val(item.allocation_tag_id);
            $('#selectedCurriculumUnitName').val(item.name);
		},
		onDelete: function(item) {
            $('#txtGroup').tokenInput('clear');
			$('#token-input-txtCurriculumUnit').focus();
	        $('#selectedCurriculumUnitValue').val('');
            $('#selectedCurriculumUnitName').val('');
		}
		
	});


	var preselectedGroups = null;
	var selectedGroupVal = $('#selectedGroupValue').val();
	var selectedGroupName = $('#selectedGroupName').val();
	if ((selectedGroupVal != '') && (selectedGroupName != ''))
		preselectedGroups = [{allocation_tag: selectedGroupValue, code: selectedGroupName}];

	$( "#txtGroup").tokenInput(function() {
			if ($("#txtCurriculumUnit").tokenInput("get").length > 0) 
				return search_urls["group"]+"?chained_filter="+ $('#selectedCurriculumUnitValue').val(); + "&";
			if ($("#txtSemester").tokenInput("get").length > 0) 
				return search_urls["group"]+"?chained_filter="+ $('#selectedSemesterValue').val() + "&";
			if ($("#txtCourse").tokenInput("get").length > 0) 
				return search_urls["group"]+"?chained_filter="+ $('#selectedCourseValue').val() + "&";
			return search_urls["group"]
		}, {
		hintText: hints["group"],
		searchingText: messages["searching"],
		noResultsText: messages["noResults"],
		queryParam : 'search',
		tokenLimit: 1,
		propertyToSearch: 'code',
		prePopulate: preselectedGroups,
		onAdd: function (item) {
            $('#token-input-txtGroup').focus();
            $('#selectedGroupValue').val(item.allocation_tag_id);
            $('#selectedGroupName').val(item.code);
		},
		onDelete: function(item) {
			$('#token-input-txtGroup').focus();
            $('#selectedGroupValue').val();
            $('#selectedGroupName').val();
		}
	});

	$('.placesNavPanel input[type="button"]').click(function(){
		showNavPanelMenu(this);
	});

	$(window).click(function(e){
		if ($(e.target).parents('#navPanelMenu').length == 0 && $(e.target).filter('.placesNavPanel input[type="button"]').length == 0)
			$('#navPanelMenu').remove();	
	});


	//Chamando a lista completa de elementos quando se aperta a seta para baixo no teclado.
	//$('#token-input-txtCourse').keydown(function(e){
	
	$('[id^="token-input-"]').keyup(function(e){
    	if (e.keyCode == 40) { 
	    	if (isSearchPanelClosed(this)){
				$(this).val(' ');
				$(this).trigger('keydown');
			}
    	}

    	if (e.keyCode == 9) { 
	    	if (isSearchPanelClosed(this)){
		    	var $parent = null;
		    	if (e.shiftKey)
			    	$parent = $(this).parent().parent().parent().prev();
		    	else
		    		$parent = $(this).parent().parent().parent().next();
				if ($parent != undefined)
					$parent.find('[id^="token-input-"]').focus();
			}
    	}
	});
});

function isSearchPanelClosed(element){
	return ($(element).siblings('tester').html() == '');
}


function showNavPanelMenu(element){
	if ($('#navPanelMenu').length)
		$('#navPanelMenu').remove();

	var pnl = '<ul id="navPanelMenu" style="display:none;opacity:0.9">';
	pnl += '<li><a href="#" onclick="return false;">[Novo]</a></li>';
	pnl += '<li><a href="#" onclick="return false;">[Alterar]</a></li>';
	pnl += '<li><a href="#" onclick="return false;">[Excluir]</a></li>';
	pnl += '<li><a href="#" onclick="return false;">[Ofertar]</a></li>';
	pnl += '</ul>';

	//var left = $(element).position().left + $(element).outerWidth();
	$('body').append(pnl);
	
	//$('#navPanelMenu').css('left', ''+ left + 'px')
	$('#navPanelMenu').position({
		my: 'left top',
		at: 'right top',
		of: $(element)
	});

	$('#navPanelMenu').slideDown('fast');
}

/* Retorna as allocationTagIds selecionadas*/
function navPanelSelectedItems(){
	var $selectedItem = $("#txtGroup").tokenInput("get")[0];
	if ($selectedItem == undefined) 
		$selectedItem = $( "#txtSemester").tokenInput("get")[0];
	if ($selectedItem == undefined) 
		$selectedItem = $( "#txtCurriculumUnit").tokenInput("get")[0];
	if ($selectedItem == undefined) 
		$selectedItem = $( "#txtCourse").tokenInput("get")[0];

	if ($selectedItem == undefined) 
		return [];
	
	return $selectedItem.allocation_tag_id
}


