.info_user {
  .block_left {
    width: auto;
  }
  .block_left {
    vertical-align: top;
  }
  .block_photo {
    border: 1px solid $border_color_another_gray;
    margin-top: 3px;
  }
  div {
    padding-top: 3px;
  }
}
tr.lines {
  td {
    padding: 6px 8px 4px;
  }
}
.border {
  border-top: 1px solid $border_color_another_gray;
}

.permission {
  color: $color_green !important;
}

.added-permission {
  color: $added_permission_color !important;
}

.removed-permission {
  color: $removed_permission_color !important;
}

.edition-enabled {
  background-color: $background_light_beige;
}

label.permissions-search-text {
  font-size: 10pt;
  vertical-align: text-bottom;
  color: $color_black;
}

table.tb_allocation .dropdown ul li a{
  white-space: inherit;
}

.allocation_requested_list{
  .block_toolbar_left{
    select{
      vertical-align: top;
    }
    input{
      padding: 2px;
      vertical-align: middle;
    }
    .btn{
      padding-bottom: 2px;
    }
  }

  .form_requirement {
    position: relative;
    text-align: center;
    top: -6px;
    color: $color_contrast_text;
  }
}

.title-warning {
  background-color: $background_dark_gray;
  color: $color_gray_text;
  padding: 7px 5px 7px 5px;
  font-size: 10pt;
  margin-bottom: 15px;
}

.responsibles_list .block_content_toolbar{
  padding: 0;
  input#search{
    margin-left: 0;
  }
}

#list_users{
  input{
    font-size: 9pt;
  }
  input#name{
    width: 120px;
  }
  input#username{
    width: 69px;
  }
  input#email{
    width: 145px;
  }
}

.indication{
  color: $color_black;
  .global_item, .specific_item {
    @include item_button;
  }

  .global, .specific{
    height: 111px;
  }

  .global_text, .specific_text{
    padding-top: 13px;
  }
}

.import-users{
  .inline, .input{
    display: inline-block;
  }
}
