.info_user {
  .block_left {
    width: 70px;
  }
  .block_left {
    vertical-align: top;
  }
  .block_photo {
    border: 1px solid #dedede;
    margin-top: 3px;
  }
  div {
    padding-top: 3px;
  }
}
tr.lines {
  // input {
  //  padding: 5px 0 0 5px;
  // }
  td {
    padding: 6px 8px 4px;
  }
}
.border {
  border-top: 1px solid #dedede;
}

.added-permission {
  color: blue !important;
}

.removed-permission {
  color: red !important;
}

.permission {
  color: green;
}

.edition-enabled {
  background-color: #fefae6;
}

label.permissions-search-text {
  font-size: 10pt;
  vertical-align: text-bottom;
}

table.tb_allocation .dropdown ul li a{
  white-space: inherit;
}

.allocation_requested_list{
  .block_toolbar_left{
    select{
      vertical-align: top;
    }
    input{
      padding: 2px;
      vertical-align: middle;
    }
    .btn{
      padding-bottom: 2px;
    }
  }

  .form_requirement {
    position: relative;
    text-align: center;
    top: -6px;
    color: #dca727;
  }
}

.title-warning {
  background-color: #E8EFF6;
  color: #4B4B4B;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
}

.responsibles_list .block_content_toolbar{
  padding: 0;
  input#search{
    margin-left: 0;
  }
}