// Mensagens flash e alertas

.alert {
  font-weight: bold;
  color: #660000;
}

.notice {
  font-weight: bold;
  color: #2F4F2F;
}

#flash_message {
  border-color: #d0d0d0;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px 4px 25px;
  margin: 10px 0;
  font-size: 10pt;
  &.notice {
    background: url('/assets/notice.gif') no-repeat 5px center #f5ffec;
  }
  &.alert {
    background: url('/assets/alert.gif') no-repeat 5px center #fff6f6;
  }
}

label {
  color: black;
  display: inline-block;
  width: 140px;
  .menor {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-size: 8pt;
    font-weight: normal;
  }
}

.text_alert { // FIXME: verificar se é realmente necessário
  font-size: 10pt;
  width: auto;
  color: #e64d4d;
}