// Mensagens flash e alertas

.alert {
  color: $alert_color;
}

.notice {
  color: $notice_color;
}

.warning {
  color: $color_contrast_text_alert;
}

.flash_message_wrapper {
  display: block;
}

#flash_message {
  position: fixed;
  z-index: 1;
  border-color: $border_color;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px 4px 25px;
  font-size: 12pt;
  min-height: 20px;
  &.notice {
    background: url('/assets/notice.gif') no-repeat 5px center $background_light_green;
  }
  &.alert {
    background: url('/assets/alert.gif') no-repeat 5px center $background_light_red;
  }
  &.warning {
    background: url('/assets/warning.png') no-repeat 5px center $warning_background;
  }
  &.blue_warning{
    background: $blue_warning_background;
    cursor: pointer;
    padding: 5px 10px 4px 10px;
    .icon-plus-circle{
      color: $current_color_gray;
      vertical-align: top;
      margin-right: 4px;
    }
    .icon-arrow-up-thin, .icon-arrow-down-thin, .icon-arrow-right-thin, .icon-arrow-left-thin{
      color: $current_color_gray;
      vertical-align: top;
      position: relative;
    }
    .icon-arrow-up-thin.top-arrow, .icon-arrow-down-thin.top-arrow{
      top: -2px;
    }
    .icon-arrow-right-thin.top-arrow, .icon-arrow-left-thin.top-arrow{
      margin-left: 10%;
    }
    .icon-arrow-up-thin.bottom-arrow, .icon-arrow-down-thin.bottom-arrow{
      bottom: -2px;
      margin-left: -18px;
    }
    .icon-arrow-left-thin.bottom-arrow, .icon-arrow-right-thin.bottom-arrow{
      margin-left: -13px;
    }
  }
  .close {
    float: right;
  }
}

.sticky-float {
  .flash_message_wrapper {
    background-color: rgba($color_white_base, 0.8);
    width: 785px;
    z-index: 1000;
  }
  div div {
    margin: 5px 0;
  }
}

label {
  color: $color_white_base;
  display: inline-block;
  width: 140px;
  .menor {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-size: 8pt;
    font-weight: normal;
  }
}

.text_alert { // FIXME: verificar se é realmente necessário
  font-size: 10pt;
  width: auto;
  color: $text_alert_color;
}

#undefined-sticky-wrapper{
  width: auto;
}

.moved_allocation{
  vertical-align: top;
  font-size: 11pt;
}

form #flash_message, .fancybox-outer #flash_message{
  position: relative;
}
