// ALOCAÇÃO DE USUÁRIOS
.tb_allocation {

  tr.lines {
    height: 39px;
  }

  .unavailable {
    color: $color_light_gray;
  }
}

.allocation_status_info {

	color: $allocation_status_info_profile
}
