// ALOCAÇÃO DE USUÁRIOS
.users {
  width: 100%;
}

.search {
  width: 100%;
}

.tb_allocation {

  tr.lines {
    height: 39px;
  }

  .unavailable {
    color: $color_gray;
  }
}

td.allocation_status_info {
  a {
    text-decoration: none;
  }
}
