.assignments .attached_files{
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  color: $color_gray_text;
 }

.assignments .file{
  margin-left: 10px;
}

.schedule_dates .right{
  margin-right: 100px;
}

.tb_list{
  td{
    .participants_box{
      max-height: 300px;
      overflow: auto;
      padding: 10px;
    }
  }
}

.new_assignment{
  .input.files{
    #file{
      padding: 10px;
      margin-left: -150px;
    }
  }

  i.remove_file{
    padding: 5px;
    color: $remove_file_color;
    cursor: pointer;
  }
}

table.assignments {
  thead{
    tr.lines{
      th {
        background-color: $exclusive_background_color;
        color: $exclusive_font_color;
      }
    }
  }
}
