.student_webconferences{

  padding-top: 10px;

  .title-warning{
    margin-bottom: 0;
  }

  .right_buttons{
    .btn{
      cursor: pointer;
    }
  }

  .tb_list{
    th.aw_status{
      width: 20%;
      text-align: center;
    }

    th.aw_record{
      width: 13%;
      text-align: center;
    }

    th.aw_final{
      width: 16%;
      text-align: center;
    }

    th.options{
      width: 5%;
    }

    tbody{
      td.icon{
        cursor: pointer;
        padding: 0;
      }

      td{
        [class^='icon-']{
          font-size: 18px;
          padding-top: 7px;
        }
      }

      td.record {
        width: 22px;
      }

    }
  }

  td{
    a.title{
      color: $score_tbody_link;
      text-decoration: none;
    }
  }

}

.simple_form.awebconference_form{
  min-width: 500px;
  .input.assignment_webconference_title, .input.assignment_webconference_duration, .input.assignment_webconference_initial_time{
    display: inline-block;
  }
}

a#final_version_explain{
  color: $current_color_back;
}