.assignments .attached_files{
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  color: $text_grey;
 }

.assignments .file{
  margin-left: 10px;
}

.schedule_dates .right{
  margin-right: 100px;
}

.new_assignment{
  .input.files{
    #file{
      padding: 10px;
      margin-left: -150px;
    }
  }

  i.remove_file{
    padding: 5px;
    color: #DC5869;
    cursor: pointer;
  }
}