.description, .description p{
  font-size: 11px;
  color: $color_gray_text;
  text-align: left;
}

.complete{
  border-left: 2px solid $complete_border_left_color;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description .hide{
  float:right;
}

.new_chat .schedule_dates .input input {
  width: 85px;
}

.input textarea{
  width: 310px;
}

.new_chat .schedule_dates .left, .right {
  float: left;
}

.box, #tab label{
  border: 1px solid $color_gray_chat_rooms;
  background-color: $color_white_chat_rooms;
}

#tab label{
  padding-top: 2px;
  color: $color_main;
  border-bottom: none;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 122px;
  z-index: 2;
}

.box{
  padding: 5px;
  padding-top: -5px;
  margin-bottom: 5px;
  margin-top: -1px;
  max-height: 100px;
  overflow: auto;
  width: 300px;
  z-index: 1;
  label{
    width: auto;
    max-width: 260px;
    vertical-align: top;
  }
}

#define_participants {
  margin-top: -25px;
}

#define_participants label{
  color: $color_gray_text;
}

#chat_room_type{
  margin-top: 7px;
}

#participants_box{
  width: 312px;
  margin-left: 108px;
  position: relative;
  bottom: 20px;
}

.new_chat .required + .error, .new_chat .optional + .error{
  margin-left: 70px;
}

.chat_list .dropdown-menu{
  overflow-y: scroll;
  max-height: 100px;
  padding: 3px;
  padding-top: 6px;
}

.chat_list .dropdown-menu li{
  white-space: nowrap;
}

.chat_list .dropdown-link a{
  vertical-align:bottom;
}

a.chat_list {
  cursor: pointer;
}

.chat_messages{
  table{
    th{
      text-align: center;
    }
    text-align: center;
    td.profile{
      color: $period_ended_color_base;
      font-size: 9pt;
      font-style: italic;
      padding-right: 0;
    }
    td.message{
      width: 40%;
      text-align: left;
    }
  }
}

table.chats {
  thead{
    tr.lines{
      th {
        background-color: $thead_background_color;
        color: $thead_color;
      }
    }
  }
}