// CONTEUDO GERAL E BLOCOS

#mysolar_content {
  padding-left: 5px;
  width: 785px;
  padding-right: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: $color_white_content;
}

#block_locale {
  margin-top: 10px;
  text-align: center;
  font-size: 9pt;
  clear: both;

  a {
    color: $color_almost_gray;
  }
}

#block_locale > ul {
  list-style-type: none;
  padding: 0;
}

#block_locale > ul > li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 5px;
}

#my_personal_data_button { // FIXME: parece que não está mais sendo utilizado, verificar
  margin-top: 40px;
  width: 220px;
  float: right;
}

/**
* Tratando dos titulos dos conteudos
*/

div.block_module, div.block_exam{

  padding-top: 6px !important;
  overflow: visible !important;
  border-bottom: 1px solid;
  border-bottom-color: rgba($block_border_color, 0.3);

  h2{
    position: relative !important;
    display: block !important;
    border-bottom: 2px solid;
    border-bottom-color: $color_main;
  }
  .block_buttons{
    display: inline-block;
  }

  .groups_tags{
    background-color: $block_groups_background;
    min-height: 28px;
    font-size: 12px !important;

    .title label{
      color: $color_black;
    }
  }
}


.mysolar_header {
  font-variant: small-caps;
  height: 26px;
  border-bottom: 2px solid;
  border-bottom-color: $color_main;
}

.mysolar_header img {
  float: left;
  margin-right: 4px;
}

.mysolar_header h1 {
  padding-top: 8px;
}

.mysolar_title { // FIXME: parece ser utilizado em uma única página, verificar se é mesmo necessário
  vertical-align: middle;
  font-variant: small-caps;
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 12pt;
  font-weight: normal;
  color: $color_black;
}

/**
* Legendas
*/

div.legend {
  font-size: 12px;
  padding-top: 10px;
  position: relative;
}

div.legend_score_footer {
  font-family: Arial;
  font-style: italic;
  font-size: 9pt;
}

div.legend ul {
  padding: 5px 0px;
}

div.legend li {
  text-align: left;
}

div.legend h1 {
  font-size: 14px;
  font-weight: bold;
}

/**
* Div que engloba tudo
*/
.block_wrapper {
  margin-top: 15px;
  width: 785px;
  margin-bottom: 15px;
  // overflow: hidden;
}

/*.block_wrapper_small {
    height: 195px;
}*/

/**
* Titulo geral da página
*/
#page_title  {
  @extend %page-title;
}

#page_title {
  > .block_content_text {
    border: none;
    font-size: 9pt;
    padding: 4px 0 0 4px;
    color: $color_almost_gray;
    position: absolute;
    right: 0;
    bottom: 5px;
    float: right;
  }
  > .block_content_text:hover, > .block_content_text:hover li {
    color: $color_black;
  }
  ul{
    min-width: 80px;
  }
  li {
    font-size: 9pt;
    border: none;
    color: $color_almost_gray_content;
    max-width: 145px;
    a{
      font-size: 9pt;
    }
  }
}

/*#page_title > .block_content_text:hover {
    border: 1px solid #666666;
}*/

/**
* Titulo do bloco
*/

div.block_title {
  border-bottom: 2px solid;
  border-bottom-color: $color_main;
  padding-bottom: 1px !important;
  position: relative;
  overflow: hidden; // FIXME: em outro local estava definido como auto, verificar se está ok assim
  height: 26px;
  vertical-align: bottom;

  h1 {
    font-variant: small-caps;
    font-size: 12pt;
    font-weight: normal;
  }
  h2 {
    display: inline;
    vertical-align: bottom;
    position: absolute;
    bottom: 2px;
    color: $exclusive_font_color;
  }
  > .block_right {
    padding-left: 6px;
  }
}



/* zerando o espaçamento do titulo do bloco */
.block_title, .block_title > .block_left, .block_title > .block_right {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

/* definindo as divs de conteudo como inline-table */
.block_title > div, .block_content > .block_left, .block_content > .block_right {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-spacing: 0;
  vertical-align: top;
}

.block_content > .block_left img, .block_content > .block_right img {
  vertical-align: text-bottom;
}

/* icone que fica ao lado do titulo do bloco */
.block_title_icon { // FIXME: parece ser utilizado em uma única página, verificar se é mesmo necessário
  margin-right: 5px;
  margin-bottom: 2px;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

/**
* Bloco de conteúdo
*/
.block_content {
  background-color: $color_main_light;
  color: $exclusive_font_color;
  font-size: 10pt;

  > block_left {
    width: 369px;
    border-right: 1px solid;
    border-right-color: $border_color; /* adicionando a borda divisoria */
  }
  > block_right {
    padding: 6px 10px 6px 8px; /* ajustando o espaçamento do bloco direito */
  }
  > block_left, > block_right {
    vertical-align: top; /* garantindo que o conteudo do bloco fique proximo a linha superior */
  }
  label {
    color: $block_content_label;
  }
}

.block_left, .block_right { /* largura dos blocos internos */
  width: 370px;
  padding: 6px 10px;
}

.block_content_overflow {
  overflow: hidden;
}

.block_content_spacing {
  padding: 6px 10px;
}

.block_content_line {
  /*    font-size: 10pt;*/
  border-bottom: 1px solid;
  border-bottom-color: $block_content_color;
  padding: 6px 10px;
}

.block_content_line:last-child {
  border-bottom: none;
}

.block_content_gray {
  font-size: 8pt;
  padding-right: 5px;
  color: $color_black;
}

.block_content_text, .block_content_toolbar.block_content_text {
  /*    font-size: 10pt;*/
  padding: 6px 10px;
  color: $color_black;
}

.block_title_button img {
  vertical-align: bottom;
}

.block_messages_opt {
  color: $border_color;
  background-color: $color_main_light;
}

.bibliography_volume, .bibliography_publication_year{

}

#search_box_accesskey{
  color: $color_black_content;
}

/**
* Barra de ferramentas
*/
.block_content_toolbar {
  background-color: $block_content_toolbar_background;
  border-bottom: 1px solid;
  border-bottom-color: rgba($block_border_color, 0.3);
  padding: 2px;

  img {
    vertical-align: middle;
    padding: 2px 0;
  }
  a.btn {
    padding: 3px 5px;
    min-width: 20px;
  }
  .btn + .btn {
    margin-left: -5px;
    border-left-width: 0px;
  }
  .btn {
    img {
      padding: 0;
    }
    .icon-checkbox-checked, .icon-checkbox-unchecked {
      font-size: 14px;
    }
  }
  span, label {
    font-size: 10pt;
    width: auto;
    padding: 0 5px;
  }
}

.block_content_toolbar label{
  color: $color_black;
}

.block_toolbar_left, .block_toolbar_right {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

.block_toolbar_right {
  float: right;
  margin-right: 6px;
}

/* posicionando objetos alinhados a direita (normalment botoes) */
.right_buttons {
  float: right;
}

form .right_buttons {
  text-align: right;
  float: none;
}


.retreat {
  margin-left: -7px;
}

.block_actions {
  float: right;
  font-size: 11px;
}

.label_right{
  margin-top: 6px;
}

.count_icon{
  font-size: 8pt;
  position: relative;
  right: 8px;
  bottom: 3px;
  color: $color_white;
  background-color: $color_main_content;
  border-radius: 4px;
  padding: 0px 2px;
  font-family: bold;
}

a.disabled {
 cursor: default;
}


/*Steps*/

#steps {
  background-color: darken($steps_background, 5%);
  width: 525px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  ul{
    padding: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    li{
      display: inline-block;
      width: 117px;
      margin: 0px;
      padding: 5px;
      text-align: center;
      font-family: Ubuntu;
      font-size: 12px;
      color: $steps_list_color;
    }
    li.active{
      color: $steps_list_active_color;
      background-color: $color_white_content;
      border-radius: 5px;
      box-shadow: 0px 0px 4px $steps_list_box_shadow;
    }
  }
  .dot {
    width: 22px;
    height: 18px;
    display: block;
    margin: 0 auto;
    background: image-url('inactive.png') no-repeat;
  }

  .dot.active {
    background: image-url('active.png') no-repeat;
  }

  .dot.done {
    background: image-url('done.png') no-repeat;
  }
}

.equivalent{
  ul.dropdown-menu{
    max-height: 190px;
    overflow-y: auto;
    color: $exclusive_background_color;
  }
}

.shortcut_floating_box{
  color: $color_black_floating_box;
  font-family: 'PT Sans', sans-serif;
  h2 {
    color: $color_black_floating_box;
  }
}

.close_dropdown{
  float: right;
  padding-right: 3px;
  margin-top: -30px;
}
