.expand.icon-ellipsis{
  color: white;
<<<<<<< HEAD
  background-color: $text_grey;
=======
  background-color: $color_grey_text;
>>>>>>> 3da0421b3b8da46827c59714e5ee6d9049d123ce
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  margin-left: 3px;
  padding-right: 3px;
  font-size: 8px;
  cursor: pointer;
}

.compress.icon-arrow-up-triangle{
  color: white;
<<<<<<< HEAD
  background-color: $text_grey;
=======
  background-color: $color_grey_text;
>>>>>>> 3da0421b3b8da46827c59714e5ee6d9049d123ce
  border-radius: 3px;
  font-size: 13px;
  display: inline;
  float: right;
  width: 13px;
  height: 12px;
  cursor: pointer;
}
