.expand.icon-ellipsis{
  color: white;
  background-color: #7c7c7c;
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  margin-left: 3px;
  padding-right: 3px;
  font-size: 8px;
  cursor: pointer;
}

.compress.icon-arrow-up-2{
  color: white;
  background-color: #7c7c7c;
  border-radius: 3px;
  font-size: 13px;
  display: inline;
  float: right;
  width: 13px;
  height: 12px;
  cursor: pointer;
}