.discussion_form .schedule_dates .input input{
  width: 85px;
}

.schedule_dates .left {
  float: left;
}

.schedule_dates .right{
  margin-right: 40px;
}

.schedule_dates .error{
  margin-left: 25px;
}

.discussion_form{
  text-align: left;
}
