.discussion_form .schedule_dates .input input{
  width: 85px;
}

.schedule_dates {
	overflow: hidden;
	
	.left {
		float: left;
	}

	.right {
		margin-right: 40px;
	}

	.error {
		margin-left: 25px;
	}
}

.discussion_form{
  text-align: left;
}
