.discussion_form .schedule_dates .input input{
  width: 85px;
}

.schedule_dates {
  overflow: hidden;
  
  .left {
    float: left;
  }

  .right {
    margin-right: 40px;
  }

  .error {
    margin-left: 25px;
  }
}

.discussion_form{
  text-align: left;
}


.forum_post_content{
  .forum_post_wrapper{
    .forum_post_inner_content{
      margin-bottom: 10px;
      overflow: hidden;

      p img{
        max-height: 500px;
        max-width: 400px;
      }
    }
  }
}