// EDIÇÃO
fieldset {
  border: 1px solid;
  border-color: $border_color;
  padding: 15px 20px 5px 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  legend {
    font-family: 'Ubuntu Condensed';
    color: $color_main;
  }

  .block_content_alt {
    margin-bottom: 20px;
    background-color: $color_white;

    li {
      margin-bottom: 10px;
    }
  }
}

.block_toolbar_left{
  margin-left: 6px;
}

#semester-4{
  margin-top: 10px;
}

.ui-autocomplete {
  z-index: 60 !important;
  max-height: 300px;
  overflow-y: auto;
}

.filter_type .ui-autocomplete, .filter .ui-autocomplete{
  width: 306px !important;
 }

.offer_course .ui-autocomplete, .offer_curriculum_unit .ui-autocomplete{
  width: 300px !important;
}

.uc_item,
.academic_item {
  @include item_button;
}

.ucs_list .block_wrapper{
  margin-bottom: 0;
}

.block_title.edition {
  border-bottom: solid 1px;
  border-bottom-color: $border_color;
  margin-bottom: 15px;
}

.filter_notice {
  text-align: center;
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: -20px;
  color: $color_gray_editions;
}

.edition .filter .groups{
  @include tags_div;
  margin-left:20px;
}

.edition p{
  text-align: right;
  color: $edition_color;
  margin-bottom: 0;
}

.edition #search, #digital_class_update{
  margin-left: 415px;
}

.edition.block_content{
  background-color: $color_white;
}

.offer_groups_options {
  overflow: hidden;

  .collection_check_boxes {
    color: $color_white;
  }
}

label[for="all"], .type_description {
  color: $color_gray_text;
}

label[for="all"]{
  font-size: 10pt;
}

.radio_options { // FIXME: nome genérico demais
  float: left;
}

/**
* Menu dropdown
*/
.dropdown-menu a {
  font-size: 10pt;
  font-family: 'PT Sans', sans-serif;
}

/**
* Para o futuro Wizard
*
.uc_item_ok {
    position: absolute;
    top: -5px;
    right: 20px;
    background: url("/assets/index_files/icones/item_ok.png") no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px;
}
*/


.repository_item {
  @include item_button;
}

.repository{
  height: 111px;
}

.repository_text{
  padding-top: 13px;
}

.edition_items{
  .tool_management{
    margin-bottom: 20px;
  }
}

.tool_management{
  .management{
    text-align: center;
    .block_wrapper.groups h2{
      text-align: left;
    }
    .block_wrapper.tools{
      text-align: left;
      table{
        td.desc, select{
          max-width: 150px;
        }
        td.working_hours{
          width: 70px;
        }
        th:not(.name), td:not(.desc){
          text-align: center;
        }
        .minimun a{
          text-decoration: none;
        }
        input[type='text']{
          width: 25px;
        }
        tbody{
          td.ckb{
            cursor: pointer;
          }
        }
      }
      .tools_by_tool_type.invisible{
        display: none;
      }
      .tools_by_tool_type{
        tr.red{
          background-color: $background_light_red_editions;
        }
      }
      .icons{
        display: inline-block;
        vertical-align: bottom;
        a i.invisible{
          display: none;
        }
      }
    }
    .expand_hide, .frequency_equally, .set_weight, .set_final_weight{
      padding-bottom: 15px;
      display: inline-block;
      text-align: center;
      .expand_link, .compress_link, .frequency_link, a, .weight_link{
        vertical-align: bottom;
        display: inline-block;
      }
    }
    .groups{
      margin-bottom: 20px;
      table{
        th.ch, td.ch{
          text-align: center;
          width: 95px;
        }
        tbody{
          max-height: 100px;
          overflow-y: auto;
        }
      }
    }
  }
}

.list_exams{
  .btn_group{
    width: 775px;
    text-align: center;
    margin: 20px 0px 20px 0px;

    .btn_item{
      @include item_button;
      text-decoration: underline;
      float: none;
      margin: 1px;
      display: inline-block;
      padding: 20px 0px 20px 0px;
      width: 250px;
      border: 1px dashed $list_exams_btn_color_editions;
    }
  }
  .exam_box{
    width: 775px;
    padding: 5px 0px 5px 4px;
    border-left: 6px solid $list_exams_exam_box_color_editions;
    background-color: $list_exams_background;
  }
  .block_wrapper .block_content_toolbar{
    margin-top: 10px;
      .btn{
        font-size: 25pt;
      }
  }
  .block_wrapper .tablesorter-headerRow{
    font-size: 9pt;
  }
  .icons{
    display: inline-block;
    vertical-align: bottom;
    a i.invisible{
      display: none;
    }
  }
}

.block_wrapper .block_title{
  .tool_managmenet_link{
    float: right;
    margin-top: 10px;
  }
}


.filter{
  li.ui-menu-item a{
    color: $color_almost_black_editions;
  }
}
