.description_complete, .description_less {
    display: none;
  }

#exam_form{
  .description, .description p{
    font-size: 11px;
    color: $text_grey;
    text-align: left;
  }

  .description .hide{
    float:right;
  }

  .new_exam .schedule_dates .input input {
    width: 85px;
  }

  .input textarea{
    width: 324px;
  }

  .new_exam .schedule_dates .left, .right {
    float: left;
  }

  .new_exam .required + .error, .optional + .error{
    margin-left: 70px;
  }

  #new-exam{
    text-decoration: underline;
    width: 775px;
    display: block;
    padding: 5px;
    border: 1px dashed #808080;
    text-align: center;
  }

  #exam_duration{
    width: 85px;
  }

  .ckb{
    margin: 20px;
    .input.boolean{
      display: none;
    }
    label{
      display: inline;
    }
    a, input, select{
      display: inline-block;
      float: right;
    }
    input[type='number']{
      width: 80px;
    }
  }

  #steps{
    width: 259px;
    margin-bottom: 20px;
  }
}

.list_exams{
  .tb_list{
    td.center, th.medium, th.large, th.small{
      text-align: center;
    }
    th.medium{
      width: 20%;
    }
    th.large{
      width: 40%;
    }
    th.small{
      width: 10%;
    }
  }

  .corrected {
    color: #378941;
  }

  .finished {
    color: $text_grey;
  }

  .not_answered {
    color: #e12227;
  }

  .not_started {
    color: #787878;
  }

  .to_answer, .not_finished {
    color: #003e7a;
  }

  .block_exam h2{
    min-height: 36px;
    .text{
      max-width: 150px;
      display: inline-block;
      vertical-align: middle;
    }
    .block_buttons{
      display: inline;
      label{
        width: 130px;
        vertical-align: bottom;
        margin-left: 10px;
        margin-right: 10px;
      }
      .draft i{
        margin-right: -5px;
      }
    }
  }

}