.description_complete, .description_less {
    display: none;
  }

.exam_pre{
  font-variant: initial;
  font-family: 'PT Sans', sans-serif;

  #description{
    font-size: 8pt;
    padding-bottom: 10px;
  }

  #name{
    font-size: 13pt;
    color: $color_gray_text;
    padding: 5px;
  }

  .notice{
      padding-top: 10px;
      color: rgba($notice_exams_color, 0.81);
  }

  .start_button{
      font-size: 16pt;
      text-align: center;
      padding: 10px;
  }

  #description, #name, .notice, .start_button{
    text-align: center;
  }

}

.exam_open {

  font-variant: initial;
  font-family: 'PT Sans', sans-serif;

  #exam_topbar {
    width: 100%;
    z-index: 2;
    display: inline-block;
    }

  #title {
    font-size: 13pt;
    font-family: 'PT Sans';
    margin: 0px;
    padding: 0px 0px 0px 5px;
    color: $color_gray_text;
    float: left;
  }

  #exam_status {
    float: right;
    font-size: 10pt;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;


    li {
      display: inline-block;
      padding: 3px 6px 0 4px;
      vertical-align: middle;
      float: left;
      /* necessario para funcionar ok no IE7 */
      /*    zoom: 1;
      *display: inline;*/
    }

    #time, #question_count{
      padding-right: 0px;
    }


  }

  .block_content {
    padding: 5px;
    border-bottom: solid 1px;
    border-bottom-color: $border_color;
    border-top: solid 1px;
    border-top-color: $border_color;
    min-height: 28px;
    display: block;

  }

  .questions{
    width: 100%;

    .question {
      padding-top: 10px;
      float: left;
      font-family: 'PT Sans', sans-serif;

      .number {
        padding-right: 5px;
        color: $color_main;
        width: auto;
        vertical-align:top;
      }
    }

    .question_images {
      text-align: center;

      #question_image{
        max-width: 300px;
        max-height: 200px;
      }

      .image {
        padding: 15px 15px 0 15px;
        display: inline-block;

        #question_image {
          border: solid 2px $question_image_border_color_exams;
        }
      }
      td.image.legend{
        display: block;
        text-align: left;
        width: 600px;
        background-color: $question_image_legend_background_exams;
        margin-bottom: 10px;
        img, .image{
          margin-left: -15px;
          margin-top: -15px;
          margin-bottom: -5px;
        }
        .image{
          width: 50%;
        }
        .legend{
          width: 45%;
          top: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          -webkit-transform: translateY(150%);
          -ms-transform: translateY(150%);
          transform: translateY(150%);
        }
      }
    }
    .question_audios {
      text-align: center;
      margin-left: 1px;

      #question_audio{
        max-width: 150px;
        max-height: 25px;
      }
      .hide{
        display: none;
      }
      .audio {
        display: inline-block;
        a i{
          margin-bottom: 30px;
          display: inline-block;
          vertical-align: middle;
        }
        .audio{
          text-align: left;
        }
      }
      td.audio.legend{
        padding: 0 0 0 10px;
        display: block;
        text-align: center;
        width: 620px;
        margin-bottom: 10px;
        background-color: $question_image_legend_background;
        .audio{
          margin: 5px 0 5px -15px;
          background: $questions_audios_background;
          background: -moz-linear-gradient(left, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%);
          height: 32px;
          width: 56%;
          position: relative;
          top: 50%;
          left: 0.5%;
          -webkit-transform: translateY(0.5%);
          -ms-transform: translateY(0.5%);
          transform: translateY(0.5%);
        }
        .legend{
          padding-top: 13px;
          width: 44%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          top: 50%;
          p{
            margin-bottom: 2px;
          }
          a i{
            margin-bottom: 1px;
          }
        }
        #text, #hide{
          display: none;
        }
        .legend-description{
          margin-top: -8px;
        }
      }

    }

  }
  .question_items{
    padding: 10px 0px 10px 15px;

    .item_checkbox{
      margin-top: 10px;
      label{
        p:first-of-type {
          display: inline-block;
        }
      }
    }

    #text, .hide{
      display: none;
    }

    #item_image, .item_checkbox img{
      margin-right: 10px;
      vertical-align: top;
    }

    #item_image{
      border: solid 2px $question_image_border_color_exams;
    }

    label input{
      margin-right: 5px;
    }

    label{
      display: inline;
      color: $color_main;
      font-family: 'PT Sans', sans-serif;
    }

    .incorrect{
      color: $question_iten_incorrect_exams;
    }

    .hit{
      color: $question_iten_hit_color_exams;
    }

    .audio.legend{
      padding: 0 0 6px 14px;
      display: block;
      text-align: center;
      width: 600px;
      margin-bottom: 10px;
      background-color: $question_image_legend_background_exams;

      .audio{
        margin: 5px 0 5px -15px;
        padding-top: 5px;
        background-color: $questions_audios_background_exams;
        background: -moz-linear-gradient(left, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%);
        height: 30px;
        width: 58%;
        position: relative;
        top: 50%;
        left: 0.5%;
        float: left;
        audio{
          margin-top: -20px;
          display: inline-block;
          vertical-align: middle;
        }
        a i{
          margin-top: 1px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .audio_description{
        padding-top: 13px;
        width: 42%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        top: 50%;
        a i{
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
    }

    #text{
      color: $lightbox_dialog_title_color;
    }
    #text, #hide{
      display: none;
    }

    .audio.legend{
      padding: 0 0 6px 14px;
      display: block;
      text-align: center;
      width: 600px;
      margin-bottom: 10px;
      background-color: $question_image_legend_background;

      .audio{
        margin: 5px 0 5px -15px;
        padding-top: 10px;
        background-color: $questions_audios_background;
        background: -moz-linear-gradient(left, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%, $questions_audios_background_firefox 100%);
        height: 27px;
        width: 58%;
        position: relative;
        top: 50%;
        left: 0.5%;
        float:left;
      }
      .audio_description{
        padding: 14px 0 0 0;
        margin-bottom: 11px;
        width: 42%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
      }
    }

    #text{
      color: $lightbox_dialog_title_color;
    }
    #text, #hide{
      display: none;
    }
  }

  .message_div_navigation {
    text-align: center;
    padding: 0.25*$gutter;
    color: $disabled_color_exams;
    font-size: 13pt;


    .message_page{
      margin-top: 5px;
    }
    .active{
      color: $color_main;
    }
  }

  .finish_exam{
    text-align: center;

      #finish_button{
        font-size: 10pt;
        padding: 10px;
        margin-top: 10px;
      }
  }

  .pagination{
    text-align: center;
  }
}

#exam_form{
  .description, .description p{
    font-size: 11px;
    color: $color_gray_text;
    text-align: left;
  }

  .description .hide{
    float:right;
  }

  .new_exam .schedule_dates .input input {
    width: 85px;
  }

  .input textarea{
    width: 324px;
  }

  .new_exam .schedule_dates .left, .right {
    float: left;
  }

  .new_exam .required + .error, .optional + .error{
    margin-left: 70px;
  }

  #new-exam{
    text-decoration: underline;
    width: 775px;
    display: block;
    padding: 5px;
    border: 1px dashed $list_exams_btn_color_exams;
    text-align: center;
  }

  #exam_duration{
    width: 85px;
  }

  .ckb{
    margin: 20px;
    .input.boolean{
      display: none;
    }
    label{
      display: inline;
    }
    a, input, select{
      display: inline-block;
      float: right;
    }
    input[type='number']{
      width: 80px;
    }
  }

  #steps{
    width: 259px;
    margin-bottom: 20px;
  }
}

.list_exams{
  .tb_list{
    td.center, th.medium, th.large, th.small{
      text-align: center;
    }
    th.medium{
      width: 20%;
    }
    th.large{
      width: 40%;
    }
    th.small{
      width: 10%;
    }
  }

  .corrected {
    color: $list_exams_corrected_color_exams;
  }

  .finished, .not_corrected {
    color: $list_exams_finished_color_exams;
  }

  .not_answered {
    color: $list_exams_not_answered_color_exams;
  }

  .not_started {
    color: $list_exams_not_started_color_exams;
  }

  .to_answer, .not_finished, .retake {
    color: $color_main;
  }
  .ico-e{
    font-decoration: none;
    text-decoration:none;
  }

  .block_exam h2{
    min-height: 36px;
    .text{
      max-width: 150px;
      display: inline-block;
      vertical-align: middle;
    }
    .block_buttons{
      display: inline;
      label{
        width: 130px;
        vertical-align: bottom;
        margin-left: 10px;
        margin-right: 10px;
      }
      .draft{
        i{
          margin-right: -5px;
        }
        label[for='draft_exam']{
          vertical-align: middle;
        }
      }

    }
  }

}

.show_exam{
  .attempts, .info{
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
  }
  .attempts{
    width: 30%;
  }
  .info{
    width: 68%;
    .attempt{
      .input{
        label{
          width: 113px;
        }
      }
    }
  }
  .attempts{
    a{
      display: block;
      padding: 5px;
    }
    a.active{
      color: $color_contrast_text_exams;
    }
    a.no_pointer{
      cursor: default;
    }
  }
  .frequency_form{
    text-align: center;
  }
}

.exam.exam_box{
  h2.show_hide{
    text-align: center;
    padding: 3px;
  }
  a.hide_questions.invisible{
    display: block;
  }
  a.hide_questions.invisible{
    display: none;
  }
}

[class^="list_questions_exam_"]{
  a, a i{
    display: inline;
  }
}


table.exams {
  thead{
    tr.lines{
      th {
        background-color: $exclusive_background_color;
        color: $exclusive_font_color;
      }
    }
  }
}