.label_display{
  table{
    margin-bottom: 50px;
  }

  .final_buttons{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  td,th{
    text-align: center;
  }

  .middle_column{
    width: 35%;
    float: left;
    margin-left: 40px;
    td i{
      color: #DC5869;
    }
  }

  .middle_column, .first_column, .last_column{
    i {
      cursor: pointer;
    }
  }

  .last_column{
    width: 46%;
    float: right;
  }

  .last_column.of_three{
    width: 30%;
  }

  .first_column{
    width: 46%;
    float: left; 
  }

  .first_column.of_three{
    width: 25%;
  }

  .labels{
    font-family: Ubuntu;
    font-size: 13px;
    text-align: center;
    .label{
      border-radius: 7px;
      margin: 8px;
      width: auto;
      word-wrap: break-word;
      padding: 5px;
      background-color: $color_main_light;
      border: 1px solid #CBCED1;
      cursor: pointer;
      .buttons{
        float: right;
        .edit{
          vertical-align: top;
          font-size: 11pt;
        }
        .remove, .cant_remove{
          line-height: 0.9;
        }
        .cant_remove{
          color: #C0C0C0;
        }
      }
      form{
        input{
          height: 14px;
          width: 115px;
        }
        i.save{
          font-size: 12pt;
        }
        i{
          line-height: 1.7;
        }
      }
    }
    .selected{
      background-color: #FDFBE9;
      border: 1px solid #F9E993; 
    }
    .disabled{
      background-color: #F7F7F7;
      border: 1px solid #dcdcdc;
      color: #434343;
      font-family: Ubuntu;
      font-size: 13px;
    }
    .disabled.selected{
      background-color: #F0F0F0;
    }
  }  

  .text_none.empty_message{
    text-align: center;
  }
}
