// GERENCIAMENTO DE GRUPOS

.group_assignment_content {
  margin-bottom: 10px;
  font-size: 13px;
}

#group_assignments {
  tr.lines > td {
    padding: 0;
  }

  tr.lines:hover {
    background-color: $color_main_light;
  }
}

  thead tr.lines{
    color: #6b6b6b;
  }

  td .title{
    color: #21578b;
  }

.group_assignment_title {
  padding: 6px 10px;
  cursor: pointer;

  &:hover {
    background-color: $color_main_light_highlight;

  }
}

.group_assignment_title_contract {
  background: url('/assets/images/group_assignment_contract.png') no-repeat right center;
}

.group_participants,
.group_participants_manage,
.group_assignments_manage_buttons {
  min-height: 140px;
  margin-right: 11px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  border-bottom-color: #c0c1c2;
  background-color: #ffffff;
  float: left;
  width: 250px;
  padding-bottom: 7px;
}

.group_assignments_manage_buttons {
  background-color: #f7f7f7;
  ul {
    margin-left: 32%;
    margin-top: 10px;
  }
  li {
    margin-bottom: 7px;
  }
}

.btn_new, .btn_import { // TODO: mudar o nome dessas classes, estão muito genéricos
  margin-top: 30px;
}

.group_participants ul,
.group_participants_manage ul {
  padding: 7px;
  height: 100px;
  overflow: auto;
}

[class^="group_name"],
.group_name_manage,
.group_assignments_manage_buttons_title,
.edit_group_true,
.disabled_groups_assignments_name {
  font-weight: normal;
  height: 20px;
  padding: 6px 7px 2px 7px;
}

.group_name_manage,
.edit_group_true {
  background-color: #fcd927;
  color: #000000;
}

//[class^="group_name"], TODO: qual o background-color correto, este ou o seguinte?
.group_assignments_manage_buttons_title,
.disabled_groups_assignments_name {
  background-color: #9ea2a3;
  color: #ffffff;
}

[class^="group_name"] {
  background-color: #0d487d;
  color: #ffffff;
}

[class^="group_information"],
.group_information_manage,
.disabled_groups_assignments_information {
  color: #000000;
}

.disabled_groups_assignments_information {
  background-color: #f7f7f7;
}

.group_information_manage {
  background-color: #fdfce1;
}

[class^="group_information"] {
  background-color: #f2f6fa;
}

.group_box_without_info {
  height: 166px;
}

[class^="group_information"],
.group_information_manage,
.disabled_groups_assignments_information {
  height: 16px;
  padding: 6px 10px 2px 7px;
  font-size: 12px;
}

.btn.evaluate_group {
  height: 16px;
  line-height: 8px;
}

.group_assignments_import {
  padding: 10px 6px 5px 8px;
}

.all_students_to_import {
  border: 1px solid;
  border-color: #dedede;
  background-color: #ffffff;
  width: 390px;
  min-height: 100px;
  margin: 10px 20px 20px 20px;
  display: inline-block;
  padding: 6px 6px 5px 8px;
}

.all_students_to_import li {
  list-style-type: none;
}

.import_buttons {
  margin-left: 20px;
  margin-bottom: 20px;
}

.rename_group {
  width: 180px;
  height: 8px;
  border: 0;
  margin-top: -5px;
}

.remove_group {
  cursor: pointer;
}

.group_elements_float {
  margin-top: -2px;
}

.group_elements_float,
.remove_group,
.download_all_icon {
  float: right;
}

.draggable_student {
  border-bottom: 2px dashed;
  border-bottom-color: #fdec9c;
  cursor: crosshair;
}

.collection_check_boxes { // FIXME: classe está com nome muito genérico
  margin-left: 0;
  width: auto;
  margin: 5px;
  padding-bottom: 1px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  background-color: #0e7dd8;
  color: #fff;
}

.title i {
  font-size: 12px;
  color: #6b6b6b
}

.enunciation, .groups {
  font-size: 11px;
}

.groups{
  padding-left: 11px;
}

.groups_list {

  .block_content.groups {
    overflow: hidden;
  }

  .block_left, .block_right {
    padding: 0;
    width: 49.7%;
    float: left;
  }
}

.no_groups{
  display: none;
  color: #003e7a;
  font-size: 10pt;
}

/**
* TODO: código aparentemente inutilizado, verificar
*
.all_students label {
  margin-left: 5px;
  text-align: left;
  width: 320px;
  color: #000000;
}

.group_assignment_buttons {
  margin-bottom: 20px;
  clear: both;
}

.group_assignment_files a {
  text-decoration: underline;
  color: #134076;
}

.no_permission_message {
  font-size: 10px;
  text-decoration: italic;
}

#group_code {
  width: 255px;
  margin-left: 5px;
  margin-bottom: 10px;
}
*/