.groups_tags {

  .title label{
    display: inline;
    color: $color_main;
  }

  .collection_check_boxes {
    .icon{
      color: white;
      padding-right: 0;
      padding-left: 0;
      margin-top: -16px;
      float: right;
    }
    .dropdown-menu{
      min-width: 30px;
      /*top: -16px;*/
      margin-top: -17px;
    }
    .dropdown-tip:after{
      top: -22px;
      left: 2px;
    }
    .dropdown-tip:before{
      top: -23px;
      left: 1px;
    }
  }

  .icon{
    font-size: 11pt;
    cursor: pointer;
  }
  
  .add_group{
    border: 1px solid #C0C0C0;
    color: grey;
  }

  .tags{
    display: inline-block;
  }

}

.groups .collection_check_boxes, .groups_tags .collection_check_boxes {
  @include collection_check_boxes_layout;
  background-color: #0e7dd8;
  color: #fff;
  white-space: nowrap;
  display:inline-block;
}

.groups, .new_groups{
  .group_checkbox{
    display: inline-block;
  }
}

.groups, .groups_tags{
  .complete{
    border: 0;
  }
  .icon{
    margin-left: 40%;
  }
}

.no_tags .collection_check_boxes{
  color: black;
  background-color: white;
  border: 0;
  padding: 0;
}

.new_groups{
  display: inline-block;
  .dropdown{
    background-color: white;
    padding: 5px;
    border: 1px solid #C0C0C0;
    max-height: 400px;
    overflow-y: auto;
    
    .btn{
      margin: 5px;
      float: right;
    }
    
  }
}

.fancybox-inner{
  .compress{
    float: left;
  }
}
