.groups_tags .title label{
  display: inline;
  color: $color_main;
}

.groups .collection_check_boxes, .groups_tags .collection_check_boxes {
  @include collection_check_boxes_layout;
  background-color: #0e7dd8;
  color: #fff;
  white-space: nowrap;
  display:inline-block;
}

.groups_tags .collection_check_boxes .icon{
  color: white;
  padding-right: 0;
  padding-left: 0;
}

.groups_tags .icon{
  font-size: 11pt;
  cursor: pointer;
}

.groups_tags .add_group{
  border: 1px solid #C0C0C0;
  color: grey;
}

.no_tags .collection_check_boxes{
  color: black;
  background-color: white;
  border: 0;
  padding: 0;
}

.groups_tags .collection_check_boxes .dropdown-menu{
  min-width: 30px;
}

.new_groups .dropdown{
  background-color: white;
  padding: 5px;
  border: 1px solid #C0C0C0;
}

