#assignment_form {
  label {
    color: $color_main;
  }

  .input.boolean{
    visibility: hidden;
    display: inline-block;
    width: 0;
    .error{
      position: fixed;
    }
  }

  #current_ip label {
    width: 200px;
  }
  #current_ip {
    margin: 15px 0;
  }
  #new_form_ip {
    height: 30px;
  }
  #new_form_ip label {
    display: inline-block;
    float: left;
    text-align: left;
  }
  #current_ip a, .fields_for_remove a, #new_form_ip a {
    float: right;
  }
  #current_ip, #new_form_ip {
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-control{
    .input.boolean{
      display: none;
    }
  }

  .ip_fiels {
    margin-left: 20px;
    margin-right: 20px;

    .select_ip_label {
      display: inline-block;
      margin-top: 3px;
      width: 120px;
    }
    .select_ip_label, .select_ip_type {
      margin-right: 10px;
    }
    .ip_v4, .ip_v6, .select_ip_label, .select_ip_type {
      float: left;
    }
  }
  .remove_fields {
    display: inline-block;
    float: right;
  }
  .select_ip_label, .select_ip_type, .ip_v4, .ip_v6 {
    float: left;
  }
  .select_ip_type, .ip_v4, .ip_v6 {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .select_ip_label {
    width: 100px;
    padding-top: 2px;
  }
}

#exam_form {
  #current_ip label {
    color: $color_main;
  }

  .input.boolean{
    visibility: hidden;
    display: inline-block;
    width: 0;
    .error{
      position: fixed;
    }
  }

  .ip_fiels{
    margin-left: 20px;
    margin-right: 20px;

    .select_ip_label {
      display: inline-block;
      width: 100px;
      margin-top: 3px;
    }
    .select_ip_label, .select_ip_type {
      margin-right: 10px;
    }
    label{
      color: $color_main;
      display: inline;
    }
    .ip_v4, .ip_v6, .select_ip_label, .select_ip_type {
      float: left;
    }
    a, input, select, .remove_fields {
      display: inline-block;
      float: right;
    }
    input[type='number']{
      width: 80px;
    }
  }
}

.clear{
  clear: both;
}

.fields_for_remove {
  height: 30px;
}
