#ip_form {
  padding-left: 5%;
  padding-right: 5%;

  label {
    color: $color_main;
    width: 101px;
  }

  .input.boolean{
    visibility: hidden;
    display: inline-block;
    width: 0;
    .error{
      position: fixed;
    }
  }

  .input{
    display: inline-block;
  }

  .btn{
    float: right;
  }

  .optional + .error{
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    vertical-align: middle;
  }

  .nested_fields{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .input.add{
    float: right;
  }

  .top{
    padding-bottom: 3%;
  }

  #current_ip{
    label{
      width: 125px;
    }
  }

}

.clear{
  clear: both;
}

.controller{
  .input.boolean{
    visibility: hidden;
    display: inline-block;
    width: 0;
    .error{
      position: fixed;
    }
  }
}

.form-control{
  .right_buttons{
    padding: 1%;
    padding-top: 5%;
  }
}