#post_attachment_wrapper div { // FIXME: pensar onde colocar esse seletor
  margin-top: 10px;
}

#post_attachment_form_submit { // FIXME: pensar onde colocar esse seletor
  text-align: right;
}

.message_new_action {
  margin-top: 10px;
  text-align: right;
}

.message_header_new {
  width: 100%;
}

.message_div_text_read {
  width: 100%;
}

.message_text_body {
  font-size: 10pt;
  padding: 2px 5px;
}

.message_text_to_label {
  padding-top: 5px;
}

.message_text_to_label {
  width: 60px;
  text-align: right;
}

.message_text_body {
  padding: 20px;
  padding-right: 100px;
}

.message_recipient_box {
  border: 1px solid;
  font-size: 12px;
  cursor: pointer;
}

.message_new {
  padding-top: 4px;
}

.message_new_textbox {
  width: 95%;
  font-size: 10pt;
}

.message_attach_item {
  padding: 5px 0 0 0;
}

#newPostUploadPanel {
  padding-bottom: 5px;
}

#recipients_selected {
  border: 1px solid;
  width: 435px;
  height: 50px;
  white-space: normal;
  overflow: auto;
}

#div_contacts {
  font-size: 11pt;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  border: 2px solid;
  line-height: 15px;
  z-index: 100;
}

.div_contacts_buttons {
  width: 440px;
  padding-top: 4px;
}

#div_contacts_list {
  overflow: auto;
  padding: 5px;
  margin-right: 3px;
  margin-top: 1px;
  border: 1px solid;
  height: 150px;
}

/* dropdown de mensagens (selecionar, mover para) */
ul {
  list-style-type: none;
}

ul.message_menu_listbox {
  // width: 80px;
  margin: 0px 0px 0px 8px;
  padding: 0px;
  display: inline-block;
}

ul.message_menu_listbox li {
  position: relative;
}

ul.message_menu_listbox li:hover {
  position: relative;
}

.tb_allocation tr.lines { // TODO: usado em allocations
  height: 39px;
}

.tb_allocation .unavailable { // FIXME: pensar onde colocar esse seletor
  color: #888;
}

td.td_student a { // TODO: usado em scores
  text-decoration: underline;
  border-bottom-color: #d0d0d0;
}

.semester_same_dates, #semester_period { // TODO: usado em offers
  color: #56585E;
}

#history_search_content { // TODO: usado em scores
  padding-bottom: 6px;
  border-bottom: 1px solid;
}

#history-body { // TODO: usado em scores
  padding: 7px 0 5px 0;
}

#text_as_label { // FIXME usado em curriculum_units
  vertical-align: bottom;
  text-align: left;
}

#semester_period { // TODO usado em semesters
  float: right;
  position: relative;
  top: 10px;
  vertical-align: bottom;
  font-size: 9pt;
}

.offer_schedule_dates, .enrollment_schedule_dates { // TODO: usado em offers e semesters
  display: inline-block;
  color: $label_color;
}

[class*="_check_box"] {
  margin-left: 135px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $label_color;
}

.end_date_check_box {
  margin-top: 0px;
  margin-bottom: 0px;
}

.offer_schedule_dates .error, .enrollment_schedule_dates .error {
  display: none;
}

.offer_schedule_dates.error, .enrollment_schedule_dates.error { // TODO: usado em offers e semesters
  vertical-align: inherit;
  color: #E03838;
}

.offer_schedule_dates.info, .enrollment_schedule_dates.info {  // TODO: usado em offers e semesters
  vertical-align: bottom;
  color: black;
}


label[for^="group_group_id_"]{
  color: white;
  font-size: 10pt;
}

label[for="all"], .type_description{
  color: $text_grey;
}


.radio_options label{ // TODO: usado em editions
  width: auto;
  margin: 5px;
}

.edition .filter .groups{
  display: inline-block;
  width: 300px;
  margin: 5px;
  margin-left:20px;
}

label[for="all"]{
  font-size: 10pt;
}

.offer_groups_options {
  overflow: hidden;
}

.radio_options {
  float: left;
}

.edition #search{
  margin-left: 415px;
}

.edition.block_content{
  background-color: white;
}
