.fancybox-inner > .lesson_notes{
  max-width: 770px;
  overflow: hidden;
}

.lesson_notes{

  width: 770px;
  min-height: 400px;

  .block_content{

    background-color: $color_white_base;

    -webkit-columns: 3;
    column-count: 3;

    .note{
      background-color: $lesson_notes_background;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 110px;
      margin: 6px;
      position: relative;
      padding: 5px;
      float: left;
      box-shadow: 1px 1px 3px $color_gray;
      width: 215px;

      -webkit-column-break-inside: avoid; /* will prevent breaking blocks across columns */
      column-break-inside: avoid;

      label{
        color: $panel_box_shadow;
        width: auto;
        margin-right: 4%;
      }

      .description{
        word-break: break-all;
        color: $color_black_buttons;
        font-size: 10pt;

        p{
          color: $color_black_buttons;
        }

      }

      form{
        padding-bottom: 25px;
      }

      .title{
        text-align: center;
        font-weight: bold;
        padding: 2px;
        padding-bottom: 7px;
        color: $color_black_buttons;

        .lesson_note_name{
          display: inline;
        }

        input{
          width: 120px;
        }

      }

      .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color_black_buttons;
        height: 20px;
        opacity: 0.7;
        width: 98.6%;
        margin-top: 6px;
        text-align: right;
        float: left;
        padding: 2px;
        display: block;
        margin-bottom: -1px;

        li{
          display: inline-block;
        }

        i{
          color: $color_white;
          margin-left: 2px;
        }

      }

    }

  }


}
