/* Index - Caixa de Entrada */
.padding-checkbox{
  padding-top: 5px;
  font-size: 10pt;
  height: 28px;
  width: 24%;
}

.td_time{
  text-align: right;
  width: 100px;
}

.td_sender{
  width: 150px;
  text-align: left;
}

.td_recipient{
  text-align: left;
  width: 300px;
}

.td_attachment{
   width: 30px;

  i{
    font-size: 14px;
  }
}

.td_subject {
  padding-left: 0.5*$gutter;
}

.td_subject, .td_sender, .td_time, .td_recipient{
  color: $color_gray_text;

  a{
    color: $color_gray_text_messages_link;
  }
}

/* mensagem: links do menu */
#link_to_contacts {
  cursor: pointer;
}

.message_link, .message_link_menu {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.message_link {
  font-size: 10pt;
}

.message_link, .message_menu_listbox {
  padding: 5px 10px 5px 10px;
}

#message_list > .message_link:hover {
  border-bottom: 2px solid; /* FIXME: localizar onde isso está sendo utilizado */
  border-bottom-color: $current_color;
}

.message_div {
  font-size: 10pt;
  text-decoration: none;
}

/* mensagem: listagem das mensagens */
.message_div_list {
  width: 100%;
}

table.tb_list.message_div_list{
  a{
    text-decoration: none;
  }
}

.message_line{
  /*background-color: #f9f9f9;*/
  height: 28px;
}
.message_line:not(.no_border){
  border-bottom: 1px solid $border_color;
}

.message_line_check {
  width: 12px; // FIXME: é 30 ou 12?
  //width: 30px;
  text-align: center;
}

.message_read, .message_unread{
  font-weight: normal;
  white-space: normal;

  &:hover {
    text-decoration: underline;
  }
}

.message_read {
  color: $color_almost_gray_messages;
}

.message_unread {
  font-weight: bold;
  color: $color_black;
}

.message_label {
  font-size: 8pt;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid;
  -moz-border-radius: 4px;
  color: $color_white;
  background-color: $color_contrast_messages;
  border-color: $color_contrast;
}

.message_new {
  padding-top: 4px;
}

.message_new_textbox {
  width: 95%;
  font-size: 10pt;
}

.message_subject .message_new_textbox{
  width: 90%;
  display: inline-block;
}

.message_subject{
  display: inline;
}

/* mensagem */
.block_wrapper.messages {

  .block_content, .block_white {
    padding: 5px;
    padding-right: 5px;
    border-bottom: solid 1px;
    border-bottom-color: $border_color;
    min-height: 28px;

    ul.message_menu_listbox li ul {
      width: 100px;
      padding: 5px 0px;

      li{
        padding: 2px 0px;

        &:hover{
          background: $block_content_background;
          color: $color_white;
        }
      }
    }
  }
  .block_white{
    background: $color_white_messages;
  }
  .block_white.index{
    height: 38px;

    .align-middle{
      float: left;
      input{
        width: 120px;
        margin-top: 5px;
      }
      #user{
        width: 220px;
      }
    }

    .btn-group{
      padding-top: 4px;
    }

    label{
      width: 28%;
      vertical-align: middle;
      text-align: center;
      margin-right: 5px;
      color: $color_almost_gray_messages;
    }

  }
}

.block_content.messages {
  padding: 5px 10px 5px 5px;
  border-bottom: solid 1px $border_color;
  overflow: hidden;

  .btn{
    margin-right: -5px;
  }
}

.message_header_new, .message_div_show {
  color: $color_gray_text;
  padding: 0.5*$gutter 0.5*$gutter;
  font-size: 13px;
  width: auto; // FIXME: é auto ou 100% ?
  //width: 100%;

  .label-show{
    margin-right: 5px;
  }

  span.email{
    color: $color_main;
    text-decoration: underline;
  }

  .message_text_from{
    font-weight: 700;
    margin-bottom: 0.5*$gutter;
  }

  .message_text_to{
    margin-bottom: 0.5*$gutter;
  }

  .message_attachments{
    .icon-paperclip{
      font-size: 12px;
    }
    .new-attach{
      margin-top: 5px;
      margin-left: 20px;
    }
  }
}

.message_new_text_to {
  margin-bottom: 0.5*$gutter;
  height: 30px;
  display: inline-block;
  width: 100%;

  .label{
    width: 12%;
    margin-top: 5px;
    font-size: $font_size;
  }
  label{
    width: auto;
  }

  .input{
    width: 88%;
    display: inline-block;
  }

  input{
    width: 77%;
  }

  .message_subject {
    input{
      width: 97%;
    }
  }
}

#new_message_file {
  padding-bottom: 5px;
  .label{
    width: 60px;
    margin-top: 5px;
    font-size: $font_size;
  }
}

#div_new_message{
  textarea{
    width: 100%;
  }
}

.message_new_action {
  margin-top: 10px;
  text-align: right;
}

.message_link_menu {
  text-decoration: none;
  font-size: 11pt;
  margin-left: 3px;
}

.message_div_navigation {
  text-align: center;
  padding: 0.25*$gutter;
  color: $disabled_color_messages;

  .message_page{
    margin-top: 5px;
  }
  .active{
    color: $color_main;
  }
}

.message_div_show {
  padding-right: 100px;
  min-height: 100px;
  white-space: normal;
  font-size: 10pt;
  padding: 20px;
}

.message_external_div {
  margin-bottom: $gutter;
  li{
    display: inline-block;
  }

  ul.new_attach li{
    display: block;
  }
}

ul.files_to_send{
  li{
    display: block;
  }
}

.text_none { // FIXME: verificar se é realmente necessário
  font-size: 10pt;
  padding: 5px;
  color: $color_main;
}

.hide_message{
  display: none;
}

.text_alert_message {
  vertical-align: top;
  font-size: 10pt;
  width: auto;
}

.text_alert_message, #count_msgs_unread {
  color: $text_alert_color;
}

/* mensagem: cabecalho, area de titulo */
#message_general_title {
  border-bottom: 1px solid;
  border-bottom-color: $border_color;
  padding-bottom: 0px !important;
  height: 25px;

  h2 {
    position: relative;
    bottom: 0px;
  }
  > div {
    height: 23px;
  }
}

.message_general_div_option, .message_general_div_option_active {
  display: inline-block;
  padding: 0 8px;
  z-index: 20;

  img {
    vertical-align: bottom;
  }
}

.message_general_div_option_active {
  border-bottom: 2px solid;
  border-bottom-color: $current_color;
}

.message_label {
  color: $color_black;
  background-color: $message_label_background;
  border: 1px solid $message_label_background_border;
}

// contatos

#content-div {
  height: 300px;
  width: 500px;
}

.contacts-uc {
  font-size: 10pt;
  text-decoration: none;
  line-height: 15px;
  margin-bottom: 5px;
  .edition.block_content{
    background-color: $contacts_edition_block_content_background_messages;
  }
  .select{
    margin-top: 5px;
  }
}

.contacts-selection{
  h3.select, h3.selected{
    font-weight: normal;
  }  
}

.contacts-type, .contacts-uc .filter{
  padding-left: 10px;
}

#content-div{
  .block_content p{
    text-align: right;
    color: $edition_color_messages;
    margin-bottom: 0;
  }
}

.contacts-list {
  font-size: 10pt;
  overflow: auto;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 5px;
  border: 1px solid;
  height: 150px;
  background-color: $color_white_messages;
  border-color: $contacts_list_border_color;
  .already_added{
    color: $color_red_messages;
    display: inline-block;
    padding-left: 3px;
  }
}

.contacts-selected {
  font-size: 10pt;
  border: 1px solid;
  border-color: $lesson_portlet_border_color;
  height: 100px;
  white-space: normal;
  overflow: auto;
  background-color: $color_white_messages;
  margin-bottom: 10px;
}

.contacts-list, .contacts-selected{
  margin: 5px;
  padding: 5px;
}

#receiver_already_added {
  display: inline-block;
  margin-left: 5px;
  font-size: 11px;
  color: $receiver_already_added_color_messages;
}

.message_new_upload{
  label{
    width: 12%;
  }
  .files{
    .file_attached {
      padding-top: 5px;

      i{
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

.list_files_to_send {
  margin-left: 60px;
}

.duplicate_nested_form#link_upload{
  margin-left: 4%;
}

.remove-file {
  cursor: pointer;
}

.help_link {
  padding: 7px;
  text-align: center;
  background-color: $background_dark_gray;
  text-decoration: underline;
}
