table.notifications {
  tr.unread {
    background-color: #fefae6;
  }

  tr {
    cursor: pointer;
  }
}

.show_notification {
  position: relative;
  height: 100%;
  max-width: 750px;

  .block_content {
    margin-bottom: 36px;
    padding-top: 10px;
    padding-left: 5px;
  }
}

.show_notification{
  #lightBoxDialogTitle{
    .prev, .next{
      float: right;  
    }
  }
}