ul.notifications {
  li.unread{
    background-color: $background_light_beige;
  }
  li{
    padding: 4px;
    word-break: break-word;
  }
}

.show_notification {
  position: relative;
  height: 100%;
  max-width: 750px;

  .block_content {
    margin-bottom: 36px;
    padding-top: 10px;
    padding-left: 5px;
  }

  ul.dropdown-menu{
    padding: 10px;
    color: $font_color;
  }
}

.show_notification{
  #lightBoxDialogTitle{
    .prev, .next{
      float: right;
    }
  }
}

#notification_form{
  overflow-y: hidden;
  .input.notification_mandatory_reading{
    vertical-align: bottom;
    width: 12%;
  }
  .files, .profiles{
    label{
      width: 76px;
    }
  }
  #files{
    display: inline-block;
    .info, .file{
      display: inline-block;
    }
    input[type='file']{
      display: none;
    }
    .info.invisible{
      display: none;
    }
  }
  .profiles{
    #all{
      margin-left: -1.6%;
      vertical-align: bottom;
    }
    #profiles_box{
      vertical-align: top;
      border: 1px solid $color_gray_font;
      background-color: $color_white_base;
      max-height: 200px;
      overflow-y: auto;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 15px;
      width: 40%;
      margin-left: 13%;
      .profile_ckb{
        margin-left: -13px;
        label{
          vertical-align: top;
          width: auto;
        }
      }
    }
    span{
      display: block;
    }
  }
}

.list_notifications{
  a.preview{
    text-decoration: none;
  }
}