// Tela de participantes
.participants_list_item {
  border: 0;
  float: left;
  margin: 7px 0px 7px 0px;
  position: relative;
  width: 155px;
  text-align: center;
  white-space: nowrap;
}

.participants_list_item > img {
  height: 120px;
  display: inline-block;
  padding-bottom: 5px;
}

.participant_name {
  line-height: 11pt;
  font-variant: small-caps;
  font-size: 11pt;
}

.participant_role {
  font-size: 9pt;
  line-height: 8pt;
}

.participants_list_none {
  border: 0;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  float: left;
  margin: 5px 5px 0px 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  position: relative;
  width: 301px;
  font-size: 11px;
  background-color: #f2f6f6;
}