// PORTFOLIO E TAREFAS (ASSIGNMENTS)

.enunciation_complete, .enunciation_less {
  display: none;
}

.assignment_comment_form {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10pt;
  vertical-align: top;
}

.assignment_inner_content {
  word-wrap: break-word;
  padding: 5px 5px 0px 5px;
  min-height: 27px;
  background-color: $color_main_light;
}

.comments_files {
  margin: 0px 10px 10px 0px;
}

.student_assignment_evaluate {
  text-align: center;
}

.date_column {
  width: 70px;
}

.assignment_files_info, .assignment_comment_date {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: right;
  font-style: italic;
  margin-right: 8px;
  margin-left: 10px;
  float: right;
  color: #888;
}

.assignment_comment_date {
  float: right;
}

.assignment_files_info {
  margin-left: 10px;
  margin-top: 5px;
}

.assignment_user_comment {
  float: left;
  padding-left: 10px;
}

.assignment_comment {
  min-height: 40px;
  white-space: normal;
  max-width: 785px;
  width: 100%;
  margin-top: 5px;
}

.assignment_comment_head {
  height: 17px;
  font-size: 12px;
  white-space: normal;
  font-family: 'Ubuntu';
  width: 100%;
  display: block;
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: $color_main;
  background-color: white;
}

.comments_files_div .btn {
  min-width: 10px;
  height: 22px;
  padding: 0 2px;
  vertical-align: bottom;
  img {
    width: 20px;
    padding: 0;
    margin: 0;
  }
}

.assignment_without_group, td.assignment_without_group a {
  white-space: nowrap;
  color: #e37073;
}

.activity_grade {
  font-weight: bold;
}

/**
* Situacao das tarefas
*/

.assignment_corrected {
  color: #378941;
}

.assignment_sent, .assignment_sent a, .assignment_corrected a
td.assignment_as a {
  color: #2900c2;
}

.assignment_as, .assignment_as a{
  color: #2900c2;
}

.assignment_not_sent, .assignment_not_sent a,
.expired {
  color: #e12227;
}

.assignment_not_started, .assignment_not_started a {
  color: #787878;
}

.assignment_to_be_sent, .assignment_to_be_sent a,
.assignment_pending,
td.assignment_an a {
  color: #003e7a;
}

.assignment_an{
  color: #003e7a;
}
.assignment_without_group, .assignment_without_group a,
td.assignment_without_group a {
  color: #e37073;
}

.assignment_corrected,
.assignment_sent,
.assignment_not_sent,
.assignment_not_started,
.assignment_to_be_sent,
.assignment_pending,
.assignment_without_group,
.expired,
td.assignment_as a,
td.assignment_an a,
td.assignment_without_group a
{
  white-space: nowrap;
}

.activity_grade {
  font-weight: bold;
}

.tb_list{
  tr > td > .participants_box:not(.invisible){
    border-bottom: 1px solid #B4B2B1;
  }

  td{
    .participants_box{
      padding: 10px;
      max-height: 200px;
      overflow: auto;
      tbody{
        background-color: white;
        td{
          padding: 6px 10px 4px 10px;
          vertical-align: middle;
        }
      }
    } 
  }
}

.assignment_comment_wrapper{
  max-height: 300px;
  overflow-y: auto;
  background-color: $color_main_light;
}

.assignment_files, .student_files{
  width: 47%;
}

.assignment_files.files td, .student_files.files td{
  color: $text_grey;
}

.student_files{
  float:left;
}

.assignment_files{
  float:right;
}

.upload_files{
  .add_file{
    margin-left: 25%;
    margin-bottom: 5px;
  }
}

.student_files.files{
  i{
    cursor: pointer;
  }
}

.block_wrapper_groups{
  img {
    vertical-align: middle;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 4px 4px 7px #929792;
  }
  .block_user{
    background-color: #FCEBCA;
    font-size: 10pt;
  }

  .block_user{
    display: inline-block;
    width: 92%;
    margin-left: 19px;
    margin-top: 1%;
    padding: 8px 0px 5px 44px;
  }
  
  .title_user{
    float: left;
    font-weight: bold;
    margin-right: 7px;
  }
} 

.block_user .participants_list{
  margin-left: 85px;
}