// PORTFOLIO E TAREFAS (ASSIGNMENTS)

#post_attachment_wrapper div {
  margin-top: 10px;
}

#post_attachment_form_submit {
  text-align: right;
}

.enunciation_complete, .enunciation_less {
  display: none;
}

.portfolio_div_padding {
  padding: 5px;
}

.assignment_comment_form {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10pt;
  vertical-align: top;
}

.assignment_inner_content {
  word-wrap: break-word;
  padding: 0 5px 0px 5px;
  min-height: 27px;
  background-color: $color_main_light;
}

.assignment_inner_content textarea{
  width: 762px;
}

.portfolio_title_button,
.portfolio_comment_button,
#btn_cancel_evaluation,
#btn_save_evaluation,
#btn_evaluate {
  float: right;
}

.forum_post_inner_content .portfolio_title_button{
  margin-top: 10px;
}

.portfolio_comment_button {
  margin-right: 10px;
}

.comments_files {
  margin: 0px 10px 10px 0px;
}

.more_comment_files_link {
  float: center;
  font-size: 9pt;
  text-decoration: underline;
  cursor: pointer;
  color: #1c4785;
}

#btn_cancel_evaluation,
#btn_save_evaluation,
#btn_cancel_management,
#btn_save_management,
[class^="students_import_"],
[class^="edit_group_"],
.upload_assignment_files,
.student_assignment_evaluation,
.comments_files_div .btn.btn_default.recover_file,
#btn_cancel_comment, #btn_save_comment_new {
  display: none;
}

.link_upload_file {
  margin-left: 1%;
}

.image_upload_file {
  margin-left: 34%;
}

.assignment_inner_content.upload_files {
  border-top: 1px solid;
  border-top-color: #B4B2B1;
  padding-top: 10px;
}

.disabled.link_upload_file {
  text-decoration: line-through;
}

.upload_assignment_files {
  padding: 5px 15px 5px 15px;
}


.date_column, .student_assignment_evaluate {
  text-align: center;
}

.date_column {
  width: 70px;
}

.assignment_files_info, .assignment_comment_date {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: right;
  font-style: italic;
  margin-right: 8px;
  margin-left: 10px;
  float: right;
  color: #888;
}

.assignment_comment_date {
  float: right;
}

.assignment_files_info {
  margin-left: 10px;
  margin-top: 5px;
}

.assignment_user_comment {
  float: left;
  padding-left: 10px;
}

.assignment_comment {
  min-height: 40px;
  white-space: normal;
  max-width: 785px;
  width: 100%;
  margin-top: 5px;
}

.assignment_comment_head {
  height: 17px;
  font-size: 12px;
  white-space: normal;
  font-family: 'Ubuntu';
  width: 100%;
  display: block;
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: $color_main;
}

.comments_files_div .btn {
  min-width: 10px;
  height: 22px;
  padding: 0 2px;
  vertical-align: bottom;
}

.comments_files_div .btn img {
  width: 20px;
  padding: 0;
  margin: 0;
}

.assignment_without_group, td.assignment_without_group a {
  white-space: nowrap;
  color: #e37073;
}

.activity_grade {
  font-weight: bold;
}

/**
* Situacao das tarefas
*/

.assignment_corrected {
  color: #378941;
}

.assignment_sent,
td.assignment_as a {
  color: #2900c2;
}

.assignment_as{
  color: #2900c2;
}

.assignment_not_sent,
.expired {
  color: #e12227;
}

.assignment_not_started {
  color: #787878;
}

.assignment_send,
.assignment_pending,
td.assignment_an a {
  color: #003e7a;
}

.assignment_an{
  color: #003e7a;
}
.assignment_without_group,
td.assignment_without_group a {
  color: #e37073;
}

.assignment_corrected,
.assignment_sent,
.assignment_not_sent,
.assignment_not_started,
.assignment_send,
.assignment_pending,
.assignment_without_group,
.expired,
td.assignment_as a,
td.assignment_an a,
td.assignment_without_group a
{
  white-space: nowrap;
}

.activity_grade {
  font-weight: bold;
}

.download_all_icon { // TODO: mudar o nome dessas classes, está muito genéricos
  font-size: 13px;
}