// PORTLETS

/**
* Mix-ins
*/
@mixin rounded-corners($radius) {  
  border-radius: $radius;  
  -moz-border-radius: $radius;  
  -webkit-border-radius: $radius;  
}
/**
* Portlets do Meu Solar
*/
.mysolar_portlets_content {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 166px;
  font-size: 10pt;
  background-color: $color_main_light;
}

#mysolar_curriculum_unit_wrapper {
  margin: 0;
  width: 507px;
}

/**
* Definição geral dos blocos dos portlets
*/
table tr.block_title th {
  width: 100%;
  height: 161px;
  overflow: auto;
  word-wrap: break-word;
}

.block_small {
  height: 195px;
  width: 255px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.block_large {
  float: left;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 195px;
  width: 520px;
  margin-right: 10px;
}

/**
* Aulas
*/
#block_lessons {
  min-height: 135px;
  max-height: 160px;
  overflow: auto;
}

/**
* Agenda
*/
#block_schedule {
  margin-right: 0 !important;
}

/**
* Mensagens
*/
#block_messages_content {
  width: 100%;
  height: 146px;
  overflow: auto;
}

.block_messages_opt {
  font-size: 8pt;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

/**
* Forum
*/
#block_forum {
  width: 100%;
  height: 173px;
  overflow: auto;
  word-wrap: break-word;
}

/**
* Portlet: efeito slider
*/
.block_slider {
  overflow: hidden;
  position:relative;
  width: $portlet_width;
  height: $portlet_height;
}
.slide-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: $portlet_main_padding;
  width: $portlet_width - $portlet_main_padding*2;
  height: $portlet_height - $portlet_main_padding*2;
  overflow-y:auto;
  background-color: $color_main_light;
}

// excecao para portlet do facebook
.fb-login {
  text-align: center;
  margin-top: 60px;
}

.block_facebook .slide-main {
  padding: 0;
  height: $portlet_height;
  width: $portlet_width;
  overflow: hidden;
}

.slide-settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 0;
  width: $portlet_settings_width;
  height: $portlet_settings_height;
  overflow-y:auto;
  background-color: white;

  h3 {
    margin-top: 6px;
    margin-left: 6px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #666666;
  }
  ul, h3 {
    padding: 0;
  }
  li {
    padding: 5px 6px 2px 25px;
    position: relative;

    &:hover {
      background-color: #eef3f9;
    }
    &.active {
      font-weight: bold;
      background-color: #d8dfe9;
      color: #000;
    }
    .counter {
      position: absolute;
      top: 3px;
      right: 5px;
      padding: 2px 5px 1px 5px;
      @include rounded-corners(3px);
      font-size: 11px;
      background-color: #d7dfea;
      color: #3b5e9a;
    }
  }
}

// removendo margem do ultimo portlet (terceiro) da linha
.block_wrapper > .block_small:nth-child(3) {
    margin-right: 0;
}

/* Slider */
.slide-block{
  width: 170px;
  height: 166px;
  background-color: #000000;
  opacity: 0.8;
  float: right;
  padding: 1px;
  display: none;

  label{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }

  label.title{
    font-family: 'Ubuntu Condensed';
    font-size: 14px;
    padding-top: 4px;
   }

   label.subtitle{
      font-family: 'PT Sans';
      font-size: 12px;
      padding-left: 8px;
   }

  input{
    height: 16px;
  }

  select{
    height: 21px;
  }

  #type, #profile{
    margin-left: 9px;
    margin-right: 9px;
    width: 152px;
    margin-bottom: 3px;
  }

  #search_offer{
    margin-left: 8px;
    margin-right: 8px;
    width: 143px;
    margin-bottom: 8px;
    padding-bottom: 0;
  }

}

.block_title{
  i.icon-settings{
    cursor: pointer;
  }
}