/* Mix-ins */
@mixin rounded-corners($radius) {  
  border-radius: $radius;  
  -moz-border-radius: $radius;  
  -webkit-border-radius: $radius;  
}  

/* Portlet: efeito slider */
.block_slider {
    overflow: hidden;
    position:relative;
    width: $portlet_width;
    height: $portlet_height;
}
.slide-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: $portlet_main_padding; 
    width: $portlet_width - $portlet_main_padding*2;
    height: $portlet_height - $portlet_main_padding*2;
    overflow-y:auto;
}

// excecao para portlet do facebook
.fb-login {
  text-align: center;
  margin-top: 60px;
}

.block_facebook .slide-main {
  padding: 0;
  height: $portlet_height;
  width: $portlet_width;
  overflow: hidden;
}

.slide-settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 0;
  width: $portlet_settings_width;
  height: $portlet_settings_height;
  overflow-y:auto;
  h3 {
    margin-top: 6px;
    margin-left: 6px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
  }
  ul, h3 {
    padding: 0;
  }
  li {
    padding: 5px 6px 2px 25px;
    position: relative;
  }
  li.active {
    font-weight: bold;
  }
  li .counter {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 2px 5px 1px 5px;
    @include rounded-corners(3px);
    font-size: 11px;
  }
}

.block_wrapper > .block_small:nth-child(3) {
    margin-right: 0;
}
