// PORTFOLIO E TAREFAS (ASSIGNMENTS)

.enunciation_complete, .enunciation_less {
  display: none;
}

.assignment_comment_form {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10pt;
  vertical-align: top;
}

.assignment_inner_content {
  word-wrap: break-word;
  padding: 5px 5px 0px 5px;
  min-height: 27px;
  background-color: $color_main_light;
}

.comments_files {
  margin: 0px 10px 10px 0px;
}

.student_assignment_evaluate {
  text-align: center;
}

.date_column {
  width: 20%;
}

.assignment_files_info, .assignment_comment_date {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: right;
  font-style: italic;
  margin-right: 8px;
  margin-left: 10px;
  float: right;
  color: $color_light_gray_portfolio;
}

.assignment_comment_date {
  float: right;
}

.assignment_files_info {
  margin-left: 10px;
  margin-top: 5px;
}

.assignment_user_comment {
  float: left;
  padding-left: 10px;
}

.assignment_comment {
  min-height: 40px;
  white-space: normal;
  max-width: 785px;
  width: 100%;
  margin-top: 5px;
}

.assignment_comment_head {
  height: 17px;
  font-size: 12px;
  white-space: normal;
  font-family: 'Ubuntu';
  width: 100%;
  display: block;
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: $color_main;
  background-color: $color_white_background_portfolio;
}

.comments_files_div .btn {
  min-width: 10px;
  height: 22px;
  padding: 0 2px;
  vertical-align: bottom;
  img {
    width: 20px;
    padding: 0;
    margin: 0;
  }
}

.assignment_without_group, td.assignment_without_group a {
  white-space: nowrap;
  color: $portfolio_assignment_without_group_color;
}

.activity_grade {
  font-weight: bold;
}

/**
* Situacao das tarefas
*/

.assignment_corrected, .assignment_evaluated {
  color: $portfolio_assignment_corrected_color_portfolio;
}

.assignment_not_answered {
  color: $portfolio_assignment_not_answered_color_portfolio;
}

.assignment_sent, .assignment_finished, .assignment_finish, .assignment_processing {
  color: $portfolio_assignment_color;
}

.assignment_sent a, .assignment_corrected a, td.assignment_as a {
  color: $portfolio_assignment_color_link;
}

.assignment_as {
  color: $portfolio_assignment_color;
}

.assignment_as a {
  color: $portfolio_assignment_color_link;
}

.assignment_not_sent, .expired, .assignment_closed {
  color: $portfolio_assignment_not_sent_color;
}

.assignment_not_sent a {
  color: $portfolio_assignment_not_sent_color_link !important;
}

.assignment_not_started, .assignment_scheduled {
  color: $portfolio_assignment_not_started;
}

.assignment_not_started a {
  color: $portfolio_assignment_not_started_link;
}

.assignment_to_be_sent, .assignment_started,
.assignment_pending, .assignment_to_answer, .assignment_not_finished, .assignment_opened, .assignment_in_progress {
  color: $portfolio_assignment_to_be_sent;
}

.assignment_to_be_sent a, td.assignment_an a {
  color: $portfolio_assignment_to_be_sent_link;
}

.assignment_an{
  color: $color_main;
}
.assignment_without_group {
  color: $portfolio_assignment_without_group_color;
}

.assignment_without_group a, td.assignment_without_group a {
  color: $portfolio_assignment_without_group_color_link;
}

.assignment_corrected,
.assignment_evaluated,
.assignment_sent,
.assignment_not_sent,
.assignment_not_started,
.assignment_to_be_sent,
.assignment_to_send,
.assignment_pending,
.assignment_without_group,
.expired,
td.assignment_as a,
td.assignment_an a,
td.assignment_without_group a
{
  white-space: nowrap;
}

.activity_grade {
  font-weight: bold;
}

.tb_list{
  tr > td > .participants_box:not(.invisible){
    border-bottom: 1px solid $step_list_color_portfolio;
  }

  td{
    .participants_box{
      padding: 10px;
      max-height: 200px;
      overflow: auto;
      tbody{
        background-color: $color_white_background_portfolio;
        td{
          padding: 6px 10px 4px 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

.assignment_comment_wrapper, .assignment_files > .block_content{
  max-height: 300px;
  overflow-y: auto;
  background-color: $color_main_light;
}

.assignment_files.files td, .student_files.files td, .student_webconferences.files td{
  color: $color_gray_text;
}

.upload_files{
  .add_file{
    margin-left: 25%;
    margin-bottom: 5px;
  }
}

.student_files.files{
  i{
    cursor: pointer;
  }
}

.block_wrapper_groups{
  img {
    vertical-align: middle;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 4px 4px 7px $portfolio_block_wrapper_groups;
  }
  .block_user{
    background-color: $event_assignment_background_portfolio;
    font-size: 10pt;
  }

  .block_user{
    display: inline-block;
    width: 92%;
    margin-left: 19px;
    margin-top: 1%;
    padding: 8px 0px 5px 44px;
  }

  .title_user{
    float: left;
    font-weight: bold;
    margin-right: 7px;
  }
}

.block_user .participants_list{
  margin-left: 85px;
}

.assignment_info{
  .title {
    border-bottom: 2px solid;
    border-bottom-color: $color_main_border_portfolio;
    position: relative;
    overflow: hidden; // FIXME: em outro local estava definido como auto, verificar se está ok assim
    padding-top: 13px;

  }
}
