/* The Mobile First is the design strategy that takes priority development for mobile devices like smartphones and tablets. It means all styles outside of a media queries apply to all devices, then larger screens are targeted for enhancement. This prevents small devices from having to parse tons of unused CSS. The sizes for the breakpoints used here are:
*/

.open-menu {
  float: left;
  display: inline-block;
}

.open-menu, .close-menu {
  padding: 0 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: $color_black;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 15px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.responsive-table {
  overflow-x: auto;
}

.tabs_score {
  margin-left: 20%;
}

.position_correction {
  float: right !important;
  .form_requirement {
    position: relative;
  }
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media not all and (max-width: 576px) {
  .show-only-in-mobile {
    display: none !important;
  }

  .open-menu,
  .close-menu {
    display: none;
  }
}

@media (max-width: 576px){
  .responsive-menu-sidebar {
    background: $background_light;
    margin: 0;

    height: 100%;
    width: 100%;
    max-width: 320px;

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 100%;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    transition: left 0.3s ease-out;
  }

  .active-menu .responsive-menu-sidebar {
    left: 0;
  }

  .active-menu:after {
    content: '';
    display: inline-block;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.4);
  }

  .dont-show-in-mobile {
    display: none !important;
  }

  .show-only-in-mobile {
    display: inline-block !important;
  }

  table.tb_list {
    tbody, td, tr.lines th.act_like_td, a {
      word-break: keep-all !important;
    }
  }

  table.user-courses tbody.offers {
    .offer, .open-edx-class {
      word-break: keep-all !important;
    }
  }

  #steps {
    width: 120px !important;
    margin: 20px auto !important;
    ul {
      width: 120px !important;
      li{
        display: block;
        width: 120px !important;
      }
    }
  }

  #image_accessibility,
  #image_help,
  #mysolar_tabs_wrapper_with_dropdown,
  #mysolar_suggestions_for_mobile {
    display: inline-block;
  }

  #mysolar_top_options {
    padding: 0;
  }

  #block_schedule {
    margin-bottom: 15px;
  }

  #amount_found {
    float: none;
    margin: 5px 0;
    max-width: 100%;
  }

  #link_upload {
    margin-left: 0 !important;
  }

  .block_large {
    overflow: visible;
    margin-bottom: 15px;
  }

  .block_small {
    margin-top: 15px;
  }

  .message_new_textbox {
    display: block;
  }

  .message_new_upload {
    margin-top: 10px;
  }

  .tabs_score {
    white-space: nowrap;
    display: block !important;
    margin-left: 0 !important;
    overflow-x: auto;
  }

  .scores_menu {
    margin-left: 0 !important;
  }

  .padding-checkbox {
    width: 100%;
  }

  .no-float-mobile {
    float: none !important;
  }

  label {
    display: block;
  }

  #autocomplete-input-curriculum_unit_type,
  #autocomplete-input-course,
  #autocomplete-input-curriculum_unit,
  #autocomplete-input-semester,
  #autocomplete-input-contacts_type,
  [id^='autocomplete-input-'], .ui-combobox {
    width: 98% !important;
  }

  #content-div {
    width: 100% !important;
  }

  .edition #search {
    margin-left: 0;
    float: right;
  }

  .edition_content,
  .bibliography_title,
  .nested_exam_ip_reals {
    clear: both;
  }

  .bibliography_authors_name,
  .group_label,
  .bibliography_address {
    min-width: 155px !important;

    label {
      width: 45px !important;
    }
  }

  #bibliography_publisher,
  #bibliography_count_pages,
  #bibliography_volume,
  #bibliography_edition,
  #bibliography_publication_year,
  #bibliography_fascicle,
  #bibliography_pages,
  #bibliography_publication_month,
  #bibliography_periodicity,
  #bibliography_issn,
  #bibliography_periodicity_year_start,
  #bibliography_periodicity_year_end,
  #bibliography_subtitle,
  #bibliography_address,
  #bibliography_article_periodicity_title,
  #assignment_name,
  #assignment_enunciation,
  #chat_room_title,
  #chat_room_description,
  #webconference_title,
  #webconference_description,
  #webconference_initial_time,
  #schedule_event_title,
  #schedule_event_type_event,
  #schedule_event_place,
  #schedule_event_description,
  #support_material_file_title,
  #lesson_description,
  #profile_description,
  .bibliography_publisher,
  .bibliography_volume,
  .bibliography_edition,
  .bibliography_publication_year,
  .bibliography_address,
  .bibliography_count_pages,
  .bibliography_pages,
  .bibliography_article_periodicity_title,
  .bibliography_publication_month,
  .bibliography_fascicle,
  .bibliography_periodicity,
  .bibliography_issn,
  .bibliography_periodicity_year_start,
  .bibliography_periodicity_year_end,
  .assignment_name,
  .assignment_enunciation,
  .chat_room_title,
  .chat_room_description,
  .webconference_title,
  .webconference_description,
  .webconference_initial_time,
  .schedule_event_title,
  .schedule_event_type_event,
  .schedule_event_place,
  .schedule_event_description,
  .support_material_file_title {
    width: 100% !important;
    min-width: 155px !important;
  }

  .bibliography_title label,
  .bibliography_subtitle label,
  .bibliography_issn label,
  .bibliography_volume label,
  .bibliography_fascicle label,
  .bibliography_publisher label,
  .bibliography_edition label,
  .bibliography_article_periodicity_title label,
  .bibliography_pages label,
  .bibliography_publication_month label,
  .bibliography_count_pages label,
  .bibliography_periodicity label,
  .bibliography_additional_information label,
  .bibliography_accessed_in label,
  .bibliography_url label,
  .bibliography_periodicity_year_start label,
  .assignment_name label,
  .assignment_enunciation label,
  .assignment_schedule_start_date label,
  .assignment_schedule_end_date label,
  .assignment_start_hour label,
  .assignment_end_hour label,
  .assignment_type_assignment label,
  .chat_room_title label,
  .chat_room_description label,
  .chat_room_schedule_start_date label,
  .chat_room_start_hour label,
  .schedule_event_title label,
  .schedule_event_type_event label,
  .schedule_event_place label,
  .schedule_event_description label,
  .schedule_event_schedule_start_date label,
  .schedule_event_start_hour label,
  .discussion_name label,
  .discussion_description label,
  .discussion_schedule_start_date label,
  .notification_title label,
  .notification_schedule_start_date label,
  .support_material_file_title label,
  .support_material_file_url label,
  .exam_name label,
  .exam_description label,
  .exam_schedule_start_date label,
  .exam_schedule_end_date label,
  .exam_start_hour label,
  .exam_end_hour label,
  .exam_duration label,
  .exam_result_release label,
  .lesson_module label,
  .lesson_name label,
  .lesson_description label,
  .lesson_schedule_start_date label,
  .lesson_type label,
  .privacy label,
  .responsive label,
  .lesson_address label,
  .question_type label,
  .labels label {
    text-align: left !important;
  }

  .responsive,
  .checkbox_label,
  .box label,
  .profiles label {
    display: inline-flex;
  }

  #all,
  .profile_ckb input {
    min-width: 15px !important;
  }

  #bibliography_additional_information,
  #bibliography_title,
  #bibliography_form .files,
  #support_material_form .files,
  #event_file_form .files,
  #participants_box,
  .box {
    width: 100% !important;
  }

  .files_list {
    overflow-y: auto;
  }

  .duplicate_nested_form {
    margin-top: 16px;
  }

  #participants_box {
    margin-left: 20px !important;
  }

  #save_automatically_message {
    margin-left: 0 !important;
    text-align: justify !important;
  }

  .schedule_dates .right_form {
    margin-left: 0px !important;
  }

  .discussion_description,
  #until-date {
    margin: 0 !important;
  }

  #profiles_box {
    width: 200px !important;
  }

  .webconference_is_recorded,
  .webconference_shared_between_groups {
    display: inline-flex;
  }

  .profile_ckb {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
    input {
      margin-right: 5px !important;
    }
  }

  .destroy_duplicate_nested_form {
    position: relative !important;
    top: 22px !important;
  }

  .questions .radio label {
    display: inline-block;
  }

  .exam_question_score {
    display: block !important;
    margin-top: 10px;
  }

  .import_something.questions, .questions, [class^='list_questions_exam_'] {
    .search {
      .block_content_toolbar {
        flex-direction: column;
        label {
          text-align: center;
        }
        .owner {
          display: inline-flex;
          margin-bottom: 10px;
        }
        .enum {
          margin-bottom: 10px;
        }
        .author {
          margin-bottom: 10px;
        }
        .hint {
          margin-bottom: 10px;
        }
        .year {
          margin-bottom: 10px;
        }
      }
    }
  }

  #associated_radio div {
    display: inline-flex !important;
    input {
      margin-left: 0 !important;
    }
    label {
      display: inline !important;
    }
  }

  #images .info {
    text-align: left;
  }

  #audios .upload-preview {
    audio{
      max-width: 160px;
    }
  }

  .items_wrap {
    flex-direction: column !important;
    .audio {
      .upload-preview {
        audio {
          max-width: 160px;
        }
      }
      .info .input {
        width: 100% !important;
      }
    }
    .image {
      .info {
        .input {
          width: 100% !important;
          input {
            width: 100% !important;
          }
        }
        label.alt {
          display: inline !important;
        }
      }
    }
  }

  .radio_theme label {
    display: inline-flex;
  }

  .personal_configuration_message label,
  .personal_configuration_post label,
  .personal_configuration_exam label,
  .personal_configuration_academic_tool label {
    text-align: justify;
    input {
      min-width: 40px !important;
    }
  }

  .form_user_content label,
  .form_user_for_mobile label {
    text-align: left;
  }

  .form_field input[type="text"],
  .form_user_content textarea {
    width: 100%;
    min-width: 150px;
  }

  .request_profile {
    width: 100% !important;
    min-width: 250px;
  }

  .offer_groups_options {
      overflow-x: auto;
  }

  .group-assignment-content {
    flex-direction: column !important;

    .first_column,
    .middle_column,
    .last_column {
      width: 100% !important;
      margin: 10px 0 !important;
    }
  }
}

@media (max-width: 768px){
  #mysolar_open_shortcut {
    display: none !important;
  }
  .tabs_index {
    white-space: nowrap;
    display: block !important;
    margin-left: 0 !important;
    overflow-x: auto;
  }
}

/* Larger than mobile */
@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5-80 {
    width: 49%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

/* Desktop */
@media (min-width: 950px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
