// CALENDÁRIO

#calendar .block_wrapper{
  margin-top: 0;
  margin-bottom: 5px;
}

.list_events{
  font-family: 'PT Sans', sans-serif;
  font-size: 10pt;
}

.list_events h3{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.list_events .day h3{
  background-color: #efefef;
  color: #bebebe;
}

.list_events .day_events{
  border: solid 1px #bebebe;
  padding: 3px;
}

.list_events .day.today{
  border: solid 1px #f4c916;
  background-color: #fffbe4;
  h3{
    background-color: #fffbe4;
    border-bottom: solid 1px #f4c916;
    color: #f4c916;
  }
}

.list_events .day_events.today{
  border: none;
}

.list_events .day_events.today{
  background-color: #fffbe4;
}

.list_events .line{
  border-bottom: dashed 1px #bebebe;
}

.list_events .line.today{
  border-bottom: dashed 1px #f4c916;
}

.list_events .time h2{
  margin-top: 10px;
  margin-left: 10px;
}

.day_events .event{
  margin-left: 80px;
  top: -16px;
  position: relative;
  margin-top: 4px;
}

.fc-event.assignment{
  background-color: #CCCCFF; 
  border-color: #CCCCFF;
}
.fc-event.chat{
  background-color: #A7C1F0; 
  border-color: #A7C1F0;
}
.fc-event.discussion{
  background-color: #CAFCCC; 
  border-color: #CAFCCC;
}
.fc-event.presential_test{
  background-color: #F5D5EF; 
  border-color: #F5D5EF;
}
.fc-event.presential_meeting{
  background-color: #FFD9E0; 
  border-color: #FFD9E0;
}
.fc-event.recess_holiday{
  background-color: #E3E3E3; 
  border-color: #E3E3E3;
}
.fc-event.other{
  background-color: #FCEBCA; 
  border-color: #FCEBCA;
}

.fc-event.fc-event-title{
  color: black;
}

.list_events .fc-event.fc-event-title{
  font-size: 10pt;
}

.calendar_schedules .legend{
  font-size: 11pt;
  text-align: center;
  label{
    color: #7c7c7c;
    font-size: 10pt;
    width: auto;
    text-align: center;
  }
}

#calendar .dropdown-tip{
  width: 435px;
  .dropdown-panel{
      max-width: 417px;
      margin-bottom: 10px;
    }
  .event_details_dropdown{
    h1, h2, h3{
      font-family: 'PT Sans', sans-serif;
      background-color: white;
      border-bottom: none;
    }
    h1{
      font-weight: bold;
      text-align: left;
      font-size: 11pt;
    }
    h2, h3{
      color: #7c7c7c;
      font-size: 10pt;
      font-weight: normal;
    }
    h2{
      margin: 6px;
    }
    .line{
      border-bottom: solid 1px #E3E3E3;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    .btn-group .left{
      float: left;
      margin-right: 316px;
    }
    .btn-group .right{
      float: right;
    }
  }
}

