#event_form {
  .invisible {
    display: none;
  }

  .ckb{
    margin: 20px;
    .input.boolean{
      display: none;
    }
    label{
      display: inline;
    }
    a, input, select {
      display: inline-block;
      float: right;
    }
  }

  .steps, .steps_print {
    margin-bottom: 20px;
  }

  .steps{
    width: 127px;
  }

  .steps_print {
    width: 259px;
  }

  #save_automatically_message{
    max-width: 400px;
    display: inline-block;
    padding-bottom: 1rem;
    margin-left: 2rem;
  }

}

#event_file_form{
  input[type='file']{
    display: none;
  }
}

.user_schedule_event, .summary{
  .info.block_wrapper{
    width: unset;
  }
}

.autism {
  color: $color_green_font;
}

.low_vision {
  color: $sent_color; // Blue
}

.blindness {
  color: $without_group_color; // Reds
}

.hearing_deficiency {
  color: $notice_color;
}

.physical_disability {
  color: $not_sent_color_font; // Reds
}

.intellectual_deficiency {
  color: $color_gray; // Grays
}

.multiple_disability {
  color: $color_main; // Blues
}

.deafness {
  color: $color_black;
}
.deafblindness {
  color: $color_contrast_text_font;
}
.aspergers_syndrome {
  color: $alert_color;
}
.rett_syndrome {
  color: $btn_border_dark_blue;
}

.other a{
  background-color: $blue_warning_background_bkg;
  text-decoration: none !important;
}

.autism, .low_vision, .blindness, .hearing_deficiency, .physical_disability, .intellectual_deficiency, .multiple_disability, .deafness, .deafblindness, .aspergers_syndrome, .rett_syndrome{
  white-space: nowrap;
}