// ACOMPANHAMENTO, NOTAS E HISTÓRICO DE ACESSOS

#history_search_content {
  padding-bottom: 6px;
  border-bottom: 1px solid;
  border-bottom-color: $border_color;
}

#history-body {
  max-height: 200px;
  overflow: auto;
}
.shortcut{
  font-size: 10pt;
}

tr#activities{
  th{
    text-align: center;
  }
}

.info_right{
  font-size: 10pt;
  height: 100%;
  text-align: center;
  margin-top: 14px;
  .links{
    margin-left: -28%;
  }
  label{
    font-weight: bold;
    display: block;
    margin-left: 20%;
  }
}

.info_left{
  float: left;
  width: 30%;
  font-size: 10pt;
  color: $info_color;

  a.tool_dropdown{
    float: left;

    margin-top: 6px;
  }
  ul.dropdown-menu{
    li{
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 8px;
    }
    label:hover, label{
      background-color: transparent;
      color: $color_little_dark_gray;
      cursor: pointer;
      display: inline;
    }
  }

}

.tb_list_students{
  overflow-y: auto;
  margin-top: 10px;

  table{
    th, td{
      text-align: center;
      min-width: 25px;
      a.disabled{
        text-decoration: none; 
      }
    }
    th.td_student{
      text-align: left;
      width: 140px;
      min-width: 60px;
    }
    th.tool{
      min-width: 20px;
    }
    th#student {
      width: 120px;

    }
    th#profile {
      width: 100px;
    }
    th#assignment {
      width: 15px;
      text-decoration: underline;
    }
    th.access_history, th#public_files,  th#exams{
      width: 60px;
    }
    th.participation {
      width: 80px;
    }
  }
  #assignment_title{
    background-color: $color_white;
    float: right;
    font-size: 10pt;
    color: $info_color;
  }

}

#scores_notes.legend_score_footer, .tb_list_students{
  .evaluated {
    color: $evaluated_color;
  }

  .sent, .sent a, .evaluated a
  td.assignment_as a {
    color: $sent_color;
  }

  .assignment_as, .assignment_as a{
    color: $sent_color;
  }

  .not_sent, .not_sent a{
    color: $not_sent_color;
  }

  .not_started, .not_started a {
    color: $not_started_color;
  }

  .to_send, .to_send a{
    color: $color_main;
  }

  .without_group, .without_group a{
    color: $without_group_color;
  }

  .evaluated, .sent, .not_sent, .not_started, .to_send, .without_group{
    white-space: nowrap;
  }
}

table.scores#list_of_students{
  overflow-x: auto;
  display: inline-block;
}

table.users#list_of_students{
  width: 20%;
  display: inline-block;
  th{
    height: 64px;
  }
}

table#list_of_students{
  td.new_after_evaluation{
    background-color: $score_table_background;
  }
}

#scores_notes table{
  td.new_after_evaluation{
    padding: 5px;
    background-color: $score_table_background;
  }
}

table#list_of_students thead{
  height: 48px;
  ul.dropdown-menu{
    label:hover, label{
      background-color: transparent;
      color: $color_little_dark_gray;
      cursor: pointer;
      display: inline;
    }
  }
}

table.general{
  th{
    min-width: 40px;
  }
}

#scores{
  .evaluation_info{
    margin: 15px;
    width: 50%;
    padding-right: 0;
    display: inline-block;
  }
  .scores_menu{
    margin-left: 28%;
  }
  .info{
    padding: 24px;
    padding-left: 22%;
    padding-right: 17%;
    .left{
      float: left;
      .grade,.frequency{
        text-align: center;
      }
    }
    img{
      border-radius: 58px;
      box-shadow: 4px 4px 7px $scores_info_img_box_shadow;
      margin-bottom: 10px;
    }
  }

  ul.dropdown-menu{
    li{
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 8px;
    }
    label:hover, label{
      background-color: transparent;
      color: $color_little_dark_gray;
      cursor: pointer;
      display: inline;
      font-size: 12pt;
    }
  }

  #list_tools, #resp_list{
    section{
      .tools{
        display: none;
      }
      padding-top: 11px;
      .tools.show{
        display: block;
      }
    }
  }
}

tbody{
  .equivalent{
    a{
      text-decoration: none;
      color: $score_tbody_link;
      font-size: 9pt;
    }
    .dropdown-menu{
      padding: 10px;
    }
  }
}


#tabs{
  margin-left: 28%;
  li{
    display: inline-block;
    padding: 2px;
    padding-right: 5px;
  }
  li a{
    color: $score_table_head_color;
    cursor: pointer;
    border-top: solid 2px $color_main;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    background-color: $background_gray;
  }
  li a:not(.ui-tabs-anchor){
    border-left: solid 2px $color_main;
  }
  li a.active{
    background-color: $color_main;
    color: $color_white;
  }
  a{
    text-decoration: none;
  }
  li a:last-of-type{
    border-right: solid 2px $color_main;
  }

}

.tabs{
  margin-left: 28%;
  li{
    display: inline-block;
    padding: 2px;
    padding-right: 5px;
  }
  li a{
    color: $score_table_head_color;
    cursor: pointer;
    border-top: solid 2px $color_main;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    background-color: $background_gray;
  }
  li a:not(.ui-tabs-anchor){
    border-left: solid 2px $color_main;
  }
  li a.active{
    background-color: $color_main;
    color: $color_white;
  }
  a{
    text-decoration: none;
  }
  li a:last-of-type{
    border-right: solid 2px $color_main;
  }

}

.tb_list_students{
  .top_elements{
    margin-left: 35%;
    display: inline-block;
    a, .print_pdf, form{
      display: inline-block;
    }
  }

  .link_pdf{
    margin-left: 45%;
    display: inline-block;
  }

  .dropdown-menu{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    label{
      display: inline-block;
    }
  }
}

.tools table{
  a.disabled{
    cursor: default;
    text-decoration:none;
    color: $table_data_line_title;
    padding-left: 0;
    padding-right: 0;
  }
}