// ACOMPANHAMENTO, NOTAS E HISTÓRICO DE ACESSOS

#history_search_content {
  padding-bottom: 6px;
  border-bottom: 1px solid;
  border-bottom-color: #d0d0d0;
}

#history-body {
  max-height: 200px;
  overflow: auto;
}

tr#activities{
  th{
    text-align: center;
  }
}

table#list_of_students thead{
  height: 48px;
}

.tb_list_students{
  overflow-y: auto;
  margin-top: 10px;

  table{
    table-layout: fixed;
    th, td{
      text-align: center;
    }
    td.td_student{
      text-align: left;
    }
    td[class^='assignment_']{
      background-color: #e6f0fc;
    }
    td[class^='assignment_']:nth-child(2n+1){
      background:#cbe0fa;
    }
    th#student {
      width: 120px;
    }
    th#profile {
      width: 100px;
    }
    th#assignment {
      width: 15px;
      text-decoration: underline;
    }
    th.access_history, th#public_files,  th#exams{
      width: 60px;
    }
    th.participation {
      width: 80px;
    }
  }
  #assignment_title{
    background-color: white;
    float: right;
    font-size: 10pt;
    color: #787878;
  }
}
