.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: $color_black;
  background-color: rgba($color_black ,0.4);
}

.modal-header {
  background-color: $color_main_mysolar;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

.modal-header h2 {
  color: $color_white;
}


.modal-content {
  background-color: $block_groups_background;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.divider {
  border-right: 1px solid $contacts_list_border_color;
  width: 5%;
}

.flex-item span {
  color: $font_color;
  float: right;
  border: 1px solid $language_border_color;
  background-color: $color_white;
  border-radius: 2px;
  padding: 3px 6px;
}

.flex-item {
  width: 40%;
  font-size: 10pt;
}

/* The Close Button */
.close {
  color: $color_white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
#draggable{
  z-index: 1;
  position: fixed;
  left: 92.5em;
  padding: 0.7em;

  .ui-widget-content_title{
    z-index: 1;
    margin-left: -10px;
    margin-top: -9px;
    border-bottom: 1px dotted gray;
    padding: 0.7em;
    background-color: #E9EEF6;
    margin-bottom: 0.3em;
    width: 100%;
    h2 { 
      text-align: center; 
      margin: 0; 
      font-weight: bold; 
    }
    .close_draggable{
      margin-top: -20px;
      float: right;
      padding-right: 3px;
    }
    a{
      margin-top: -19px;
      float: right;
      padding-right: 20px;
    }
    #dropdown_eq_draggable{
      top: 2em !important;
    }
  }
  .error_t{
    color: $color_red;
    background-color: #E9EEF6;
    font-weight: bold;
    padding: 0.3em;
    margin-top: 0.3em;
  }
  .correct_t{
    color: $color_green_font;
    background-color: #E9EEF6;
    font-weight: bold;
    padding: 0.3em;
    margin-top: 0.3em;
  }
  .not_correct_t{
    color: $color_contrast_text;
    background-color: #E9EEF6;
    font-weight: bold;
    padding: 0.3em;
    margin-top: 0.3em;
  }
}
#draggable ul li { margin: 0.1em 0; padding: 0.1em 0; } * html #draggable ul li { height: 1%; }

