.speech2text i{
  font-size: 14pt;
}
.speech2text i:hover{
  color: $btn_caution_color;
}
.speech2text .i{
  margin-top: 4px;
}

.speech2text.left{
  float: left;
}

.speech2text.inline .i{
  margin-top: 0px;
}

.speech2text.middle .i{
  vertical-align: middle;
}

.speech2text.upper .i{
  margin-bottom:25px;
}

.speech2text{
  display: inline-block;
}

.speech2text i.invisible, .speech2text .btn.invisible{
  display: none;
}
