h2.support_material_title {
  position: absolute;
  bottom: 1px;
}

.new_link input { // FIXME: classe está com nome muito genérico
  width: 200px;
}

#support_material_file_attachment {
	margin-left: 9px;
}

.new_support_material_buttons{
	margin-top: 15px;
	text-align: right;
}

.new_support_material_form .form_label{
	width: 30px !important;
}

#support_material_file_url{
	width: 206px;
}

.new_support_material_form .input .groups{
  width: 200px;
}

