// TABELAS

/**
* Tratando linhas das tabelas
*/
th:not(.act_like_td) {
  border-bottom: 1px solid;
  border-bottom-color: $table_border_color;
}

th, tr.lines td, tr.lines th.act_like_td {
  padding: 6px 10px 4px 10px;
  vertical-align: middle;
}

tbody tr.lines {
  border-bottom: 1px solid;
  border-bottom-color: $table_border_color;
  background-color: $color_main_light;

  &:hover {
    background-color: $color_main_light_highlight; /* #FFF5ED*/
  }
}

tbody tr.lines.active {
  border-bottom: 1px solid;
  border-bottom-color: $table_border_color;
  background-color: $color_contrast_light;

  &:hover {
    background-color: $table_line_hover;
  }
}

tbody tr.lines.period_ended:hover {
  background-color: $table_line_period_ended_hover;
}

tr.lines td img {
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}

table.tb_list {
  width: 100%;
  font-size: 10pt;

  th:not(.act_like_td) {
    /*    font-weight: bold;*/
    // white-space: nowrap;
    background-color: $color_white;
  }

  a {
    text-decoration: underline;
  }

  h4 {
    margin-bottom: 4px;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 410px;
  }

  td, tr.lines th.act_like_td {
    /*    border-right: 1px solid $border_color;*/
    // white-space: normal;
    word-wrap: break-word;
  }

  td:last-child, th.act_like_td:last-child {
    border-right: none;
  }

  tbody {
    background-color: $color_main_light;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tr.block_title th {
    padding-bottom: 2px;
  }

  td.file_data_info {
    color: $table_file_data_info_color;
  }

  td.center, th.center{
    text-align: center;
  }

  td .title{
    color: $table_data_line_title;
  }

  td .title-yellow{
    color: $color_contrast_text;
  }

  thead tr.lines{
    color: $table_head_line_title;
  }
}

table.user-courses tbody.offers {
  .offer, .open-edx-class{
    cursor: pointer;
    color: $color_main;
  }
  .offer:focus {
    background-color: $color_main_light_highlight;
  }
}

.file_icon {
  margin-right: 3px;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

/**
* Icones de arquivos em tabelas
*/
// FIXME: aparentemente só é utilizado em um local, verificar se é necessário
table .file_data_icon {
  text-align: center;
}

tr.post_content {
  background-color: $color_main_light;
}

/**
* Tablesorter
*/
/* header */
.tablesorter-default th,
.tablesorter-default thead td {
  border-bottom: $table_sort_border_color 1px solid;
  /*font: bold;
  color: #000;
  background-color: #fff;
  border-collapse: collapse;
  padding: 0;*/
}

.tablesorter-default tfoot th,
.tablesorter-default tfoot td {
  border: 0;
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  white-space: normal;
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  background-color: $color_contrast_light;
  border-bottom: $color_contrast 1px solid;
  color: $color_black;
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  background-color: $color_contrast_light;
  border-bottom: $color_contrast 1px solid;
  color: $color_black;
}

.tablesorter-default thead .sorter-false {
  background-image: none;
  padding: 4px;
}

tr.responsibles{
  p{
    margin-bottom: 0;
  }
}
