// TABELAS

/**
* Tratando linhas das tabelas
*/
th {
  border-bottom: 1px solid;
  border-bottom-color: #B4B2B1;
}

th, tr.lines td {
  /*    border-bottom: solid #B4B2B1 1px;*/
  /*    border-left: solid #B4B2B1 1px;*/
  /*    padding: 7px 5px 6px 5px;*/
  padding: 6px 10px;
  vertical-align: middle;
}

tbody tr.lines {
  border-bottom: 1px solid;
  border-bottom-color: #B4B2B1;
  background-color: $color_main_light;

  &:hover {
    background-color: $color_main_light_highlight; /* #FFF5ED*/
  }
}

tbody tr.lines.active {
  border-bottom: 1px solid;
  border-bottom-color: #B4B2B1;
  background-color: $color_contrast_light;

  &:hover {
    background-color: #fffbd1;
  }
}

tbody tr.lines.period_ended:hover {
  background-color: #f1f1f1;
}

tr.lines td img {
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}

table.tb_list {
  width: 100%;
  font-size: 10pt;

  th {
    /*    font-weight: bold;*/
    white-space: nowrap;
    background-color: white;
  }

  a {
    text-decoration: underline;
  }

  h4 {
    margin-bottom: 4px;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 410px;
  }

  td {
    /*    border-right: 1px solid #d0d0d0;*/
    white-space: normal;
    word-wrap: break-word;
  }

  td:last-child {
    border-right: none;
  }

  tbody {
    background-color: $color_main_light;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tr.block_title th {
    padding-bottom: 2px;
  }

  td.file_data_info {
    color: #787878;
  }
}

.file_icon {
  margin-right: 3px;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

/**
* Icones de arquivos em tabelas
*/
// FIXME: aparentemente só é utilizado em um local, verificar se é necessário
table .file_data_icon {
  text-align: center;
}

tr.post_content {
  background-color: $color_main_light;
}

td.td_student a {
  color: $color_main_text;
}