//Tutoriais

.description_tutorials{
  color: $color_gray_text;
}

.subtitle_tutorial{
  font-style: italic;
  color: $color_gray_text;
}

#tutorials{
  tr{
    a{
      text-decoration: none;
    }
  }
}
