.list_webconferences {
  width: 100%;
}

form{
  .webconference > .input > select {
    width: initial;
    max-width: 100px;
  }
  #save_automatically_message{
    max-width: 400px;
    display: inline-block;
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
}

.preview_webconferences{
  .block_toolbar_right{
    .delete_record_btn{
      margin-top: 7px;
    }
  }
  [id^="groups_codes"]{
    .dropdown-menu{
      max-height: 250px;
      overflow-y: auto;
    }
  }
}

.block_wrapper{
  .title-warning:first-of-type{
    margin-bottom: 0;
  }
}

.title-warning{
  /* text-align: center; */
  p:last-of-type{
    margin-bottom: 0;
  }
  p:first-of-type{
    margin-top: 3px;
  }
}

table.webconferences{
  thead{
    tr.lines{
      th.no_sort{
        text-align: center;
        width: 5px;
      }
      th.default_width{
        width: 20%;
      }
      th.bigger_width{
        width: 25%;
      }
      th.smaller_width{
        width: 10%;
      }
      th.medium_width{
        width: 15%;
      }
      th.greater_width{
        width: 30%;
      }
    }
  }

  a.disabled{
    pointer-events: none;
    text-decoration: none;
    color: $score_tbody_link;
  }

  td[headers="web_frequency"] {
    padding: 6px 5px 4px;
  }
}

.webconference_access{
  table{
    th{
      text-align: center;
    }
    text-align: center;
    td.profile{
      color: $color_almost_gray_content;
      font-size: 9pt;
      font-style: italic;
      padding-right: 0;
      text-align: center;
    }
    th.profile{
      text-align: center;
    }
    tr.evaluative_form{
      background-color: $color_main_light_highlight;
      height: 70px;
      .left{
        float: left;
      }
      .right{
        float: right;
      }
      .middle{
        float: left;
        padding-left: 13%;
      }
      form{
        padding-left: 20px;
        padding-right: 20px;
        label{
          width: auto;
        }
      }
    }
  }

}

.title-warning + .webconference_access{
  .text_none{
    border-top: solid 1px;
    border-top-color: $border_color;
  }
}

.description_webconferences {
  table-layout: fixed;
}

/*Preview*/
.block_wrapper.preview_webconferences{
  .delete_record_btn:first-of-type{
    margin-right: 5px;
  }
}

/* #######################################################
                      REPORTS
####################################################### */

.block_content.charts{
  text-align: center;
  margin-top: 20px;
  .resume_item{
    padding: 10px;
  }
  .title{
    font-weight: bold;
    padding: 10px;
    background-color: #003e7a;
    color: white;
  }
  .title-warning{
    margin-bottom: 2px;
  }

  .resume, .statistics, .historic {
    display: inline-block;
    text-align: end;
    padding: 10px;

    tr{ line-height: 30px; }

    td:nth-child(2){
      font-size: 15px;
      font-weight: bold;
      padding-left: 30px;
    }
  }

  .chart_title{ padding: 10px; }

  .historic {
    text-align: center;
    td:nth-child(2){ text-align: left; }
    .title th { text-align: center;}
    tr {line-height: normal; }
    .add input { width: -webkit-fill-available; }
    .add input, button { margin: 20px 0 10px 0; }
  }

  .block_content_toolbar {
    padding: 20px 0 15px 0;
    #txt_deployment { max-width: 100px; text-align: center; margin: 2px; }
    #txt_description { min-width: 300px; margin: 2px; }
    #saveChangeLogButton { min-width: 100px; margin: 5px;}
  }
}
