.portfolio_comment_button{
  text-align: right;
}

#comment_form{
  .input.files{
    #file{
      padding: 10px;
      margin-left: -200px;
    }
  }
  .portfolio_comment_button {
    float: right;
    margin-right: 5px;
  }
  .forum_post_attachment h3 {
    padding-top: 12px;
  }

  i.remove_file{
    padding: 5px;
    color: $remove_file_color;
    cursor: pointer;
  }
}
