
$login_main_blue: #000 ;
$login_dark_yellow: #fff;
$login_light_blue: #285596;
$login_highlight_blue: #91A9CC;

$login_error_color: #D5031C;
$login_notice_color: #00782D;
$login_warning_color: #dca727;

$login_gradient_blue: #56729c;
$login_background_gradient_start: #000;
$login_background_gradient_end: #E6E8EC;

$input_color: #ffffff;
$field_border_color: #B6B6B6;
$field_background: #000;

$filter_gradient_hover_start: #000;
$filter_gradient_hover_end: #000;
$filter_gradient_hover_end_light: #000;

$btn_default_gradient_start: #eee;
$btn_default_gradient_end: #BFBFBF;
$btn_default_gradient_end_hover: #B5B5B5;

$login_title_inactive: #000;
$login_title_inative_hover: #000;
$login_title_inative_link: #959595;

$login_password_recovery: #D5D5D5;
$login_password_recovery_title: #8c8c8c;
$login_password_recovery_line: #8B8B8B;

$login_form_blue_color: #004B81;
$login_box_shadow: #222427;
$login_box_shadow_light: #323232;
$login_text_shadow: #ffffbe;

$login_choice_color: #234a84;
$login_choice_background: #e7e9eb;
$login_choice_border: #ccc;

$login_button_color: #fff;
$login_button_default_color: #7A7A7A;
$login_button_background: #fff333;
$login_border_light: #fff;
$login_border_yellow: #fff;

$login_cancel_link_color: #CAD8E8;
$login_register_steps_link_color: #919191;
$login_bar_brazil_background: #004b82;

