// Whites
$color_white: #ffffff;
$color_white_base: $color_white;
$color_white_base_link: $color_white;
$questions_audios_background: #FAFAFA;
$panel_background: #eceef0;
$panel_border_color: #d3d3d3;
$background_light: #f5f5f5;
$questions_audios_background_exams: $questions_audios_background;
$mysolar_top_submenu_label_selected: $color_white;

// Blacks
$color_black: #000000;
$color_black_base: $color_black;
$color_black_calendar: $color_black;
$color_black_buttons: $color_black;
$lightbox_fancybox_inner_color: #444;
$color_almost_black: #222222;
$color_almost_black_base: $color_almost_black;
$font_color: #333333;
$font_color_buttons: $font_color;
$questions_audios_background_firefox: #1f1e1f;
$panel_box_shadow: #323232;

// Grays
$color_gray: #808080;
$color_gray_font: $color_gray;
$color_gray_light: #A3A3A3;
$color_gray_text: #424242;
$color_gray_text_custom_icons: $color_gray_text;
$color_gray_text_messages_link: $color_gray_text;
$color_almost_gray: #666666;
$color_almost_gray_content: $color_almost_gray;
$color_almost_gray_back: $color_almost_gray;
$btn_box_shadow: #9a9a9a;
$steps_list_color: #919191;
$step_list_color: #B4B2B1;
$step_list_color_import: $step_list_color;
$step_list_color_import_black: $step_list_color;
$contacts_list_border_color: #dddddd;
$search_keyword_inactive_color: #b0b0b0;
$disabled_color: #B4B3B7;
$disabled_color_exams: $disabled_color;
$language_border_color: #cccccc;
$language_background_color: #e7e9eb;
$event_recess_holiday_background: #E3E3E3;
$event_recess_holiday_border: #E3E3E3;
$btn_border_light_gray: #e6e6e6;
$btn_border_dark_gray: #bfbfbf;
$btn_border_botton_color: #b3b3b3;
$datepicker_color: #cfcfcf;
$complete_border_left_color: #C0C0C0;
$complete_border_left_color_gray: $complete_border_left_color;
$questions_link_color_contrast: $complete_border_left_color;
$mysolar_chat_color: #bbbbbb;
$mysolar_chat_color_chat: $mysolar_chat_color;
$border_color_another_gray: #dedede;
$border_color: #D0D0D0;
$label_border_color: #CBCED1;
$question_image_border_color: #CDD6E3;
$question_image_border_color_exams: $question_image_border_color;
$question_image_legend_background: #CBD7E4;
$question_image_legend_background_exams: $question_image_legend_background;
$label_disabled_border_color: #dcdcdc;
$background_dark_gray: #E8EFF6;
$current_background: #E7EDED;
$slide_settings_active_background: #d8dfe9;
$block_groups_background: #f3f3f3;
$lesson_area_background: #eeeeee;
$background_blue: #F5F8FB;
$background_gray: #EFEFEF;
$background_gray_color: $background_gray;
$body_background: #f9f9f9;
$period_ended_background: #f6f6f6;
$steps_background: #f5f5f5;
$mysolar_border_color: #EBEBEB;
$slide_settings_hover_background: #eef3f9;
$participants_list_none_background: #f2f6f6;

// Blues
$form_background_color: #f8fbfe;
$blue_warning_background: #E9F3FF;
$blue_warning_background_bkg: $blue_warning_background;
$color_main: #003E7A;
$color_main_base_link: $color_main;
$color_main_mysolar: $color_main;
$added_permission_color: #0000FF;
$sent_color: #2900c2;
$sent_color_link: $sent_color;
$btn_border_dark_blue: #002a80;
$btn_border_light_blue: #0044cc;
$btn_main_color: #005cc0;
$agenda_color: #4b6380;
$slide_settings_counter_color: #3b5e9a;
$slide_settings_counter_color_portlets: $slide_settings_counter_color;
$current_color: #214684;
$current_color_base: $current_color;
$current_color_back: $current_color;
$current_color_gray: $current_color;
$lesson_header_title_background: $current_color;
$panel_title_color: #135696;
$score_tbody_link: #21578B;
$groups_forms_background: #0074f3;
$block_content_text_list_background: $form_background_color;

// Reds
$background_light_red: #fff6f6;
$background_light_red_editions: $background_light_red;
$removed_permission_color: #FF0000;
$color_red: #CE1A15;
$not_sent_color: #e12227;
$not_sent_color_font: $not_sent_color;
$without_group_color: #B15759;
$without_group_color_link: $without_group_color;
$error_color: #E03838;
$error_color_font: $error_color;
$text_alert_color: #CD4444;
$btn_caution_color: #ee5f5b;
$remove_file_color: #DC5869;
$edition_color: #D5031C;
$btn_warning_background: #942a25;
$notice_exams_color: #b30602;
$btn_border_light_red: #bd362f;
$lesson_status_draft_background: #B41717;

// Greens
$background_light_green: #F5FFE3;
$color_green: #0B610B;
$color_green_font: $color_green;
$color_green_link: $color_green;
$notice_color: #2F4F2F;
$lesson_status_released_background: #7DC43F;

// Yellows and oranges
$background_light_beige: #fefae6;
$warning_background: #FFFFDE;
$warning_background_back: $warning_background;
$color_contrast: #F9DB43;
$color_contrast_text: #dca727;
$color_contrast_text_font: $color_contrast_text;
$color_contrast_text_alert: $color_contrast_text;
$color_contrast_messages: $color_contrast; 
$steps_list_box_shadow: #f0cf65;
$event_webconferencelesson_background: #F5DA81;
$event_webconferencelesson_border: #F5DA81;
$btn_initial_file_color_final: #f9c143;
$message_label_background: #F9C153;

// Hipster
$event_assignment_background: #FCEBCA;
$event_assignment_background_portfolio: $event_assignment_background;
$event_assignment_border: #FCEBCA;
$event_chat_background: #A7C1F0;
$event_chat_border: #A7C1F0;
$event_presential_test_background: #F5D5EF;
$event_presential_test_border: #F5D5EF;
$lesson_notes_background: #FFC0CB;
$event_presential_meeting_background: #FFD9E0;
$event_presential_meeting_border: #FFD9E0;
$btn_orange: #ffe6cc;
$event_lessons_background: #A9F0F7;
$event_lessons_border: #A9F0F7;
$event_discussion_background: #CAFCCC;
$event_discussion_border: #CAFCCC;
$event_other_background: #CCCCFF;
$event_other_border: #CCCCFF;
$alert_color: #660000;
$blue_warning_background_blue: #b0cce8;
$blue_warning_background_blue_bkg: $blue_warning_background_blue;
$event_exam_background: #E4FFA5;

// Sass colors
$color_main_light: desaturate(lighten($color_main, 74.5%),20%);
$color_main_medium: lighten(desaturate($color_main, 70%),30%);
$color_main_light_highlight: adjust_color($color_main, $lightness: 73%);
$color_contrast_light: adjust_color($color_contrast, $lightness: 33%);
$color_contrast_light_mysolar_menu_active: $color_contrast_light;

hr {
  border-top-color: $border_color;
  border-bottom-color: $color_white;
}

// high contrast exclusives
$exclusive_background_color: false;
$exclusive_font_color: false;
$exclusive_link_color: false;
