$color_main: #003E7A;
$color_main_light: desaturate(lighten($color_main, 74.5%),20%);
$color_main_light_highlight: adjust_color($color_main, $lightness: 73%);

$color_main_medium: lighten(desaturate($color_main, 70%),30%);

$color_main_text: $color_main;

$color_contrast: #F9DB43;
$color_contrast_light: adjust_color($color_contrast, $lightness: 33%);
$color_contrast_text: #dca727;

//TODO: organizar codigo abaixo

$text_blue: #003E7A;
$text_grey: #7C7C7C;
$font_color: #333;
$background_blue: #F5F8FB;
$border: #D0D0D0;

.color_text_grey{
  color: $text_grey;
}

hr {
  border-top-color: $border;
  border-bottom-color: #ffffff;
}

$label_color: $color_main_text;

/* Facebook */
$facebook_main_color: #3b5c9a;
$color_disabled: #777777;


