// Theme High Constrast Variables

$high_contrast_link_color: #FFF333;
$high_contrast_font_color: #ffffff !default;
$high_contrast_border_color: $high_contrast_font_color;
$high_contrast_background_color: #000;
$color_main: $high_contrast_font_color;
$color_main_text: $high_contrast_font_color;
$background_light_green: #F5FFEC;
$color_black: $high_contrast_font_color;

//editions
$edition_background_color: $high_contrast_background_color;

//allocation
$allocation_status_info_profile: $high_contrast_font_color;

//matrícula
$enrollment_label_search_font_color: $high_contrast_font_color;
$enrollment_cancel_button_hover_font_color: $high_contrast_background_color;
$enrollment_active_line_table_hover: $high_contrast_background_color;

//agenda
$fc_event_title_agenda: $high_contrast_background_color;
$event_assignment_background: #FCEBCA;
$event_chat_background: #A7C1F0;
$schedule_event_color_text: $high_contrast_background_color;
$schedule_event_color_gray_text: $high_contrast_background_color;
$schedule_event_background_color: $high_contrast_font_color;

// alerts
$color_black_alert: $high_contrast_font_color;
$color_white_alert: $high_contrast_background_color;
$text_alert_color: $high_contrast_font_color;
$color_contrast_text_alert: $high_contrast_background_color;

// allocations
$color_light_gray: #669;

//base
$body_background: $high_contrast_background_color;
$color_main: $high_contrast_border_color;
$color_main_base_link: $high_contrast_link_color;
$color_white_base: $high_contrast_background_color;
$color_black_base: $high_contrast_link_color;
$color_almost_black_base: $high_contrast_background_color;
$color_almost_gray: $high_contrast_link_color;
$period_ended_background: $high_contrast_background_color;
$period_ended_color_base: $high_contrast_font_color;
$current_background: $high_contrast_background_color;
$current_color: $high_contrast_font_color;
$current_color_base: $high_contrast_link_color;
$disabled_color: $high_contrast_font_color;
$language_border_color: $high_contrast_border_color;
$language_color_base: $high_contrast_link_color;
$language_background_color: $high_contrast_background_color;
$language_color_base_choice_language: $high_contrast_background_color;

//buttons
$btn_border_light_gray: $high_contrast_border_color;
$btn_border_dark_gray: $high_contrast_border_color;
$color_black_buttons: $high_contrast_background_color;
$color_white_buttons: $high_contrast_background_color;
$font_color_buttons: $high_contrast_font_color;
$btn_main_color: $high_contrast_font_color;
$btn_border_light_blue: $high_contrast_border_color;
$btn_border_dark_blue: $high_contrast_border_color;
$btn_caution_color: $high_contrast_font_color;
$btn-initial-file-color: $high_contrast_font_color;
$btn-initial-file-color-final: $high_contrast_font_color;
$btn_orange: $high_contrast_font_color;
$slide_settings_title_color: $high_contrast_link_color;
$list_exams_not_started_color: $high_contrast_link_color;
$table_file_data_info_color: $high_contrast_link_color;

//calendar
$color_main_medium: $high_contrast_font_color;
$color_white_calendar: $high_contrast_background_color;
$color_black_calendar: #ffffff;
$color_contrast_text_calendar: $high_contrast_font_color;
$color_contrast_text_weekend_calendar: $high_contrast_font_color;
$complete_border_left_color: $high_contrast_border_color;

//chat
$mysolar_chat_barra_background: $high_contrast_background_color;
$mysolar_chat_color: $high_contrast_border_color;
$color_white_chat: $high_contrast_background_color;
$mysolar_chat_color_chat: $high_contrast_background_color;

//chat rooms
$color_gray_chat_rooms: $high_contrast_border_color;
$color_white_chat_rooms: $high_contrast_background_color;

//content
$color_white_content: $high_contrast_background_color;
$color_black_content: $high_contrast_font_color;
$block_groups_background: $high_contrast_background_color;
$color_almost_gray_content: $high_contrast_font_color;
$color_main_content: $high_contrast_background_color;
$steps_background: $high_contrast_background_color;
$steps_list_color: $high_contrast_font_color;
$steps_list_active_color: $high_contrast_link_color;
$color_black_floating_box: $high_contrast_background_color;
$block_content_label: $high_contrast_font_color;

//custom_icons
$color_gray_text_custom_icons: $high_contrast_background_color;

//digital_classes
$remove_file_color_digital_classes: $high_contrast_font_color;

//editions
$color_gray_editions: $high_contrast_font_color;
$background_light_red_editions: $high_contrast_background_color;
$list_exams_btn_color_editions: $high_contrast_border_color;
$list_exams_exam_box_color_editions: $high_contrast_border_color;
$edition_color: $high_contrast_font_color;

//exams
$color_little_dark_gray: $high_contrast_font_color;
$question_image_legend_background: $high_contrast_background_color;
$question_image_legend_background_exams: $high_contrast_background_color;
$question_iten_incorrect_exams: $high_contrast_font_color;
$question_iten_hit_color_exams: $high_contrast_font_color;
$question_image_border_color_exams: $high_contrast_border_color;
$questions_audios_background_exams: $high_contrast_background_color;
$disabled_color_exams: $high_contrast_background_color;
$list_exams_btn_color_exams: $high_contrast_border_color;
$list_exams_corrected_color_exams: $high_contrast_font_color;
$list_exams_finished_color_exams: $high_contrast_font_color;
$list_exams_not_answered_color_exams: $high_contrast_font_color;
$list_exams_not_started_color_exams: $high_contrast_font_color;
$color_contrast_text_exams: $high_contrast_font_color;
$notice_exams_color: $high_contrast_font_color;


//fancybox_with_columns
$color_white_fancybox: $high_contrast_background_color;
$remove_file_color_fancybox: $high_contrast_font_color;
$label_selected_background_fancybox: $high_contrast_background_color;
$label_disabled_background_fancybox: $high_contrast_background_color;
$label_disabled_color_fancybox: $high_contrast_font_color;
$label_disabled_selected_background_fancybox: $high_contrast_background_color;
$color_main_messages_text_none: $high_contrast_background_color;
$empty_message_fancybox_with_columns: $high_contrast_font_color;

//forms
$form_error_color_forms: $high_contrast_font_color;
$form_select_disabled_background_forms: $high_contrast_background_color;
$form_background_color: $high_contrast_background_color;

//forum
$color_red_forum: $high_contrast_font_color;
$color_white_forum: $high_contrast_background_color;
$forum_post_background_blue: $high_contrast_background_color;
$color_light_gray_forum: $high_contrast_font_color;
$forum_post_color: $high_contrast_font_color;

//groups_tags
$color_gray_group_tags: $high_contrast_font_color;
$groups_forms_background: $high_contrast_font_color;
$color_black_groups_tags: $high_contrast_background_color;
$color_main_groups_tag: $high_contrast_background_color;
$groups_tags_collecion_check_box: $high_contrast_background_color;

//icons
$del_semester_icon_trash: $high_contrast_font_color;

//import
$color_white_import: $high_contrast_background_color;
$step_list_color_import: $high_contrast_font_color;
$step_list_color_import_black: $high_contrast_background_color;

//lesson
$lesson_area_background: $high_contrast_background_color;
$lesson_header_background: $high_contrast_background_color;
$lesson_header_title_background: $high_contrast_background_color;
$lesson_status_draft_background: $high_contrast_background_color;
$lesson_status_released_background: $high_contrast_background_color;
$color_gray_lesson: $high_contrast_border_color;

//lesson_files
$lesson_files_select_all_color: $high_contrast_font_color;
$save_automatically_message_color: $high_contrast_font_color;

//lesson_notes.css.scss

$color_white_lesson_notes: $high_contrast_background_color;
$lesson_notes_background: $high_contrast_background_color;

//lightbox
$color_white_lightbox: $high_contrast_background_color;
$lightbox_dialog_title_color_lightbox: $high_contrast_font_color;
$lightbox_fancybox_inner_color: $high_contrast_font_color;

//messages
$color_gray_text_messages_link: $high_contrast_link_color;
$color_almost_gray_messages: $high_contrast_font_color;
$color_contrast_messages: $high_contrast_background_color;
$color_white_messages: $high_contrast_background_color;
$disabled_color_messages: $high_contrast_font_color;
$message_label_color: $high_contrast_font_color;
$message_label_background: $high_contrast_background_color;
$message_label_background_border: $high_contrast_border_color;
$contacts_edition_block_content_background_messages: $high_contrast_background_color;
$edition_color_messages: $high_contrast_font_color;
$color_red_messages: $high_contrast_font_color;
$receiver_already_added_color_messages: $high_contrast_font_color;

//mysolar
$color_main_mysolar: $high_contrast_background_color;
$color_main_mysolar_link: $high_contrast_link_color;
$color_white_mysolar: $high_contrast_background_color;
$color_white_mysolar_link: $high_contrast_link_color;
$search_keyword_inactive_color: $high_contrast_font_color;
$contacts_edition_block_content_background_mysolar: $high_contrast_background_color;
$color_black_mysolar_menu_active: $high_contrast_background_color;
$color_contrast_light_mysolar_menu_active: $high_contrast_font_color;

//panels
$panel_background: $high_contrast_background_color;
$color_white_panels: $high_contrast_background_color;
$panel_box_shadow: #323232;
$black: $high_contrast_background_color;
$background_light: $high_contrast_background_color;
$panel_color: $high_contrast_font_color;
$panel_border_color: $high_contrast_border_color;
$panel_title_color: $high_contrast_font_color;
$panel_content_color: $high_contrast_font_color;
$panel_menu_footer_color: $high_contrast_font_color;

//webconference
$webconference_access_profile_color: $high_contrast_font_color;
$color_main_light_highlight: $high_contrast_background_color;

//tutoriais
$tutorials_description_color: $high_contrast_font_color;
$color_gray_text: $high_contrast_font_color;

//tables
$table_border_color: $high_contrast_border_color;
$color_main_light: $high_contrast_background_color;
$table_border_color: $high_contrast_border_color;
$table_line_period_ended_hover: $high_contrast_background_color;
$table_td_student: $high_contrast_background_color;
$table_link_content_lesson: $high_contrast_link_color;
$table_period_ended: $high_contrast_font_color;

//speech2text
$speech2text_color: $high_contrast_background_color;
$speech2text_hover_color: red;

//semesters
$semester_color: $high_contrast_font_color;
$border_color: $high_contrast_border_color;
$block_content_text_list_background: $high_contrast_background_color;
$color_main: $high_contrast_font_color;
$color_black: $high_contrast_font_color;

//scores
$info_color_score: $high_contrast_font_color;
$color_little_dark_gray_score: $high_contrast_font_color;
$color_white_background_score: $high_contrast_background_color;
$evaluated_color_score: $high_contrast_font_color;
$sent_color_score: $high_contrast_link_color;
$not_sent_color_score: $high_contrast_font_color;
$without_group_color_score: $high_contrast_font_color;
$score_table_background: $high_contrast_background_color;
$scores_info_img_box_shadow: $high_contrast_font_color;
$score_tbody_link: $high_contrast_link_color;
$score_table_head_color: $high_contrast_font_color;
$color_little_dark_gray_dropdown_scores: $high_contrast_background_color;
$color_main_border_score: $high_contrast_border_color;
$color_main_li_active_score: $high_contrast_font_color;
$color_white_font_color_score: $high_contrast_background_color;
$not_sent_color: $high_contrast_link_color;

//questions
$questions_link_color_contrast: $high_contrast_link_color;
$color_white_questions: $high_contrast_background_color;

//portlets
$color_white_portlets: $high_contrast_background_color;
$slide_settings_title_color_portlets: $high_contrast_font_color;
$color_black_portlets: $color_black;
$slide_settings_counter_background_portlets: $high_contrast_background_color;
$slide_settings_counter_color_portlets: $high_contrast_font_color;
$color_black_background_color: #fff;
$color_white_background_portlets: $high_contrast_background_color;

//portfolio
$color_light_gray_portfolio: $high_contrast_font_color;
$color_white_background_portfolio: $high_contrast_background_color;
$portfolio_assignment_corrected_color_portfolio: $high_contrast_font_color;
$portfolio_assignment_corrected_color_portfolio_link: $high_contrast_link_color;
$portfolio_assignment_not_answered_color_portfolio: $high_contrast_font_color;
$portfolio_assignment_color: $high_contrast_font_color;
$portfolio_assignment_color_link: $high_contrast_link_color;
$portfolio_assignment_not_sent_color: $high_contrast_font_color;
$portfolio_assignment_not_sent_color_link: $high_contrast_link_color;
$portfolio_assignment_not_started: $high_contrast_font_color;
$portfolio_assignment_not_started_link: $high_contrast_link_color;
$portfolio_assignment_to_be_sent: $high_contrast_font_color;
$portfolio_assignment_to_be_sent_link: $high_contrast_link_color;
$portfolio_assignment_without_group_color: $high_contrast_font_color;
$portfolio_assignment_without_group_color_link: $high_contrast_link_color;
$step_list_color_portfolio: $high_contrast_border_color;
$event_assignment_background_portfolio: $high_contrast_background_color;
$color_main_border_portfolio: $high_contrast_border_color;

//participants
$participants_list_none_background: $high_contrast_background_color;

//theads

$thead_background_color: $high_contrast_font_color;
$thead_color: $high_contrast_background_color;

// Variables imported from Theme Blue

// Tons claros
$background_light_red: #fff6f6;
$color_white: $high_contrast_font_color;
$label_selected_background: #FDFBE9;
$warning_background: #FFFFDE;
$table_line_hover: $high_contrast_background_color;

$questions_audios_background: #FAFAFA;
$comment_color: $high_contrast_font_color;
$color_almost_black: $high_contrast_font_color;
$color_gray_light: $high_contrast_border_color;
$event_assignment_border: $high_contrast_border_color;
$event_chat_border: $high_contrast_border_color;
$event_discussion_border: $high_contrast_border_color;
$event_presential_test_border: $high_contrast_border_color;
$event_presential_meeting_border: $high_contrast_border_color;
$event_recess_holiday_border: $high_contrast_border_color;
$event_webconferencelesson_border: $high_contrast_border_color;
$event_lessons_border: $high_contrast_border_color;
$event_other_border: $high_contrast_border_color;
$lightbox_dialog_title_color: $high_contrast_font_color;
$mysolar_top_submenu_label_selected: $color_black;
$color_gray_text: $lightbox_dialog_title_color;

// Cores escuras
$font_color: $high_contrast_background_color;
$questions_audios_background_firefox: #1f1e1f;
$calendar_link_color: #370101;
$background_gray: $high_contrast_background_color;
$background_light_beige: $high_contrast_background_color;
$background_dark_gray: $high_contrast_background_color;

// Cinza com letras brancas
$color_gray: #808080;
$color_disabled: #777777;
$portfolio_block_wrapper_groups: #929792;
$speech2text_color: #828282;
$table_head_line_title: #000; //FIXME mudar para branco #fff
$btn_box_shadow: #9a9a9a;

// Cinza com letras escuras
$step_list_color: #B4B2B1;
$contacts_list_border_color: #dddddd;
$event_recess_holiday_background: #E3E3E3;
$btn_border_botton_color: #b3b3b3;
$datepicker_color: $high_contrast_font_color;
$border_color_another_gray: $high_contrast_border_color;
$border_color: $high_contrast_border_color;
$label_border_color: #CBCED1;
$question_image_border_color: #CDD6E3;
$label_disabled_border_color: #dcdcdc;
$slide_settings_active_background: #d8dfe9;
$slide_settings_counter_background: #d7dfea;
$background_blue: #F5F8FB;
$agenda_color: $high_contrast_font_color;
$mysolar_border_color: $high_contrast_border_color;
$slide_settings_hover_background: #eef3f9;
$label_disabled_selected_background: #F0F0F0;
$participants_list_none_background: #f2f6f6;
$label_disabled_background: #F7F7F7;
$form_select_disabled_background: #F2F2F2;
$contacts_edition_block_content_background: #F8FBFE;
$blue_warning_background: $high_contrast_background_color;

// Tons azuis
$sent_color: #2900c2;
$facebook_main_color: #3b5c9a;
$slide_settings_counter_color: #3b5e9a;
$block_content_background: #0074f3;
$score_tbody_link: $high_contrast_font_color;

// Tons vermelhos
$removed_permission_color: #FF0000;
$color_red: #CE1A15;

$without_group_color: #B15759;
$error_color: #E03838;

$btn_warning_background: #942a25;

$btn_border_light_red: #bd362f;
$btn_border_dark_red: #802420;
$portfolio_assignment_not_answered_color: #CC0033;
$remove_file_color: #c00;

// Tons verdes
$permission_color: #008000;
$evaluated_color: #2D7035;
$notice_color: #063;
$question_iten_hit_color: #0B610B;

$added_permission_color: #00FF00;

// Tons Amarelos e Laranjas
$color_contrast: $high_contrast_border_color;
$color_contrast_text: $high_contrast_link_color;
$steps_list_box_shadow: #f0cf65;
$event_webconferencelesson_background: #F5DA81;
$btn_initial_file_color_final: #f9c143;
$label_selected_border_color: #F9E993;
$receiver_already_added_color: #FF9900;

// Cores Hipster
$event_presential_test_background: #F5D5EF;

$event_presential_meeting_background: #FFD9E0;
$event_lessons_background: #A9F0F7;
$event_discussion_background: #CAFCCC;
$event_other_background: #CCCCFF;
$alert_color: #c00;

// Cores modificadas por funções do Sass
hr {
  border-top-color: $border_color;
  border-bottom-color: $color_white;
}

// Cores repetidas
$btn_color: $color_white;
$forum_post_background: $blue_warning_background;
$btn_border_color: $high_contrast_border_color;
$btn_disabled_background: $color_red;
$block_border_color: $color_main;
$block_content_color: $high_contrast_border_color;
$list_exams_btn_color: $color_gray;
$list_exams_exam_box_color: $btn_main_color;
$list_exams_background: $block_groups_background;
$question_iten_incorrect: $error_color;
$list_exams_corrected_color: $evaluated_color;
$list_exams_finished_color: $high_contrast_font_color;
$list_exams_not_answered_color: $not_sent_color;
$form_error_color: $error_color;
$lesson_portlet_border_color: $high_contrast_border_color;
$portfolio_assignment_corrected_color: $high_contrast_font_color;
$block_content_toolbar_background: $background_dark_gray;
$questions_link_color: $complete_border_left_color;
$info_color: $color_almost_gray;
$scores_info_img_box_shadow: $portfolio_block_wrapper_groups;
$block_content_text_background: $contacts_edition_block_content_background;
$table_border_color: $step_list_color;
$table_data_line_title: $score_tbody_link;
$table_sort_border_color: $step_list_color;
$webconference_table_body_color: $speech2text_color;

// Cores Enxugadas
$label_disabled_color: $tutorials_description_color;
$language_color: $current_color;
$icon_color: $current_color;
$not_started_color: $color_almost_gray;
$period_ended_color: $color_almost_gray;
$color_contrast_light: $high_contrast_background_color;
$color_main_light: $high_contrast_background_color;

// Cores exclusivas do high contrast
$exclusive_background_color: $high_contrast_background_color;
$exclusive_font_color: $high_contrast_font_color;
$exclusive_link_color: $high_contrast_link_color;
