$color_main: #56585E;
$color_main_light: adjust_color($color_main, $lightness: 62%);
$color_main_light_highlight: adjust_color($color_main, $lightness: 60%);

$color_main_medium: lighten(desaturate($color_main, 20%),20%);

$color_main_text: $color_main;

$color_contrast: #ca3829;
$color_contrast_light: adjust_color($color_contrast, $lightness: 50%);
$color_contrast_text: adjust_color($color_contrast, $lightness: -10%);

$background_grey: #EFEFEF;
$light_grey: #A3A3A3;