$color_main: #003E7A;
$color_main_light: desaturate(lighten($color_main, 74.5%),20%);
$color_main_light_highlight: adjust_color($color_main, $lightness: 73%);

$color_main_medium: lighten(desaturate($color_main, 70%),30%);

$color_main_text: $color_main;
$color_gray_text: #7C7C7C;

$color_contrast: #F9DB43;
$color_contrast_light: adjust_color($color_contrast, $lightness: 33%);
$color_contrast_text: #dca727;

$text_blue: $color_main;
$text_gray: #7C7C7C;

$font_color: #333;
$border_color: #D0D0D0;

hr {
  border-top-color: $border_color;
  border-bottom-color: #ffffff;
}

$background_blue: #F5F8FB;
$background_gray: #EFEFEF;

$lesson_color: #A3A3A3;

$event_color: #A3A3A3;
$border_event_list_color: $event_color;

$label_color: $color_main_text;

/* Facebook */
$facebook_main_color: #3b5c9a;
$color_disabled: #777777;
