$high_contrast_font_color: #ffffff;
$high_contrast_link_color: #FFF333;
$color_icon_light: #ffffff !default;
$high_contrast_border_color: $high_contrast_font_color;
$high_contrast_background_color: #000;

$color_main: $high_contrast_font_color;
$color_main_text: $high_contrast_font_color;
