- @courses.each do |course|
  %tr.lines
    %td= course.code
    %td= course.name
    %td
      = link_to_function content_tag(:i, nil, class: 'icon-edit'), "edit_course(this)", class: 'btn', :'data-tooltip' => t(:edit), :"data-link-edit" => edit_course_path(course)
      = link_to_function content_tag(:i, nil, class: 'icon-trash'), "delete_course(this)", class: 'btn btn_caution', :"data-link-delete" => course_path(course), :'data-tooltip' => t(:destroy), id: course.id
