= render partial: 'editions/content_filter', locals: { list_class: 'questions_list', url: import_list_exam_questions_path, optionals: nil, types: @types, back: false, type_id: nil, without_required_message: true, filter_number: 2 }
