<script type="text/javascript">
  function add_another_file(target) {
    var link_id = parseInt($('[id^=post_file_attachment]').last().attr('link_id')) + 1;
    var element_html = '<input id="post_file_attachment' + link_id + '" link_id="' + link_id + '" name="post_file[attachment' + link_id + ']" type="file">';
    $(target).before(element_html);
  }
</script>

<%= form_for([@post, PostFile.new], :html => { :multipart => true, :id => 'form_post_new_file' }) do |f| %>
  <%= f.file_field :attachment1, {:link_id => '1'} %>
  <a href="#" class="forum_button_attachment" onclick="add_another_file(this);" style="float:none"><%= t(".attach_another_file") %></a><br/>
  <div id="post_attachment_form_submit">
    <a href="#" class="UploadFileSubmit forum_button" onclick="$('#form_post_new_file').submit();return false;"><%=t(".attach_save")%></a>
  </div>
<% end %>
