= render partial: 'editions/content_filter', locals: { list_class: 'exams_list', url: export_list_exam_questions_path, optionals: nil, types: @types, back: false, type_id: nil, without_required_message: true, filter_number: 2, ignore_tab: true }
