.block_wrapper.import-log

  .block_title
    %h2
      %i.icon-database
      = t(:import_log, scope: [:administrations, :import_users])

  .block_content_toolbar
    - link = raw [content_tag(:i, nil, class: "icon-download"), t(:download_log, scope: [:administrations, :import_users])].join
    = link_to link, import_users_log_path(@log_file), type: "button", class: "btn", id: "download_logs"

  .block_content.block_content_alt
    %table.tb_list.tb_log
      %tbody
        - if (@count_imported > 0)
          %tr.lines
            %td.success= t(:registered_success, scope: [:administrations, :import_users], count: @count_imported)

        - @log[:error].each do |error|
          %tr.lines
            %td.error= error

:css

  td.success {
    color: #459101
  }
