$('.allocations').append('#{escape_javascript(render partial: 'users', locals: { users: @users})}');
$('a.load-more-allocations').attr('href', '#{search_admin_users_path(page: @users.next_page, type_search: @type_search, user: @text_search)}');
$(".tb_list").trigger("update");

- unless @users.next_page
  $('a.load-more-allocations').remove();