%td= allocation_details(@allocation.allocation_tag)
%td= type(@allocation.allocation_tag)
%td= name_allocation_status(@allocation.status)
%td.right_buttons
	= link_to_function content_tag(:i, nil, class: 'btn icon-edit'), "manage(this)", :"show-link" => show_allocation_administrations_path(@allocation), :"edit-link" => edit_allocation_administrations_path(@allocation), class:  "btn_manage_allocation"
