= render partial: "editions/content_filter", locals: {list_class: "indication", url: admin_designates_allocations_path, optionals: ["curriculum_unit", "semester"], types: @types, back: false, type_id: nil}
