$color_almost_black: #222;
$webconference_table_body_color: #828282;

.student_webconferences{

  .title-warning{
    margin-bottom: 0;
  }

  padding-top: 10px;

  .right_buttons{
    .btn{
      cursor: pointer;
    }
  }

  .tb_list{
    th.aw_status{
      width: 20%;
      text-align: center;
    }

    th.aw_record{
      width: 13%;
      text-align: center;
    }

    th.aw_final{
      width: 16%;
      text-align: center;
    }

    th.options{
      width: 5%;
    }

    tbody{
      td.icon{
        cursor: pointer;
        padding: 0;
      }

      td{
        [class^='icon-']{
          font-size: 18px;
          padding-top: 7px;
          color: $webconference_table_body_color;
        }
        [class^='icon-']:hover{
          color: $color_almost_black;
        }
      }

      td.record {
        width: 22px;
      }

    }
  }

  td{
    a.title{
      color: $table_data_line_title;
      text-decoration: none;
    }
  }

}

.simple_form.awebconference_form{
  min-width: 500px;
  .input.assignment_webconference_title, .input.assignment_webconference_duration{
    display: inline-block;
  }
}
