$gutter: 20px;
$font_color: #333;
$font_size: 13px;
$background_blue: #F5F8FB;
$text_blue: #003E7A;
$text_grey: #7C7C7C;
$border: #D0D0D0;

.color_text_grey{
  color: $text_grey;
}

.align-left{
  float: left;
}
.align-right{
  float: right;
}
.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

hr {
  margin: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}