.allocationTagPicker{
	border: 1px solid #bbb;
	padding: 0px;
	width:775px;
	white-space:nowrap;
}

.allocationTagPicker .allocationTagPickerColumn {
	/*border: 1px solid #bbb;*/
	margin: 0px;
	width: 220px;
	overflow:hidden;
	display: inline-block;
	cursor: pointer;
	white-space:nowrap;
	vertical-align: top;
}

.allocationTagPicker .allocationTagPickerColumn ul{
	margin:0px; 
	padding: 0px;
	vertical-align: top;
	height:70px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.allocationTagPicker .allocationTagPickerColumn ul li{
	padding: 1px 0px;
	font-size: 10pt;
}

.allocationTagPicker .allocationTagPickerColumn ul li.selected{
	background: #9dc9ff;
}
.allocationTagPicker .allocationTagPickerColumn ul li.selected.light{
	background: #e0eeff;
}