.student_webconferences{
  
  .right_buttons{
    .btn{
      cursor: pointer;
    }
  }

  .tb_list{
    th.aw_status{
      width: 5px;
    }

    tbody{
      td.icon{
        cursor: pointer;
        padding: 0;
      }
    }
  }

}