$facebook_main_color: #3b5c9a;
$color_disabled: #777777;

body {
  margin: 36px 0 0 0;
  padding: 0;
}

body, a {
  font-family: 'PT Sans', sans-serif;
}

.slide-settings li.settings {
  background: url("portlet-facebook-icon_settings.png") no-repeat 5px center;
}

.slide-settings li.newsfeed {
  background: url("portlet-facebook-icon_newsfeed.png") no-repeat 5px center;
}

.slide-settings li.events {
  background: url("portlet-facebook-icon_events.png") no-repeat 5px center;
}

.slide-settings li.group01 {
  background: url("portlet-facebook-icon_group_01.png") no-repeat 5px center;
}

.slide-settings li.group02 {
  background: url("portlet-facebook-icon_group_02.png") no-repeat 5px center;
}

.slide-settings li.group03 {
  background: url("portlet-facebook-icon_group_03.png") no-repeat 5px center;
}

.post {
  font-size: 10pt;
  background-color: white;
  margin: 6px;
}

.head {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 255px;
  padding: 4px;
  margin: 0px;
  background-color: #EEE9E9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CFCFCF;
}

.head a {
  text-decoration: none;
  border-bottom: none;
  margin-right: 8px;
}

.head a:hover i {
  color: #000000;
}

// FIX: temporariamente ocultando identificacao do usuario
.head .info {
  display: none;
}

.head .feed{
  position: relative;
  top: 2px;
  left: 5px;
  font-size: 10pt;
  color:#1E90FF
}

.head .common{
  color:#999
}

.head .commondark{
  color:#666
}

.post textarea {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.post .new_post, .post .new_comment {
  border: 1px solid #d0d0d0;
}

.post .new_post textarea {
  width: 97%;
  height: 20px;
  margin: 0 auto;
  font-size: 12pt;
  padding: 2px;
  border: none;
  overflow: hidden;
}

.post .new_post textarea.active {
  height: 70px;
  overflow: auto;
}

.post .new_post_bar {
  display: none;
  text-align: right;
  padding: 1px;
  background-color: #f2f2f2;
}

.post .new_post_bar button {
  vertical-align: middle;
  padding: 0 16px;
  background-color: #5b74a8;
  color: white;
  font-size: 11px;
  line-height: 20px;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e;
}

.post .new_post_bar button:focus, .post .new_post_bar button:active {
  border: 1px solid #29447e;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  padding-top: 3px;
  line-height: 17px;
  background-color: #4f6aa3;   
}

.post .new_post_bar button.cancel {
  background-color: #e8e8e8;
  color: #000;
  border-color: #c8c8c8;
  margin-right: 2px;
}

.post .new_post_bar button.cancel:focus, .post .new_post_bar button.cancel:active {
  padding-top: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #dedede;
}

.user_avatar {
  width: 24px;
  float: left;
}

.post_content {
  margin-top: 4px;
  margin-left: 4px;
  padding-bottom: 4px;
}

.post_image {
  display: block;
}

.post_image img {
  width: 200px;
  height: auto;
  margin-top: 3px;
}

.post_url {
  display: block;
  margin-top: 4px;
}

.post_url a {
  color: #204783;
}

.post_header {
  padding-left: 4px;
  padding-top: 5px;
  overflow: hidden;
}

.post .user_info {
  float: left;
  margin-left: 7px;
  margin-top: -2px;
}

.post .username {
  color: $facebook_main_color;
  font-weight: bold;
  display: block;
}

.post .post_actions {
  background-color: white;
  margin-top: 2px;
  padding: 5px 4px 2px 4px;
}
.post .post_actions a {
  color: $facebook_main_color;
  margin-left: 3px;
}

.post .date {
  color: $color_disabled;
  position: relative;
  font-size: 11px;
}

.post .img {
  width:  200px;
  height: auto;
}

