
/* carregando fontes externas */

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-bold-webfont.eot');
    src: url('fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-web-bold-webfont.svg#PTSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-bolditalic-webfont.eot');
    src: url('fonts/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
         url('fonts/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-web-bolditalic-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-italic-webfont.eot');
    src: url('fonts/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-web-italic-webfont.woff') format('woff'),
         url('fonts/pt_sans-web-italic-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-web-italic-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-regular-webfont.eot');
    src: url('fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-web-regular-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('fonts/ubuntucondensed-regular-webfont.eot');
    src: url('fonts/ubuntucondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntucondensed-regular-webfont.woff') format('woff'),
         url('fonts/ubuntucondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/ubuntucondensed-regular-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-bold-webfont.eot');
    src: url('fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('fonts/ubuntu-bold-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-bold-webfont.svg#UbuntuBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('fonts/ubuntu-light-webfont.eot');
    src: url('fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-light-webfont.woff') format('woff'),
         url('fonts/ubuntu-light-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-light-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-regular-webfont.eot');
    src: url('fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('fonts/ubuntu-regular-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-regular-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'Entypo';
    src: url('fonts/entypo.eot');
    src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo Social';
    src: url('fonts/entypo-social.eot');
    src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-social.woff') format('woff'),
         url('fonts/entypo-social.ttf') format('truetype'),
         url('fonts/entypo-social.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Solar';
    src:url('fonts/Solar.eot');
    src:url('fonts/Solar.eot?#iefix') format('embedded-opentype'),
        url('fonts/Solar.woff') format('woff'),
        url('fonts/Solar.ttf') format('truetype'),
        url('fonts/Solar.svg#Solar') format('svg');
    font-weight: normal;
    font-style: normal;
}