
/* carregando fontes externas */

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-bold-webfont.eot');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-bolditalic-webfont.eot');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-italic-webfont.eot');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pt_sans-web-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('fonts/ubuntucondensed-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-bold-webfont.eot');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('fonts/ubuntu-light-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Solar';
    src:url('fonts/Solar.eot');
    font-weight: normal;
    font-style: normal;
}