@import "compass";
@import "fonts/fonts";
@import "fonts/icons";

@import "themes/variables/theme_blue";

@import "jquery-ui";
@import "partials/panels";
@import "partials/calendar";


// Variáveis

$login_width: 287px;

$login_main_blue: #204882;
$login_dark_yellow: #a38322;
$login_light_blue: #285596;
$login_highlight_blue: #91A9CC;

$login_error_color: #D5031C;
$login_notice_color: #00782D;
$login_warning_color: #dca727;

$login_gradient_blue: #56729c;
$login_background_gradient_start: #f5f5f5;
$login_background_gradient_end: #E6E8EC;

$input_color: #666;
$field_border_color: #B6B6B6;
$field_background: #f8f8f8;

$filter_gradient_hover_start: #EBE2C0;
$filter_gradient_hover_end: #F0CF65;
$filter_gradient_hover_end_light: #FFD242;

$btn_default_gradient_start: #eee;
$btn_default_gradient_end: #BFBFBF;
$btn_default_gradient_end_hover: #B5B5B5;

$login_title_inactive: #D5D6D6;
$login_title_inative_hover: #e3e3e3;
$login_title_inative_link: #959595;

$login_password_recovery: #D5D5D5;
$login_password_recovery_title: #8c8c8c;
$login_password_recovery_line: #8B8B8B;

$login_form_blue_color: #004B81;
$login_box_shadow: #222427;
$login_box_shadow_light: #323232;
$login_text_shadow: #ffffbe;

$login_choice_color: #234a84;
$login_choice_background: #e7e9eb;
$login_choice_border: #ccc;

$login_button_color: #a9b7cc;
$login_button_default_color: #7A7A7A;
$login_button_background: #f1cf65;
$login_border_light: #F4F4F5;
$login_border_yellow: #AE8711;

$login_cancel_link_color: #CAD8E8;
$login_register_steps_link_color: #919191;
$login_bar_brazil_background: #004b82;

// CSS

html {
  height: 100%;
}

body {
  background: $login_main_blue;
  background: -moz-radial-gradient(center, circle cover,  $login_gradient_blue 0%, $login_main_blue 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$login_gradient_blue), color-stop(100%,$login_main_blue)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, circle cover,  $login_gradient_blue 0%,$login_main_blue 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(center, circle cover,  $login_gradient_blue 0%,$login_main_blue 100%); /* IE10+ */
  background: radial-gradient(circle at center,  $login_gradient_blue 0%,$login_main_blue 100%); /* W3C */
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
  cursor: default;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.fb-like{
  width: 75px;
  height: 25px;
  margin: 0 auto 10px auto;
  z-index: 1;
}

input{
  color: $input_color;
}

#all{
  position: relative;
  margin:0 auto;
  width: 100%;
}

a img {
  border: none;
}

#login_wrapper {
  min-height:100%;
  position:relative;
}

/* estilo para item invisivel */
.invisible {
  display: none;
}

.visible {
  display: block;
}

/*caixa principal que engloba login e cadastro*/
#screen-login{
  width: $login_width;
  overflow:hidden;
  position: relative;
  margin: 0 auto;
  top: 3%;
}

.google-app{
  visibility: visible;
  display: inline;
  img{
    width: 170px;
  }
}

.apple-app{
  visibility: visible;
  display: inline;
  img{
    width: 150px;
    padding-bottom: 11px;
  }
}

#login-form, #login-register {
  width: $login_width;
  box-shadow:0px 2px 8px $login_box_shadow;
  @include filter-gradient($login_background_gradient_start, $login_background_gradient_end); /* IE */
  @include background-image(linear-gradient($login_background_gradient_start, $login_background_gradient_end));
  @include border-bottom-right-radius(10px);
  @include border-bottom-left-radius(10px);
  text-align: center;
}

/*caixa de cadastro*/
#login-register{
  display: none;
}

/* text input*/
.form-field input{
  margin-top: 25px;
  width: 196px;
  padding-top: 12px;
  padding-bottom: 12px;
  border:1px solid $field_border_color;
  background-color: $field_background;
  @include border-radius(5px);
  font-family: Ubuntu;
  font-size: 16px;
  padding-left: 10px;
}

/*Botões de submissão da tela de login*/
#submit-login, #submit-cpf {
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end));
  width: 205px;
  height: 40px;
  font-family: Ubuntu Condensed;
  font-size: 25px;
  color:$login_dark_yellow;
  border:1px solid $login_border_yellow;
  @include border-radius(5px);
  margin-top: 28px;
  margin-bottom: 20px;
  padding-top: 2px;
}

#submit-cpf {
  margin-top: 97px;
}

#submit-login:hover, #submit-cpf:hover{
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light));
  cursor: pointer;
  border:1px solid $login_border_yellow;
}

#submit-login:active, #submit-cpf:active{
  background-color: $login_button_background;
  cursor: pointer;
  border:1px solid $login_border_yellow;
  -webkit-box-shadow:  inset 0px 1px 2px 0px rgba($color_black, .4), inset 0px -2px 2px 0px rgba($color_black, .1);
  box-shadow:  inset 0px 1px 2px 0px rgba($color_black, .4), inset 0px -2px 2px 0px rgba($color_black, .1);
}

#login-bt, #register-bt, .label-register, #login-bt a, #register-bt a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: $login_button_color;
  padding-top: 5px;
  text-shadow: 0 0 0.1em rgba($login_text_shadow, 0.60);
}

#login-bt, #register-bt{
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#login-bt, #register-bt, #register-header {
  @include border-top-right-radius(5px);
  @include border-top-left-radius(5px);
  border:1px solid $login_border_light;
  background-color: $login_background_gradient_start
}

.label-register{
  margin: 0 auto;
  text-align: center;
}

#login-bt{
  float: left;
  padding-top: 8px;
}

#register-bt{
  float: right;
  padding-top: 8px;
}

$header-tab-height: 36px;
#login-header{
  position: relative;
  height: $header-tab-height;
  z-index: 30;
  margin: 0;
  padding: 0;
}

#login-header li {
  list-style: none;
}

#login-header li a {
  text-decoration: none;
  border-bottom: none;
}

#login-header .inactive {
  background-color: $login_title_inactive;
  border:1px solid $login_title_inactive;
}

#login-header .inactive a {
  color: $login_title_inative_link;
}

#login-header .inactive:hover {
  background-color: $login_title_inative_hover;
  cursor: pointer;
  border:1px solid $login_title_inative_hover;
}

/*Logo*/
#login_wrapper h1 {
  margin-top: 5%;
}

/*esqueceu a senha?*/
#link{
  padding-bottom: 8px;
  margin-top: -8px;
  text-align: center;
}

#link-password{
  font-family: Ubuntu;
  font-size: 12px;
  color:$login_main_blue;
}

#link-password:hover{
  color:$login_light_blue;
}

#login_content, #login_content_password_recovery{
  text-align: center;
  margin:0 auto;
  margin-top: 2%;
  margin-bottom: 40px;
}

#login_content:after, #login_content_password_recovery {
  content:" ";
  display:block;
  clear:both;
}

#password_recovery, #block_wrapper{
  margin:0 auto;
  width: 400px;
  overflow: hidden;
  border:1px solid $login_password_recovery;
  @include border-radius(10px);
  background: $login_background_gradient_start; /* Old browsers */
  @include filter-gradient($color_white, $login_background_gradient_end); /* IE */
  @include background-image(linear-gradient($color_white, $login_background_gradient_end));
  -webkit-box-shadow:0px 3px 6px rgba($login_box_shadow_light, 0.64);
  -moz-box-shadow:0px 3px 6px rgba($login_box_shadow_light, 0.64);
  box-shadow:0px 3px 6px rgba($login_box_shadow_light, 0.64);
}

#password_recovery h1, #block_wrapper h1{
  padding-top: 10px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $login_password_recovery_title;
  text-align: justify;
  margin-left: 27px;
}

#login_content_password_recovery #block_wrapper{
  width: 272px;

 h1{
    margin-left: 33px;
    margin-bottom: 0;
  }

  .form-field{
    input{
      margin-top: 18px;
    }
  }

  #user_password_confirmation{
    margin-top: 5px;
  }

  #buttons_password_recovery{
    padding-right: 28px;
    padding-bottom: 22px;
  }
}

#password_recovery p{
  font-family: 'PT Sans', sans-serif;
  font-size: 11pt;
  color: $login_password_recovery_line;
  text-align: justify;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 5px;
  margin-bottom: 0;
}

/* Botão de voltar para o início do esqueceu senha*/
  #buttons_password_recovery{
    text-align: right;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 22px;
  }

.btn_password_recovery {
  font-family: Ubuntu Condensed;
  font-size: 20px;
  @include border-radius(5px);
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 2px 4px;
  margin: 0 2px;
  min-width: 100px;
  height: 36px;
 }

#send {
  background-color: $login_button_background;
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end));
  color:$login_dark_yellow;
  border: 1px solid $login_border_yellow;
}

#send:hover{
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light));
  cursor: pointer;
}

.btn_default {
  @include filter-gradient($btn_default_gradient_start, $btn_default_gradient_end); /* IE */
  @include background-image(linear-gradient($btn_default_gradient_start, $btn_default_gradient_end));
  color:$login_button_default_color;
  border:1px solid $login_button_default_color;
}

#give-up:hover {
  @include filter-gradient($btn_default_gradient_start, $btn_default_gradient_end_hover); /* IE */
  @include background-image(linear-gradient($btn_default_gradient_start, $btn_default_gradient_end_hover));
  cursor: pointer;
}

#email_password_recovery, #cpf {
  width: 344px;
  margin-top: 10px;
  padding-left: 5px;
}

/*mensagem de erro*/
#error_explanation ul li{
  list-style: none;
  color: $login_error_color;
  margin: 0 auto;
  width: 400px;
  @include filter-gradient($login_background_gradient_start, $login_background_gradient_end); /* IE */
  @include background-image(linear-gradient($login_background_gradient_start, $login_background_gradient_end)); /* CSS3 */
  @include border-radius(6px);
  box-shadow:0px 2px 8px $login_box_shadow;
}

#error_explanation ul{
  padding-right: 40px;
}

#login_footer_push {
  height: 15px;
}

footer{
  text-decoration: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}

.menu_footer ul{
  padding: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  li {
    display: inline;
  }
}

.menu_footer > ul > li{
  margin: 8px;
}

.menu_footer ul li a{
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 14px;
  color: $color_white;
}

.menu_footer ul li a:hover{
  color:$login_highlight_blue;
}

/* Menu de idiomas */
.link-arrow{
  background: url("language-arrow.png") right no-repeat;
  padding-right: 15px;
}

.choice-language ul, .choice-tutorial ul {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.choice-language ul{
  width: 130px;
}

.choice-tutorial ul{
  width: 75px;
}

.choice-language ul li a, .choice-tutorial ul li a {
  display: block;
  text-decoration: none;
  color: $login_choice_color;
  font-size: 12px;
  border: 1px solid $login_choice_border;
  border-bottom: 0;
  background-color: $color_white;
}

.choice-language ul li a{
  padding: 4px 3px 4px 18px;
}

.choice-tutorial ul li a{
  padding: 4px 3px 4px 5px;
}

.choice-language ul li+li a {
  border-bottom: 1px solid $login_choice_border;
}

.selected {
  background: url("check-language.png") no-repeat 3px 5px;
}

.choice-language ul li a:hover, .choice-tutorial ul li a:hover {
  background-color: $login_choice_background;
  color: $login_choice_color;
}

#menu-language li:hover ul {
  display: block;
}

.arrow-language{
  margin: 2px 0 2px 5px;
}

.current_menu{
  font-weight: bold;
}

/*Página de cadastro*/
/*página de dados pessoais*/
.field_with_errors input {
  border: 1px solid $login_error_color !important;
}

#register{
  width: 580px;
  margin:0 auto;
}

#register-header{
  width: 143px;
  height: $header-tab-height;
}

#register-header .label-register {
  padding-top: 8px;
}

.form_label{
  font-family: Ubuntu;
  font-size: 13px;
  color: $login_form_blue_color;
  padding-right: 10px;
  width: 112px;
  display:inline-block;
  text-align: right;
  vertical-align: middle;
}

#register-content{
  padding: 20px 25px;
  background-color: $login_background_gradient_start;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$login_background_gradient_start', endColorstr='$login_background_gradient_end',GradientType=0 );
  @include border-bottom-right-radius(8px);
  @include border-bottom-left-radius(8px);
  @include border-top-right-radius(8px);
}

.buttons{
  float: right;
  margin-top: 20px;
}

.buttons .next, .buttons .back, #complete{
  font-family: 'Ubuntu Condensed';
  font-size: 20px;
  @include border-radius(5px);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  min-width: 100px;
}

#complete{
  height: 44px;
  padding-bottom: 11px;
  font-size: 21px;
}

.buttons .next, #complete{
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end)); /* CSS3 */
  color:$login_dark_yellow;
  border: 1px solid $login_border_yellow;
}

.buttons .next:hover, #complete:hover{
  @include filter-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light); /* IE */
  @include background-image(linear-gradient($filter_gradient_hover_start, $filter_gradient_hover_end_light)); /* CSS3 */
  cursor: pointer;
}

.buttons .next:active, #complete:active{
  background-color: $login_button_background;
  cursor: pointer;
  border:1px solid $login_border_yellow;
  -webkit-box-shadow:  inset 0px 1px 2px 0px rgba($color_black, .4), inset 0px -2px 2px 0px rgba($color_black, .1);
  box-shadow:  inset 0px 1px 2px 0px rgba($color_black, .4), inset 0px -2px 2px 0px rgba($color_black, .1);
}

.buttons .back{
  @include filter-gradient($btn_default_gradient_start, $btn_default_gradient_end); /* IE */
  @include background-image(linear-gradient($btn_default_gradient_start, $btn_default_gradient_end)); /* CSS3 */
  color:$login_button_default_color;
  border:1px solid $login_button_default_color;
}

.buttons .back:hover{
  @include filter-gradient($btn_default_gradient_start, $btn_default_gradient_end_hover); /* IE */
  @include background-image(linear-gradient($btn_default_gradient_start, $btn_default_gradient_end_hover)); /* CSS3 */
  cursor: pointer;
}

.form-panel{
  padding: 0;
  overflow: hidden;
}

#access, #contact, #other {
  display: none;
}

.required_info, .error {
  margin-left:122px;
}

.required_info{
  font-size: 9pt;
  float: left;
  margin-top: 30px;
}

#special_needs input {
  width: 20px;
  color: $login_form_blue_color;
}

#special_needs label {
  color: $login_form_blue_color;
}

.field input, select {
  font-family: 'Ubuntu';
  border:1px solid $field_border_color;
  background-color: $field_background;
  @include border-radius(5px);
  font-size: 16px;
}

.field input{
  width: 72%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 5px;
}

.field{
  margin-top: 18px;
  text-align: left;
}

select{
  color: $input_color;
  padding: 11px 10px;
}

select option{
  color: $input_color;
  height: 20px;
}

/*menu de cadastro*/
#register-steps {
  background-color: darken($login_background_gradient_start, 5%);
  width: 525px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
}

#register-steps ul{
  padding: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

#register-steps ul li{
  display: inline-block;
  width: 117px;
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-family: Ubuntu;
  font-size: 12px;
  color:$login_register_steps_link_color;
}

#register-steps ul li.active{
  color:$login_form_blue_color;
  background-color: $color_white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px $filter_gradient_hover_end;
}

/* bolinhas da barra de progresso */
.dot {
  width: 22px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url('inactive.png') no-repeat;
}

.dot.active {
  background: url('active.png') no-repeat;
}

.dot.done {
  background: url('done.png') no-repeat;
}

.error, .alert, .notice, .warning, .required_info, .blue_warning {
  font-family: Ubuntu;
  font-style: italic;
  font-size: 10pt;
  color:$login_error_color;
}

.alert-error {
  margin-top: 15px;
}

.notice {
  color: $login_notice_color;
}

.warning {
  color: $login_warning_color;
}

.flash_message_wrapper {
  margin: 20px auto 20px auto;
  width: $login_width;
  @include filter-gradient($login_background_gradient_start, $login_background_gradient_end); /* IE */
  @include background-image(linear-gradient($login_background_gradient_start, $login_background_gradient_end)); /* CSS3 */
  @include border-radius(6px);
  box-shadow:0px 2px 8px $login_box_shadow;
}

#flash_message{
  padding: 5px;
}

/*página de contato*/

.contact {
  width: 530px;
  float: left;
}
.contact input{
  width: 72%
}

.contact2{
  width: 50%;
  float: left;
}

.contact2 input{
  width: 44%;
  padding-left: 10px;
}

.contact2 select{
  width: 137px;
  padding-left: 10px;
}

#state select, #birthdate select, #gender select {
  height: 42px;
}

/*link cancelar*/
#cancel{
  padding-top: 10px;
  text-align: center;
}

#cancel a{
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 12px;
  color:$login_highlight_blue;
}

#cancel a:hover{
  color:$login_cancel_link_color;
}

/*barra do governo federal*/
#barra-brasil{
  background: #7F7F7F;//$login_bar_brazil_background url('../images/bar-brazil-v3-bgx.png') center bottom no-repeat;
  height: 20px;
  padding:0 0 0 10px;
  display:block;
  #li_1{
    display:inline; 
    float:left;
    padding-right:10px; 
    margin-right:10px; 
    border-right:1px solid #EDEDED;
    a{
      font-family: sans,sans-serif; 
      text-decoration: none; 
      color:white;
    }
  }
  #li_2{
    a{
      font-family: sans, sans-serif;
      right: 1px solid #EDEDED;
      text-decoration: none; 
      color: white; 
    }  
  }

}
#bar-brazil {
  position:relative;
  max-width:100%;
  height:33px;
  background: $login_bar_brazil_background url('../images/bar-brazil-v3-bgx.png') center bottom no-repeat;
}

#menu-barra-temp{
  list-style: none;
}

#bar-brazil .bar {
  display: block;
  max-width:92%;
  height:33px;
  margin: 0 auto;
  background: url('../images/bar-brazil-v3-bgx.gif') 0 bottom repeat-x;
}

#bar-brazil .bar ul {
  float:right;
  width: 319px;
  list-style-type: none;
}

#bar-brazil .bar ul .li {
  float: left;
  padding-left: 25px;
  position: relative;
  bottom: 2px;
}

#bar-brazil .ai {
  display: block;
  width: 161px;
  height: 28px;
  text-indent: -1000px;
  background: $login_bar_brazil_background;
  position: relative;
  bottom: 9px;
}

#bar-brazil .brazil-gov {
  display: block;
  width: 108px;
  height: 28px;
  text-indent: -1000px;
  background: $login_bar_brazil_background;
  position: relative;
  bottom: 9px;
}

/**
* BROWSER WARNING DIALOG
*/
#browser-list > div {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.no-close .ui-dialog-title {
  width: 100% !important;
}

.panel h4{
  padding-bottom: 0;
  padding-top: 0;
}
