$comment_color: #4B4B4B;

$exam_open_question_color: #1c5ec9;
$exam_open_question_border: #CDD6E3;
$exam_open_question_incorrect: #E03838;
$exam_open_question_hit: #0B610B;

$background_dark_gray: #E8EFF6;
$background_light_red: #fff6f6;
$background_light_green: #F5FFE3;

$tool_table_body_odd_background: #D3D3D3;
$tool_table_title_background: #FFEFDB;

$evaluated_corrected_color: #378941;
$evaluated_sent_color: #2900c2;
$evaluated_not_sent_color: #e12227;
$evaluated_not_started_color: #787878;
$evaluated_to_send_color: #003e7a;
$evaluated_without_group_color: #e37073;

$assignment_not_answered_color: #CC0033;
$assignment_opened_color: #006666;
$assignment_to_answer_color: #0099FF;

$new_after_evaluation_background: #e6f0fc;

@font-face {
    font-family: 'Solar';
    src:url('/assets/fonts/Solar.eot');
    src:url('/assets/fonts/Solar.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Solar.woff') format('woff'),
        url('/assets/fonts/Solar.ttf') format('truetype'),
        url('/assets/fonts/Solar.svg#Solar') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Fontes e ícones */
@import "fonts/icons";

.comment-blue {
  background-color: $background_dark_gray;
  border-radius: 8px;
  color: $comment_color;
  padding: 7px 5px 7px 5px;
  font-size: 9pt;
  margin-bottom: 10px;
  width: 450px;
}
.comment-red {
  background-color: $background_light_red;
  border-radius: 8px;
  color: $comment_color;
  padding: 7px 5px 7px 5px;
  font-size: 9pt;
  margin-bottom: 10px;
  width: 450px;
}
.comment-green {
  background-color: $background_light_green;
  border-radius: 8px;
  color: $comment_color;
  padding: 7px 5px 7px 5px;
  font-size: 9pt;
  margin-bottom: 10px;
  width: 450px;
}
.exam_open {

	font-variant: initial;
  	font-family: 'PT Sans', sans-serif;

	  #exam_topbar {
	    width: 100%;
	    z-index: 2;
	    display: inline-block;
	    }

	  #title {
	    font-size: 14pt;
	    font-family: 'PT Sans';
	    margin: 0px;
	    padding: 10px 0px 0px 220px;

	    float: left;
	  }

	  #exam_status {
	    float: right;
	    font-size: 10pt;
	    list-style-type: none;
	    padding: 0 0 0 0;
	    margin: 0;


	    li {
	      display: inline-block;
	      padding: 3px 6px 0 4px;
	      vertical-align: middle;
	      float: left;
	      /* necessario para funcionar ok no IE7 */
	      /*    zoom: 1;
	      *display: inline;*/
	    }

	    #time, #question_count{
	      padding-right: 0px;
	    }
	  }

	  .block_content {
	    padding: 5px;
	    min-height: 28px;
	    display: block;

	  }

	  .questions{
	    width: 100%;

	    .question {
	      padding-top: 10px;
	      float: left;
	      font-family: 'PT Sans', sans-serif;

	      .number {
	        padding-right: 5px;
	        color: $exam_open_question_color;
	        width: auto;
	        vertical-align:top;
	      }
	    }

	    .question_images {
	      text-align: center;

	      .image {
	        padding: 15px 15px 0 15px;
	        display: inline-block;

	        #question_image {
	          border: solid 2px $exam_open_question_border;
	        }
	      }

	    }

	  }

	  .question_items{
	    padding: 10px 0px 10px 15px;

	    img{
	      margin-right: 10px;
	      border: solid 2px $exam_open_question_border;
	      vertical-align: top;
	    }

	    label input{
	      margin-right: 5px;
	    }

	    label{
	      display: inline;
	      color: $exam_open_question_color;
	      font-family: 'PT Sans', sans-serif;
	    }

	    .incorrect{
	      color: $exam_open_question_incorrect;
	    }

	    .hit{
	      color: $exam_open_question_hit;
	    }
	  }

}
.tool_all{
	font-size: 12px;
	.tb_list{
		font-size: 12px;
	}
	table{
		width: 100%;
	}
	table tbody tr:nth-child(odd) {
		background: $tool_table_body_odd_background;
	}
	table thead tr th {
    background: $tool_table_title_background;
    border: 1px;
	}
	.evaluated {
	    color: $evaluated_corrected_color;
	  }

	  .sent, .sent a, .evaluated a
	  td.assignment_as a {
	    color: $evaluated_sent_color;
	  }

	  .assignment_as, .assignment_as a{
	    color: $evaluated_sent_color;
	  }

	  .not_sent, .not_sent a{
	    color: $evaluated_not_sent_color;
	  }

	  .not_started, .not_started a {
	    color: $evaluated_not_started_color;
	  }

	  .to_send, .to_send a{
	    color: $evaluated_to_send_color;
	  }

	  .without_group, .without_group a{
	    color: $evaluated_without_group_color;
	  }

	  .evaluated, .sent, .not_sent, .not_started, .to_send, .without_group{
	    white-space: nowrap;
	  }

	table td {
		text-align:center;
    vertical-align:middle;
	}
}

/**
* Situacao das tarefas
*/

.assignment_corrected {
  color: $evaluated_corrected_color;
}

.assignment_not_answered {
  color: $assignment_not_answered_color;
}

.assignment_opened {
  color: $assignment_opened_color;
}
.assignment_to_answer {
  color: $assignment_to_answer_color;
}

.assignment_sent, .assignment_sent a, .assignment_corrected a
td.assignment_as a {
  color: $evaluated_sent_color;
}

.assignment_as, .assignment_as a{
  color: $evaluated_sent_color;
}

.assignment_not_sent, .assignment_not_sent a,
.expired {
  color: $evaluated_not_sent_color;
}

.assignment_not_started, .assignment_not_started a {
  color: $evaluated_not_started_color;
}

.assignment_to_be_sent, .assignment_to_be_sent a,
.assignment_pending,
td.assignment_an a {
  color: $evaluated_to_send_color;
}

.assignment_an{
  color: $evaluated_to_send_color;
}
.assignment_without_group, .assignment_without_group a,
td.assignment_without_group a {
  color: $evaluated_without_group_color;
}

.assignment_corrected,
.assignment_sent,
.assignment_not_sent,
.assignment_not_started,
.assignment_to_be_sent,
.assignment_pending,
.assignment_without_group,
.expired,
td.assignment_as a,
td.assignment_an a,
td.assignment_without_group a
{
  white-space: nowrap;
}
.legend{
	position:relative;
	height:10px;
	padding-bottom: 10px;
	font-size: 13px;
}

.assignment_corrected, .assignment_evaluated {
  color: $evaluated_corrected_color;
}

.assignment_not_answered {
  color: $assignment_not_answered_color;
}

.assignment_sent, .assignment_sent a, .assignment_corrected a, .assignment_finished,
td.assignment_as a {
  color: $evaluated_sent_color;
}

.assignment_as, .assignment_as a{
  color: $evaluated_sent_color;
}

.assignment_not_sent, .assignment_not_sent a,
.expired, .assignment_closed {
  color: $evaluated_not_sent_color;
}

.assignment_not_started, .assignment_not_started a {
  color: $evaluated_not_started_color;
}

.assignment_to_be_sent, .assignment_to_be_sent a,
.assignment_pending, .assignment_to_answer, .assignment_not_finished, .assignment_opened,
td.assignment_an a {
  color: $evaluated_to_send_color;
}

.assignment_an{
  color: $evaluated_to_send_color;
}
.assignment_without_group, .assignment_without_group a,
td.assignment_without_group a {
  color: $evaluated_without_group_color;
}

.assignment_corrected,
.assignment_evaluated,
.assignment_sent,
.assignment_not_sent,
.assignment_not_started,
.assignment_to_be_sent,
.assignment_to_send,
.assignment_pending,
.assignment_without_group,
.expired,
td.assignment_as a,
td.assignment_an a,
td.assignment_without_group a
{
  white-space: nowrap;
}

#scores_notes.legend_score_footer, .tb_list_students{
  .evaluated {
    color: $evaluated_corrected_color;
  }

  .sent, .sent a, .evaluated a
  td.assignment_as a {
    color: $evaluated_sent_color;
  }

  .assignment_as, .assignment_as a{
    color: $evaluated_sent_color;
  }

  .not_sent, .not_sent a{
    color: $evaluated_not_sent_color;
  }

  .not_started, .not_started a {
    color: $evaluated_not_started_color;
  }

  .to_send, .to_send a{
    color: $evaluated_to_send_color;
  }

  .without_group, .without_group a{
    color: $evaluated_without_group_color;
  }

  .evaluated, .sent, .not_sent, .not_started, .to_send, .without_group{
    white-space: nowrap;
  }
}

td.new_after_evaluation{
    font-size: 10pt;
    padding: 5px;
    background-color: $new_after_evaluation_background;
}

.invisible {
    display: none;
}

.question_items label, .question_items label span p {
    display: inline;
}
