/*** Classes do Token Input *************************************************/

ul.token-input-list {
    overflow: hidden; 
    display:inline-block;
    width: 450px;
    border: 1px solid #8496ba;
    cursor: text;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height:28px;
    line-height:28px;
}

ul.token-input-list li input {
    border: 0;
    width: 100px;
    padding: 2px;
    margin: 2px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
    line-height:20px;
}

li.token-input-token p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown { 
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #3b5998;
    color: #fff;
}

/*********************************************************************/
#navPanelMenu{
	position:absolute;
	top:0;
	left:0;
	margin: 4px;
	background-color:#bbb;
	margin: 0 0 0 3px;;
	padding: 5px 10px 0px 3px;
	list-style: none;
	display:block;
	z-index: 10;
	cursor:pointer;
	border: 2px solid #F9DB43;
	background-color: #fff;
	-webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.23);
	-moz-box-shadow:    3px 3px 15px rgba(0, 0, 0, 0.23);
	box-shadow:         3px 3px 15px rgba(0, 0, 0, 0.23);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 10pt;
}
#navPanelMenu li{
	white-space:nowrap;
	height: 1.6em;
	padding-right: 6px;
}
#navPanelMenu li a{
	color:#222;
	padding:0.2em
	text-decoration:none;
	display: inline-block;
	width:100%;
	padding: 0 10px 0 3px;
	margin-right: 10px;
	text-decoration:none;

	-webkit-transition: all 180ms linear;
	-moz-transition: all 180ms linear;
	-o-transition: all 180ms linear;
	-ms-transition: all 180ms linear;
	transition: all 180ms linear;
}
#navPanelMenu li a:hover{
	background-color: #f9ea9c;
}
.placesNavPanel .btShowMenu{
	display:inline-block;
	vertical-align: top;
	margin-top: 3px;
}
.placesNavPanel{
	background-color: transparent;
	line-height: 1.4em;
	margin-left:10px;
	width:650px;
}
.placesNavPanel>div{
	line-height:28px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	height:28px;
	margin-bottom:5px;
	white-space:nowrap;
}
.placesNavPanel span.label{
	padding:0;
	margin:0;
	display:inline-block;
	width:130px;
	vertical-align:top;
	white-space: nowrap
}
.placesNavPanel .summary{
	font-size: 10pt;
	font-style: italic;
}
.placesNavPanel input[type="button"]{
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

