/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;   
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* layout geral */
img{
    border: none;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    cursor: default;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    background-color: #f9f9f9;
}

p {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu Light', sans-serif;
}

h1 {
    font-weight: 300;
}

h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
#body_wrapper {
    width: 980px;
    margin: 0 auto;
    /*border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;*/
    background-color: #ffffff;
    min-height: 100%;
    position: relative;
}

/*Classes de mensagens flash*/
.alert {
    font-weight: bold;
    color: #660000;
}

.notice {
    font-weight: bold;
    color: #2F4F2F;
}

#flash_message {
    border: 1px solid #d0d0d0;
    padding: 5px 10px 4px 25px;
    margin: 10px 0;
    font-size: 10pt;
}

#flash_message.notice {
    background: url('notice.gif') no-repeat 5px center #f5ffec;
}

#flash_message.alert {
    background: url('alert.gif') no-repeat 5px center #fff6f6;
}

label {
    color: black;
    display: inline-block;
    width: 140px;
}

label.menor {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-size: 8pt;
    font-weight: normal;
}

/**
* Tratando links
*/
a, a.menor, a.link_content {
    color: #222;
    text-decoration: none;
}

a.link_content_del {
    color: #EA4F52;
    text-decoration: underline;
}

a.link_content, .forum_post_attachment_list a {
    color: #204783;
    text-decoration: underline;
}

a.link_content_gray {
    font-size: 9pt;
    color: #999;
    text-decoration: underline;
}

a.menor {
    font-size       : 8pt;
    text-decoration : underline;
}

.more_or_less {
    text-align: right;
    display: block;
}

.btn-decoration {
    text-decoration: underline;
    font-size: 10pt;
    background-color: #F5F8FB;
    color: #222;
    cursor: pointer;
    border: 0px;
}

select{
    font-family:'PT Sans', sans-serif;
    color: #222;
    background-color: #fff;
    border: 1px solid #dedede;
    /*    min-width: 180px;*/
}

input{
    color: #222;
    border: 1px solid #dedede;
    padding: 5px;
    font-family:'PT Sans', sans-serif;
    /*    font-size: 13px;*/
}
button {
    font-family:'PT Sans', sans-serif;
}

input[type="file"] {
    border          : 0px;
    padding         : 0px;
}

textarea{
    color           : #222;
    background-color: #fff;
    border          : 1px solid #dedede;
    padding         : 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 10pt;
}

h1.page_title{
    font-size  : 12pt;
    color      : #000;
    /*    font-weight: bold;*/
    /*    font-variant: small-caps;*/
    border-bottom: 3px solid #003E7A;
    padding-bottom: 2px !important;
    /*text-transform: capitalize;*/
}

.text_alert, .text_alert_message {
    font-size: 10pt;
    color: #e64d4d;
    width: auto;
}
.text_alert_message {
    vertical-align: top;
}
.text_none {
    font-size: 10pt;
    color: #003e7a;
    padding: 5px;
}

.link_button {
    background-color: #eeeeed;
    color           : #222;
    float: right;
    font-weight:bold;
    padding: 4px;
    margin:  2px;
    cursor: pointer;
    font-size: 12px;
    -moz-border-radius: 4px;
}
/****LightBox genérico****/
#lightBoxDialog{
    border:1px solid #000;
    display:none;
    background-color:#FFF;
    position:absolute;
    z-index:1001;
    top:50%;
    left:50%;
    padding:10px;
    overflow: auto;
}
#lightBoxBackground{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:#000;
    z-index:1000;
}

#lightBoxDialogCloseBt
{
    position : absolute;
    top : 3px;
    right : 3px;

    width : 11px;
    height : 11px;

    border : 0px;
    cursor : pointer;
    background-image: url('/images/closeLightBox.png');
    background-position:0px 0px;
    font-size : 3px;
}
#lightBoxDialogCloseBt:Hover
{
    cursor : pointer;
    background-position: 11px 0px;
}

/****tela de matricula****/

.headtable_blue{
    font-size: 14px;
    color: #000;
    background-color: #E7EDEE;
    line-height: 25px;
    border: 0px;
}
.table_blue{
    border: 0px;
    width: 745px;
}
.td_head_blue{
    padding-left: 8px;
}
.td_blue_first{
    padding-left: 8px;
}
.td_blue, .td_blue_center {
    border-left: solid #dbe5e8 1px;
    padding-left: 8px;
    white-space: normal;
    width: auto;
}
.td_blue_center {
    border-left: none;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.rowtable_odd, .rowtable_even{
    font-size: 12px;
    text-align: justify;
    color: #000;
    background-color: #f1f0f2;
}
.rowtable_even{
    color: #000;
    background-color: #eaeaea;
}
.enrollment_list label {
    margin: 5px 0 3px 0;
}
.enrollment_list tr.lines td {
    vertical-align: middle;
}
.enrollment_search{
    height:12px;
    font-size: 12px;
}
.enrollment_search_icon{
    vertical-align: middle;
    border: 0px;
    cursor: pointer;
}
.select_category {
    height:19px;
    font-size: 10px;
}
.enrollment_label {
    color: #000;
    font-size: 10pt;
    width: auto;
}
#offer_category {
    height: 24px;
    padding: 3px;
}
.enrollment_link {
    color: #214684;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.enrollment_bar {
    padding: 2px 4px;
    overflow: hidden;
}
.enrollment_left{
    float: left;
    width: 545px;
    left: 0px;
    position: relative;
}
.enrollment_right{
    float: right;
    position: relative;
    margin-right: 0px;
    right: 0;
    top: 5px;
}
.link_gray {
    font-weight:bold;
    padding:6px 4px 6px 4px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}

/**
* Meu Solar
*/
/* barra superior geral */
#mysolar_topbar_wide_background {
    height:38px;
    width:100%;
    background-color:#003E7A;
    position:absolute;
    top:0;
    left:0;
    z-index:-10
}

#mysolar_topbar {
    width: 100%;
    height: 72px;
    z-index: 2;
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    /*background-color: #003e7a;*/
    color: #fff;
    overflow: hidden;
}

/* barra identity */
#mysolar_identity {
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #F9DB43;
    background-color: #003E7A;
}

#mysolar_logo {
    width: 185px;
    height: 36px;
    float: left;
}

#solar_logo {
    margin-top: 2px;
    margin-left: 5px;
}

#mysolar_top_options {
    height: 36px;
    line-height: 36px;
    float: right;
    font-size: 10pt;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}

#mysolar_top_options li {
    line-height: 36px;
    height: 33px;
    display: inline-block;
    padding: 3px 6px 0 6px;
    vertical-align: middle;
    float: left;
    /* necessario para funcionar ok no IE7 */
    /*    zoom: 1;
    *display: inline;*/
}

#mysolar_top_options li:hover {
    height: 31px;
    border-bottom: 2px solid #fff;
}

#mysolar_top_img_user {
    float:right;
    padding-left:4px;
}

/* foto do usuário */
#mysolar_top_submenu{
    color: #003e7a;;
    font-size: 10pt;
    position: absolute;
    top:36px;
    width:170px;
    background-color: #fff;
    margin-left: -50px;
    z-index: 100;
    display:none;
    border-bottom: 2px solid #f9db43;
    border-left: 2px solid #f9db43;
    border-right: 2px solid #f9db43;
    border-top: none;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px #bbb;
}

#mysolar_top_submenu ul{
    width: 100%;
    display:block;
    border-top: 3px solid #EBEBEB;
    margin-top: 5px;
}
#mysolar_top_submenu ul li{
    padding:7px;
}


#mysolar_top_submenu_username{
    font-size:9pt;
}

#mysolar_top_submenu_useremail{
    font-size:8pt;
    margin-top: 4px;
}

.mysolar_top_submenu_label_selected{
    background-color: #fff;
    border-top: none;
    border-left: 2px solid #f9db43;
    border-right: 2px solid #f9db43;
    border-bottom: none;
    vertical-align: top;
}
.mysolar_top_submenu_label_regular{
    background-color: transparent;
    border-top: none;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: none;
    vertical-align: top;
}
.mysolar_top_submenu_label_selected a.mysolar_top_link {
    color: #000;
    vertical-align: top;
}

.mysolar_top_submenu_label_regular a {
    vertical-align: top;
}

#image_user {
    /*    vertical-align: text-bottom;*/
    height: 30px;
    cursor: pointer;
}

/* relogio */
#server_clock_wrapper:hover {
    border-bottom: 2px solid transparent !important;
}

a.mysolar_top_link{
    color: #FFF;
}

/* barra tabs */
#mysolar_tabs {
    width: 100%;
    height: 33px;
    /*background-color: #FFFEF7;*/
    /*background:url('../images/topbar_gradient.png') repeat-x left center #4170b6;*/
    border-bottom: 1px solid #D0D0D0;
}

#mysolar_tabs_wrapper {
    float:left;
    line-height: 28px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14pt;
}

.mysolar_unit_tab, .mysolar_unit_active_tab{
    list-style-type: none;
    display: inline-block;
    margin: 6px 0px 0px 0px;
    padding:0 7px;
    height:26px;
    /*border-top:2px solid;
    border-right:2px solid;
    border-left:2px solid;
    border-bottom:2px solid;*/
    font-variant: small-caps;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

.mysolar_unit_tab {
    /*background-color: #e3eaf4;
    border-top-color: #4d6d9c;
    border-right-color: #4d6d9c;
    border-left-color: #4d6d9c;
    border-bottom-color: #003e7a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;*/
}

.mysolar_unit_tab a {
    color: #4d6d9c;
}

.mysolar_unit_active_tab{
    border-bottom: 2px solid #003E7A;
    /*background-color: #fff;
    border-top-color: #003e7a;
    border-right-color: #003e7a;
    border-left-color: #003e7a;
    border-bottom-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;*/
}

.mysolar_unit_active_tab a {
    color: #003e7a;
}

/* fechar das abas */
.tabs_close {
    background: url('tabs_close.png') no-repeat right bottom;
    display: inline-block;
    width: 11px;
    height: 11px;
    position: relative;
    left: 5px;
    /*    top: -2px;*/
    margin-right: 5px;
}

/* itens adicionais: busca e acessibilidade */
/* busca */
#mysolar_extras {
    line-height: 36px;
    height: 36px;
    float: right;
    font-size: 11pt;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}

#mysolar_extras li {
    display: inline-block;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

.search_keyword{
    border: 1px solid #d0d0d0;
    height: 20px;
    width: 130px;
    padding: 0 20px 0 2px;
    background: url('../images/search.png') no-repeat right bottom #fff;
    margin-right: 4px;
}

.search_keyword_inactive {
    font-style: italic;
    color: #b0b0b0;
}

/* acessibilidade */
.acessibility_icons {
    vertical-align: middle;
    margin: 0 2px;
}

/* sidebar */
#mysolar_sidebar{
    width: 175px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 1;
    /*    float: left;*/
    /*    position: absolute;*/
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-top: 10px;
    padding-top: 0;

    /*
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    padding-left: 10px;
    */
    /*border-right: 1px solid #d0d0d0;*/
}

/********Menu do meuSolar*****************/
#mysolar_menu_accordion{
    display: inline-block;
    /*    position: absolute;
        top: 250px;
        left: 0px;
    */
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}

.mysolar_menu_group > ul {
    padding: 0 10px 0 10px;
    margin: 5px 0;
}

.mysolar_menu_group > ul:first-child {
    padding-top: 0;
    margin-top: 0;
}

/*.mysolar_menu_group > ul > li {
    background: url('../images/icon_arrow_right.png') no-repeat left 10px;
}*/

/*.mysolar_menu_title_single {
    background: url('../images/icon_circle.png') no-repeat left 10px !important;
}*/

.mysolar_menu_title_single_active {
    border-bottom: 2px solid #F9DB43;
    /*    background: url('../images/icon_circle.png') no-repeat left 10px !important;*/
}

.mysolar_menu_title_single_active a {
    color: #D7B507;
}

/*.mysolar_menu_title_active {
    background: url('../images/icon_arrow_down.png') no-repeat left 10px !important;
}*/

.mysolar_menu_title_active > a {
    color: #D7B507;
}

.menu_icon_arrow, .menu_icon_circle {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-right: 5px;
    font-size: 14pt;
    display: inline-block;
    /* codigo necessario para exibir corretamente no IE 7 */
    zoom: 1;
    *display: inline;
}

/* BUG: icone rotacionado está com problemas no IE 7-8, não testado no 9 */
.menu_icon_animate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /*    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand');*/
    /*    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    transform: rotate(90deg);
}

.mysolar_menu_title {
    width: 100%;
    margin: 2px;
    /*    padding-left: 12px;*/
    cursor: pointer;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    color: #003e7a;
    font-variant: small-caps;
    font-size: 12pt;
    font-family: 'Ubuntu Condensed', sans-serif;
    /*    padding-left: 15px;*/
}

.submenu {
    display: none;
    padding: 5px 0 5px 10px;
    margin: 0;
    border-top: 2px solid #F9DB43;
    background-color: #FFFBE4; /* alternativa: f5f8fb */
    font-size: 10pt;
}

.submenu > li {
    padding: 5px 0;
}

.submenu > li:hover {

}

.mysolar_menu_list{
    /*    padding-left: 25px;*/
}

#footer {
    background-color:#f9f9f9;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    width: 980px;
    bottom: 0;
    position: absolute;
}

#footer, #footer a {
    color: #666;
    font-size: 9pt;
}

#footer a:hover {
    text-decoration: underline;
}

#footer ul li {
    display: inline-block;
    margin:0 5px;
}






















/******************************************************************************/
/* conteudo em si */
/******************************************************************************/


#mysolar_content{
    /*z-index: 0;*/
    /*
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    */
    /*    padding-left: 185px;*/
    /*    padding-bottom: 50px;*/
    padding-left: 5px;
    /*    float: left;*/
    /*    position: absolute;*/
    background-color: #fff;
    width: 785px;
    padding-right: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* rodapé - escolha de idioma */
#block_locale{
    margin-top: 10px;
    text-align: center;
    font-size: 9pt;

    /*
    width: 20%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 357px;
    */
}

#block_locale a {
    color: #666;
}

#block_locale > ul {
    list-style-type: none;
    padding: 0;
}

#block_locale > ul > li {
    display: inline-block;
    margin-right: 5px;
}


/*********Abas dos Meus Dados**************/

#mydata_tab{
    height: 30px;
    background-color: transparent;
    color: #003E7A;
}

#mysolar_panel_data{
    margin-left: 30px;
}

.my_data_tab_generic{
    border-right    : 1px solid #DEDEDE;
    border-left     : 1px solid #DEDEDE;
    border-top      : 1px solid #DEDEDE;
    border-bottom   : none;
    background-color:  #F7F7F7;

    z-index         : 2;

    float           : left;
    width           : 110px;
    height          : 30px;
    margin-left     : 5px;

    cursor          : pointer;
    font-weight     : bold;
    line-height     : 28px;
    text-align      : center;
    vertical-align  : middle;

}
.background_data{

    height: 400px;
    width: 600px;
}

.my_form_data
{
    background-color: #F7F7F7;
    width: 755px;
    border: 1px solid #DEDEDE;
    z-index: 1;
}

#my_cadastral_data_button{
    margin-top: 40px;
    width: 220px;
    float: right;
}

#my_personal_data_button{
    margin-top: 40px;
    width: 220px;
    float: right;
}
.my_cadastral_data_label{
    font-size       :larger;
    font-weight     : bold;
    text-align      : left;
    padding-top     : 10px;
    border-bottom   : 1px solid #dedede;
    padding-bottom  : 0px;
    width           :540px;
}
.my_cadastral_data_label_short{
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    width:67px;
    white-space: normal;
}
.my_personal_data_label{
    font-size       :larger;
    font-weight     : bold;
    text-align      : left;
    padding-top     : 10px;
    width           :540px;

}

/********Chat do meuSolar*****************/
#mysolar_chat_area{
    font-size   : 11pt;
    position    :fixed;
    bottom      : 0px;
    right       : 15px;
}

#mysolar_chat_barra{
    font-size           : 11pt;
    background-color    : #fbb03b;
    padding-left        :5px;
    padding-right       :5px;
    cursor: pointer;
}

#mysolar_chat_contatos{
    width       :150px;
}

#mysolar_chat_list{
    border: 1px solid #bbb;
    background-color: #fff;
    display:none;
}

#mysolar_chat_list_internal{
    padding-left: 5px;
    overflow: auto;
    height:145px;
}

.mysolar_chat_hr{
    width:87%;
    border:none;
    background-color: #bbb;
    height:1px;
}

/********Portlets do meuSolar*****************/

/* REMOVER */
/*
.mysolar_portlets_limit{
    margin-right: 38px;
    max-width: 1700px;
}
.mysolar_portlets_wrapper {
    padding-right: 250px;
}
.mysolar_portlets_side {
    margin-right: -100%;
}
.mysolar_portlets_main {
    float: left;
    width: 100%;
}
.mysolar_portlets_portlet {
    background-color: #fff;
    width: 255px;
    white-space: normal;
    float: left;
}
*/

/**
 * Tratando dos titulos dos conteudos
*/

.mysolar_header {
    font-variant: small-caps;
    height: 26px;
    border-bottom: 2px solid #204783;
}

.mysolar_header img {
    float: left;
    margin-right: 4px;
}

.mysolar_header h1 {
    padding-top: 8px;
}

/**
 * Portlets
*/

.mysolar_portlets_content {
    background-color: #F5F8FB;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    font-size: 10pt;
}

#mysolar_curriculum_unit_wrapper {
    margin: 0;
    padding: 5px 10px;
}

#mysolar_curriculum_unit_wrapper li {
    padding-bottom: 5px;
}

/* REMOVER */
/*
.mysolar_portlets_agenda {
    float: right;
    margin-right: -220px;
    margin-top: 6px;
    font-variant: small-caps;
    text-transform: capitalize;
}
.mysolar_portlets_agenda_events {
    min-width: 262px;
    max-width: 262px;
    font-size: 12px;
}
*/


/**
* Legendas
*/

div.legend {
    font-size: 12px;
    padding-top: 10px;
    position: relative;
}

div.legend_score_footer {
    font-family: Arial;
    font-style: italic;
    font-size: 9pt;
}

div.legend ul {
    padding: 5px 0px;
}

div.legend li {
    text-align: left;
}

div.legend h1 {
    font-size: 14px;
    font-weight: bold;
}

hr.curriculum_unit_division, hr.curriculum_unit_division_mysolar {
    border: none;
    background-color: #204783;
    height: 4px;
    left: 0px;
    position: relative;
    top:-18px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 700px;
}

hr.curriculum_unit_division_mysolar {
    width: 464px;
}

.mysolar_title{
    color: #000;
    vertical-align: middle;
    font-variant: small-caps;
    padding: 2px 0 0 0;
    margin: 0;
    font-size: 12pt;
    font-weight: normal;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 183px !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}

/***** Portlet de Unidades curriculares *********/

.curriculum_unit_display {
    /*display:inline-block;*/
    width: 100%;
    /*    color: #8AF;*/
    font-size: 13pt;
    line-height: 20px;
}

.curriculum_unit_display:hover{
    background-color: #F6F6FF;
}

/******botões de confirmação de cadastro ********/

.confirmacao{
    height: 20px;
    width: 100px;
    margin-left: 647px;
    margin-top: -6px;
}
.cancelar{
    height: 7px;
    width: 100px;
    margin-left: 557px;
    margin-top: 8px;
}

.limpar{
    height: 20px;
    width: 100px;
    margin-left: 455px;
    margin-top: -20px;

}

/**********alterar foto*************/

/*.alter_photo_text {
    font-family: Trebuchet;
    font-size: 14px;
}

div.alter_photo_text {
    font-size: 12px;
    width: 90%;
}*/

/**
 * manipulacao da window/modal
*/
#mask {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9000;
    background-color: #000;
    display: none;
    width: 100%;
    height: 100%;
}

.boxes .window {
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
}

.boxes #dialog {
    border-color: #ffd;
    width:434px;
    height:230px;
    left:50%;
    top: 50%;
    padding:10px;
    background-color: #DBD5D5;
}

/**
 * manipulacao do link na foto
*/
.div_link_decoration {
    display: none;
}

.div_link {
    /*border: 1px solid #0658B5;*/
    cursor: pointer;
    margin: 0;
}

.div_link .div_link_decoration {
    background-color: #FFFFFF;
    display: block;
    color: #0658B5;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 1px 0;
    text-align: center;
    text-decoration: underline;
    width: 72px;
    z-index: 99;
}


/** Unidade Curricular - tela inicial de acesso **/

/* div que engloba tudo */
.block_wrapper {
    width: 785px;
    margin-bottom: 15px;
    overflow: hidden;
}

/*.block_wrapper_small {
    height: 195px;
}*/

/* id do titulo geral da página */
#page_title, #lightBoxDialogTitle {
    border-bottom: 1px solid #d0d0d0;
}

#page_title h1, #lightBoxDialogTitle h1 {
    font-size: 14pt;
    /*    font-weight: bold;*/
    /*    font-variant: small-caps;*/
    display: inline;
    /*    border-bottom: 1px solid #fff;*/
}

#page_title > .block_content_text {
    border: none;
    color: #666666;
    font-size: 9pt;
    padding: 4px 0 0 4px;
    float: right;
}

/*#page_title > .block_content_text:hover {
    border: 1px solid #666666;
}*/

#page_title > .block_content_text:hover, #page_title > .block_content_text:hover select {
    color: #000000;
}

#page_title select {
    color: #666666;
    font-size: 9pt;
    border: none;
}

/* titulo do bloco */

div.block_title {
    border-bottom: 2px solid #003E7A;
    padding-bottom: 1px !important;
    position: relative;
    overflow: hidden;
    height: 26px;
}

.block_title h1 {
    font-variant: small-caps;
    font-size: 12pt;
    font-weight: normal;
}

.block_title h2 {
    display: inline;
    vertical-align: bottom;
    position: absolute;
    bottom: 2px;
}


/* icone que fica ao lado do titulo do bloco */
.block_title_icon {
    margin-right: 5px;
    margin-bottom: 2px;
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

#page_title_icon {
    vertical-align: top;
}

/* zerando o espaçamento do titulo do bloco */
.block_title, .block_title > .block_left, .block_title > .block_right {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

/* definindo as divs de conteudo como inline-table */
.block_title > div, .block_content > .block_left, .block_content > .block_right {
    display: inline-table;
    border-spacing: 0;
}

.block_content > .block_left img, .block_content > .block_right img {
    vertical-align: text-bottom;
}

/* garantindo que o titulo do bloco fique proximo a linha inferior */
.block_title {
    vertical-align: bottom;
    overflow: auto;
    /*line-height: 20px;*/
}

.block_title > .block_right {
    padding-left: 6px;
}

/* posicionando objetos alinhados a direita (normalment botoes) */
.right_buttons {
    float: right;
}

/* largura dos blocos internos */
.block_left, .block_right {
    width: 370px;
    padding: 6px 10px;
}

/* garantindo que o conteudo do bloco fique proximo a linha superior */
.block_content > .block_left, .block_content > .block_right {
    vertical-align: top;
}

/* definindo cor de background do conteudo e tamanho da fonte */
.block_content {
    font-size: 10pt;
    background-color: #F5F8FB;
}

.block_content_overflow {
    overflow: hidden;
}

/* ajustando a largura do bloco esquerdo e adicionando a borda divisoria*/
.block_content > .block_left {
    width: 369px;
    border-right: 1px solid #d0d0d0;
}

/* ajustando o espaçamento do bloco direito */
.block_content > .block_right {
    padding: 6px 10px 6px 8px;
}

.block_content_spacing {
    padding: 6px 10px;
}

.block_content_line {
    border-bottom: 1px solid #CCCCCC;
    /*    font-size: 10pt;*/
    padding: 6px 10px;
}

.block_content_line:last-child {
    border-bottom: none;
}

.block_content_gray {
    font-size: 8pt;
    color: #999;
    padding-right: 5px;
}

.block_content_text {
    color: #000;
    /*    font-size: 10pt;*/
    padding: 6px 10px;
}

table tr.block_title th {
    width: 100%;
    height: 161px; 
    overflow: auto;
    word-wrap: break-word;
}

.block_small {
    height: 195px;
    width: 255px;
    float: left;
    margin-right: 10px;
}

.block_large {
    float: left;
    display: inline-block;
    height: 195px;
    width: 520px;
    margin-right: 10px;
}

#block_group_selection {
    background-color: transparent;
}

#block_lessons {
    min-height: 135px;
    max-height: 160px;
    overflow: auto;
}

#block_schedule {
    margin-right: 0 !important;
}

#block_messages_content {
    width: 100%;
    height: 146px;
    overflow: auto;
}

.block_messages_opt {
    font-size: 8pt;
    color: #d0d0d0;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #F5F8FB;
}

#block_forum {
    width: 100%;
    height: 173px;
    overflow: auto;
    word-wrap: break-word;
}

/* calendario da tela de acesso a curso */
.calendar {
    background-color: #F5F8FB;
    font-size: 9pt;
    width: 100%;
    padding-bottom: 2px;
}
.calendar_events {
    background: #F5F8FB;
    height: 100%;
    padding: 3px 8px 2px 8px;
    overflow: auto;
}

/* tela de participantes */
.participants_list_item {
    border:0;
    float:left;
    margin:7px 0px 7px 0px;
    position:relative;
    width:155px;
    text-align:center;
    white-space: nowrap;
}

.participants_list_item > img {
    padding-bottom: 5px;
}

.participant_name {
    line-height: 11pt;
    font-variant: small-caps;
    font-size: 11pt;
}

.participant_role {
    font-size: 9pt;
    line-height: 8pt;
}

.participants_list_none {
    border:0;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    float:left;
    margin:5px 5px 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 4px;
    position:relative;
    width:301px;
    background-color: #f2f6f6;
    font-size: 11px;
}
.participants_icons {
    position: absolute;
    bottom: 1px;
    left: 23%;
}
.portlet_participants {
    margin: 0px;
    padding: 0px;
    border:0px;
    background-color: #fff;
    white-space: normal;
    margin-bottom: 12px;
    display: table;
    max-width: 775px;
}

/* div e navegacao de aulas */
#lesson_area {
    background-color: #eee;
    border: none;
    padding: 0;
    margin:  0;
    width:  100%;
    height: 100%;
    top:  0;
    left: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-Y: hidden;
}
#lesson_content_header {
    background-color: #dee8ec;
    font-size: 11px;
    color: #000;
    width:  100%;
    height: 25px;
    margin:  0px;
    padding: 0px 3px 0px 8px;
}
#lesson_header {
    background-color: #1d4786;
    font-size: 12px;
    color: #fff;
    width:  100%;
    height: 22px;
    margin:  0px;
    padding: 6px 0px 0px 8px;
}
#lesson_frame_address {
    position: relative;
    width:  100%;
    border:   0px;
    margin:   0px;
    padding:  0px;
    top: 0px;
}
#lesson_goto {
    display: inline;
    float: right;
    height: 20px;
    margin-right: 50px;
    margin-top: 4px;
    text-align: center;
    vertical-align: top;
    width: auto;
}
#lesson_click_area {
    display: inline-block;
    width: 50%;
    height: 22px;
}
.lesson_back, .lesson_next {
    width: 9px;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    vertical-align: bottom;
}
.lesson_link {
    background-color: #b8cbcf;
    width:17px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 1px;
    margin-bottom: 3px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    line-height: 19px;
}
.lesson_img_nav {
    cursor: pointer;
    vertical-align: middle;
}
#lesson_text_goto {
    height: 16px;
    width:  22px;
    font-size: 11px;
    padding: 0px;
}
/* rolagem da lista de aulas */
#content-scroll {
    width: 270px;
    height: 22px;
    overflow: hidden;
    padding-top: 2px;
    display: inline-block;
}
#content-holder {
    width: 360px;
    height: 25px;
}

/* estilo para item invisivel */
.invisible {
    display: none;
}

/*Tela de fórum*/
#forum_description{
    white-space: normal;
    margin-bottom: 10px;
}

div.forum_navigation {
    text-align: center;
    min-height: 28px;
    padding-bottom: 0;
}

.forum_button, .forum_button_attachment{
    color: #1c4785;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

.forum_button_attachment{
    float: left;
    font-size: 9pt;
    margin-left: 5px;
    margin-top: 4px;
}

.forum_button_remove{
    color: #922;
}

#forum_new_message {
    float: left;
}

#forum_new_message button {
    text-align: center;
}

.forum_btn_new_message {
    background:url('../images/icon_write.png') center right no-repeat transparent;
}

/*.forum_closed_title {
    background-color:#fff6f6;
}*/

.lines.period_ended, .period_ended {
    background-color:#f6f6f6;
    color:#989898;
}

.lines.period_ended a, .period_ended a {
    color:#989898;
}

#forum_closed {
    color: red;
    /*font-weight: bold;*/
    padding-top: 7px;
    font-family: 'Ubuntu Condensed', sans-serif;
    /*background: url('../images/error.gif') no-repeat left center;*/
}

#forum_view_mode {
    float: right;
}

#forum_view_mode a {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#forum_view_mode a:first-child {
    border-right:none;
}

#forum_view_mode a:nth-child(2) {
    border-left:none;
}

#forum_view_mode .btn img {
    padding-left: 0px;
}

.forum_post_buttons .forum_button_attachment {
    text-align: left;
}

.forum_navigation_bar {
    border-bottom: 2px solid #1d4786;
    font-size: 10pt;
    width: 100%;
    max-width: 785px;
}

#forum_pagination {
    font-size: 11pt;
    min-height: 28px;
    display: block;
}

#forum_pagination form {
    padding-top: 7px;
}

.forum_post_wrapper {
    max-width: 785px;
}

.forum_post{
    min-height: 40px;
    white-space: normal;
    max-width: 785px;
    width:100%;
    margin-top: 5px;
}

.forum_post .forum_post {
    margin-top: 5px;
}

.forum_post_attachment_line{
    display:block;
    height:13px;
    width:96%;
    margin:0px;
    border-bottom:1px solid #CCC;
    border-top:0px;
    border-left:0px;
    border-right:0px;
}

.forum_post_attachment_empty{
    color: #666;
    font-size: 11px;
    padding-left: 7px;
}

.forum_post_link_disabled{
    /*color: #5C6D85;*/
    color: #999999;
    font-size: 11pt;
    text-decoration: underline line-through;
}

.forum_post_link_remove_disabled{
    color: #996262;
}

.forum_post_child_ident{
    padding-left: 70px;
}

.forum_post_icon {
    border-right:2px solid #003E7A;
    vertical-align: top;
    padding-right: 5px;
    width: 40px;
    background-color: #ffffff;
}

.forum_post_content .forum_post_icon {
    padding-left: 5px;
}

.forum_post_icon img {
    width: 40px;
    height: 40px;
}

.forum_post_head {
    /*background-color:#F5F8FB;*/
    height: 35px;
    font-size: 13px;
    white-space: normal;
    font-family: 'Ubuntu';
    font-weight: bold;
    width:100%;
    display: block;
    text-align:left;
    border-bottom: 1px solid #003E7A;
}

.forum_post_author {
    float:left;
    padding-left:5px;
}

.forum_post_content{
    width: 100%;
    /*    background-color: #F5F8FB;*/
    font-family:'PT Sans', sans-serif;
    font-size: 10pt;
    vertical-align: top;
}

.forum_post_inner_content {
    padding: 5px 5px 0 5px;
    background-color: #F5F8FB;
    word-wrap: break-word;
}

.forum_post_inner_content p {
    margin-bottom: 0px;
    padding-bottom: 7px;
}

.forum_post .forum_post_inner_content {
    max-width: 730px;
}

.forum_post .forum_post_buttons {
    max-width: 732px;
}

.forum_post .forum_post .forum_post_inner_content {
    max-width: 676px;
}

.forum_post .forum_post .forum_post_buttons {
    max-width: 680px;
}

.forum_post .forum_post .forum_post .forum_post_inner_content {
    max-width: 624px;
}

.forum_post .forum_post .forum_post .forum_post_buttons {
    max-width: 630px;
}

.forum_participant_nick {
    /*border-bottom: 1px solid #003E7A;*/
}

.forum_participant_profile {
    font-size: 12px;
    font-weight: normal;
}

.forum_participants {
    border:0;
    float:left;
    margin:5px 5px 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
    width:106px;
    min-height:90px;
    text-align:center;
    font-size: 11px;
}
.forum_participants_icons {
    bottom: 1px;
    left: 23%;
    padding-top:5px;
}
.forum_post_date{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 8pt;
    text-align: right;
    font-style: italic;
    color: #888;
    margin-right: 8px;
    margin-top: 5px;
    float: right;
}
.forum_post_buttons{
    text-align: right;
    background-color: #F5F8FB;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
}

.forum_post_attachment{
    padding: 0 0 5px 7px;
    background-color: #F5F8FB;
}

.forum_post_attachment h3 {
    padding-bottom: 4px;
}

.forum_post_attachment_list {
    list-style: circle;
    padding-left: 15px;
}

.forum_post_attachment_list li {
    padding-bottom: 4px;
}

.forum_post_attachment_list li img {
    width: 12px;
    vertical-align: middle;
}

#post_attachment_wrapper div {
    margin-top: 10px;
}

#post_attachment_form_submit {
    text-align: right;
}

/*.forum_post_content .forum_post {
    margin-left: 5px;
    width: auto;
}*/

#new_post_dialog{
    text-align:left;
    background-color: #F4F4F4;
    border: 1px solid #EEE;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
    margin-top: 2px;
}

.new_post_dialog_buttons {
    margin-top: 5px;
    text-align: right;
}

/* === TELA DE MENSAGENS  === */
.label_text {
    font-size: 10pt;
    padding: 6px;
    color: #000;
}

/* mensagem: busca */
.message_search_div,.message_div{
    color: #000;
    font-size: 10pt;
    text-decoration: none;
}

/* mensagem: cabecalho, area de titulo */
#message_general_title {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 0px !important;
    height: 25px;
}
#message_general_title > div {
    /*float: left;*/
    height: 22px;
}
.message_general_div_option, .message_general_div_option_active {
    display: inline-block;
    padding: 0 8px;
    z-index: 20;
}
.message_general_div_option_active {
    border-bottom: 2px solid #214684;
}
.message_general_div_option img, .message_general_div_option_active img {
    vertical-align: bottom;
}
.message_div_options, .message_div_options_new, .message_div_show, .message_header_new {
    width: auto;
}
.message_div_options, .message_div_options_new {
    background-color: #ffffff;
    height: 26px;
    margin-top: 2px;
    vertical-align: middle;
    border-bottom: 1px solid #d0d0d0;
}
.message_div_options_new {
    margin: 0;
}
.message_new_action {
    margin-top: 10px;
}
#menu_inbox .text_alert_message {
    margin-left: 3px;
}

.message_link_menu{
    text-decoration: none;
    font-size: 11pt;
    margin-left: 3px;
}

/* mensagem: rodape, navegação */
.message_div_navigation{
    /* background-color: #f9f9f9;*/
    /*border-top: 1px solid #d0d0d0;*/
    height: 20px;
    text-align: center;
    padding: 3px;
}

/* mensagem: links do menu */
.message_link, .message_link_menu {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.message_link {
    font-size: 10pt;
}

.message_link, .message_menu_listbox {
    padding: 6px 10px 4px 10px;
}

#message_list > .message_link:hover {
    border-bottom: 2px solid #214684;
}

/* mensagem: listagem das mensagens */
.message_div_list{
    width: 100%;
}
.message_div_show {
    padding-right: 100px;
    min-height: 100px;
    white-space: normal;
    font-size: 10pt;
    padding: 20px;
}
.message_line{
    /*background-color: #f9f9f9;*/
    height: 28px;
}
.message_line_highlight {
    background-color: #FFFBE4;
}
/*.message_line:hover {
    background-color: #EEF3FB;
}*/
.message_line_check {
    width: 30px;
    text-align: center;
}
.message_nav_text {
    font-size: 10pt;
    text-decoration: none;
    color: #000;
    width: auto;
}
.message_search_textbox{
    height: 18px;
    width: 500px;
    padding: 0px;
    font-size: 11px;
}
.message_read, .message_unread{
    color: #666;
    font-weight: normal;
    white-space: normal;
}
.message_unread{
    color: #000;
    font-weight: bold;
}
.message_label {
    font-size: 8pt;
    color: #000;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #F9C153;
    border: 1px solid #F9C153;
    -moz-border-radius: 4px;
}
.message_read:hover, .message_unread:hover {
    text-decoration: underline;
}
.message_header_new {
    width: 100%;
}
.message_div_text_read {
    background-color: #F7F7F7;
    width: 100%;
}

.message_text_to, .message_text_body {
    font-size: 10pt;
    color: #000;
    padding: 2px 5px;
}
.message_text_to, .message_text_to_label {
    padding-top: 5px;
}
.message_text_to_label {
    width: 60px;
    text-align: right;
}
.message_text_body {
    padding: 20px;
    padding-right: 100px;
}
.message_recipient_box {
    border: 1px solid #eee;
    font-size: 12px;
    color: #214684;
    cursor: pointer;
}
.message_new {
    padding-top: 4px;
}
.message_new_textbox {
    width: 95%;
    font-size: 10pt;
}
.message_attach_item {
    padding: 5px 0 0 0;
}
#newPostUploadPanel {
    padding-bottom: 5px;
}
#recipients_selected {
    border: 1px solid #ccc;
    width: 435px;
    height: 50px;
    background-color: #fff;
    white-space: normal;
    overflow: auto;
}
#div_contacts{
    font-size: 11pt;
    text-decoration: none;
    padding: 5px;
    color: #214684;
    position: absolute;
    border: 2px solid #F2F2F2;
    background-color: #fafafa;
    line-height: 15px;
    z-index: 100;
}
.div_contacts_buttons{
    width:440px;
    padding-top:4px;
}
#div_contacts_list {
    overflow: auto;
    background-color: #fff;
    padding: 5px;
    margin-right: 3px;
    margin-top: 1px;
    border: 1px solid #ddd;
    height: 150px;
}

/* dropdown de mensagens (selecionar, mover para) */
ul{
    list-style-type:none;
}
ul.message_menu_listbox {
    width: 80px;
    margin: 0px 0px 0px 8px;
    padding: 0px;
    display: inline-block;
}
ul.message_menu_listbox li{
    position: relative;
}
ul.message_menu_listbox li:hover{
    position: relative;
}
ul.message_menu_listbox li a{  /* menu nivel 1 */
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer;
    display:block;
}
ul.message_menu_listbox li ul{
    display:none;
    border: 1px solid #ccc;
    position: absolute;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    top:20px;
    left:0;
    margin-right: 0px;
    background:#fff;
}
ul.message_menu_listbox li:hover ul{
    display:block;
}
ul.message_menu_listbox li ul a{  /* menu nivel 2 - opcoes */
    width: 80px;
    display: block;
    background: #fff;
    padding: 0px;
    margin:  2px;
    font-size: 10pt;
    text-decoration: none;
}
ul.message_menu_listbox li ul a:hover{
    background:#eee;
}

/* paginacao */
.next_page, .prev_page, .current, .link_navigation {
    font-size: 12px;
    text-decoration: underline;
    color: #214684;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.link_navigation {
    text-decoration: none;
}
.disabled, .message_div_navigation {
    font-size: 10pt;
    text-decoration: none;
    color: #B4B3B7;
    padding-left: 5px;
    padding-right: 5px;
}
.current {
    background-color: #E7EDED;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.pagination {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.pagination a {
    padding-left: 5px;
    padding-right: 5px;
    color: #214684;
}

/**
 * Tabelas - geral e files
*/
table.tb_list, table.tb_list_files {
    width: 100%;
    font-size: 10pt;
}

table.tb_list tr.block_title th {
    padding-bottom: 2px;
}

/*table.tb_list, table.tb_list_files {

    background-color: #F7F7F8;
    border-right: solid #B4B2B1 1px;
}*/

table.tb_list th {
    white-space: nowrap;
    background-color: white;
    /*    font-weight: bold;*/
}

table.tb_list a {
    text-decoration: underline;
}

table.tb_list h4 {
    margin-bottom: 4px;
    overflow: hidden;
    word-wrap:break-word;
    max-width:410px;
}

table.tb_list tbody {
    background-color: #F5F8FB;
}

table.tb_list td {
    white-space: normal;
    word-wrap: break-word;
    /*    border-right: 1px solid #d0d0d0;*/
}

table.tb_list td:last-child {
    border-right: none;
}

table.tb_list tbody tr:last-child {
    border-bottom: none;
}
.file_icon {
    margin-right: 3px;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
}
table.tb_list_files {
    border-right: 0px;
}

table.tb_list_files th {
    height: 30px;
    border: 0;
}

table.tb_list_files td {
    border-top: 1px solid #B4B2B1;
}

.enunciation_complete, .enunciation_less {
    display:none;
}
/**
* Icones de arquivos em tabelas
*/
table .file_data_icon {
    text-align: center;
}

/**
* Datas de arquivos em tabelas
*/

table.tb_list_files td.file_data_info, table.tb_list td.file_data_info {
    color: #787878;
}

/**
* Tratando datas de arquivos up/down
*/

.date_info, table.tb_list_files th.date_info {
    font-size: 10pt;
    font-style: italic;
    color: #787878;
}

table.tb_list_files th.date_info {
    font-size: 12pt;
    float: right;
    padding-right: 2px;
}

/**
* Tratando linhas das tabelas
*/
th {
    border-bottom: solid #B4B2B1 1px;
}

tbody tr.lines {
    border-bottom: solid #B4B2B1 1px;
    background-color: #F5F8FB;
}

tr.lines td img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

/*
tbody tr.lines:nth-child(odd) {
    background-color: #eef3fb;
}
*/

th, tr.lines td {
    /*    border-bottom: solid #B4B2B1 1px;*/
    /*    border-left: solid #B4B2B1 1px;*/
    /*    padding: 7px 5px 6px 5px;*/
    padding: 6px 10px;
    vertical-align: top;
}

tr.post_content {
    background-color: #F5F8FB;
}

tbody tr.lines:hover, table.tb_list_files td:hover {
    background-color: #eef3fb; /* #FFF5ED*/
}

tbody tr.lines.period_ended:hover {
    background-color:#f1f1f1;
}

tbody tr.lines:hover a, table.tb_list_files td:hover a {

}

td.td_student a {
    color: #204783;
    text-decoration: underline;
}

/* tratando form dentro de tabela */
.tb_list .button_to {
    display: inline-block;
}

/**
* Portfolio
*/

div.send_files {
    font-size: 10pt;
    background-color: #F7F7F8;
}

.red_notice {
    font-size: 10pt;
    background-color: white;
    white-space: nowrap;
    color: #e12227;
    padding-top:6px
}

.portfolio_activity {
    width: 500px;
}

.portfolio_activity_mright {
    margin-right: 20px;
}

.presentation_area {
    width: 700px;
}

#history_search_content {
    padding-bottom: 6px;
    border-bottom:1px solid #d0d0d0;
}

#history-body {
    padding:7px 0 5px 0;
}

div.label_score {
    font-size: 11px;
    padding-top: 10px;
}

td.td_student a {color: #2a538d;}

/**
* AGENDA
*/
.schedule_link_more {
    font-size: 11px;
    color: #4b6380;
    margin-right: 2px;
    float: right;
}

.agenda_block {
    overflow: auto;
    padding-bottom: 20px;
}

.agenda_left {
    float: left;
    background-color: #F5F8FB;
    min-height: 65px;
    width: 160px;
    font-size: 11pt;
}

.agenda_right {
    white-space: normal;
    min-height: 60px;
    overflow: hidden;
    font-weight: normal;
    /*    background-color: #fbfbfb;*/
    font-size: 10pt;
    padding-top: 10px;
    text-align: justify;
}

.agenda_right p {
    padding: 5px 5px 5px 10px;
}

.agenda_right .title {
    padding-left: 10px;
    font-weight: bold;
    font-size: 10pt;
}

/*.agenda_left {
    padding-top: 10px;
}*/

.agenda_left_date {
    margin-top: 7px;
    text-align: center;
}

.agenda_left_interval, .agenda_left_day, .agenda_left_day_and_month {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.block_title_icon.discussions {
    background: url('../images/schedule/meeting_attendance_16x16.png') no-repeat;
    display: inline-block;
}

.block_title_icon.lessons, .block_title_icon.assignment, .block_title_icon.schedule_events {
    background: url('../images/schedule/assignments_16x16.png') no-repeat;
    display: inline-block;
}

.block_title_icon.chat {
    background: url('../images/schedule/chat_16x16.png') no-repeat;
    display: inline-block;
}

/* encontro presencial */
.block_title_icon.meeting_attendance {
    background: url('../images/schedule/meeting_attendance_16x16.png') no-repeat;
    display: inline-block;
}

.agenda_ajax {
    color: #4B6380;
    font-size: 9pt;
}

.agenda_left_month_year .year_left {
    margin-right: 30px;
}

/**
* Situacao das tarefas
*/
/*.assignment_corrected, .assignment_sent, td.assignment_as a, .assignment_not_sent, .assignment_not_started, .assignment_send, .assignment_pending, td.assignment_an a {
    text-decoration: underline;
}*/

.assignment_corrected {
    white-space: nowrap;
    color: #378941;
}

.assignment_sent, td.assignment_as a  {
    white-space: nowrap;
    color: #1CA093;
}

.assignment_not_sent, .expired {
    white-space: nowrap;
    color: #e12227;
}

.assignment_not_started {
    white-space: nowrap;
    color: #787878;
}

.assignment_send, .assignment_pending, td.assignment_an a {
    white-space: nowrap;
    color: #204783;
}

.activity_grade {
    font-weight: bold;
}

#breadcrumb {
    white-space: nowrap;
    font-size: 10pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

#breadcrumb a {
    color: #666;
}

/**
* Botoes
*/

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0px 4px 2px;
    font-size: 8pt;
    margin:0 2px;
    border: 1px solid #DEDEDE;
    /*min-width: 60px;*/
    height: 26px;
}
a.btn {
    /*height: 20px;*/
    height: auto;
    padding-top: 7px;
    padding-bottom: 3px;
}
.btn img {
    vertical-align: text-bottom;
    padding-bottom: 0px;
    padding-left: 5px;
}
.btn:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
}
.btn:active {
    position: relative;
    top: 1px;
}

.btn_disable,.btn_disable:hover,.btn_disable:active {
    color:#f3f3f3;
    box-shadow: 0px 1px 2px #9a9a9a inset;
    top: 0px;
}

.btn_main {
    color: #ffffff;
    /*background-image: -moz-linear-gradient(center top , rgba(84,118,145,1), rgba(46,92,130,1));*/
    background-image: -moz-linear-gradient(center top , #005CC0, #004898);
    background-image: -webkit-linear-gradient(top,#005CC0,#004898);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
}

.btn_main:hover, .btn_main:focus {
    color: #ffffff;
    background-image: -moz-linear-gradient(center top , #016ee5, #005CC0);
    background-image: -webkit-linear-gradient(top,#016ee5,#005CC0); 
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
}

.btn_default{
    color: #111;
    background-image: -moz-linear-gradient(center top , rgba(255,255,255,1), rgba(232,232,232,1));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,1),rgba(232,232,232,1));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
}
.btn_default:hover {
    border: solid 1px #d9d9d9;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0');
}
.btn_default:active {
    background-image: -moz-linear-gradient(center top , rgba(232,232,232,.50), rgba(255,255,255,.85));
    background-image: -webkit-linear-gradient(top,rgba(232,232,232,.50),rgba(255,255,255,.85));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.btn_caution {
    color: #ffffff;
    background-color: #f55254;
    background-image: -moz-linear-gradient(center top , #f67a7b, #f55254);
    background-image: -webkit-linear-gradient(top,#f67a7b,#f55254);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f67a7b', endColorstr='#f55254');
}
.btn_caution:hover {
    background-image: -moz-linear-gradient(center top , #f65f60, #f0292d);
    background-image: -webkit-linear-gradient(top,#f65f60,#f0292d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f65f60', endColorstr='#f0292d');
}
.btn_caution:active {
    background-image: -moz-linear-gradient(center top , #f0292d, #f65f60);
    background-image: -webkit-linear-gradient(top,#f0292d,#f65f60);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

/* MATERIAL DE APOIO */

.support_material_folder_top{
    font-variant: normal;
    text-transform: capitalize;
}

.support_material_folder_top_line{
    color: #1C4785;
    border: solid 2px;
    font-weight: lighter;
    margin-top: 0px;
}
.support_material_content{

}

.support_material_content_links{
    background-color: #f7f7f8;
    font-size: 12px;
    color: #4B6380;
    padding-left: 10px;
}
.support_material_files_informations{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-style: italic;
    color: #787878;
}

/* material de apoio do editor (inicio) */

#column_wrapper {
    display: none;
}

.select_editor {
    width: 260px;
    display: block;
    float: left;
    background-color: #F5F8FB;
}

.select_editor_title {
    padding: 6px 10px 5px 10px;
    border-bottom: 1px solid #B4B2B1;
    background-color: #fff;
}

.select_editor_content {
    overflow: auto;
    height: 95px;
}

.select_editor_content li {
    padding: 3px 10px;
}

.select_editor_content li:hover {
    cursor: pointer;
    background-color: #fff;
    border-left: 2px solid #003E7A;
    padding-left: 8px;
    color: #000;
}

.delete_support_material_file_editor, .support_material_add, .support_material_add_link{
    background-color: white;
    border-color:white;
    border:0;
    padding:0;
    cursor: pointer;
}

.support_material_message_no_files {
    border-top: solid #B4B2B1 1px;
    border-bottom: solid #B4B2B1 1px;
    background-color: #F5F8FB;
    height: 20px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #666;
    padding: 2px 0px 0px 10px;
}

.support_material_message_no_files:hover {
    background-color: #eef3fb; 
}

/* material de apoio - editor - tabela */
.support_material_buttons {
    overflow: hidden;
    padding: 4px 2px;
}

.support_material_folder_buttons {
    overflow: hidden;
    padding: 4px 2px;
    cursor: pointer;
}

.support_material_buttons > div {
    width: 80px;
    border-right: 1px solid #d0d0d0;
    float: left;
    text-align: center;
}

.support_material_check_box {
    margin-right:5px;
}

h2.support_material_title {
    position: absolute;
    bottom: 1px;
}

div.support_material_select {
    width: 30px;
    margin-left: 2px;
}

.block_actions {
    /*position: absolute;
    right: 0;*/
    float: right;
    font-size: 11px;
}

#support_material_new_folder {
    border-bottom-style: dashed;
    border-bottom-color: #d0d0d0;
}

#support_material_new_folder img {
    vertical-align: text-bottom;
    margin-right: 0;
}

.new_file td {
    font-size: 9pt;
    color: #666;
}

.new_link input {
    width: 560px;
}

/* material de apoio do editor (fim) */


/******** Atualização de dados de usuário **********/

.user_data_form_buttons{ 
    text-align: center;
    font-size: 9pt;
}

.form_user_table {
    margin-top: 5px;
}

.form_user_table td {
    padding:2px 0;
}

.form_user_content textarea {
    width: 413px; /*425px;*/
}

.form-inputs > .input > textarea {
    height: 120px;
}

.form_user_content textarea, .form-inputs > .input > textarea {
    margin-bottom: 5px;
    padding: 2px;
}

.form_label {
    text-align: right;
}

.form_label:first-child {
    width: 160px;
}

.form_label label, .form-inputs .control-label {
    padding-right: 5px; 
    padding-top: 2px;
    vertical-align: top;
}
.form_label_multiline {
    vertical-align: top;
}

.form_field input[type="text"] {
    width: 413px;
}

.form_field input, .form_field select, .form-inputs > .input > input, .form-inputs > .input > select {
    padding: 2px;
    margin-bottom: 4px;
    font-size: 10pt;
}

.form-inputs > .input > input, .form-inputs > .input > textarea {
    width: 340px;
}

.form-inputs > .input > select {
    width: 346px;
}

#curriculum_unit_code, #curriculum_unit_passing_grade {
    width: 65px;
}

.form_inner_label {
    padding: 0 10px 0 0;
    width: auto;
}

td.form_error {
    color: #E03838;
    padding-left: 10px;
}

#special_needs_line {
    display: none;
}
.label_gender{
    text-align: right;
}

.form_usuario_label {
    text-align: right;
    width: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    white-space: pre-wrap;
    vertical-align: middle;
}

.login_form_link_return{
    position        : relative;
    top         : 10px;
    background-color    : #fff;
    color               : #222;
    text-align          : center;
    line-height         : 25px;
}
.login_form_link_return:hover{
    color               : #222;
    text-decoration     : none;
}

.form_requirement {
    font-style: italic;
    font-size: 9pt;
    color: #E03838;
    display: block;
    margin-right: 2px;
    margin-top: 2px;
    float: right;
}
.form_usuario_table{
    color: #fff;
    line-height: 15px;
    margin-bottom: 25px;

}
.form_usuario_tr{
    height: 30px;
}
.label_usuario{
    white-space         : pre-wrap;
}

#user_gender {
    width: 45px;
}

#address_number, #address_neighborhood, #country, #telephone {
    width: 128px;
}

#address_complement, #zipcode, #cell_phone {
    width: 128px;
}

#user_state {
    width: 134px;
}

/* gerenciamento de grupos */

.group_assignment_content {
    margin-bottom: 10px;
}

#group_assignments tr.lines > td {
    padding: 0;
}

#group_assignments tr.lines:hover {
    background-color: #f5f8fb;
}

.group_assignment_title {
    padding: 6px 10px;
    cursor: pointer;
    background: url('../images/group_assignment_expand.png') no-repeat right center;
}

.group_assignment_title_contract {
    background: url('../images/group_assignment_contract.png') no-repeat right center;
}

.group_assignment_title:hover {
    background-color: #eef3fb;
}

.group_assignment_details {
    display: none;
    margin-left: 20px;
}

.group_participants {
    border: 1px solid #d0d0d0;
    background-color: white;
    float: left;
    width: 230px;
    min-height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.group_participants ul {
    padding: 5px;
}

.group_new {
    clear: both;
    padding-bottom: 5px;
}

.group_edit {
    float: right;
    margin-right: 5px;
}

.group_assignment_name {
    text-align: center;
    background-color: #f1f1f1;
    padding: 2px 5px;
}

.participants{
    border-left: 2px solid #d0d0d0;
    float: left;
    width: 225px;
    min-height: 50px;
    margin: 20px 10px 30px 15px;
    padding-left: 5px;
}

.division{
    border-bottom: 1px solid #D0D0D0;
}

.group_div{
    padding: 20px 10px 15px 15px;
}

.page_title{
    color: #003E7A;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.form_group_managment{
    width: 400px;
}

.form_group_managment input{
    width: 180px;
    margin-bottom: 10px;
}

.form_group_managment label{
    color: #000000;
    width: 100px;
    text-align: right;
    margin-left: -13px;
    padding-right: 10px; 
    padding-top: -10px;
}

.all_students{
    border: 1px solid #dedede;
    background-color: #ffffff;
    width: 380px;
    min-height: 100px;
    margin-left: 100px;
    margin-top: -18px;
    display: inline-block;
    padding: 6px 6px 5px 8px;
}

.all_students li{
    list-style-type: none;
}

.all_students label{
    margin-left: 5px;
    color: #000000;
    text-align: left;
    width: 320px;
}

.all_students input{
    width: 20px;
}

.each_student {
    padding: 2px 2px 2px 2px;
}

.group_links{
    display: inline;
    font-weight: normal;
}

.group_assignments_import{
    padding: 10px 6px 5px 8px;
}

.all_students_to_import{
    border: 1px solid #dedede;
    background-color: #ffffff;
    width: 390px;
    min-height: 100px;
    margin: 10px 20px 20px 20px;
    display: inline-block;
    padding: 6px 6px 5px 8px;
}

.all_students_to_import li{
    list-style-type: none;
}

.import_buttons{
    margin-left: 20px;
    margin-bottom: 20px;
}

.group_assignment_buttons{
    margin-bottom: 20px;
    clear: both;
}

/* FORM: criação de unidade curricular */
.form-inputs.block_content {
    padding-top: 5px;
}

.form-inputs .form_label:first-child {
    width: 130px;
}

/* ajustando aviso de campos obrigatorios dentro do lightbox de criacao de unidade curricular */
#lightBoxDialogContent .form_requirement {
    margin-top: -16px;
}

/* posicionando botões do form */
.block_content.form-actions {
    padding-left: 143px;
    padding-bottom: 5px;
}