$cor_principal: #56585E;
$cor_principal_light: adjust_color($cor_principal, $lightness: 62%);
$cor_principal_light_highlight: adjust_color($cor_principal, $lightness: 60%);

$cor_principal_medio: lighten(desaturate($cor_principal, 20%),20%);

$cor_principal_texto: $cor_principal;

$cor_contraste_principal: #ca3829;
$cor_contraste_light: adjust_color($cor_contraste_principal, $lightness: 50%);
$cor_contraste_texto: adjust_color($cor_contraste_principal, $lightness: -10%);