$cor_principal: #7F0099;
$cor_principal_light: adjust_color($cor_principal, $lightness: 68.5%);
$cor_principal_light_highlight: adjust_color($cor_principal, $lightness: 67%);

$cor_principal_medio: lighten(desaturate($cor_principal, 70%),30%);

$cor_principal_texto: $cor_principal;

$cor_contraste_principal: #699F28;
$cor_contraste_light: adjust_color($cor_contraste_principal, $lightness: 55%);
$cor_contraste_texto: adjust_color($cor_contraste_principal, $lightness: -10%);