= javascript_include_tag "jquery.dynatree.js"
= stylesheet_link_tag "ui.dynatree.css"

%p
  %a#btnSelectAll{href: "#"} Select All
  %a#btnDeselectAll{href: "#"} Deselect all
#tree2
%div
  Selected keys:
  %span#echoSelection2 -


:javascript

  var treeData = [
    {title: "item1 with key and tooltip", tooltip: "Look, a tool tip!" },
    {title: "item2: selected on init", select: true },
    {title: "Folder", isFolder: true, key: "id3",
      children: [
        {title: "Sub-item 3.1", isFolder: true,
          children: [
            {title: "Sub-item 3.1.1", key: "id3.1.1" },
            {title: "Sub-item 3.1.2", key: "id3.1.2" }
          ]
        },
        {title: "Sub-item 3.2", isFolder: true,
          children: [
            {title: "Sub-item 3.2.1", key: "id3.2.1" },
            {title: "Sub-item 3.2.2", key: "id3.2.2" }
          ]
        }
      ]
    },
    {title: "Document with some children (expanded on init)", key: "id4", expand: true, isFolder: true,
      children: [
        {title: "Sub-item 4.1 (active on init)", activate: true, isFolder: true,
          children: [
            {title: "Sub-item 4.1.1", key: "id4.1.1" },
            {title: "Sub-item 4.1.2", key: "id4.1.2" }
          ]
        },
        {title: "Sub-item 4.2 (selected on init)", select: true, isFolder: true,
          children: [
            {title: "Sub-item 4.2.1", key: "id4.2.1" },
            {title: "Sub-item 4.2.2", key: "id4.2.2" }
          ]
        },
        {title: "Sub-item 4.3 (hideCheckbox)", hideCheckbox: true },
        {title: "Sub-item 4.4 (unselectable)", unselectable: true }
      ]
    }
  ];

  $(function(){

    $("#tree2").dynatree({
      // persist: true, // need cookie
      checkbox: true,
      selectMode: 2,
      children: treeData,
      onSelect: function(select, node) {
        var selNodes = node.tree.getSelectedNodes();
        var selKeys = $.map(selNodes, function(node){
             return "[" + node.data.key + "]: '" + node.data.title + "'";
        });
        $("#echoSelection2").text(selKeys.join(", "));
      },
      onClick: function(node, event) {
        if( node.getEventTargetType(event) == "title" )
          node.toggleSelect();
      },
      onKeydown: function(node, event) {
        if( event.which == 32 ) {
          node.toggleSelect();
          return false;
        }
      }
      // The following options are only required, if we have more than one tree on one page:
      // cookieId: "dynatree-Cb2",
      // idPrefix: "dynatree-Cb2-"
    });

    $("#btnDeselectAll").click(function(){
      $("#tree2").dynatree("getRoot").visit(function(node){
        node.select(false);
      });
      return false;
    });
    $("#btnSelectAll").click(function(){
      $("#tree2").dynatree("getRoot").visit(function(node){
        node.select(true);
      });
      return false;
    });

  });

