:javascript
  var treeData = #{@files};

= stylesheet_link_tag "ui.dynatree"
= javascript_include_tag "jquery.dynatree"
= javascript_include_tag "lesson_files"

%p
  %a#btn-select-all{href: "#"} Selecionar todos
  %a#btn-deselect-all{href: "#"} Deselecionar todos
  %a#btn-new-folder{href: "#"} Nova pasta
#tree
%div
  Chaves selecionadas:
  %span#echoSelection2 -
