.block_title
  %h2= t(".items")
.blcok_content
  - unless @bibliographies.nil? or @bibliographies.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th{align: "left"}=t(:item, scope: [:bibliographies, :list])
          %th{align: "center", style: "width: 15%;"}=t(:type, scope: [:bibliographies, :list])
      %tbody
        - @bibliographies.each do |bibliography|
          %tr.lines{id: "tr_#{bibliography.id}"}
            %td
              .description=raw bibliography.resume
            %td= bibliography.type

  - else
    .block_content_text.block_content_text_list.text_none= t(:no_data, scope: [:bibliographies, :list])
