- unless @exam.nil?
	.exam_open
		.header
			= render 'exams/open/header'
		.content_exam

:javascript

	$('.content_exam').html('#{escape_javascript( render :partial => 'exams/open/content' )}');

	$(function() {		
		$(".content_exam").on("click", ".pagination a", 
			function(){
				var url = this.href;
				$('.content_exam').load(url);
				return false;
			});

		$('#order').html(#{@question_order});

	});