<!--Rodapé-->
<div id="login_footer">
  <img src="/images/logo_virtual.png" alt="Instituto UFC Virtual" title="Instituto UFC Virtual"/>
  <img src="/images/logo_ufc.png" alt="UFC - Universidade Fereral do Ceará" title="UFC - Universidade Fereral do Ceará"/>
  <br />
  <%=t :login_footer%>
</div>