<!--Rodapé-->
<div id="login_footer">
  <%= image_tag("logo_virtual.png", :alt => "Instituto UFC Virtual", :title => "Instituto UFC Virtual") %>
  <%= image_tag("logo_ufc.png", :alt => "UFC - Universidade Fereral do Ceará", :title => "UFC - Universidade Fereral do Ceará") %>
  <br />
  <%=t :login_footer%>
</div>