

/ barra do governo
#bar-brazil
  .bar
    %ul
      %li.li= link_to image_tag("ai.png", :class => "ai", :title => "Acesso à informação", :alt => t(:information_access_website) + t(:new_window)), "http://www.acessoainformacao.gov.br", :target => '_blank'
      %li.li= link_to image_tag("brazil.png", :class => "brazil-gov", :title => "Portal de Estado do Brasil", :alt => t(:states_brazil_website) + t(:new_window)), "http://www.brasil.gov.br", :target => '_blank'

%header
  %h1
    = image_tag("logo.png", :alt => t(:mysolar_alt_img_solar))
