#barra-brasil
  %ul#menu-barra-temp
    %li#li_1= link_to 'Portal do Governo Brasileiro', "http://brasil.gov.br", :target => '_blank'
    %li#li_2= link_to 'Atualize sua Barra de Governo', "http://epwg.governoeletronico.gov.br/barra/atualize.html", :target => '_blank'
%header
  %h1
    = image_tag("logo.png", :alt => t(:mysolar_alt_img_solar))
