#barra-brasil
  %ul#menu-barra-temp
    %li#li_1= link_to 'Portal do Governo Brasileiro', "https://www.gov.br", :target => '_blank'
    %li#li_2= link_to 'Atualize sua Barra de Governo', "https://barra.governoeletronico.gov.br/atualize.html", :target => '_blank'
%header
  %h1
    = image_tag("logo2.png", alt: t(:mysolar_alt_img_solar))
    .title= 'Ambiente Virtual de Aprendizagem da Universidade Federal do Ceará'
