

/ barra do governo
#bar-brazil
  .bar
    %ul
      .li= link_to image_tag("ai.png", :class => "ai", :title => "Acesso à informação"), "http://www.acessoainformacao.gov.br", :target => '_blank'
      .li= link_to image_tag("brazil.png", :class => "brazil-gov", :title => "Portal de Estado do Brasil"), "http://www.brasil.gov.br", :target => '_blank'

%header
  %h1
    = image_tag("logo.png", :alt => t(:mysolar_alt_img_solar))
