
<div id="login_menu">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="login.html">UFC Virtual</a>&nbsp;&nbsp;&nbsp;
	<a href="noticias.html">Not&iacute;cias</a>&nbsp;&nbsp;&nbsp;
	<a href="tutorial.html">Tutorial</a>
</div>

