
<div id="login_menu">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="login"><%=t :UFC_virtual %></a>&nbsp;&nbsp;&nbsp;
  <a href="noticias.html"><%=t :news %></a>&nbsp;&nbsp;&nbsp;
  <a href="tutorial.html"><%=t :tutorial %></a>
</div>

