= render partial: "form", locals: { back: true, list_class: "items_list", url: types_reports_reports_path, optionals: ["curriculum_unit", "course", "semester"], type_id: params[:type_id], types: @types }
