.nodecoration {
	text-decoration: none !important;
}

.empty {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

[class^="icon-"],
[class*=" icon-"] {
    width: 18px;
    height: 18px;
    color: #828282;
}

[class^="icon-"].warning,
[class*=" icon-"].warning {
	color: red;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'Solar';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 18px;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.big {
	font-size: 32px;
	line-height: 34px;
}

.icon-checkmark:before {
	content: "\e001";
}
.icon-info:before {
	content: "\e002";
}
.icon-help:before {
	content: "\e003";
}
.icon-question:before {
	content: "\e004";
}
.icon-info2:before {
	content: "\e005";
}
.icon-mail:before {
	content: "\e006";
}
.icon-paperplane:before {
	content: "\e007";
}
.icon-edit:before {
	content: "\e008";
}
.icon-paperclip:before {
	content: "\e009";
}
.icon-reply:before {
	content: "\e00a";
}
.icon-reply-all:before {
	content: "\e00b";
}
.icon-forward:before {
	content: "\e00c";
}
.icon-user:before {
	content: "\e00d";
}
.icon-users:before {
	content: "\e00e";
}
.icon-user-add:before {
	content: "\e00f";
}
.icon-vcard:before {
	content: "\e010";
}
.icon-export:before {
	content: "\e011";
}
.icon-location:before {
	content: "\e013";
}
.icon-share:before {
	content: "\e014";
}
.icon-heart:before {
	content: "\e015";
}
.icon-heart-empty:before {
	content: "\e016";
}
.icon-star:before {
	content: "\e017";
}
.icon-star-empty:before {
	content: "\e018";
}
.icon-thumbs-up:before {
	content: "\e019";
}
.icon-thumbs-down:before {
	content: "\e01a";
}
.icon-chat:before {
	content: "\e01b";
}
.icon-comment:before {
	content: "\e01c";
}
.icon-quote:before {
	content: "\e01d";
}
.icon-home:before {
	content: "\e01e";
}
.icon-popup:before {
	content: "\e01f";
}
.icon-search:before {
	content: "\e020";
}
.icon-printer:before {
	content: "\e021";
}
.icon-bell:before {
	content: "\e022";
}
.icon-link:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-settings:before {
	content: "\e025";
}
.icon-tools:before {
	content: "\e026";
}
.icon-tag:before {
	content: "\e027";
}
.icon-camera:before {
	content: "\e028";
}
.icon-music:before {
	content: "\e029";
}
.icon-book:before {
	content: "\e02c";
}
.icon-lesson:before {
	content: "\e02d";
}
.icon-eye:before {
	content: "\e02f";
}
.icon-clock:before {
	content: "\e030";
}
.icon-microphone:before {
	content: "\e031";
}
.icon-calendar:before {
	content: "\e032";
}
.icon-briefcase:before {
	content: "\e033";
}
.icon-hourglass:before {
	content: "\e035";
}
.icon-language:before {
	content: "\e036";
}
.icon-network:before {
	content: "\e037";
}
.icon-key:before {
	content: "\e038";
}
.icon-suitcase:before {
	content: "\e039";
}
.icon-earth:before {
	content: "\e03a";
}
.icon-keyboard:before {
	content: "\e03b";
}
.icon-browser:before {
	content: "\e03c";
}
.icon-publish:before {
	content: "\e03d";
}
.icon-adjust:before {
	content: "\e03e";
}
.icon-sun:before {
	content: "\e03f";
}
.icon-code:before {
	content: "\e040";
}
.icon-screen:before {
	content: "\e041";
}
.icon-infinity:before {
	content: "\e042";
}
.icon-database:before {
	content: "\e044";
}
.icon-rss:before {
	content: "\e045";
}
.icon-signal:before {
	content: "\e046";
}
.icon-lock:before {
	content: "\e04b";
}
.icon-lock-open:before {
	content: "\e04c";
}
.icon-logout:before {
	content: "\e04d";
}
.icon-login:before {
	content: "\e04e";
}
.icon-cross:before {
	content: "\e04f";
}
.icon-plus-square:before {
	content: "\e050";
}
.icon-minus-square:before {
	content: "\e051";
}
.icon-cross-square:before {
	content: "\e052";
}
.icon-minus-circle:before {
	content: "\e053";
}
.icon-plus-circle:before {
	content: "\e054";
}
.icon-cross-circle:before {
	content: "\e055";
}
.icon-minus:before {
	content: "\e056";
}
.icon-plus:before {
	content: "\e057";
}
.icon-erase:before {
	content: "\e058";
}
.icon-blocked:before {
	content: "\e059";
}
.icon-cycle:before {
	content: "\e05a";
}
.icon-shuffle:before {
	content: "\e05b";
}
.icon-ccw:before {
	content: "\e05c";
}
.icon-cw:before {
	content: "\e05d";
}
.icon-arrow:before {
	content: "\e05e";
}
.icon-arrow2:before {
	content: "\e05f";
}
.icon-retweet:before {
	content: "\e060";
}
.icon-loop:before {
	content: "\e061";
}
.icon-history:before {
	content: "\e062";
}
.icon-back:before {
	content: "\e063";
}
.icon-switch:before {
	content: "\e064";
}
.icon-list:before {
	content: "\e065";
}
.icon-add-to-list:before {
	content: "\e066";
}
.icon-layout:before {
	content: "\e067";
}
.icon-list2:before {
	content: "\e068";
}
.icon-text:before {
	content: "\e069";
}
.icon-text-2:before {
	content: "\e06a";
}
.icon-document:before {
	content: "\e06b";
}
.icon-docs:before {
	content: "\e06c";
}
.icon-landscape:before {
	content: "\e06d";
}
.icon-folder:before {
	content: "\e06e";
}
.icon-pictures:before {
	content: "\e06f";
}
.icon-archive:before {
	content: "\e070";
}
.icon-trash:before {
	content: "\e071";
}
.icon-outbox:before {
	content: "\e072";
}
.icon-inbox:before {
	content: "\e073";
}
.icon-disk:before {
	content: "\e074";
}
.icon-install:before {
	content: "\e075";
}
.icon-cloud:before {
	content: "\e076";
}
.icon-cloud-upload:before {
	content: "\e077";
}
.icon-bookmark:before {
	content: "\e078";
}
.icon-book2:before {
	content: "\e079";
}
.icon-bookmarks:before {
	content: "\e07a";
}
.icon-resize-enlarge:before {
	content: "\e083";
}
.icon-resize-shrink:before {
	content: "\e084";
}
.icon-sound:before {
	content: "\e085";
}
.icon-mute:before {
	content: "\e086";
}
.icon-flow-cascade:before {
	content: "\e087";
}
.icon-flow-branch:before {
	content: "\e088";
}
.icon-flow-tree:before {
	content: "\e089";
}
.icon-flow-line:before {
	content: "\e08a";
}
.icon-flow-parallel:before {
	content: "\e08b";
}
.icon-arrow-left:before {
	content: "\e08c";
}
.icon-arrow-down:before {
	content: "\e08d";
}
.icon-arrow-up:before {
	content: "\e08e";
}
.icon-arrow-right:before {
	content: "\e08f";
}
.icon-arrow-down-thin:before {
	content: "\e099";
}
.icon-arrow-up-thin:before {
	content: "\e09a";
}
.icon-arrow-right-thin:before {
	content: "\e09b";
}
.icon-ellipsis:before {
	content: "\e0a4";
}
.icon-twitter:before {
	content: "\e0ab";
}
.icon-twitter-circle:before {
	content: "\e0ac";
}
.icon-facebook:before {
	content: "\e0ad";
}
.icon-facebook-square:before {
	content: "\e0ae";
}
.icon-googleplus:before {
	content: "\e0af";
}
.icon-facebook-circle:before {
	content: "\e0b0";
}
.icon-googleplus-circle:before {
	content: "\e0b1";
}
.icon-dropbox:before {
	content: "\e0b5";
}
.icon-phone:before {
	content: "\e0b8";
}
.icon-mobile:before {
	content: "\e0b9";
}
.icon-move:before {
	content: "\e0ba";
}
.icon-clipboard:before {
	content: "\e0bb";
}
.icon-box:before {
	content: "\e0bc";
}
.icon-new:before {
	content: "\e0bd";
}
.icon-calendar-week:before {
	content: "\e0be";
}
.icon-calendar-list:before {
	content: "\e0c1";
}
.icon-calendar-day:before {
	content: "\e0c2";
}
.icon-write:before {
	content: "\e0a9";
}
.icon-unzip-file:before {
	content: "\e0bf";
}
.icon-map:before {
	content: "\e012";
}
.icon-homework:before {
	content: "\e0aa";
}
.icon-exam:before {
	content: "\e0b6";
}
.icon-mail-read:before {
	content: "\e0c0";
}
.icon-calendar-month:before {
	content: "\e600";
}
.icon-warning:before {
	content: "\e000";
}
.icon-arrow-left-thin:before {
	content: "\e098";
}
.icon-restore:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e602";
}
.icon-video-conference:before {
	content: "\e603";
}
.icon-class:before {
	content: "\e604";
}
.icon-arrow-down-triangle:before {
	content: "\e095";
}
.icon-arrow-up-triangle:before {
	content: "\e096";
}
.icon-checkbox-checked:before {
	content: "\e605";
}
.icon-checkbox-unchecked:before {
	content: "\e606";
}
.icon-download:before {
	content: "\e073";
}