<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield

:javascript

  $(document).ajaxSend(function(e, xhr, options) {
    var token =$("meta[name='csrf-token']").attr("content");
    xhr.setRequestHeader("X-CSRF-Token", token);  
  });