/* === TELA DE MENSAGENS  === */
.label_text {
  color: #000;
}

/* mensagem: busca */
.message_search_div, .message_div {
  color: #000;
}

/* mensagem: cabecalho, area de titulo */
#message_general_title {
  border-bottom-color: #d0d0d0;
}

.message_general_div_option_active {
  border-bottom-color: #214684;
}

.message_div_options, .message_div_options_new {
  background-color: #ffffff;
  border-bottom-color: #d0d0d0;
}

.message_line_highlight {
  background-color: $color_contrast_light;
}

/*.message_line:hover {
    background-color: $color_main_light_highlight;
}*/

.message_nav_text {
  color: #000;
}

.message_read {
  color: #666;
}

.message_unread {
  color: #000;
}

.message_label {
  color: #000;
  background-color: #F9C153;
  border: 1px solid #F9C153;
}

.message_div_text_read {
  background-color: #F7F7F7;
}

.message_text_body {
  color: #000;
}

.message_recipient_box {
  border-color: #eee;
  color: #214684;
}

#recipients_selected {
  border-color: #ccc;
  background-color: #fff;
}

#div_contacts {
  color: #214684;
  border-color: #F2F2F2;
  background-color: #fafafa;
}

#div_contacts_list {
  background-color: #fff;
  border-color: #ddd;
}

/* dropdown de mensagens (selecionar, mover para) */
ul.message_menu_listbox li ul {
  border-color: #ccc;
  background: #fff;
  a { /* menu nivel 2 - opcoes */
    background: #fff;
  }
  a:hover {
    background: #eee;
  }
}

/* paginacao */
.next_page, .prev_page, .current, .link_navigation {
  color: #214684;
}

.disabled, .message_div_navigation {
  color: #B4B3B7;
}

.current {
  background-color: #E7EDED;
}

.pagination a {
  color: #214684;
}

/**
 * Tabelas - geral e files
*/
table.tb_list th {
  background-color: white;
  /*    font-weight: bold;*/
}

table.tb_list tbody {
  background-color: $color_main_light;
}

.tb_allocation .unavailable {
  color: #888;
}

table.tb_list_files td {
  border-top-color: #B4B2B1;
}

/**
* Datas de arquivos em tabelas
*/

table.tb_list_files td.file_data_info, table.tb_list td.file_data_info {
  color: #787878;
}

/**
* Tratando datas de arquivos up/down
*/

.date_info, table.tb_list_files th.date_info {
  color: #787878;
}

/**
* Tratando linhas das tabelas
*/

th {
  border-bottom-color: #B4B2B1;
}

tbody tr.lines {
  border-bottom-color: #B4B2B1;
  background-color: $color_main_light;
}

tbody tr.lines.active {
  border-bottom-color: #B4B2B1;
  background-color: $color_contrast_light;
}

tbody tr.lines.active:hover {
  background-color: #fffbd1;
}

/*
tbody tr.lines:nth-child(odd) {
    background-color: $color_main_light_highlight;
}
*/

tr.post_content {
  background-color: $color_main_light;
}

tbody tr.lines:hover, table.tb_list_files td:hover {
  background-color: $color_main_light_highlight; /* #FFF5ED*/
}

tbody tr.lines.period_ended:hover {
  background-color: #f1f1f1;
}

td.td_student a {
  color: $color_main_text;
}

/**
* Portfolio
*/

div.send_files {
  background-color: #F7F7F8;
}

.red_notice {
  background-color: white;
  color: #e12227;
}

#history_search_content {
  border-bottom-color: #d0d0d0;
}

td.td_student a {
  color: #2a538d;
}

.assignment_inner_content {
  background-color: $color_main_light;
}

.removed_comment_file {
  color: red;
}

.more_comment_files_link {
  color: #1c4785;
}

.assignment_inner_content.upload_files {
  border-top-color: #B4B2B1;
}

.assignment_files_info, .assignment_comment_date {
  color: #888;
}

.assignment_comment_head {
  border-bottom-color: $color_main;
}

/**
* AGENDA
*/
.schedule_link_more {
  color: #4b6380;
}

.agenda_left {
  background-color: $color_main_light;
}

.block_title_icon.discussions {
  background: url('../../images/schedule/meeting_attendance_16x16.png') no-repeat;
}

.block_title_icon.lesson, .block_title_icon.assignments, .block_title_icon.schedule_events {
  background: url('../../images/schedule/assignments_16x16.png') no-repeat;
}

.block_title_icon.chat {
  background: url('../../images/schedule/chat_16x16.png') no-repeat;
}

/* encontro presencial */
.block_title_icon.meeting_attendance {
  background: url('../../images/schedule/meeting_attendance_16x16.png') no-repeat;
}

.agenda_ajax {
  color: #4B6380;
}

/**
* Situacao das tarefas
*/

.assignment_corrected {
  color: #378941;
}

.assignment_sent, td.assignment_as a {
  color: #1CA093;
}

.assignment_not_sent, .expired {
  color: #e12227;
}

.assignment_not_started {
  color: #787878;
}

.assignment_send, .assignment_pending, td.assignment_an a {
  color: $color_main_text;
}

.assignment_without_group, td.assignment_without_group a {
  color: #e37073;
}

#breadcrumb a {
  color: #666;
}

/* MATERIAL DE APOIO */

.support_material_folder_top_line {
  color: #1C4785;
}

.support_material_content_links {
  background-color: #f7f7f8;
  color: #4B6380;
}

.support_material_files_informations {
  color: #787878;
}

/* material de apoio do editor (inicio) */

.select_editor {
  background-color: $color_main_light;
}

.select_editor_title {
  border-bottom-color: #B4B2B1;
  background-color: #fff;
}

.select_editor_content li:hover {
  background-color: #fff;
  border-left-color: $color_main;
  color: #000;
}

.delete_support_material_file_editor, .support_material_add, .support_material_add_link {
  background-color: white;
  border-color: white;
}

.support_material_message_no_files {
  border-top-color: #B4B2B1;
  border-bottom: #B4B2B1;
  background-color: $color_main_light;
  color: #666;
  &:hover {
    background-color: $color_main_light_highlight;
  }
}

/* material de apoio - editor - tabela */

.support_material_buttons > div {
  border-right-color: #d0d0d0;
}

#support_material_new_folder {
  border-bottom-color: #d0d0d0;
}

.new_file td {
  color: #666;
}

/* material de apoio do editor (fim) */

/******** Atualização de dados de usuário **********/


.form_label {
  color: $label_color;
}

.label_color {
  color: $label_color;
}

.select_end_date {
  color: $color_main_text;
}

.form_error, .error, span.field_with_errors {
  color: #E03838;
}

.field_with_errors input, .field_with_errors textarea {
  border-color: red;
}

.login_form_link_return {
  background-color: #fff;
  color: #222;
}

.login_form_link_return:hover {
  color: #222;
}

.form_requirement, .filter_counter {
  color: #E03838;
}

.form_usuario_table {
  color: #fff;
}

/* gerenciamento de grupos */

#group_assignments tr.lines:hover {
  background-color: $color_main_light;
}

.group_assignment_title_contract {
  background: url('../../images/group_assignment_contract.png') no-repeat right center;
}

.group_assignment_title:hover {
  background-color: $color_main_light_highlight;
}

.group_participants, .group_participants_manage, .group_assignments_manage_buttons {
  border-bottom-color: #c0c1c2;
  background-color: #ffffff;
}

.group_assignments_manage_buttons {
  background-color: #f7f7f7;
}

.group_name_manage, .edit_group_true {
  background-color: #fcd927;
  color: #000000;
}

[class^="group_name"], .group_assignments_manage_buttons_title, .disabled_groups_assignments_name {
  background-color: #9ea2a3;
  color: #ffffff;
}

[class^="group_name"] {
  background-color: #0d487d;
}

[class^="group_information"], .group_information_manage, .disabled_groups_assignments_information {
  color: #000000;
}

[class^="group_information"] {
  background-color: #f2f6fa;
}

.group_information_manage {
  background-color: #fdfce1;
}

.disabled_groups_assignments_information {
  background-color: #f7f7f7;
}

.page_title {
  color: $color_main;
}

.all_students label {
  color: #000000;
}

.all_students_to_import {
  border-color: #dedede;
  background-color: #ffffff;
}

.group_assignment_files a {
  color: #134076;
}

.draggable_student {
  border-bottom-color: #fdec9c;
}

/* Tela de edição */

fieldset {
  border-color: #D0D0D0;
  legend {
    color: $color_main;
  }
}

@mixin item_buttom {
  a {
    color: $color_main;
  }
}

.uc_item, .academic_item {
  @include item_buttom;
}

.block_title.edition {
  border-bottom-color: #D0D0D0;
}

.edition_allocation_tag_path {
  color: #696969;
  border-bottom-color: #8d8d8d;
}

.filter_notice {
  color: gray;
}

/* Para o filtro */

fieldset .block_content_alt {
  background-color: #ffffff;
}

select[disabled] {
  color: red;
  border: 1px solid #D0D0D0;
  background-color: #F2F2F2;
}

/* Para o Wizard */

/*
.uc_item_ok {
    position: absolute;
    top: -5px;
    right: 20px;
    background: url("index_files/icones/item_ok.png") no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px;
}
*/

/* Arquivos de aulas - lesson_files */

#lesson_files_select_all {
  color: #8D8D8D;
}

#save_automatically_message {
  color: #da1124;
}

#receiver_already_added {
  color: #FF9900;
}

@mixin ckeditor_content {
  a {
    color: $color_main_text;
  }
  .marker {
    background-color: yellow;
  }
}

.forum_post_inner_content, .message_div_show {
  @include ckeditor_content;
}

.semester_same_dates, #semester_period {
  color: #56585E;
}

.offer_schedule_dates, .enrollment_schedule_dates {
  color: $label_color;
}

[class*="_check_box"] {
  color: $label_color;
}

.offer_schedule_dates.error, .enrollment_schedule_dates.error {
  color: #E03838;
}

.offer_schedule_dates.info, .enrollment_schedule_dates.info {
  color: black;
}

.collection_check_boxes {
  background-color: #2B79BA;
}

label[for="all"], .type_description{
  color: $text_grey;
}
