.tb_allocation .unavailable { // FIXME: pensar onde colocar esse seletor
  color: #888;
}

/**
* Portfolio
*/

#history_search_content { // TODO: usado em scores
  border-bottom-color: #d0d0d0;
}

td.td_student a { // TODO: usado em scores
  color: #2a538d;
}

/* gerenciamento de grupos */

#group_assignments tr.lines:hover {
  background-color: $color_main_light;
}

.group_assignment_title_contract {
  background: url('../../images/group_assignment_contract.png') no-repeat right center;
}

.group_assignment_title:hover {
  background-color: $color_main_light_highlight;
}

.group_participants, .group_participants_manage, .group_assignments_manage_buttons {
  border-bottom-color: #c0c1c2;
  background-color: #ffffff;
}

.group_assignments_manage_buttons {
  background-color: #f7f7f7;
}

.group_name_manage, .edit_group_true {
  background-color: #fcd927;
  color: #000000;
}

[class^="group_name"], .group_assignments_manage_buttons_title, .disabled_groups_assignments_name {
  background-color: #9ea2a3;
  color: #ffffff;
}

[class^="group_name"] {
  background-color: #0d487d;
}

[class^="group_information"], .group_information_manage, .disabled_groups_assignments_information {
  color: #000000;
}

[class^="group_information"] {
  background-color: #f2f6fa;
}

.group_information_manage {
  background-color: #fdfce1;
}

.disabled_groups_assignments_information {
  background-color: #f7f7f7;
}
/* Tela de edição */

fieldset {
  border-color: #D0D0D0;
  legend {
    color: $color_main;
  }
}

@mixin item_buttom {
  a {
    color: $color_main;
  }
}

.uc_item, .academic_item {
  @include item_buttom;
}

.block_title.edition {
  border-bottom-color: #D0D0D0;
}

.edition_allocation_tag_path {
  color: #696969;
  border-bottom-color: #8d8d8d;
}

.filter_notice {
  color: gray;
}

/* Para o filtro */

fieldset .block_content_alt {
  background-color: #ffffff;
}

select[disabled] {
  color: red;
  border: 1px solid #D0D0D0;
  background-color: #F2F2F2;
}

/* Para o Wizard */

/*
.uc_item_ok {
    position: absolute;
    top: -5px;
    right: 20px;
    background: url("index_files/icones/item_ok.png") no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px;
}
*/

/* Arquivos de aulas - lesson_files */

#lesson_files_select_all {
  color: #8D8D8D;
}

#save_automatically_message {
  color: #da1124;
}

#receiver_already_added {
  color: #FF9900;
}

@mixin ckeditor_content {
  a {
    color: $color_main_text;
  }
  .marker {
    background-color: yellow;
  }
}

.forum_post_inner_content, .message_div_show {
  @include ckeditor_content;
}

.semester_same_dates, #semester_period {
  color: #56585E;
}

.offer_schedule_dates, .enrollment_schedule_dates {
  color: $label_color;
}

[class*="_check_box"] {
  color: $label_color;
}

.offer_schedule_dates.error, .enrollment_schedule_dates.error {
  color: #E03838;
}

.offer_schedule_dates.info, .enrollment_schedule_dates.info {
  color: black;
}

.collection_check_boxes {
  background-color: #2B79BA;
}

label[for="all"], .type_description{
  color: $text_grey;
}
